{% extends 'base.html.twig' %}
{% block content %}
    {% include 'breadcrumbs.html.twig' %}

    <h1 class="text-confirmar" style="text-align: center; ">Detalles de la cotización</h1>
    <hr class="divider-white bg-mantis-white mb-0">

    <!-- Shop Checkout-->
    <section class="section novi-background section-20 section-sm-20" style="color:white;">
        <div class="container-fluid">
            <div class="rd-material-tabs checkout-tabs">
                <div class="rd-material-tabs__container">
                    <div>
                        <div class="row justify-content-sm-center">
                            <div class="col-md-12 col-xl-12">
                                <div class="table-responsive">
                                    <table class="table" style="color:white;">
                                        <tbody>
                                        {% for item in carrito %}
                                            <tr>
                                                <td class="row-group-conta" colspan="5">Servicio:
                                                    <i>{{ item.servicio }}</i></td>
                                                <td class="row-group-conta text-right">Subtotal:
                                                    <i>{{ item.sub_total }}</i></td>
                                            </tr>
                                            {% if item.id_servicio == 11 %}
                                                {# Cabecera y cuerpo de la tabla que muestra el contenido para los tramites migratorios #}
                                                <tr>
                                                    <td class="text-left row-group-subconta" colspan="2">Nombre</td>
                                                    <td class="text-left row-group-subconta">Primer Apellido</td>
                                                    <td class="text-left row-group-subconta">Segundo Apellido</td>
                                                    <td class="text-left row-group-subconta">Teléfono Celular</td>
                                                    <td class="text-left row-group-subconta">Teléfono Fijo</td>
                                                </tr>
                                                {% for new_item in item.data %}
                                                    <tr>
                                                        <td class="text-left" colspan="2">{{ new_item.nombre }}</td>
                                                        <td class="text-left">{{ new_item.primer_apellido }}</td>
                                                        <td class="text-left">{{ new_item.segundo_apellido }}</td>
                                                        <td class="text-left">{{ new_item.telefono_celular }}</td>
                                                        <td class="text-left">{{ new_item.telefono_fijo }}</td>
                                                    </tr>
                                                {% endfor %}
                                            {% elseif item.id_servicio == 4 %}
                                                {# Cabecera y cuerpo de la tabla que muestra el contenido para las remesas #}
                                                <tr>
                                                    <td class="text-left row-group-subconta" colspan="4">Cliente</td>
                                                    <td class="text-left row-group-subconta">Teléfono Celular</td>
                                                    <td class="text-left row-group-subconta">Monto</td>

                                                </tr>
                                                {% for new_item in item.data %}
                                                    <td class="text-left" colspan="4"><a data-toggle="collapse"
                                                                                         href="#coll{{ new_item.orden }}"
                                                                                         role="button"
                                                                                         aria-expanded="false"
                                                                                         aria-controls="coll{{ new_item.orden }}">
                                                            <span style="color:white;"> <b> {{ new_item.nombreCliente }} </b></span> </br>
                                                        </a>

                                                        <div class="collapse" id="coll{{ new_item.orden }}"
                                                             style="margin-top: 20px;">

                                                            <ul style="list-style-type:disc">
                                                                <li><b>
                                                                        Beneficiario:</b> {{ new_item.primerNombre }}  {{ new_item.primerApellido }} {{ new_item.segundoApellido }}
                                                                </li>

                                                                <li><b> Contactos:</b> {{ new_item.telefono }}
                                                                    - {{ new_item.telefonoCasa }} </li>
                                                                <li><b>
                                                                        Identificacion:</b> {{ new_item.identificacion }}
                                                                </li>
                                                                <li><b> Direccion:</b>
                                                                    No: {{ new_item.no }}
                                                                    y {{ new_item.y }},
                                                                    Edificio: {{ new_item.edificio }}
                                                                    Apto: {{ new_item.apto }},
                                                                    Reparto:{{ new_item.apto }} </li>
                                                                <li>
                                                                    Municipio: {{ new_item.municipio }},
                                                                    Provincia: {{ new_item.provincia }} </li>
                                                            </ul>

                                                        </div>
                                                    </td>
                                                    <td class="text-left">{{ new_item.idCliente }}</td>
                                                    <td class="text-left">${{ new_item.monto }}</td>
                                                    </tr>
                                                {% endfor %}
                                            {% endif %}
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                                <div class="offset-top-10 text-right">
                                    <p class="font-weight-bold inset-right-0 inset-xl-right-50">Subtotal: &nbsp; &nbsp;
                                        &nbsp; ${{ total }}</p>
                                    <p class="font-weight-bold inset-right-0 inset-xl-right-50">Impuesto: &nbsp; &nbsp;
                                        &nbsp; $0.00 </p>
                                    <p class="font-weight-bold inset-right-0 inset-xl-right-50">Total: &nbsp; &nbsp;
                                        &nbsp; ${{ total }}</p>
                                    {% if editable %}
                                    <a onclick="montarCarrito({{ id_cotizacion }})"
                                       class="btn btn-dark btn-icon btn-icon-right offset-top-41 checkout-step-btn"
                                       data-index-to="1" href="#">
                                        <span class="fa fa-shopping-cart fa-2x"></span>
                                    </a>
                                    {% endif %}
                                    <a onclick="cobrar()"
                                       class="btn btn-dark btn-icon btn-icon-right offset-top-41 checkout-step-btn"
                                       data-index-to="1" href="#">
                                        <i class="fa fa-cc-mastercard fa-2x"></i> <i
                                                class="fa fa-dollar fa-2x"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <style>

        .table td, .table th {
            padding: .75rem !important;
        }
    </style>

    <div class="modal fade" id="confirm__modal_cotizacion" data-backdrop="static" data-keyboard="false"
         tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header bg-dark">
                    <h5 class="modal-title text-light" id="confirm__modal__title">
                        <i class="novi-icon icon icon-xxs mdi mdi-alert text-warning"></i>
                        Cotizacion</h5>
                    <button type="button" class="close text-light" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="confirm__modal__body">
                    Seguro que desea enviar la cotización de nuevo al carrito?
                </div>
                <form id="form__confirm__modal" method="post">
                    <input type="hidden" name="_method" value="DELETE">
                    <input id="_token__confirm__modal" type="hidden" name="_token" value="123...">
                </form>
                <div class="modal-footer">
                    <button type="button" class="my-0 mr-auto btn btn-outline-secondary" data-dismiss="modal">Cancelar
                    </button>
                    <button type="button" class="my-0 btn btn-dark" id="confirm__modal__btn_contizacion">Aceptar
                    </button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}


{% block javascripts %}
    {{ parent() }}

    <script>
        function montarCarrito(id_cotizacion) {
            $('#confirm__modal_cotizacion').modal('show');
            $("#confirm__modal__btn_contizacion").click(function () {
                window.location.href = "/cotizacion/revert/"+id_cotizacion;
            });
        }

        function cobrar() {
            window.location.href = "/factura/pago/";
        }

    </script>

{% endblock %}
