{% extends 'base.html.twig' %}

{% block content %}
    {% set total = null %}
    {% include 'breadcrumbs.html.twig' %}
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <section class="section novi-background section-66 section-sm-bottom-110 p-0">
        <div class="container">
            <h1 class="text-reporte">Reporte de Cotizaciones
            </h1>
            <hr class="divider bg-mantis">
{#            <form id="payment-form" name='payment-form' action="{{ path('factura/reporte/cotizacion') }}" method="GET">#}
{#                <div class="input-group input-group-sm mb-3">#}

{#                    <div class="input-group-prepend"></div>#}
{#                    <input autocomplete="off" name="from" id='from' type="text" placeholder="Desde" class="form-control"#}
{#                           aria-label="Default" aria-describedby="inputGroup-sizing-sm">#}
{#                    <input autocomplete="off" name="to" id='to' type="text" placeholder="Hasta" class="form-control"#}
{#                           aria-label="Small" aria-describedby="inputGroup-sizing-sm">#}

{#                    <div class="input-group-prepend"></div>#}

{#                    <div class="input-group-prepend"></div>#}
{#                    <select class="custom-select" name='empleado' id="empleado">#}
{#                        <option value="0" selected>Empleado</option>#}
{#                        {% for data in user %}#}
{#                            <option value="{{ data.username }}">{{ data.username }}</option>#}
{#                        {% endfor %}#}
{#                    </select>#}
{#                    <div class="input-group-prepend"></div>#}
{#                    <input autocomplete="off" name='telefono' id='telefono' placeholder="Telefono" type="text"#}
{#                           class="form-control">#}
{#                    <button class="btn btn-sm btn-outline-dark" type="submit">Filtrar</button>#}
{#                    </span>#}
{#                </div>#}
{#            </form>#}
            <!-- Bootstrap Table-->
            <div class="table-responsive clearfix">
                <table class="table table-striped tabla-reporte">
                    <tbody>
                    <tr>
                        <th>Fecha</th>
                        <th>Cliente</th>
                        <th class="th-monto">Total</th>
                        <th>Empleado</th>

                        <th>Acciones</th>
                    </tr>
                    {# table body #}
                    {% for data in pagination %}
                        <tr {% if loop.index is odd %}class="color"{% endif %}>
                            <td>{{ data.datetime | date('d-M-y') }} </br> {{ data.datetime | date('h:i a') }}</td>
                            <td>{{ data.nombreCliente }}</td>
                            <td>{{ data.total }} </td> {% set total = total + data.total %}
                            <td>{{ data.empleado }}</td>

                            <td>
                                <a onClick="editar('{{ data.id }}');">
                                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-eye"
                                         fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd"
                                              d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.134 13.134 0 0 0 1.66 2.043C4.12 11.332 5.88 12.5 8 12.5c2.12 0 3.879-1.168 5.168-2.457A13.134 13.134 0 0 0 14.828 8a13.133 13.133 0 0 0-1.66-2.043C11.879 4.668 10.119 3.5 8 3.5c-2.12 0-3.879 1.168-5.168 2.457A13.133 13.133 0 0 0 1.172 8z"/>
                                        <path fill-rule="evenodd"
                                              d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z"/>
                                    </svg>
                                </a>

                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <hr style="background-color: white; margin-top: 0px;">
                {# display navigation #}
                <div class="navigation">{{ knp_pagination_render(pagination) }}</div>
                <div class="count contador">Transacciones: {{ pagination.getTotalItemCount }}</div>
            </div>
        </div>
    </section>

    <div id="dialog" class="modal" title="Facturas Stripe">
        <p>
            <b>Auth:</b> <span id="Auth"></span>
        </p>

        <p>
            <b>Estado:</b> <span id="Estado"></span>
        </p>

    </div>

    <style>.input-group.input-group-sm .form-control {
            height: 31px !important;
        }

        input#from {
            margin-right: 10px;
        }

        input#to {

            margin-right: 10px;
        }

        select#estado {
            margin-right: 10px;
        }


        select#empleado {
            margin-right: 10px;
        }

        input#telefono {
            margin-right: 10px;
        }

        .input-group .form-control {
            height: auto;
            color: #ffffff;
            background: #2f2f2f !important;
            border: 1px solid #ffffff80 !important;
        }

        .custom-select {
            color: #ffffff;
            background: #2f2f2f !important;
            border: 1px solid #ffffff80 !important;
        }

        .input-group .form-control {
            height: auto;
            color: #ffffff !important;
            background: #ffffff;
        }</style>{% endblock %}{% block javascripts %}{{ parent() }}
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <script>

        function procesar(auth) {
            window.location.href = "/paymentreport.pasar/" + auth;
        };

        function editar(id) {
            window.location.href = "/cotizacion/detalles-cotizacion/" + id;
        };

        function caja(estado, auth) {
            $("#Estado").text(estado);
            $("#Auth").text(auth);

            $("#dialog").dialog({width: 500});
            $("#dialog").dialog("open");
        };

        $(function () {
            var dateFormat = "mm/dd/yy",
                from = $("#from").datepicker({
                    defaultDate: "+1w",
                    changeMonth: true,
                    numberOfMonths: 1
                }).on("change", function () {
                    to.datepicker("option", "minDate", getDate(this));
                }),
                to = $("#to").datepicker({
                    defaultDate: "+1w",
                    changeMonth: true,
                    numberOfMonths: 1
                }).on("change", function () {
                    from.datepicker("option", "maxDate", getDate(this));
                });

            function getDate(element) {
                var date;
                try {
                    date = $.datepicker.parseDate(dateFormat, element.value);
                } catch (error) {
                    date = null;
                }

                return date;
            }
        });

        $('#telefono').on('input', function () {
            this.value = this.value.replace(/[^0-9]/g, '');
        });</script>{% endblock %}
