{% extends 'base.html.twig' %}
{% block content %}
    {# Modal de Cuentas#}
    <div class="modal fade" id="listarProductosModal" tabindex="-1" role="dialog" data-backdrop="static"
         data-keyboard="false"
         aria-labelledby="listarProductosModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" style="max-width: 850px;" role="document">
            <div class="modal-content">
                <div class="modal-header bg-dark">
                    <h4 class="modal-title text-light" id="listarProductosModalLabel">Listado de productos</h4>
                    <button class="close text-light" type="button" data-dismiss="modal" aria-label="Cerrar">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body bg-dark-app" style="height: 600px;">
                    <div style="height: 500px; overflow-y: auto;">
                        <table class="table-small-rows table table-hover text-light">
                            <thead class="thead-dark">
                            <th style="width: 10px">Sel.</th>
                            <th style="width: 160px">Código</th>
                            <th scope="col-6">Descripción</th>
                            <th style="width: 200px">Precio Compra</th>
                            </thead>
                            <tbody id="rows_table">
                            </tbody>
                        </table>
                    </div>
                    <div class="d-flex mt-4">
                        <div class="mr-auto">
                            <button class="btn btn-outline-secondary" type="button" data-dismiss="modal"
                                    aria-label="Cerrar">
                                <span aria-hidden="true">Cancelar</span>
                            </button>
                        </div>
                        <div class="ml-2">
                            <button type="button" class="my-0 btn btn-secondary" id="btnAceptar"
                                    onclick="SeleccionarProducto()"
                                    data-dismiss="modal">Aceptar
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container d-flex justify-content-center">
        <div class="card mt-1" style="width: 50rem;">
            <div class="container">
                <div class="row mt-0 p-0">
                    <div class="col-8 form-group input-group input-group-sm d-block">
                        <h3 class="text-reporte text-right mr-0 text-white mt-2">Vale de salida de Productos</h3>
                    </div>
                    <div class="col-4 form-group input-group input-group-sm mt-3 ml-0 p-0 d-block">
                        <span class="h5 text-light mr-2">Nro.</span><input type="number" id="select_nros" class="w-25">
                    </div>
                </div>
            </div>

            <div class="card-body">
                {{ form_start(formulario.fecha_solicitud, {'attr':{'id':'vale_salida'}}) }}
                <div class="row mt-0 p-0">
                    <div class="col-6 form-group input-group input-group-sm pa-2 d-block">
                        {{ form_label(formulario.fecha_solicitud) }}
                        {{ form_widget(formulario.fecha_solicitud) }}
                    </div>
                    <div class="col-6 mt-0 form-group input-group input-group-sm d-block p-0">
                        {{ form_label(formulario.nro_solicitud) }}
                        {{ form_widget(formulario.nro_solicitud) }}
                    </div>
                </div>
                <div class="row mt-0 p-0">
                    <div class="col-4 form-group input-group input-group-sm pa-2 d-block">
                        {{ form_label(formulario.nro_cuenta_deudora) }}
                        {{ form_widget(formulario.nro_cuenta_deudora) }}
                    </div>
                    <div class="col-4 mt-0 form-group input-group input-group-sm d-block p-0">
                        {{ form_label(formulario.nro_subcuenta_deudora) }}
                        {{ form_widget(formulario.nro_subcuenta_deudora) }}
                    </div>
                    <div class="col-4 mt-0 form-group input-group input-group-sm pr-0 d-block">
                        {{ form_label(formulario.documento.id_moneda) }}
                        {{ form_widget(formulario.documento.id_moneda) }}
                    </div>
                    <input type="hidden" id="__token" name="_token" value="{{ csrf_token('authenticate') }}">
                </div>
                {{ form_end(formulario.fecha_solicitud) }}
                <div class="d-flex align-items-center mt-3 pl-2">
                    <h3 class="text-light mr-auto" style="font-weight: 300;">Productos</h3>
                    <div class="px-2" style="background: dimgray; border-radius: .3rem;">
                        <span class="pr-1">Importe Total : </span>
                        <span id="importe-total">0</span>
                    </div>
                </div>
                <hr color="dimgray" class="my-1 ml-2" size=3>
                {{ form_start(formulario.mercancia, {'attr':{'id':'form_mercancia'}}) }}
                <div class="row mt-0 p-0">
                    <div class="col-3 form-group input-group input-group-sm pa-1 d-block">
                        {{ form_label(formulario.mercancia.codigo) }}
                        <div class="row m-0 p-0">
                            <div class="col-8 p-0">
                                {{ form_widget(formulario.mercancia.codigo) }}
                            </div>
                            <div class="col-1 mt-0 p-0">
                                <button class="btn btn-secondary btn-sm" data-toggle="modal" type="button"
                                        data-target="#listarProductosModal" id="btnSearchProducto"><i
                                            class="fa fa-search"></i></button>
                            </div>
                        </div>
                    </div>
                    <div class="col-7 mt-0 form-group input-group input-group-sm d-block p-0">
                        {{ form_label(formulario.mercancia.descripcion) }}
                        {{ form_widget(formulario.mercancia.descripcion) }}
                    </div>
                    <div class="col-2 mt-0 form-group input-group input-group-sm d-block pr-0">
                        {{ form_label(formulario.mercancia.id_unidad_medida) }}
                        {{ form_widget(formulario.mercancia.id_unidad_medida) }}
                    </div>
                </div>
                <div class="row mt-0 p-0">
                    <div class="col-2 mt-0 form-group input-group input-group-sm d-block">
                        {{ form_label(formulario.documento.cantidad_mercancia) }}
                        {{ form_widget(formulario.documento.cantidad_mercancia,{'type':'number'}) }}
                    </div>
                    <div class="col-2 mt-0 form-group input-group input-group-sm d-block">
                        {{ form_label(formulario.mercancia.precio) }}
                        {{ form_widget(formulario.mercancia.precio) }}
                    </div>
                    <div class="col-2 mt-0 form-group input-group input-group-sm d-block p-0">
                        {{ form_label(formulario.documento.importe_mercancia) }}
                        {{ form_widget(formulario.documento.importe_mercancia,{'type':'number'}) }}
                    </div>
                    <div class="col-2 mt-0 form-group input-group input-group-sm d-block">
                        {{ form_label(formulario.mercancia.existencia) }}
                        {{ form_widget(formulario.mercancia.existencia) }}
                    </div>
                    <div class="col-2 mt-0 form-group input-group input-group-sm d-block p-0">
                        {{ form_label(formulario.mercancia.existencia_decremento) }}
                        {{ form_widget(formulario.mercancia.existencia_decremento) }}
                    </div>
                    <div class="col-2 mt-0 form-group input-group input-group-sm d-block">
                        <label for="">Resto Importe</label>
                        <input type="text" id="resto_importe" class="w-100 form-control">
                    </div>
                </div>
                <div class="row mt-0 p-0">
                    <div class="col-5 mt-0 form-group input-group input-group-sm d-block">
                        {{ form_label(formulario.id_centro_costo) }}
                        {{ form_widget(formulario.id_centro_costo) }}
                    </div>
                    <div class="col-5 mt-0 form-group input-group input-group-sm d-block">
                        {{ form_label(formulario.id_elemento_gasto) }}
                        {{ form_widget(formulario.id_elemento_gasto) }}
                    </div>
                    <div class="col-2 pt-2 pl-1 mt-4">
                        <button class="btn btn-secondary btn-sm ml-4" type="button" id="btnAplicarProducto">ADICIONAR
                        </button>
                    </div>
                </div>
                {{ form_end(formulario.mercancia) }}
            </div>
            <div>
                <table class="table-small-rows table table-hover text-light">
                    <thead class="thead-dark">
                    <th width="120px">Cod.</th>
                    <th width="110px">Cant.</th>
                    <th width="110px">Importe</th>
                    <th width="110px">Precio</th>
                    <th scope="col-1">Nueva Exist</th>
                    <th width="60px"><i class="fa fa-minus-circle text-danger"></i></th>
                    <th scope="col-1" hidden>UM</th>
                    <th scope="col-1" hidden>Descripcion</th>
                    </thead>
                    <tbody id="rows_mercancias">
                    </tbody>
                </table>
            </div>
            <div class="d-flex mt-2">
                <div class="mr-auto">
                    <a href="{{ url('inventario') }}"
                       class="btn btn-outline-secondary" id="btn_salir">Salir</a>
                </div>
                <div class="ml-2">
                    <button class='my-0 btn btn-secondary' id="btnCancelar" onclick="myOnDeleteConfirm()">cancelar
                    </button>
                </div>
                <div class="ml-2">
                    <button class='my-0 btn btn-secondary' id="btnImprimir" onclick="Print_Vale()">imprimir</button>
                </div>
                <div class="ml-2">
                    <button class='my-0 btn btn-secondary' id="btnSubbmitValeSalida">contabilizar</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        let mercancias_seleccionada = [];
        let productos = [];
        let consecutivo = 0;
        let cuentas_inventarios = [];
        let eliminados = [];
        let importe_total = 0;
        $('select').prepend('<option selected = "false" value = "0" disabled> -- seleccione -- </option>');
        loadingModal.show()

        $(document).ready(function () {
            cargarDatosIniciales()

            /** BLOQUE JQuery DEL SELECTOR DE NUMEROS CONSECUTIVOS DEL DOCUMENTO**/
            $('#select_nros').on('keyup', function (e) {
                if (e.which == 13) {
                    if ($('#select_nros').val() != '') {
                        if (eliminados.includes($('#select_nros').val())) {
                            $('#btnSubbmitValeSalida').hide()
                            $('#btnImprimir').hide()
                            $('#btnCancelar').hide()
                            resetFormulario()
                            alertTemplate('El vale de salida solicitado se encuentra cancelado', 'danger')
                        } else {
                            if ($('#select_nros').val() == consecutivo) {
                                $('#btnSubbmitValeSalida').show()
                                $('#btnImprimir').show()
                                $('#btnCancelar').hide()
                                resetFormulario()
                            } else if ($('#select_nros').val() > consecutivo) {
                                $('#btnSubbmitValeSalida').hide()
                                $('#btnImprimir').hide()
                                $('#btnCancelar').hide()
                                resetFormulario()
                                alertTemplate('El mayor número permitido es ' + consecutivo, 'danger')
                            } else if ($('#select_nros').val() == '') {
                                $('#btnSubbmitValeSalida').hide()
                                $('#btnImprimir').hide()
                                $('#btnCancelar').hide()
                                resetFormulario()
                                alertTemplate('Debe introducir el número del documento a vizualizar.', 'danger')
                            } else {
                                $('#btnImprimir').show()
                                $('#btnSubbmitValeSalida').hide()
                                $('#form_mercancia').css('display', 'none')
                                $('#btnCancelar').show()
                                llenarFormulario($('#select_nros').val())
                            }
                        }
                    } else {
                        $('#btnImprimir').hide()
                        $('#btnSubbmitValeSalida').hide()
                        $('#btnCancelar').hide()
                        alertTemplate('Tiene que introducir el número del vale de salida', 'danger')
                    }
                }
            })
            /** FIN BLOQUE JQuery DEL SELECTOR DE NUMEROS CONSECUTIVOS DEL DOCUMENTO**/

            /*** BLOQUE DE JQuery DE MERCANCIA ***/
            $('#vale_salida_mercancia_codigo').on('keyup', function (e) {
                if (e.which == 13) {
                    if ($('#vale_salida_mercancia_codigo').val() !== '') {
                        let codigo = $('#vale_salida_mercancia_codigo').val() != '' ? $('#vale_salida_mercancia_codigo').val() : -1
                        $.ajax({
                            url: '/contabilidad/inventario/vale-salida-producto/getProductos/' + codigo,
                            method: 'POST',
                            dataType: 'json',
                            success: function (result) {
                                productos = result.productos
                                if (productos.length > 0) {
                                    $('#vale_salida_mercancia_descripcion').val(productos[0]['descripcion'])
                                    $('#vale_salida_mercancia_existencia').val(productos[0]['existencia'])
                                    $('#vale_salida_mercancia_precio').val(productos[0]['precio_compra'])
                                    $('#vale_salida_mercancia_id_unidad_medida').find('option').remove()
                                    $('#vale_salida_mercancia_id_unidad_medida').prepend('<option selected = "true" value = "0" disabled>' + productos[0]['unidad_medida'] + '</option>');
                                    importe_total = parseFloat(productos[0]['importe'])
                                } else {
                                    importe_total = 0
                                    resetFormMercancia()
                                    alertTemplate('No existen productos con ese código', 'danger')
                                }
                            },
                            error: function () {
                                importe_total = 0
                                resetFormMercancia()
                            }
                        })
                    } else {
                        alertTemplate('Debe ingresar el codigo de la mercancía a buscar.', 'danger')
                    }
                } else {
                    resetFormMercancia()
                }
            })
            $('#btnSearchProducto').on('click', function () {
                $('#rows_table').find('tr').remove();
                let codigo = $('#vale_salida_mercancia_codigo').val() != '' ? $('#vale_salida_mercancia_codigo').val() : -1
                let cuenta = $('#vale_salida_nro_cuenta_deudora').val() != '' ? $('#vale_salida_nro_cuenta_deudora').val() : ''
                $.ajax({
                    url: '/contabilidad/inventario/vale-salida-producto/getProductos/' + codigo + ',' + cuenta,
                    method: 'POST',
                    dataType: 'json',
                    success: function (result) {
                        productos = result.productos
                        $(result.productos).each(function (pos, valor) {
                            $('#rows_table').append('<tr>' +
                                '<td style="font-weight:400;"> ' +
                                '<input type="checkbox" style="margin-left: auto;" id="' + valor.codigo + '">' +
                                '</td>' +
                                '<td style="font-weight:400;"> ' + valor.codigo + '</td>' +
                                '<td style="font-weight:400;"> ' + valor.descripcion + '</td>' +
                                '<td style="font-weight:400;"> ' + valor.precio_compra + '</td> </tr>'
                            );
                        })
                    },
                    error: function () {
                    }
                })
            })
            $('#vale_salida_documento_cantidad_mercancia').on('keyup', function () {
                let precio = parseFloat($('#vale_salida_mercancia_precio').val())
                let existencia = parseFloat($('#vale_salida_mercancia_existencia').val())
                let cantidad = parseFloat($('#vale_salida_documento_cantidad_mercancia').val())
                if (cantidad <= existencia) {
                    if (cantidad > 0) {
                        let importe = parseFloat(precio * cantidad).toFixed(5)
                        let resto = parseFloat(importe_total - importe)
                        $('#vale_salida_documento_importe_mercancia').val(importe)
                        $('#resto_importe').val(resto)
                        let existencia_inicial = (parseFloat($('#vale_salida_mercancia_existencia').val()) > 0 || $('#vale_salida_mercancia_existencia').val() != '') ? parseFloat($('#vale_salida_mercancia_existencia').val()) : 0
                        $('#vale_salida_mercancia_existencia_decremento').val(existencia_inicial - parseFloat($('#vale_salida_documento_cantidad_mercancia').val()))
                    } else {
                        $('#vale_salida_documento_importe_mercancia').val(0)
                        // }
                        // if (cantidad == 0 || cantidad == '') {
                        $('#vale_salida_mercancia_existencia_decremento').val(0)
                        $('#resto_importe').val('')
                    }
                } else {
                    alertTemplate('La cantidas supera la existencia', 'danger')
                    $('#vale_salida_documento_cantidad_mercancia').val('')
                    $('#vale_salida_mercancia_existencia_decremento').val(0)
                    $('#resto_importe').val('')
                }
            })
            /*** FIN BLOQUE DE JQuery DE MERCANCIA ***/


            $('#vale_salida_nro_cuenta_deudora').on('change', function () {
                $('#vale_salida_nro_subcuenta_deudora').find('option').remove()
                cuentas_inventarios.forEach(function (valor, pos) {
                    if ($('#vale_salida_nro_cuenta_deudora').val() == valor.nro_cuenta) {
                        for (var i = 0; i < valor.sub_cuenta.length; i++) {
                            $('#vale_salida_nro_subcuenta_deudora').append('<option value = "' + valor.sub_cuenta[i]['nro_subcuenta'] + '">' + valor.sub_cuenta[i]['nro_subcuenta'] + '</option>');
                        }
                    }
                })
            })

            /*** BLOQUE DE VALIDACIONES(CAMPOS OBLIGATORIOS)*********/
            const form_vale_salida = $('#vale_salida')
            const form_mercancia = $('#form_mercancia')
            form_vale_salida.validate({
                errorClass: 'invalid-label-orange',
                errorPlacement: function (error, element) {
                    error.attr('style', 'font-size: .8rem;')
                    error.insertAfter(element);
                },
                rules: {
                    'vale_salida[fecha_solicitud]': "required",
                    'vale_salida[nro_solicitud]': "required",
                    'vale_salida[nro_cuenta_deudora]': "required",
                    'vale_salida[nro_subcuenta_deudora]': "required",
                    'vale_salida[documento][id_moneda]': "required",
                },
                messages: {
                    'vale_salida[fecha_solicitud]': CONTAB_MSG.REQUIRED_OBLIGATORIO,
                    'vale_salida[nro_solicitud]': CONTAB_MSG.REQUIRED_OBLIGATORIO,
                    'vale_salida[nro_cuenta_deudora]': CONTAB_MSG.REQUIRED_OBLIGATORIO,
                    'vale_salida[nro_subcuenta_deudora]': CONTAB_MSG.REQUIRED_OBLIGATORIO,
                    'vale_salida[documento][id_moneda]': CONTAB_MSG.REQUIRED_OBLIGATORIO,
                }
            })
            form_mercancia.validate({
                errorClass: 'invalid-label-orange',
                errorPlacement: function (error, element) {
                    error.attr('style', 'font-size: .8rem;')
                    error.insertAfter(element);
                },
                rules: {
                    'vale_salida[mercancia][codigo]': "required",
                    'vale_salida[mercancia][descripcion]': "required",
                    'vale_salida[mercancia][id_unidad_medida]': "required",
                    'vale_salida[documento][cantidad_mercancia]': "required",
                    'vale_salida[documento][importe_mercancia]': "required",
                    'vale_salida[id_centro_costo]': "required",
                    'vale_salida[id_elemento_gasto]': "required",
                },
                messages: {
                    'vale_salida[mercancia][codigo]': 'Obligatorio!',
                    'vale_salida[mercancia][descripcion]': CONTAB_MSG.REQUIRED_OBLIGATORIO,
                    'vale_salida[id_centro_costo]': CONTAB_MSG.REQUIRED_OBLIGATORIO,
                    'vale_salida[id_elemento_gasto]': CONTAB_MSG.REQUIRED_OBLIGATORIO,
                    'vale_salida[mercancia][id_unidad_medida]': 'Obligatorio!',
                    'vale_salida[documento][cantidad_mercancia]': 'Obligatorio!',
                    'vale_salida[documento][importe_mercancia]': 'Obligatorio!',
                }
            })
            /*** FIN BLOQUE DE VALIDACIONES(CAMPOS OBLIGATORIOS)*********/

            $("#btnSubbmitValeSalida").click(function (e) {
                if (form_vale_salida.valid()) {
                    if (list_mercancia.length) {
                        let data = form_vale_salida.serializeArray()
                        console.log(data)
                        loadingModal.show()
                        data.push({name: 'vale_salida[list_mercancia]', value: JSON.stringify(list_mercancia)})
                        $.ajax({
                            url: '/contabilidad/inventario/vale-salida-producto/form-add',
                            method: 'POST',
                            data: data,
                            dataType: 'json',
                            success: function (result) {
                                if (result.success) {
                                    window.location.replace('{{ path('contabilidad_inventario_vale_salida_producto_gestionar') }}')
                                } else {
                                    loadingModal.close()
                                    alertTemplate(result.msg)
                                }
                            },
                            error: function () {
                            }
                        })
                    } else {
                        alertTemplate('El Vale de Salida debe contener alguna mercancia', 'danger')
                    }
                }
            });
            let list_mercancia = []
            let importe_total = 0;
            $('#btnAplicarProducto').on('click', function () {
                if (form_mercancia.valid()) {
                    let codigo = $('#vale_salida_mercancia_codigo').val()
                    let cant = $('#vale_salida_documento_cantidad_mercancia').val()
                    let importe = $('#vale_salida_documento_importe_mercancia').val()
                    let precio = $('#vale_salida_mercancia_precio').val()
                    let nueva_existencia = $('#vale_salida_mercancia_existencia_decremento').val()
                    let um = $('#vale_salida_mercancia_id_unidad_medida').val()
                    let descripcion = $('#vale_salida_mercancia_descripcion').val()
                    let centro_costo = $('#vale_salida_id_centro_costo').val()
                    let elemento_gasto = $('#vale_salida_id_elemento_gasto').val()

                    //validar que el codigo no se repita
                    if (list_mercancia.some(e => e.codigo === codigo)) {
                        alertTemplate('Ya existe una mercancia con el codigo: <b>' + codigo, 'danger')
                    } else {
                        list_mercancia.push({
                            codigo,
                            cant,
                            importe,
                            precio,
                            nueva_existencia,
                            um,
                            descripcion,
                            centro_costo,
                            elemento_gasto
                        })
                        importe_total += Number.parseFloat(importe)

                        $("#importe-total").text('$' + importe_total)
                        $('#rows_mercancias').append(`<tr>
                        <td style="font-weight:400;"> ${codigo}</td>
                        <td style="font-weight:400;"> ${cant}</td>
                        <td style="font-weight:400;"> ${importe}</td>
                        <td style="font-weight:400;"> ${precio} </td>
                        <td style="font-weight:400;">${nueva_existencia}</td>
                        <td style="font-weight:400;" hidden> ${descripcion}</td>
                        <td> <button type="button"
                            class="btn btn-outline-danger btn-sm borrar" title="Eliminar" id-mercancia="${codigo}">
                            <i class="fa fa-minus-circle"></i>
                        </button>
                        </td>
                        <td style="font-weight:400;" hidden> ${um} </td> </tr>`
                        );
                        $('#vale_salida_mercancia_codigo').val('')
                        $('#vale_salida_mercancia_descripcion').val('')
                        $('#vale_salida_mercancia_existencia').val('')
                        $('#vale_salida_documento_cantidad_mercancia').val('')
                        $('#vale_salida_documento_importe_mercancia').val('')
                        $('#vale_salida_mercancia_precio').val('')
                        $('#vale_salida_mercancia_existencia_decremento').val('')
                        $('#vale_salida_id_centro_costo').val(0)
                        $('#vale_salida_id_elemento_gasto').val(0)
                    }

                }
            })

            // eliminar la mercancia de la lista
            $(document).on('click', '.borrar', function (event) {
                event.preventDefault();
                const mercancia = list_mercancia.find(e => e.codigo === $(this).attr('id-mercancia'))
                importe_total -= Number.parseFloat(mercancia.importe)
                $("#importe-total").text('$' + importe_total)
                list_mercancia = list_mercancia.filter(e => e.codigo !== $(this).attr('id-mercancia'))
                $(this).closest('tr').remove()
            })
        })

        function SeleccionarProducto() {
            for (var i = 0; i < productos.length; i++) {
                let id = '#' + productos[i]['codigo']
                if ($(id).prop('checked') == true) {
                    $('#vale_salida_mercancia_codigo').val(productos[i]['codigo'])
                    $('#vale_salida_mercancia_descripcion').val(productos[i]['descripcion'])
                    $('#vale_salida_mercancia_precio').val(productos[i]['precio_compra'])
                    $('#vale_salida_mercancia_existencia').val(productos[i]['existencia'])
                    break
                }
            }
        }

        /////////////////////////////////////////////
        function resetFormMercancia() {
            $('#vale_salida_mercancia_descripcion').val('')
            $('#vale_salida_mercancia_precio').val('')
            $('#vale_salida_mercancia_existencia').val('')
            $('#vale_salida_mercancia_existencia_decremento').val('')
            $('#vale_salida_documento_importe_mercancia').val('')
            $('#vale_salida_documento_cantidad_mercancia').val('')
            $('#resto_importe').val('')
            $('#vale_salida_mercancia_id_unidad_medida').find('option').remove()
        }

        function resetFormulario() {
            $('#btnCancelar').hide()
            $('#vale_salida_fecha_solicitud').attr('type', 'date')
            $('#form_mercancia').css('display', 'block')
            $('#vale_salida')[0].reset()
            $('#form_mercancia')[0].reset()
            let ids = ['_nro_cuenta_deudora', '_nro_subcuenta_deudora', '_documento_id_moneda', '_id_centro_costo', '_id_elemento_gasto']
            for (let i = 0; i < ids.length; i++) {
                $("#vale_salida" + ids[i]).find('option').remove()
                $("#vale_salida" + ids[i]).prepend('<option selected = "false" value = "0" disabled> -- seleccione -- </option>');
            }

            $("#importe-total").text('$ 0.00')
            $('#rows_mercancias').find('tr').remove()
            cargarDatosIniciales()
        }

        function llenarFormulario(nro_vale) {
            if (nro_vale < 1) {
                alertTemplate('El menor número permitido es 1', 'danger')
                resetFormulario()
            } else {
                loadingModal.show()
                $.ajax({
                    url: '/contabilidad/inventario/vale-salida-producto/getVale/' + nro_vale,
                    method: 'POST',
                    dataType: 'json',
                    success: function (result) {
                        if (result[0].success == true) {
                            let vale = result[0].vale;
                            let ids = ['_nro_cuenta_deudora', '_nro_subcuenta_deudora', '_documento_id_moneda']
                            for (let i = 0; i < ids.length; i++) {
                                $("#vale_salida" + ids[i]).find('option').remove()
                            }
                            $('#rows_mercancias').find('tr').remove();
                            $('#vale_salida_nro_cuenta_deudora').prepend('<option selected value = ' + vale.nro_cuenta_deudora + '>' + vale.nro_cuenta_deudora + '</option>');
                            $('#vale_salida_nro_subcuenta_deudora').prepend('<option selected value = ' + vale.nro_subcuenta_deudora + '>' + vale.nro_subcuenta_deudora + '</option>');
                            $('#vale_salida_documento_id_moneda').prepend('<option selected value = ' + vale.id_moneda + '>' + vale.moneda + '</option>');
                            $('#vale_salida_nro_solicitud').val(vale.nro_solicitud);
                            $('#vale_salida_fecha_solicitud').attr('type', 'text')
                            $('#vale_salida_fecha_solicitud').val(vale.fecha_solicitud);

                            let productos = vale.productos
                            $("#importe-total").text('$' + vale.importe_total)
                            for (var i = 0; i < productos.length; i++) {
                                $('#rows_mercancias').append(`<tr>
                                    <td style="font-weight:400;"> ${productos[i]['codigo']} </td>
                                    <td style="font-weight:400;"> ${productos[i]['cantidad']}</td>
                                    <td style="font-weight:400;"> ${productos[i]['importe']}</td>
                                    <td style="font-weight:400;"> ${productos[i]['precio']} </td>
                                    <td style="font-weight:400;">${productos[i]['existencia']}</td>
                                    <td></td>
                                   </tr>`
                                );
                            }
                            loadingModal.close()
                        }
                        if (result[0].success == false) {
                            loadingModal.close()
                            alertTemplate(result.msg, 'danger')
                        }
                    },
                    error: function (result) {
                    }
                })
            }
        }

        function cargarDatosIniciales() {
            $('#btnCancelar').hide()
            $('#vale_salida_fecha_solicitud').attr('type', 'date')
            $('#vale_salida_documento_importe_mercancia').prop('disabled', true)
            /** Ajax para obtener los nros consecutivos**/
            $.ajax({
                url: '/contabilidad/inventario/vale-salida-producto/get-nros-vales-salida',
                method: 'POST',
                dataType: 'json',
                success: function (result) {
                    consecutivo = result.nros
                    eliminados = result.eliminados
                    $('#select_nros').val(consecutivo)
                    $('#select_nros').prop('max', consecutivo)
                    $('#select_nros').prop('min', 1)
                    loadingModal.close()
                },
                error: function () {
                }
            })
            $.ajax({
                url: '/contabilidad/inventario/vale-salida-producto/getCuentas',
                method: 'POST',
                dataType: 'json',
                success: function (result) {
                    cuentas_inventarios = result.cuentas_inventario
                    $(result.cuentas_inventario).each(function (pos, valor) {
                        $('#vale_salida_nro_cuenta_deudora').append('<option value = "' + valor.nro_cuenta + '">' + valor.nro_cuenta + '</option>');
                    })
                    $(result.monedas).each(function (pos, valor) {
                        $('#vale_salida_documento_id_moneda').append('<option value = "' + valor.id + '">' + valor.nombre + '</option>');
                    })
                    $(result.cento_costo).each(function (pos, valor) {
                        $('#vale_salida_id_centro_costo').append('<option value = "' + valor.id + '">' + valor.codigo+' - '+ valor.nombre + '</option>');
                    })
                    $(result.elemento_gasto).each(function (pos, valor) {
                        $('#vale_salida_id_elemento_gasto').append('<option value = "' + valor.id + '">' + valor.codigo+' - '+ valor.nombre + '</option>');
                    })
                    loadingModal.close()
                },
                error: function () {
                }
            })

        }

        const myOnDeleteConfirm = function () {
            $('#confirm__modal').modal('show')
            $('#confirm__modal__title').html('Cancelar')
            $('#confirm__modal__body').text('Está seguro que desea cancelar el vale de sallida Nro.' + $('#select_nros').val() + '?')

            $('#_token__confirm__modal').val($('#__token').val())

            $('#confirm__modal__btn_ok').click(function () {
                const form = $('#form__confirm__modal')
                $('#confirm__modal').modal('hide')
                loadingModal.show('Cancelando...')
                let url = '/contabilidad/inventario/vale-salida-producto/delete/' + $('#select_nros').val()
                form.attr('action', url)
                form.submit()
            })
        }

        function Print_Vale() {
            let url = '/contabilidad/inventario/vale-salida-producto/print-report/' + $('#select_nros').val()
            window.open(url, 'blank_')
        }
    </script>
{% endblock %}