{% extends 'utils/modal_form.html.twig' %}

{% block modalbody %}
    {{ form_start(form,{'attr': {'class': 'text-left','id':'form_modal_target','method':'POST','autocomplete':"off"}}) }}
    <div class="form-group input-group input-group-sm d-block">
        <label for="unidad_codigo" class="font-weight-bold">Código</label>
        {{ form_widget(form.codigo,{'attr': {'class': 'form-control w-100'}}) }}
    </div>
    <div class="form-group input-group input-group-sm d-block">
        <label for="unidad_nombre" class="font-weight-bold">Nombre</label>
        {{ form_widget(form.nombre,{'attr': {'class': 'form-control w-100'}}) }}
    </div>
    <div class="form-group input-group input-group-sm d-block">
        <label for="unidad_telefono" class="font-weight-bold">Teléfono</label>
        {{ form_widget(form.telefono,{'attr': {'class': 'form-control w-100'}}) }}
    </div>
    <div class="form-group input-group input-group-sm d-block">
        <label for="unidad_correo" class="font-weight-bold">Correo</label>
        {{ form_widget(form.correo,{'attr': {'class': 'form-control w-100'}}) }}
    </div>
    <div class="form-group input-group input-group-sm d-block">
        <label for="unidad_direccion" class="font-weight-bold">Dirección</label>
        {{ form_widget(form.direccion,{'attr': {'class': 'form-control w-100'}}) }}
    </div>
    <div class="form-group input-group input-group-sm d-block">
        <label for="unidad_id_padre" class="font-weight-bold">Subordinada a</label>
        {{ form_widget(form.id_padre,{'attr': {'class': 'form-control w-100'}}) }}
    </div>
    <div class="form-group input-group input-group-sm d-block">
        {{ form_label(form.id_categoria_cliente) }}
        {{ form_widget(form.id_categoria_cliente, {'attr': {'class': 'form- control w-100'}}) }}
    </div>
    <input type="text" id="id_unidad" hidden>
    {{ form_end(form) }}

{% endblock %}