{% extends 'contabilidad/config/index.html.twig' %}
{% block style %}
    <style>
        label {
            display: none;
        }
    </style>
{% endblock %}
{% block content %}
    <div class="container-fluid">

        {# header #}
        <div class="d-flex align-items-center">
            <h4 class="mr-auto display-4 mb-0 mr-auto title-table text-light">
                Organigrama de la empresa
            </h4>
            <div>
                <button type="button" class="btn btn-primary btn-md" data-toggle="modal"
                        data-target="#gestionarUnidadModal" data-placement="bottom" title="Adicionar"
                        onclick="mostrarBtn()">
                    <i class="fa fa-plus"> Adicionar</i>
                </button>
            </div>
        </div>
        {# end header #}

        {# Modal de adicionar#}
        <div class="modal fade" id="gestionarUnidadModal" tabindex="-1" role="dialog" data-backdrop="static"
             data-keyboard="false"
             aria-labelledby="gestionarUnidadModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header bg-dark">
                        <h4 class="modal-title text-light" id="gestionarUnidadModalLabel">Adicionar unidad</h4>
                        <button class="close text-light" type="button" data-dismiss="modal" aria-label="Cerrar">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body bg-dark-app">
                        {{ form_start(form,{'attr': {'class': 'rd-mailform'}}) }}

                        <div class="form-group input-group input-group-sm d-block">
                            <label for="nombre_field" class="font-weight-bold text-white">Nombre</label>
                            <div class="container-fluid p-0">
                                {{ form_widget(form.nombre,{'attr': {'class': 'form-control','id':'nombre_field'}}) }}
                            </div>
                        </div>
                        <div class="form-group input-group input-group-sm d-block">
                            <label for="id_padre_field" class="font-weight-bold text-white">Subordinada a</label>
                            {{ form_widget(form.id_padre,{'attr': {'class': 'form-control w-100','id':'id_padre_field'}}) }}
                        </div>
                        <input type="text" id="id_unidad" hidden>
                        {#                    </div>#}
                        {{ form_end(form) }}
                        <div class="d-flex mt-4">
                            <div class="mr-auto">
                                <button class="btn btn-outline-secondary" type="button" data-dismiss="modal"
                                        aria-label="Cerrar">
                                    <span aria-hidden="true">Cancelar</span>
                                </button>
                            </div>
                            <div class="ml-2">
                                <button type="button" class="my-0 btn btn-secondary" id="btnAceptar">Aceptar</button>
                            </div>
                            <div class="ml-2">
                                <button type="button" class="my-0 btn btn-warning" id="btnActualizar">Actualizar
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {# list #}
        <table class="table table-hover text-light">
            <thead class="thead-dark">
            <th scope="col-2">Nombre de unidad</th>
            <th scope="col-3">Subordinada a</th>
            <th scope="col-1" width="150px">Acciones</th>
            </thead>
            <tbody>
            {% for item in unidades %}
                <tr>
                    <td style="font-weight:400;">{{ item.nombre }}</td>
                    <td style="font-weight:400;">{{ item.padre_nombre }}</td>
                    <td>
                        <button type="button" class="btn btn-warning btn-sm px-1" data-toggle="tooltip"
                                data-placement="bottom" title="Eliminar"
                                onclick="onUpdate({
                                        id_padre: '{{ item.id_padre }}',
                                        padre_nombre:'{{ item.padre_nombre }}',
                                        nombre:'{{ item.nombre }}' ,
                                        id: '{{ item.id }}'
                                        })">
                            <i class="fa fa-edit"></i>
                        </button>
                        <button type="button" class="btn btn-danger btn-sm ml-1" data-toggle="tooltip"
                                data-placement="bottom" title="Eliminar"
                                onclick="onDeleteConfirm({
                                        message:'Está seguro que desea eliminar la unidad {{ item.nombre }} ?',
                                        url:'{{ path('contabilidad_config_unidad_delete',{id: item.id}) }}',
                                        _token: '{{ csrf_token('delet' ~ item.id) }}'
                                        })">
                            <i class="fa fa-trash"></i>
                        </button>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {# end list #}
    </div>
{% endblock %}


{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function () {
            resetField()
            $('#btnActualizar').hide()
        })

        const onUpdate = function (config) {
            $('#btnActualizar').show()
            $('#btnAceptar').hide()

            const {nombre = '', id = '', id_padre = '', padre_nombre = ''} = config
            $('#gestionarUnidadModal').modal('show')
            if (id_padre == '') {
                $('#select2-unidad_id_padre-container').val(0)
                $('#select2-unidad_id_padre-container')[0].textContent = 'Seleccione unidad a la que se subordina'
            } else {
                $('#select2-unidad_id_padre-container')[0].textContent = padre_nombre
                $('#select2-unidad_id_padre-container').val(id_padre)
                $('#unidad_id_padre').val(id_padre)
            }
            $('#gestionarUnidadModalLabel').html("Modificar " + nombre)
            $('#unidad_nombre').val(nombre)
            $('#id_unidad').val(id)
        }

        $('#btnAceptar').on('click', function () {
            let id_padre = $('#unidad_id_padre').val()
            let nombre = $('#unidad_nombre').val()
            $.ajax({
                url: '/contabilidad/config/unidad-add',
                method: "POST",
                data: {'id_padre': id_padre, 'nombre': nombre}
            }).then(res => {
                window.location.replace('/contabilidad/config/unidad');
            })
        })

        $('#btnActualizar').on('click', function () {
            let id_padre = $('#unidad_id_padre').val()
            let nombre = $('#unidad_nombre').val()
            let id_unidad = $('#id_unidad').val()
            $.ajax({
                url: '/contabilidad/config/unidad-upd',
                method: "POST",
                data: {'id_padre': id_padre, 'nombre': nombre, 'id': id_unidad}
            }).then(res => {
                window.location.replace('/contabilidad/config/unidad');
            })
        })


        $('#gestionarUnidadModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedAddress)
            var modal = $(this)
            $('#unidad_nombre').val('')
            // $('#select2-unidad_id_padre-container').val(0)
            // $('#select2-unidad_id_padre-container')[0].textContent = 'Seleccione unidad a la que se subordina'
            modal.find('.modal-title').text('Adicionar unidad')
        })

        function mostrarBtn() {
            $('#btnActualizar').hide()
            $('#btnAceptar').show()
        }

        function resetField() {
            // $('#unidad_id_padre').prepend('<option selected = "true" value = "0">Seleccione la unidad a la que se subordina</option>');
            // $('#select2-unidad_id_padre-container')[0].textContent = 'Seleccione unidad a la que se subordina'
        }
    </script>
{% endblock %}

