<!DOCTYPE html>

<html class="wide wow-animation scrollTo" lang="en">
  <head>
    <title>Login - Solyag</title>
    <meta charset="utf-8">
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="keywords" content="intense web design multipurpose template html">
    <meta name="date" content="Dec 26">
    <link rel="icon" href="{{ asset('images/favicon.ico') }}"  type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Montserrat:400,700%7CLato:300,300italic,400,700,900%7CYesteryear">
    <link rel="stylesheet" href="{{ asset('css/style.css') }}"> 
  </head>
  <body>
    <div class="page-loader page-loader-variant-1">
      <div><img class='img-fluid' style='margin-top: -20px;margin-left: -18px;' width='330' height='67' src="{{ asset('images/logo-solyag.png') }}" alt=''/>
        <div class="offset-top-41 text-center">
          <div class="spinner"></div>
        </div>
      </div>
    </div>
    <div class="page text-center">
      <section class="section novi-background one-page bg-shark-radio">
        <div class="one-page-header">
          <!--Navbar Brand-->
          <div class="rd-navbar-brand"><a href="index.html"><img style='margin-top: 80px;margin-left: -15px;' width='200' height='200' src="{{ asset('images/logo-solyag.png') }}" alt=''/></a></div>
        </div>
        <!-- Login-->
        <section>
          <div class="container">
            <div class="section-350 section-cover row justify-content-sm-center align-items-sm-center">
              <div class="col-sm-8 col-md-6 col-lg-4">
                <div style="background: rgba(0, 0, 0, 0); box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0);" class="card text-center section-34 section-sm-41 inset-left-20 inset-right-20 inset-md-left-20 inset-md-right-20 inset-xl-left-30 inset-xl-right-30 bg-default shadow-drop-md">
                 
                  
                  <form method="post" class="text-left offset-top-30" >
                    <div class="form-group">
                      <div class="input-group input-group-sm"><span class="input-group-prepend"><span class="input-group-text input-group-icon input-group-addon-inverse"><span class="novi-icon mdi mdi-account-outline"></span></span></span>
                       
                       <input autocomplete="off" type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control" placeholder="Usuario"  required autofocus>          
                      </div>
                    </div>
                    <div class="form-group offset-top-20">
                      <div class="input-group input-group-sm"><span class="input-group-prepend"><span class="input-group-text input-group-icon input-group-addon-inverse"><span class="novi-icon mdi mdi-lock-open-outline"></span></span></span>
                       
                         <input autocomplete="off" type="password" name="password" id="inputPassword" class="form-control" placeholder="Clave" required>
                      </div>
                    </div>

                     <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                    <button class="btn btn-login btn-sm btn-icon btn-block  offset-top-20" type="submit">Entrar <span class="icon novi-icon mdi mdi-arrow-right-bold-circle-outline"></span></button>
                  </form>
                 

                       {% if error %}
                         <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                      {% endif %}

                </div>
              </div>
            </div>
          </div>
        </section>
        <div class="one-page-footer">
          <p class="small" style="color: rgba(255,255,255, 0.3)">Solyag  &copy; copyright  .</p>
        </div>
      </section>
    </div>
    <!-- Global RD Mailform Output-->
    <div class="snackbars" id="form-output-global"></div>
    <script src="{{ asset('js/core.min.js') }}"></script>
    <script src="{{ asset('js/script.js') }}"></script>
    
  </body>
</html>

<script>

  document.addEventListener("DOMContentLoaded", function() {
      var elements = document.getElementsByTagName("INPUT");
      for (var i = 0; i < elements.length; i++) {
          elements[i].oninvalid = function(e) {
              e.target.setCustomValidity("");
              if (!e.target.validity.valid) {
                  e.target.setCustomValidity("Campo Obligatorio!");
              }
          };
          elements[i].oninput = function(e) {
              e.target.setCustomValidity("");
          };
      }
  })
  
  
  </script>