{% extends 'base.html.twig' %}
{% block title %} Contabilidad | Inventario {% endblock %}
{% block style %}
    <style>
        label {
            display: none;
        }
    </style>
{% endblock %}

{% block navBar %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light nabvar-navegation">
        <a style="cursor: pointer" class="navbar-brand text-white" data-toggle="modal" data-target="#GetOutAlmacenModal">Inventario</a>
        <button class="navbar-toggler order-md-2" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Nomencladores
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{{ url ('contabilidad_inventario_proveedor') }}">Proveedor</a>
                        <a class="dropdown-item" href="{{ url ('contabilidad_inventario_mercancia') }}">Mercancia</a>
                        <a class="dropdown-item" href="{{ url ('contabilidad_inventario_producto') }}">Producto</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Entrada
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown" style="width: 180px;">
                        <a class="dropdown-item" href="{{ url ('contabilidad_inventario_ajuste_entrada_gestionar') }}">Ajuste</a>
                        <a class="dropdown-item" href="{{ url ('contabilidad_inventario_transferencia_entrada_gestionar') }}">Transferencia</a>
                        <div class="dropdown-divider"></div>
                        <h6 class="text-center" style="font-weight:300">Informe de Recepción</h6>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{{ url ('contabilidad_inventario_informe_recepcion_gestionar') }}">Mercancía</a>
                        <a class="dropdown-item" href="{{ url ('contabilidad_inventario_informe_recepcion_producto_gestionar') }}">Producto</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Salida
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{{ url ('contabilidad_inventario_ajuste_entrada') }}">Ajuste</a>
                        <a class="dropdown-item" href="{{ url ('contabilidad_inventario_transferencia_entrada') }}">Transferencia</a>
                        <div class="dropdown-divider"></div>
                        <h6 class="text-center" style="font-weight:300">Vale de salida</h6>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{{ url ('contabilidad_inventario_vale_salida_gestionar') }}">Mercancia</a>
                        <a class="dropdown-item" href="{{ url ('contabilidad_inventario_vale_salida_gestionar') }}">Producto</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Operaciones
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{{ url ('contabilidad_inventario_ajuste_entrada') }}">Cerrar
                            Día</a>
                        <a class="dropdown-item" href="{{ url ('contabilidad_inventario_transferencia_entrada') }}">Cerrar
                            Mes</a>
                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Reportes
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{{ url ('contabilidad_inventario_ajuste_entrada') }}">INF</a>
                    </div>
                </li>
            </ul>
        </div>
        <span class="text-light p-1 order-md-1"
              style="cursor: pointer;border-radius: 10px; border: gray solid 2px;"><a data-toggle="modal" data-target="#GetOutAlmacenModal">Almacén: {{ app.session.get('selected_almacen/name') }}</a></span>
    </nav>
{% endblock %}

{% block content %}
    <!-- Modal -->
    <div class="modal fade" id="GetOutAlmacenModal" tabindex="-1" aria-labelledby="GetOutAlmacenModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
                <div class="modal-header bg-dark">
                    <h5 class="modal-title text-light" id="GetOutAlmacenModalLabel"><i class="fa fa-warning"></i> Atención</h5>
                    <button type="button" class="close text-light" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>¿Está seguro que desae salir del almacén?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" id="btnAceptar" data-dismiss="modal">Salir</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block javascripts %}
    {{ parent() }}
    <script>
        $('#btnAceptar').on('click', function () {
            $.ajax({
                url: '/contabilidad/inventario/salirAlmacen',
                method: "POST",
                data: {
                }
            }).then(res => {
                window.location.replace('/contabilidad/inventario/selAlmacen');
            })
        })
    </script>
{% endblock %}