{% extends 'base.html.twig' %}
{% block title %} Contabilidad | Inventario {% endblock %}
{% block style %}
    <style>
        label {
            display: none;
        }
    </style>
{% endblock %}

{% block navBar %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{{ url ('inventario') }}">Inventario</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Nomencladores
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{{ url ('contabilidad_inventario_proveedor') }}">Proveedor</a>
                        <a class="dropdown-item" href="{{ url ('contabilidad_inventario_mercancia') }}">Mercancia</a>
                        <a class="dropdown-item" href="{{ url ('contabilidad_inventario_producto') }}">Producto</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Documentos
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{{ url ('contabilidad_inventario_ajuste') }}">Ajuste</a>
                        <a class="dropdown-item" href="{{ url ('contabilidad_inventario_vale_salida') }}">Vale de salida</a>
                        <a class="dropdown-item" href="{{ url ('contabilidad_inventario_transferencia') }}">Transferencia</a>
                        <a class="dropdown-item" href="{{ url ('contabilidad_inventario_informe_recepcion') }}">Informe de
                            recepción</a>
{#                        <a class="dropdown-item" href="{{ url ('contabilidad_inventario_factura') }}">Factura</a>#}
                    </div>
                </li>
            </ul>
        </div>
    </nav>
{% endblock %}

{% block content %}
    <div class="container mt-5">
        <div class="row">
            {% for item in config %}
                <div class="col-4">
                    <div class="card">
                        <h5 class="card-header">{{ item.title }}</h5>
                        <div class="card-body">
                            <p class="card-text">{{ item.descrip }}</p>
                        </div>
                    </div>
                </div>

            {% endfor %}
        </div>
    </div>
{% endblock %}