{% extends 'base.html.twig' %}
{% block content %}
	{% include 'breadcrumbs.html.twig' %}
	<!-- Classic Breadcrumbs-->
	<section class="section novi-background pt-5">
		<div class="row form justify-content-md-center text-left">
			<div class="col-md-7 col-lg-4">

				<div id="messageBox" style="display: none;  text-align: center;" class="alert alert-danger" role="alert"></div>
				<form name="form-telefono" method="POST" id="form-telefono" action="cliente-index">
					<div class="form-group">
						<div class="input-group input-group-sm ">
							<span class="input-group-prepend">
								<span class="input-group-text input-group-icon">
									<span class="novi-icon mdi mdi-phone"></span>
								</span>
							</span>

							<input type="text" id="tel" name="tel" class="form-control" placeholder="Telefono Del Cliente" autocomplete="off" required minlength="8"/>
							<button id="submit" type="submit" class="btn-aqil-effect-mod-1 btn-default btn btn-aqil-effect ">Continuar</button>

						</div>
					</div>

				</form>
			</div>

		</div>

		<hr class="hr bg-gray">

	</section>

	<!-- What we do-->
	<section class="section novi-background section-98 section-sm-110 carousel1">
		<div class="container">

			<div id="carousel">

				<div class="hideLeft">
					<img src="{{ asset('images/imgHome/1.jpg') }}?fecha={{ "now"|date("m/d/Y h:i a") }}">
				</div>

				<div class="prevLeftSecond">
					<img src="{{ asset('images/imgHome/2.jpg') }}?fecha={{ "now"|date("m/d/Y h:i a") }}">
				</div>

				<div class="prev">
					<img src="{{ asset('images/imgHome/3.jpg') }}?fecha={{ "now"|date("m/d/Y h:i a") }}">
				</div>

				<div class="selected">
					<img src="{{ asset('images/imgHome/4.jpg') }}?fecha={{ "now"|date("m/d/Y h:i a") }}">
				</div>

				<div class="next">
					<img src="{{ asset('images/imgHome/5.jpg') }}?fecha={{ "now"|date("m/d/Y h:i a") }}">
				</div>

				<div class="nextRightSecond">
					<img src="{{ asset('images/imgHome/6.jpg') }}?fecha={{ "now"|date("m/d/Y h:i a") }}">
				</div>

				<div class="hideRight">
					<img src="{{ asset('images/imgHome/7.jpg') }}?fecha={{ "now"|date("m/d/Y h:i a") }}">
				</div>

			</div>

			<div class="buttons text-center">
				<button class="btn-aqil-effect-mod-1 btn-default btn btn-aqil-effect" id="prev">Anterior</button>
				<button class="btn-aqil-effect-mod-1 btn-default btn btn-aqil-effect" id="next">Siguiente</button>
			</div>
		</div>
	</section>

{% endblock %}

{% block javascripts %}
	{{parent()}}

	<script>
		$("#form-telefono").validate({

errorLabelContainer: "#messageBox",
wrapper: "li",
rules: {
required: true,
minlength: 8
},
messages: {
tel: {
required: "Telefono Requerido",
minlength: "Minimo 8 Caracteres"
}
}

});

$('#tel').on('input', function () {
this.value = this.value.replace(/[^0-9]/g, '');
});
	</script>

{% endblock %}
