{% extends 'base.html.twig' %}

{% block stylesheets %}
        <link href="{{ asset('images/favicon.ico') }}" type="text/css" rel="icon" />
        <link href="{{ asset('css/carousel.css') }}" type="text/css" rel="stylesheet" />
        <link href="{{ asset('css/style.css') }}" type="text/css" rel="stylesheet" />
        <link href="{{ asset('css/style-sunset.css') }}" type="text/css" rel="stylesheet" />
        <link href="{{ asset('//fonts.googleapis.com/css?family=Montserrat:400,700%7CLato:300,300italic,400,700,900%7CYesteryear') }}" type="text/css" rel="stylesheet" />
{% endblock %}

   {% block javascripts %}
        <script src="{{ asset('js/core.min.js') }}" type="text/javascript"></script>
         <script src="{{ asset('js/script.js') }}" type="text/javascript"></script>
          <script src="{{ asset('js/revolution.min.js') }}" type="text/javascript"></script>
           <script src="{{ asset('js/carousel.js') }}" type="text/javascript"></script>
    {% endblock %}

{% block body %}
<!DOCTYPE html>
<html class="wide wow-animation scrollTo" lang="en">

{% include 'layout/header.html' %}

      <!-- Classic Breadcrumbs-->
      <section class="section novi-background ">
         <div class="row form justify-content-md-center text-left" style="margin-top: 0px;">
            <div class="col-md-7 col-lg-4">
              <form class="rd-mailform" data-form-output="components-form-subscribe-footer" data-form-type="subscribe" method="post" action="#" novalidate="novalidate">
                <div class="form-group">
                  <div class="input-group input-group-sm ">
                  <span class="input-group-prepend"><span class="input-group-text input-group-icon">
                  <span class="novi-icon mdi mdi-phone"></span></span></span>
                    <input class="form-control" placeholder="No. De Telefono" type="text" name="number" id="regula-generated-367333">
                    
                      <button class="btn btn-sm btn-primary" style="background-color: black; border-color: black;" type="submit">Buscar</button></span>
                  </div>
                </div>
                <div class="form-output" id="components-form-subscribe-footer"></div>
              </form>
            </div>
          </div>

          <hr class="hr bg-gray">
        
      </section>
      <!-- What we do-->
      <section class="section novi-background section-98 section-sm-110 carousel1">
        <div class="container">
        
        <div id="carousel">

       <div class="hideLeft">
        <img src="https://i1.sndcdn.com/artworks-000165384395-rhrjdn-t500x500.jpg">
      </div>

      <div class="prevLeftSecond">
        <img src="https://i1.sndcdn.com/artworks-000185743981-tuesoj-t500x500.jpg">
      </div>

      <div class="prev">
        <img src="https://i1.sndcdn.com/artworks-000158708482-k160g1-t500x500.jpg">
      </div>

      <div class="selected">
        <img src="https://i1.sndcdn.com/artworks-000062423439-lf7ll2-t500x500.jpg">
      </div>

      <div class="next">
        <img src="https://i1.sndcdn.com/artworks-000028787381-1vad7y-t500x500.jpg">
      </div>

      <div class="nextRightSecond">
        <img src="https://i1.sndcdn.com/artworks-000108468163-dp0b6y-t500x500.jpg">
      </div>

      <div class="hideRight">
        <img src="https://i1.sndcdn.com/artworks-000064920701-xrez5z-t500x500.jpg">
      </div>

    </div>

    <div class="buttons">
      <button class="btn-aqil-effect-mod-1 btn-default btn btn-aqil-effect" id="prev">Anterior</button>
      <button class="btn-aqil-effect-mod-1 btn-default btn btn-aqil-effect" id="next">Siguiente</button>
    </div>
        </div>
      </section>
     {% include 'layout/footer.html' %}
  </body>
</html>

{% endblock %}

