{% extends 'base.html.twig' %}
{% block content %}
	{% include 'breadcrumbs.html.twig' %}
	<!-- Classic Breadcrumbs-->

	<section class="section novi-background section-66 section-sm-bottom-110">
		
        <div class="container">
			<h1 class="text-reporte">Tasa de cambio</h1>
            <h3 class="text-reporte">(los valores son x cada $1.00 USD) </h3>
			<hr class="divider bg-mantis">

 <div class="table-responsive clearfix">
                <table class="table table-striped tabla-reporte">
                  <tbody><tr>
                  
                  <th>Moneda</th> 
                   <th>Tasa sugerida</th> 
                    <th>Tasa personalizada</th> 
                     <th>Acciones</th> 
                  </tr>
                 {# table body #}
        <tr>
          {% for data in pagination %}
              <tr {% if loop.index is odd %}class="color"{% endif %}>
          
          <td>{{data.nombre}}</td>
           <td>{{data[0].tasaSugerida}}</td>
           <td>{{data[0].tasa}}</td>
           <td>
              <a  onClick="cambiarTasaDeCambio('{{ data[0].id }}','{{ data[0].tasa }}');" >  <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-pencil-square" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
  <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
</svg></a>
           
           </td>
     </tr>
    {% endfor %}  
             
        </tr>
                </tbody></table> <hr style="background-color: white; margin-top: 0px;">
                {# display navigation #}
                <div class="navigation">{{ knp_pagination_render(pagination) }}</div>
                <div class="count contador">Monedas: {{ pagination.getTotalItemCount }}</div>
             
              </div>
	</div>
    </section>

    <!-- Modal -->
<div class="modal fade" id="dialogoTasa" tabindex="-1" role="dialog" aria-labelledby="dialogoTasa" aria-hidden="true">
  <div class="modal-dialog  modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="dialogoTasa">Cambiar tasa de cambio</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
     

     <div class="form-group">
    <label >Tasa personalizada</label>
    <input class="form-control" id="tasaPersonalizada"  placeholder="$0.00">
    <small id="mensaje"  class="form-text text-muted">Solo Caracteres numericos.</small>
  </div>


      </div>
      <div class="modal-footer">
        
          <button class="btn btn-secondary" id="guardar-moneda" >Guardar</button>
      </div>
    </div>
  </div>
</div>


{% endblock %}

 {% block javascripts %} 
{{parent()}}

  <script>

    function cambiarTasaDeCambio(id,tasa) {

          $("#dialogoTasa").modal("show");
          $('#tasaPersonalizada').val(tasa)

          $( "#guardar-moneda" ).click(function() {

              if($('#tasaPersonalizada').val() <=0){
                    $("#mensaje").text('Introduce un valor mayor que $0.00');
                    $("#mensaje").removeClass("text-muted");
                    $("#mensaje").css("color", "red");

              }else{

   
            $.ajax({
            type: 'POST',
            data: {'code' : '200'},
            url: window.location.protocol+"//"+location.hostname+":"+window.location.port+"/home/moneda/tasa/edit/"+id+"/"+$('#tasaPersonalizada').val(),
            dataType: 'html',
            success: function (data) {

               window.location.href = "/home/moneda/tasa/";
                
            }}); 


              }
           
            });

     }


 $('#tasaPersonalizada').on('input', function () { 
    this.value = this.value.replace(/[^0-9-.]/g,'');
});    


  </script>
 

{% endblock %}
