{% extends 'contabilidad/general/index.html.twig' %}
{% block style %}
    <style>
        label {
            display: none;
        }
    </style>
{% endblock %}
{% block content %}
    <div class="container-fluid">

        {# header #}
        <div class="d-flex align-items-center">
            <h6 class="mr-auto display-4 mb-0 mr-auto title-table text-light">
                Movimiento de Cuentas
            </h6>
        </div>
        {# end header #}


        {# list #}
        <table class="table-small-rows table table-hover text-light">
            <thead class="thead-dark">
            <th width="100px">#</th>
            <th width="350px" class="pr-0 pl-0">Almacén</th>
            <th width="100px" class="pl-0 text-center pr-0">Fecha</th>
            <th scope="col-1" class="pl-2">Usuario</th>
            <th scope="col-1">Descripción</th>
            </thead>
            <tbody>
{#            {% for item in registro %}#}
{#                <tr>#}
{#                    <td style="font-weight:400;"><a href="imprimir/{{ item.id }}" class="text-white" title="VISUALIZAR {{ item.tipo_comprobante }}">{{ item.abreviatura_comprobante }}-{{ item.nro }}</a></td>#}
{#                    <td style="font-weight:400;" class="pl-0 pr-0">{{ item.almacen }}</td>#}
{#                    <td style="font-weight:400;" class="pl-0 pr-0">{{ item.fecha }}</td>#}
{#                    <td style="font-weight:400;">{{ item.usuario }}</td>#}
{#                    <td style="font-weight:400;">{{ item.descripcion }}</td>#}
{#                </tr>#}
{#            {% endfor %}#}
            </tbody>
        </table>
        {# end list #}
    </div>
{% endblock %}