{% extends 'base.html.twig' %}

{% block stylesheets %}
        <link href="{{ asset('images/favicon.ico') }}" type="text/css" rel="icon" />
        <link href="{{ asset('css/carousel.css') }}" type="text/css" rel="stylesheet" />
        <link href="{{ asset('css/style.css') }}" type="text/css" rel="stylesheet" />
        <link href="{{ asset('css/style-sunset.css') }}" type="text/css" rel="stylesheet" />
        <link href="{{ asset('//fonts.googleapis.com/css?family=Montserrat:400,700%7CLato:300,300italic,400,700,900%7CYesteryear') }}" type="text/css" rel="stylesheet" />
{% endblock %}

   {% block javascripts %}
       
         <script src="{{ asset('js/script.js') }}" type="text/javascript"></script>
          <script src="{{ asset('js/revolution.min.js') }}" type="text/javascript"></script>
           <script src="{{ asset('js/carousel.js') }}" type="text/javascript"></script>
    {% endblock %}

{% block body %}
<!DOCTYPE html>
<html class="wide wow-animation scrollTo" lang="en">

{% include 'layout/header.html' %}

<div id='error' class="alert alert-success row justify-content-md-center text-center" role="alert" style="display: none;">
<p id='mensaje'>Cliente Editado! </p>
</div>

          <!-- Section Input Groups-->
      <section class="section novi-background section-20" id='seccion-principal'>
        <div class="container">
          <h1>Datos Del Cliente</h1>
          <hr class="divider divider-sm bg-mantis">
          <div class="row justify-content-md-center text-left">
            <div class="col-md-7 col-lg-4">

            {{ form_start(formulario,{'attr': { 'id': 'form_cliente'}}) }}
       
                <div class="form-group">
                  <div class="input-group input-group-sm"><span class="input-group-prepend"><span class="input-group-text input-group-icon"><span class="novi-icon mdi mdi-cellphone-iphone"></span></span></span>
                
                  {{ form_widget(formulario.telefono, {'attr': {'disabled': disabled,'class': 'form-control','placeholder': 'Telefono'}}) }}
                 
                    <span class="input-group-append">
                      
                  </div>
                </div>

             <div class="form-group">
                  <div class="input-group input-group-sm"><span class="input-group-prepend"><span class="input-group-text input-group-icon"><span class="novi-icon fa fa-user-plus"></span></span></span>
                 
                 {{ form_widget(formulario.nombre, {'attr': {'disabled': disabled,'class': 'form-control','placeholder': 'Nombre'}}) }}
                 <span id='edit-nombre' style='cursor: pointer;' class='novi-icon fa fa-edit mdi icon icon-xxs'></span>
                <span class="input-group-append">                    
                 
                  </div>
             </div>

             <div class="form-group">
                  <div class="input-group input-group-sm"><span class="input-group-prepend"><span class="input-group-text input-group-icon"><span class="novi-icon fa fa-users"></span></span></span>
                  
                   {{ form_widget(formulario.apellidos, {'attr': {'disabled': disabled,'class': 'form-control','placeholder': 'Apellido'}}) }}
                  <span id='edit-apellidos' style='cursor: pointer;' class='novi-icon fa fa-edit mdi icon icon-xxs'></span>
                  <span class="input-group-append">                    
                
                  </div>
             </div>

             <div class="form-group">
                  <div class="input-group input-group-sm"><span class="input-group-prepend"><span class="input-group-text input-group-icon"><span class="novi-icon mdi mdi-email"></span></span></span>
                 
                 {{ form_widget(formulario.correo, {'attr': {'disabled': disabled,'class': 'form-control','placeholder': 'Correo Electronico'}}) }}
                    <span id='edit-correo' style='cursor: pointer;' class='novi-icon fa fa-edit mdi icon icon-xxs'></span>
                  <span class="input-group-append">                    
                 
                  </div>
             </div>

             <div class="form-group">
                  <div class="input-group input-group-sm"><span class="input-group-prepend"><span class="input-group-text input-group-icon"><span class="novi-icon fa fa-map-marker"></span></span></span>
                 
                   {{ form_widget(formulario.direccion, {'attr': {'disabled': disabled,'class': 'form-control','placeholder': 'Direccion'}}) }}
                  <span id='edit-direccion' style='cursor: pointer;' class='novi-icon fa fa-edit mdi icon icon-xxs'></span>
                  <span class="input-group-append">                    
                 
                  </div>
             </div>

             <div class="form-group">
                  <div class="input-group input-group-sm"><span class="input-group-prepend"><span class="input-group-text input-group-icon"><span class="novi-icon fa fa-book"></span></span></span>
                      

                  {{ form_widget(formulario.comentario, {'attr': {'disabled': disabled,'class': 'form-control','placeholder': 'Comentario'}}) }}
                  <span id='edit-comentario' style='cursor: pointer;' class='novi-icon fa fa-edit mdi icon icon-xxs'></span>
                  <span class="input-group-append">                    
                 
                  </div>
             </div>


                <div class="form-output" id="components-form-subscribe-footer"></div>

                <div class=" row justify-content-md-center group offset-top-34">
                 
           {{ form_row(formulario.continuar) }}
            
        
          </div>

              {{ form_end(formulario) }}


            </div>
          </div>
        </div>
      </section>
     {% include 'layout/footer.html' %}
  </body>
</html>

<script>

$("#cliente_continuar").click(function(){ 
 
  // $("#error").css("display", "");
 
  });

$("#edit-nombre").click(function(){ 
  $('#cliente_nombre').prop("disabled", false);
  $('#cliente_nombre').css('background-color', 'white');
  });

$("#edit-apellidos").click(function(){ 
  $('#cliente_apellidos').prop("disabled", false);
  $('#cliente_apellidos').css('background-color', 'white');
  });

$("#edit-correo").click(function(){ 
  $('#cliente_correo').prop("disabled", false);
  $('#cliente_correo').css('background-color', 'white');
  });

  $("#edit-direccion").click(function(){ 
  $('#cliente_direccion').prop("disabled", false);
  $('#cliente_direccion').css('background-color', 'white');
  });

  $("#edit-comentario").click(function(){ 
  $('#cliente_comentario').prop("disabled", false);
  $('#cliente_comentario').css('background-color', 'white');
  });


// A $( document ).ready() block.
$( document ).ready(function() {
 $( "#cliente_continuar" ).append( "<span class ='novi-icon fa fa-arrow-circle-right btn icon-xxs btn-icon-right' ></span>" );

  if($('#cliente_telefono').is(':disabled')){

    $('#cliente_telefono').css('background-color', '#00000052');
  }

   if($('#cliente_nombre').is(':disabled')){

    $('#cliente_nombre').css('background-color', '#00000052');
  }

 if($('#cliente_apellidos').is(':disabled')){

    $('#cliente_apellidos').css('background-color', '#00000052');
  }

 if($('#cliente_correo').is(':disabled')){

    $('#cliente_correo').css('background-color', '#00000052');
  }

 if($('#cliente_direccion').is(':disabled')){

    $('#cliente_direccion').css('background-color', '#00000052');
  }

 if($('#cliente_comentario').is(':disabled')){

    $('#cliente_comentario').css('background-color', '#00000052');
  }

$('#cliente_telefono').on('input', function () { 
    this.value = this.value.replace(/[^0-9]/g,'');
});

});
</script>

{% endblock %}

