
{% extends 'base.html.twig' %}

{% block content %}
{% include 'breadcrumbs.html.twig' %}
          <!-- Section Input Groups-->
      <section class="section novi-background section-20" id='seccion-principal'>
        <div class="container card">
             <div class="card-header text-center"><h1>Registro Del Cliente</h1></div>
          <div class="row justify-content-md-center text-left">
            <div class="col-md-7 col-lg-4">
           <div id="messageBox" style="display: none;  text-align: center;" class="alert alert-danger" role="alert"></div>

            {{ form_start(formulario,{'attr': { 'id': 'form_cliente'}}) }}
       
                <div class="form-group">
                  <div class="input-group input-group-sm"><span class="input-group-prepend"><span class="input-group-text input-group-icon"><span class="novi-icon mdi mdi-cellphone-iphone"></span></span></span>
                
                  {{ form_widget(formulario.telefono, {'attr': {'readonly': true,'class': 'form-control','placeholder': 'Telefono'}}) }}
 
                    <span class="input-group-append">
                      
                  </div>
                </div>

             <div class="form-group">
                  <div class="input-group input-group-sm"><span class="input-group-prepend"><span class="input-group-text input-group-icon"><span class="novi-icon fa fa-user-plus"></span></span></span>
                 
                 {{ form_widget(formulario.nombre, {'attr': {'minlength':'3','class': 'form-control','placeholder': 'Nombre'}}) }}

                <span class="input-group-append">                    
                 
                  </div>
             </div>

             <div class="form-group">
                  <div class="input-group input-group-sm"><span class="input-group-prepend"><span class="input-group-text input-group-icon"><span class="novi-icon fa fa-users"></span></span></span>
                  
                   {{ form_widget(formulario.apellidos, {'attr': {'minlength':'3','class': 'form-control','placeholder': 'Apellido'}}) }}
                 
                  <span class="input-group-append">                    
                
                  </div>
             </div>

             <div class="form-group">
                  <div class="input-group input-group-sm"><span class="input-group-prepend"><span class="input-group-text input-group-icon"><span class="novi-icon mdi mdi-email"></span></span></span>
                 
                 {{ form_widget(formulario.correo, {'attr': { 'class': 'form-control','placeholder': 'Correo Electronico'}}) }}
                    
                  <span class="input-group-append">                    
                 
                  </div>
             </div>

             <div class="form-group">
                  <div class="input-group input-group-sm"><span class="input-group-prepend"><span class="input-group-text input-group-icon"><span class="novi-icon fa fa-map-marker"></span></span></span>
                 
                   {{ form_widget(formulario.direccion, {'attr': {'class': 'form-control','placeholder': 'Direccion'}}) }}
         
                  <span class="input-group-append">                    
                 
                  </div>
             </div>

             <div class="form-group">
                  <div class="input-group input-group-sm"><span class="input-group-prepend"><span class="input-group-text input-group-icon"><span class="novi-icon fa fa-book"></span></span></span>
                      

                  {{ form_widget(formulario.comentario, {'attr': {'class': 'form-control','placeholder': 'Comentario'}}) }}
                  
                  <span class="input-group-append">                    
                 
                  </div>
             </div>


                <div class="form-output" id="components-form-subscribe-footer"></div>

                <div class=" row justify-content-md-center group offset-top-34">
                 
           {{ form_row(formulario.continuar) }}
            
        
          </div>

              {{ form_end(formulario) }}


            </div>
          </div>
        </div>
      </section>

  </body>
</html>

{% endblock %}

{% block javascripts %} 
{{parent()}}

<script>

$("#form_cliente").validate({
   errorLabelContainer: "#messageBox",
    wrapper: "li",
    rules: {
      'cliente[telefono]': {
      required: true, minlength: 3},
      'cliente[nombre]': {
      required: true, minlength: 3},
      'cliente[apellidos]': {
      required: true, minlength: 3
    },
    
    },
    messages: {
      'cliente[nombre]': {required: "Nombre Requerido", minlength: "Minimo 3 Caracteres" },
      'cliente[apellidos]': {required: "Apellido Requerido", minlength: "Minimo 3 Caracteres" },
     
      'cliente[telefono]': {required: "Telefono Requerido", minlength: "Minimo 8 Caracteres" }},
 });
     
 $('#cliente_telefono').on('input', function () { 
    this.value = this.value.replace(/[^0-9]/g,'');
});    


 </script>

{% endblock %}