{% extends 'base.html.twig' %}

{% block title %}Solicitud Turismo{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('images/favicon.ico') }}" type="text/css" rel="icon"/>
    <link href="{{ asset('css/carousel.css') }}" type="text/css" rel="stylesheet"/>
    <link href="{{ asset('css/style.css') }}" type="text/css" rel="stylesheet"/>
    <link href="{{ asset('css/custom.css') }}" type="text/css" rel="stylesheet"/>
    <link href="{{ asset('css/style-sunset.css') }}" type="text/css" rel="stylesheet"/>
    <link href="{{ asset('css/bootstrap.min.css') }}" type="text/css" rel="stylesheet"/>
    <link href="{{ asset('//fonts.googleapis.com/css?family=Montserrat:400,700%7CLato:300,300italic,400,700,900%7CYesteryear') }}"
          type="text/css" rel="stylesheet"/>
    <link rel="stylesheet" href="{{ asset('css/contabilidad_styles.css') }}">
    <link rel="stylesheet" href="{{ asset('css/tarjetas.css') }}"/>
    <link href="{{ asset('css/select2.min.css') }}" rel="stylesheet"/>
    <style>
        .nav-tabs .nav-item .nav-link.active{
            color: #0d0a0a;
        }
        .nav-tabs .nav-item .nav-link{
            color: #ffffff;
        }
        .toggle.btn.btn-outline-warning.btn-sm {
            width: 150px !important;
        }
        .toggle.btn.btn-outline-success.btn-sm {
            width: 150px !important;
        }
    </style>
    <link href="{{ asset('datetime/css/bootstrap-datetimepicker.min.css') }}" rel="stylesheet">
    <link href="{{ asset('datetime/css/bootstrap-datetimepicker.css') }}" rel="stylesheet">
    <link href="{{ asset('datetime/css/bootstrap-datetimepicker.css') }}" rel="stylesheet">
    <link href="{{ asset('switch/css/bootstrap4-toggle.min.css') }}" rel="stylesheet">
{%endblock%}
{% block content %}
    {% include 'breadcrumbs.html.twig' %}
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

    <div class="container-fluid">
        {# header #}
        <div class="d-flex align-items-center">
            <h4 class="mr-auto display-4 mb-0 mr-auto title-table text-light">
                Solicitud Turismo
            </h4>
        </div>
        {# end header #}
        <div>
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="vuelo-tab" data-toggle="tab" href="#vuelo" role="tab" aria-controls="vuelo" aria-selected="true"><span>Datos de Vuelo</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="hotel-tab" data-toggle="tab" href="#hotel" role="tab" aria-controls="hotel" aria-selected="false"><span>Datos de Hotel</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="tranfer-tab" data-toggle="tab" href="#tranfer" role="tab" aria-controls="tranfer" aria-selected="false">Datos del tranfer</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="tour-tab" data-toggle="tab" href="#tour" role="tab" aria-controls="tour" aria-selected="false">Datos de Tour</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="renta-tab" data-toggle="tab" href="#renta" role="tab" aria-controls="renta" aria-selected="false">Datos de la Renta de autos</a>
                </li>
                <li class="nav-item">
                    <!--a class="nav-pills" id="precesar-tab" data-toggle="" href="#precesar" role="tab" aria-controls="precesar" aria-selected="false">Procesar</a-->
                    <div>
                        <button id="procesar" class="btn btn-outline-light">Procesar</button>
                    </div>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="vuelo" role="tabpanel" aria-labelledby="vuelo-tab">
                    {# header #}
                    <div class=" align-items-center text-center">
                        <h2 class="text-reporte text-center mr-0 text-white mt-2">
                            Solicitud de Vuelo
                        </h2>
                    </div>
                    {# end header #}
                    <div class="col-9 text-light container d-flex justify-content-center mb-3">
                        {{ form_start(form_vuelo) }}
                        <div class="row justify-content-center form-group input-group input-group-sm d-inline-flex">
                            <div class="col-4 input-group-sm">
                                {{ form_label(form_vuelo.cant_adulto) }}
                                {{ form_widget(form_vuelo.cant_adulto) }}
                            </div>
                            <div class="col-4 input-group-sm mt-0">
                                {{ form_label(form_vuelo.cant_nino) }}
                                {{ form_widget(form_vuelo.cant_nino) }}
                            </div>
                            <div class="col-4 input-group-sm mt-0">
                                {{ form_label(form_vuelo.origen) }}
                                {{ form_widget(form_vuelo.origen) }}
                            </div>
                        </div>
                        <div class="row justify-content-center form-group input-group input-group-sm d-inline-flex mt-0">
                            <div class="col-4 input-group-sm mt-0">
                                {{ form_label(form_vuelo.destino) }}
                                {{ form_widget(form_vuelo.destino) }}
                            </div>
                            <div class="col-4 input-group-sm mt-0">
                                <label for="fecha_vuelo">Fecha de Vuelo</label>
                                {# { form_widget(form_vuelo.fecha) }#}
                                <input name="fecha_vuelo" type="text" class=" w-100 form-control" id="fecha_vuelo">
                            </div>
                            <div class="col-4 input-group-sm mt-4" style="padding-top: 10px;">
                                <label for="viaje_vuelo">Viaje</label>
                                {# { form_widget(form_vuelo.fecha) }#}
                                <input name="viaje_vuelo" id="viaje_vuelo" type="checkbox" checked data-toggle="toggle" data-on="Ida" data-off="Ida/Retorno" data-size="sm" data-onstyle="outline-warning">
                            </div>
                        </div>
                        <div class="row justify-content-center form-group input-group input-group-sm d-inline-flex mt-0">
                            <div class="col input-group-sm">
                                {{ form_label(form_vuelo.comentario) }}
                                {{ form_widget(form_vuelo.comentario) }}
                            </div>
                        </div>
                    </div>
                    {{ form_end(form_vuelo) }}
                </div>
                <div class="tab-pane fade" id="hotel" role="tabpanel" aria-labelledby="hotel-tab">
                    {# header #}
                    <div class=" align-items-center text-center">
                        <h2 class="text-reporte text-center mr-0 text-white mt-2">
                            Solicitud de Hotel
                        </h2>
                    </div>
                    {# end header #}
                    <div class="col-9 text-light container d-flex justify-content-center mb-3">
                        {{ form_start(form_hotel) }}
                        <div class="row justify-content-center form-group input-group input-group-sm d-inline-flex">
                            <div class="col-3 input-group-sm mt-0">
                                {{ form_label(form_hotel.hotel) }}
                                {{ form_widget(form_hotel.hotel) }}
                            </div>
                            <div class="col-3 input-group-sm mt-0">
                                {{ form_label(form_hotel.cant_adulto) }}
                                {{ form_widget(form_hotel.cant_adulto) }}
                            </div>
                            <div class="col-3 input-group-sm mt-0">
                                {{ form_label(form_hotel.cant_nino) }}
                                {{ form_widget(form_hotel.cant_nino) }}
                            </div>
                            <div class="col-3 input-group-sm mt-0">
                                {{ form_label(form_hotel.destino) }}
                                {{ form_widget(form_hotel.destino) }}
                            </div>
                        </div>
                        <div class="row justify-content-center form-group input-group input-group-sm d-inline-flex mt-0">
                            <div class="col-3 input-group-sm mt-0">
                                <label for="categoria">Categoria de Hotel</label>
                                <input type="text" name="categoria" class=" w-100 form-control" id="categoria">
                            </div>
                            <div class="col-3 input-group-sm mt-0">
                                <label for="plan">Plan del Hotel</label>
                                <input type="text" name="plan" class=" w-100 form-control" id="plan">
                            </div>
                            <div class="col-3 input-group-sm mt-0">
                                <label for="fecha_hoteld">Fecha desde</label>
                                <input type="text" class=" w-100 form-control" id="fecha_hoteld">
                            </div>
                            <div class="col-3 input-group-sm mt-0">
                                <label for="fecha_hotelh">Fecha hasta</label>
                                <input type="text" class=" w-100 form-control" id="fecha_hotelh">
                            </div>
                        </div>
                        <div class="row justify-content-center form-group input-group input-group-sm d-inline-flex mt-0">
                            <div class="col input-group-sm">
                                {{ form_label(form_hotel.comentario) }}
                                {{ form_widget(form_hotel.comentario) }}
                            </div>
                        </div>
                    </div>
                    {{ form_end(form_hotel) }}
                </div>
                <div class="tab-pane fade" id="tranfer" role="tabpanel" aria-labelledby="tranfer-tab">
                    {# header #}
                    <div class=" align-items-center text-center">
                        <h2 class="text-reporte text-center mr-0 text-white mt-2">
                            Solicitud de Tranfer
                        </h2>
                    </div>
                    {# end header #}
                    <div class="col-9 text-light container d-flex justify-content-center mb-3">
                        {{ form_start(form_tranfer) }}
                        <div class="row justify-content-center form-group input-group input-group-sm d-inline-flex">
                            <div class="col-3 input-group-sm mt-0">
                                {{ form_label(form_tranfer.cant_adulto) }}
                                {{ form_widget(form_tranfer.cant_adulto) }}
                            </div>
                            <div class="col-3 input-group-sm mt-0">
                                {{ form_label(form_tranfer.cant_nino) }}
                                {{ form_widget(form_tranfer.cant_nino) }}
                            </div>
                            <div class="col-3 input-group-sm mt-0">
                                <label for="fecha_tranfer">Fecha</label>
                                <input type="text" class=" w-100 form-control" id="fecha_tranfer">
                            </div>
                            <div class="col-3 input-group-sm mt-0">
                                <div class="input-group-sm mt-0">
                                    <label for="fecha_tranfers">Fecha de salida</label>
                                    <input type="text" class=" w-100 form-control" id="fecha_tranfers">
                                </div>
                            </div>
                        </div>
                        <div class="row justify-content-center form-group input-group input-group-sm d-inline-flex mt-0">
                            <div class="col-3 input-group-sm mt-0">
                                {{ form_label(form_tranfer.origen) }}
                                {{ form_widget(form_tranfer.origen) }}
                            </div>
                            <div class="col-3 input-group-sm mt-0">
                                {{ form_label(form_tranfer.destino) }}
                                {{ form_widget(form_tranfer.destino) }}
                            </div>
                            <div class="col-3 input-group-sm mt-0">
                                {{ form_label(form_tranfer.tipoVehiculo) }}
                                {{ form_widget(form_tranfer.tipoVehiculo) }}
                            </div>
                            <div class="col-3 input-group-sm mt-4" style="padding-top: 10px;">
                                <label for="tranfer_retorno">Viaje</label>
                                <input style="margin-top: 10px;" id="tranfer_retorno" type="checkbox" checked data-toggle="toggle" data-on="Ida" data-off="Ida/Retorno" data-size="sm" data-onstyle="outline-warning" data-offstyle="outline-success">
                            </div>

                        </div>
                        <div class="row justify-content-center form-group input-group input-group-sm d-inline-flex mt-0">
                            <div class="col input-group-sm">
                                {{ form_label(form_tranfer.comentario) }}
                                {{ form_widget(form_tranfer.comentario) }}
                            </div>
                        </div>
                    </div>
                    {{ form_end(form_tranfer) }}
                </div>
                <div class="tab-pane fade" id="tour" role="tabpanel" aria-labelledby="tour-tab">
                    {# header #}
                    <div class=" align-items-center text-center">
                        <h2 class="text-reporte text-center mr-0 text-white mt-2">
                            Solicitud de Tour
                        </h2>
                    </div>
                    {# end header #}
                    <div class="col-9 text-light container d-flex justify-content-center mb-3">
                        {{ form_start(form_tour) }}
                        <div class="row justify-content-center form-group input-group input-group-sm d-inline-flex">
                            <div class="col-3 w-100 input-group-sm mt-0">
                                {{ form_label(form_tour.tour) }}
                                {{ form_widget(form_tour.tour) }}
                            </div>
                            <div class="col-3 w-100 input-group-sm mt-0">
                                {{ form_label(form_tour.cant_adulto) }}
                                {{ form_widget(form_tour.cant_adulto) }}
                            </div>
                            <div class="col-3 w-100 input-group-sm mt-0">
                                {{ form_label(form_tour.cant_nino) }}
                                {{ form_widget(form_tour.cant_nino) }}
                            </div>
                            <div class="col-3 w-100 input-group-sm mt-0">
                                <label for="fecha_tour">Fecha de Salida</label>
                                <input type="text" class=" w-100 form-control" id="fecha_tour">
                            </div>
                        </div>
                        <div class="row justify-content-center form-group input-group input-group-sm d-inline-flex mt-0">
                            <div class="col w-100 input-group-sm">
                                {{ form_label(form_tour.comentario) }}
                                {{ form_widget(form_tour.comentario) }}
                            </div>
                        </div>
                    </div>
                    {{ form_end(form_hotel) }}

                </div>
                <div class="tab-pane fade" id="renta" role="tabpanel" aria-labelledby="renta-tab">
                    {# header #}
                    <div class=" align-items-center text-center">
                        <h2 class="text-reporte text-center mr-0 text-white mt-2">
                            Solicitud de RentCar
                        </h2>
                    </div>
                    {# end header #}
                    <div class="col-9 text-light container d-flex justify-content-center mb-3">
                        {{ form_start(form_rentcar) }}
                        <div class="row justify-content-center form-group input-group input-group-sm d-inline-flex">
                            <div class="col-4 w-100 input-group-sm mt-0">
                                {{ form_label(form_rentcar.cant_persona) }}
                                {{ form_widget(form_rentcar.cant_persona) }}
                            </div>
                            <div class="col-4 w-100 input-group-sm mt-0">
                                {{ form_label(form_rentcar.tipoVehiculo) }}
                                {{ form_widget(form_rentcar.tipoVehiculo) }}
                            </div>
                            <div class="col-4 w-100 input-group-sm mt-0">
                                {{ form_label(form_rentcar.recogida) }}
                                {{ form_widget(form_rentcar.recogida) }}
                            </div>
                        </div>
                        <div class="row justify-content-center form-group input-group input-group-sm d-inline-flex mt-0">
                            <div class="col-4 w-100 input-group-sm mt-0">
                                {{ form_label(form_rentcar.entrega) }}
                                {{ form_widget(form_rentcar.entrega) }}
                            </div>
                            <div class="col-4 w-100 input-group-sm mt-0">
                                <label for="fecha_rentcard">Fecha desde</label>
                                <input type="text" class=" w-100 form-control" id="fecha_rentcard">
                            </div>
                            <div class="col-4 w-100 input-group-sm mt-0">
                                <label for="fecha_rentcarh">Fecha hasta</label>
                                <input type="text" class=" w-100 form-control" id="fecha_rentcarh">
                            </div>
                        </div>
                        <div class="row justify-content-center form-group input-group input-group-sm d-inline-flex mt-0">
                            <div class="col w-100 input-group-sm">
                                {{ form_label(form_rentcar.comentario) }}
                                {{ form_widget(form_rentcar.comentario) }}
                            </div>
                        </div>
                    </div>
                    {{ form_end(form_hotel) }}
                </div>

            </div>
        </div>


    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('datetime/js/moment.min.js') }}"></script>
    <script src="{{ asset('datetime/js/bootstrap-datetimepicker.min.js') }}"></script>
    <script src="{{ asset('switch/js/bootstrap4-toggle.min.js') }}"></script>
    <script>
        const TEXT_SELECT = '... seleccione ...';
        var valVuelo = false
        var valHotel = false
        var valtranfer = false
        var valTour = false
        var valRentCar = false

        $(document).ready(function () {
            $('select').prepend('<option selected = "false" value = "-1" disabled>' + TEXT_SELECT + '</option>')
            $('#fecha_vuelo').datetimepicker()
            $('#fecha_hoteld').datetimepicker()
            $('#fecha_hotelh').datetimepicker()
            $('#fecha_tour').datetimepicker()
            $('#fecha_tranfer').datetimepicker()
            $('#fecha_tranfers').datetimepicker()
            $('#fecha_rentcard').datetimepicker()
            $('#fecha_rentcarh').datetimepicker()
            $('#categoria').prop('disabled','true')
            $('#plan').prop('disabled','true')
            $('#sol_vuelo_cant_adulto').prop('type','number')
            $('#sol_vuelo_cant_nino').prop('type','number')
            $('#sol_hotel_cant_adulto').prop('type','number')
            $('#sol_hotel_cant_nino').prop('type','number')
            $('#sol_tranfer_cant_adulto').prop('type','number')
            $('#sol_tranfer_cant_nino').prop('type','number')
            $('#sol_tour_cant_adulto').prop('type','number')
            $('#sol_tour_cant_nino').prop('type','number')
            $('#sol_rent_car_cant_persona').prop('type','number')
        })
        $('#sol_hotel_hotel').on('change',function (){
            $('#categoria').val('');
            $('#plan').val('');
            $.ajax({
                url: '/turismo-module/solicitud/hotel',
                method: "POST",
                data: {id:$('#sol_hotel_hotel').val()}
            }).done(function (resp,dat){
                console.log(resp.data);
                $('#categoria').val(resp.data['categoria']);
                $('#plan').val(resp.data['plan']);
            })
        })




        $('#procesar').on('click',function (){
            /*$("form[name='sol_vuelo']").prop('action','/turismo-module/solicitud/add')
            $("form[name='sol_vuelo']").submit();*/
            Validador();
            let datos = {}
            if(valVuelo) {
                datos = ({
                    vuelo: true,
                    cant_adulto_vuelo: $('#sol_vuelo_cant_adulto').val(),
                    cant_nino_vuelo: $('#sol_vuelo_cant_nino').val(),
                    origen_vuelo: $('#sol_vuelo_origen').val(),
                    destino_vuelo: $('#sol_vuelo_destino').val(),
                    fecha_vuelo: $('#fecha_vuelo').val(),
                    viaje_vuelo: $('#viaje_vuelo').prop('checked'),
                    comentario_vuelo: $('#sol_vuelo_comentario').val()
                })
            }
            if(valHotel){
                Object.defineProperty(datos,'hotel',{
                    value:true,
                    writable: true,
                    configurable: true,
                    enumerable: true
                })
                Object.defineProperty(datos,'nombre_hotel',{
                    value:$('#sol_hotel_hotel').val(),
                    writable: true,
                    configurable: true,
                    enumerable: true
                })
                Object.defineProperty(datos,'cant_adulto_hotel',{
                    value:$('#sol_hotel_cant_adulto').val() ,
                    writable: true,
                    configurable: true,
                    enumerable: true
                })
                Object.defineProperty(datos,'cant_nino_hotel',{
                    value:$('#sol_hotel_cant_nino').val(),
                    writable: true,
                    configurable: true,
                    enumerable: true
                })
                Object.defineProperty(datos,'destino_hotel',{
                    value: $('#sol_hotel_destino').val(),
                    writable: true,
                    configurable: true,
                    enumerable: true
                })
                Object.defineProperty(datos,'categoria_hotel',{
                    value:$('#categoria').val(),
                    writable: true,
                    configurable: true,
                    enumerable: true
                })
                Object.defineProperty(datos,'plan_hotel',{
                    value:$('#plan').val(),
                    writable: true,
                    configurable: true,
                    enumerable: true
                })
                Object.defineProperty(datos,'fechad_hotel',{
                    value:$('#fecha_hoteld').val(),
                    writable: true,
                    configurable: true,
                    enumerable: true
                })
                Object.defineProperty(datos,'fechah_hotel',{
                    value:$('#fecha_hotelh').val(),
                    writable: true,
                    configurable: true,
                    enumerable: true
                })
                Object.defineProperty(datos,'comentario_hotel',{
                    value:$('#sol_hotel_comentario').val(),
                    writable: true,
                    configurable: true,
                    enumerable: true
                })
            }

            if(valtranfer){
                Object.defineProperty(datos,'tranfer',{
                    value:true,
                    writable: true,
                    configurable: true,
                    enumerable: true
                })
                Object.defineProperty(datos,'cant_adulto_tranfer',{
                    value:$('#sol_tranfer_cant_adulto').val(),
                    writable: true,
                    configurable: true,
                    enumerable: true
                })
                Object.defineProperty(datos,'cant_nino_tranfer',{
                    value:$('#sol_tranfer_cant_nino').val() ,
                    writable: true,
                    configurable: true,
                    enumerable: true
                })
                Object.defineProperty(datos,'fecha_tranfer',{
                    value:$('#fecha_tranfer').val(),
                    writable: true,
                    configurable: true,
                    enumerable: true
                })
                Object.defineProperty(datos,'fechas_tranfer',{
                    value: $('#fecha_tranfers').val(),
                    writable: true,
                    configurable: true,
                    enumerable: true
                })
                Object.defineProperty(datos,'origen_tranfer',{
                    value:$('#sol_tranfer_origen').val(),
                    writable: true,
                    configurable: true,
                    enumerable: true
                })
                Object.defineProperty(datos,'destino_tranfer',{
                    value:$('#sol_tranfer_destino').val(),
                    writable: true,
                    configurable: true,
                    enumerable: true
                })
                Object.defineProperty(datos,'tipoVehiculo_tranfer',{
                    value:$('#sol_tranfer_tipoVehiculo').val(),
                    writable: true,
                    configurable: true,
                    enumerable: true
                })
                Object.defineProperty(datos,'viaje_tranfer',{
                    value:$('#tranfer_retorno').prop('checked'),
                    writable: true,
                    configurable: true,
                    enumerable: true
                })
                Object.defineProperty(datos,'comentario_tranfer',{
                    value:$('#sol_tranfer_comentario').val(),
                    writable: true,
                    configurable: true,
                    enumerable: true
                })
            }

            if(valTour){
                Object.defineProperty(datos,'tour',{
                    value:true,
                    writable: true,
                    configurable: true,
                    enumerable: true
                })
                Object.defineProperty(datos,'cant_adulto_tour',{
                    value:$('#sol_tour_cant_adulto').val(),
                    writable: true,
                    configurable: true,
                    enumerable: true
                })
                Object.defineProperty(datos,'cant_nino_tour',{
                    value:$('#sol_tour_cant_nino').val() ,
                    writable: true,
                    configurable: true,
                    enumerable: true
                })
                Object.defineProperty(datos,'fecha_tour',{
                    value:$('#fecha_tour').val(),
                    writable: true,
                    configurable: true,
                    enumerable: true
                })
                Object.defineProperty(datos,'nombre_tour',{
                    value: $('#sol_tour_tour').val(),
                    writable: true,
                    configurable: true,
                    enumerable: true
                })
                Object.defineProperty(datos,'comentario_tour',{
                    value: $('#sol_tour_comentario').val(),
                    writable: true,
                    configurable: true,
                    enumerable: true
                })
            }

            if(valRentCar){
                Object.defineProperty(datos,'rentcar',{
                    value:true,
                    writable: true,
                    configurable: true,
                    enumerable: true
                })
                Object.defineProperty(datos,'cant_persona_rentcar',{
                    value:$('#sol_rent_car_cant_persona').val(),
                    writable: true,
                    configurable: true,
                    enumerable: true
                })
                Object.defineProperty(datos,'tipoVehiculo_rentcar',{
                    value:$('#sol_rent_car_tipoVehiculo').val() ,
                    writable: true,
                    configurable: true,
                    enumerable: true
                })
                Object.defineProperty(datos,'recogida_rentcar',{
                    value:$('#sol_rent_car_recogida').val(),
                    writable: true,
                    configurable: true,
                    enumerable: true
                })
                Object.defineProperty(datos,'entrega_rentcar',{
                    value: $('#sol_rent_car_entrega').val(),
                    writable: true,
                    configurable: true,
                    enumerable: true
                })
                Object.defineProperty(datos,'fechad_rentcar',{
                    value: $('#fecha_rentcard').val(),
                    writable: true,
                    configurable: true,
                    enumerable: true
                })
                Object.defineProperty(datos,'fechah_rentcar',{
                    value: $('#fecha_rentcarh').val(),
                    writable: true,
                    configurable: true,
                    enumerable: true
                })
                Object.defineProperty(datos,'comentario_rentcar',{
                    value: $('#sol_rent_car_comentario').val(),
                    writable: true,
                    configurable: true,
                    enumerable: true
                })
            }

            //console.log(datos)
            if(valVuelo || valHotel || valRentCar || valTour || valtranfer){
                loadingModal.show()
                $.ajax({
                    url: '/turismo-module/solicitud/add',
                    method: "POST",
                    data: datos
                }).then(res => {
                    window.location.replace('/turismo-module/solicitud');
                })
            }
        })
        //Validando los formularios
        function Validador() {
            //Vuelo
            if ($('#sol_vuelo_cant_adulto').val() && $('#sol_vuelo_cant_nino').val() && $('#sol_vuelo_origen').val() && $('#sol_vuelo_destino').val() && $('#fecha_vuelo').val()){
                if($('#sol_vuelo_cant_adulto').val() != '' && $('#sol_vuelo_cant_nino').val() != ''){
                    valVuelo = true
                }
            }
            //Hotel
            if($('#sol_hotel_hotel').val() && $('#sol_hotel_cant_adulto').val() && $('#sol_hotel_cant_nino').val() && $('#sol_hotel_destino').val() && $('#categoria').val() && $('#plan').val() && $('#fecha_hoteld').val() && $('#fecha_hotelh').val()){
             if ($('#sol_hotel_cant_adulto').val() != '' && $('#sol_hotel_cant_nino').val() != ''){
                 valHotel = true
             }
            }
            //Tranfer
            if($('#sol_tranfer_cant_adulto').val() && $('#sol_tranfer_cant_nino').val() && $('#fecha_tranfer').val() && $('#fecha_tranfers').val() && $('#sol_tranfer_origen').val() && $('#sol_tranfer_destino').val() && $('#sol_tranfer_tipoVehiculo').val()){
                if($('#sol_tranfer_cant_adulto').val() != '' && $('#sol_tranfer_cant_nino').val() != ''){
                    valtranfer = true
                }
            }
            //Tour
            if($('#sol_tour_tour').val() && $('#sol_tour_cant_adulto').val() && $('#sol_tour_cant_nino').val() && $('#fecha_tour').val()){
                if($('#sol_tour_cant_adulto').val() != '' && $('#sol_tour_cant_nino').val() != ''){
                    valTour = true
                }
            }
            //Tour
            if($('#sol_rent_car_cant_persona').val() && $('#sol_rent_car_tipoVehiculo').val() && $('#sol_rent_car_recogida').val() && $('#sol_rent_car_entrega').val() && $('#fecha_rentcard').val() && $('#fecha_rentcarh').val()){
                if($('#sol_rent_car_cant_persona').val() != ''){
                    valRentCar = true
                }
            }
        }

        $('#sol_vuelo_origen').change(function (){
            origen_vuelo = $('#sol_vuelo_origen').val()
            $('#sol_vuelo_destino option').show()
            $('#sol_vuelo_destino option[value = '+origen_vuelo+']').hide()
        })
        $('#sol_vuelo_destino').change(function (){
            destino_vuelo = $('#sol_vuelo_destino').val()
            $('#sol_vuelo_origen option').show()
            $('#sol_vuelo_origen option[value = '+destino_vuelo+']').hide()
        })

        $('#sol_tranfer_origen').change(function (){
            origen_tranfer = $('#sol_tranfer_origen').val()
            $('#sol_tranfer_destino option').show()
            $('#sol_tranfer_destino option[value = '+origen_tranfer+']').hide()
        })
        $('#sol_tranfer_destino').change(function (){
            destino_tranfer = $('#sol_tranfer_destino').val()
            $('#sol_tranfer_origen option').show()
            $('#sol_tranfer_origen option[value = '+destino_tranfer+']').hide()
        })

    </script>
{% endblock %}
