{% extends 'base.html.twig' %}

{% block content %}
	{% set total = null %}
	{% include 'breadcrumbs.html.twig' %}
	<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
	<section class="section novi-background section-66 section-sm-bottom-110">
		<div class="container">
			<h1 class="text-reporte">Reporte de Usuario Agencia {{agencia.nombre}}
			</h1>
			<hr class="divider bg-mantis">
			 <button  type="button" data-toggle="modal" data-target="#agregarAgencia" class="btn btn-sm btn-outline-dark"   >Agregar Usurio Ala Agencia</button>
		<!-- Bootstrap Table-->
		<div class="table-responsive clearfix">
			<table class="table table-striped tabla-reporte">
				<tbody>
					<tr>
                       <th>No</th>
						<th>User</th>
                        <th>Agencias</th>
                        <th>Acciones</th>
					</tr>
					{# table body #}
        {% for data in pagination %}
        <tr {% if loop.index is odd %}class="color"{% endif %}>
            <td> {{ data.id }}</td>     
            <td>{{ data.username}}</td>

            {% if data.idAgencia == agencia.id %}
               <td> {{agencia.nombre}}</td>
              {% endif %}

            
          
            <td>

<svg xmlns="http://www.w3.org/2000/svg" onclick="borrar()" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
  <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
  <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
</svg>


</td>   
        </tr>
    {% endfor %}    
				</tbody>
			</table>
			<hr style="background-color: white; margin-top: 0px;">
			{# display navigation #}
			<div class="navigation">{{ knp_pagination_render(pagination) }}</div>
      <div class="count contador">Agencias: {{ pagination.getTotalItemCount }} </div>
	</div>
</div></div></div></section>
    <!-- Modal -->
<div class="modal fade" id="agregarAgencia" tabindex="-1" role="dialog" aria-labelledby="agregarAgencia" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editar-origen-titulo">Agregar</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
         <div class="form-group">
    <label for="exampleInputEmail1">Usuarios</label>
    <select id="selectUser" class="form-control form-control-sm">
 {% for user in users %}
        <option value="{{user.id}}" > {{ user.userName }}</option>
    {% endfor %}
</select>
    <small id="emailHelp" class="form-text text-muted">Elija un Usuario</small>
  </div>
      </div>
      <div class="modal-footer">
       
        <button id="botonAgregarAgencia" type="button"class="btn btn-dark">Agregar</button>
      </div>
    </div>
  </div>
</div>

{% endblock %}



{% block javascripts %} 
{{parent()}}
<script>


$( "#botonAgregarAgencia" ).click(function() {
  
   window.location.href = "/agencias/user/add/"+{{agencia.id}}+"/"+$( "#selectUser option:selected" ).val();;

});

function borrar(id) {

 $('#confirm__modal').modal('show'); // abrir

  $( "#confirm__modal__btn_ok" ).click(function() {

  window.location.href = "/agencias/borrar/"+id;

});
}



</script>


{% endblock %} 