{% extends('contabilidad/inventario/print_base.html.twig') %}
{% block title %} Imprimir Nómina {% endblock %}
{% block body %}
    <div>
        {% for item in datos %}
            <div style="page-break-before: always;"></div>
            <p>
            <table border="0" width="960px" class="mt-1 mb-2">
                <tbody>
                <tr>
                    <td colspan="7" height="70px" class="font-weight-bold text-center text-uppercase">{{ title }}
                        <br>Mes: {{ mes }}
                        Año: {{ anno }} {% if quincena == 3 %}Pago Extraordinario {% else %}Quincena: {{ quincena }}{% endif %}
                    </td>
                </tr>
                <tr>
                    <td colspan="6"><strong>Unidad: </strong> {{ unidad }}</td>
                    <td class="text-right"><strong>Fecha de Impresión: </strong> {{ fecha_impresion }}</td>
                </tr>
                </tbody>
            </table>
            <table border="0" width="960px" class="text-center">
                <thead class="bg-dark font-weight-bold text-white">
                <th width="100px">Sueldo Bruto</th>
                <th class="text-center" width="400px">Comisiones</th>
                <th width="260px" class="text-center">Vacaciones</th>
                <th width="260px" class="text-center">Horas Extra</th>
                <th width="260px" class="text-center">Otros</th>
                <th width="260px" class="text-center">Total Ingresos</th>
                <th width="260px" class="text-center">Total Deducido</th>
                <th width="260px" class="text-center">Sueldo Neto a Pagar</th>
                            <th width="260px" class="text-center">Firma</th>
                </thead>

                <tbody>

                {% if item.empleado != 'TOTAL' %}
                    <tr style="background-color: lightgrey !important;">

                        <td style="font-weight:400; text-align: left" colspan="9" class="pl-0 pr-0">{{ item.empleado }}
                            ({{ item.identificacion }})
                        </td>
                    </tr>
                    <tr>
                        <td style="font-weight:400;" class="text-right">{{ item.sueldo_bruto }}</td>
                        <td style="font-weight:400;" class="text-right">{{ item.comision }}</td>
                        <td style="font-weight:400;" class="text-right">{{ item.vacaciones }}</td>
                        <td style="font-weight:400;" class="text-right">{{ item.horas_extra }}</td>
                        <td style="font-weight:400;" class="text-right">{{ item.otros }}</td>
                        <td style="font-weight:400;" class="text-right">{{ item.total_ingresos }}</td>
                        <td style="font-weight:400;" class="text-right">{{ item.total_deducido }}</td>
                        <td style="font-weight:400;" class="text-right">{{ item.sueldo_neto_pagar }}</td>
                                                <td style="font-weight:400; border-bottom: 1px" class="text-right"></td>
                    </tr>
{#                {% else %}#}
{#                    <tr class="bg-dark font-weight-bold text-white">#}
{#                        <td style="font-weight:400;" class="text-right">{{ item.sueldo_bruto }}</td>#}
{#                        <td style="font-weight:400;" class="text-right">{{ item.comision }}</td>#}
{#                        <td style="font-weight:400;" class="text-right">{{ item.vacaciones }}</td>#}
{#                        <td style="font-weight:400;" class="text-right">{{ item.horas_extra }}</td>#}
{#                        <td style="font-weight:400;" class="text-right">{{ item.otros }}</td>#}
{#                        <td style="font-weight:400;" class="text-right">{{ item.total_ingresos }}</td>#}
{#                        <td style="font-weight:400;" class="text-right">{{ item.total_deducido }}</td>#}
{#                        <td style="font-weight:400;" class="text-right">{{ item.sueldo_neto_pagar }}</td>#}
{#                                                <td style="font-weight:400; border-bottom: 1px" class="text-right"></td>#}
{#                    </tr>#}
                {% endif %}

                </tbody>
            </table>
        {% endfor %}
        <button id="btn_print" class="w-25 font-weight-bold text-uppercase btn btn-secondary ml-auto mt-5"
                onclick="imprimir()"> Imprimir
        </button>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        function imprimir() {
            $('#btn_print').hide()
            $('#paginator').hide()
            window.print()
            $('#btn_print').show()
            $('#paginator').show()
        }
    </script>
{% endblock %}