{% extends 'contabilidad/config/index.html.twig' %}
{% block style %}
{% endblock %}
{% block content %}
    <div class="container-fluid">

        {# .............. header ............... #}

        <div class="d-flex align-items-center">
            <h4 class="mr-auto display-4 mb-0 mr-auto title-table">
                Almacenes
            </h4>
            {% block formulario %}
            {% endblock %}
        </div>

        {# ................ list .............. #}

        <table class="table table-hover">
            <thead class="thead-dark">
            <th scope="col-10">Descripción</th>
            <th scope="col-1" width="150px">Acciones</th>
            </thead>
            <tbody>
            {% for item in almacenes %}
                <tr>
                    <td style="font-weight:400;">{{ item.descripcion }}</td>
                    <td>
                        <a href="{{ path('contabilidad_config_almacen_edit',{id: item.id}) }}" type="button"
                           class="btn btn-outline-dark btn-sm" data-toggle="tooltip"
                           data-placement="bottom" title="Editar">
                            <i class="fa fa-edit"></i>
                        </a>
                        <button type="button" class="btn btn-outline-danger btn-sm" data-toggle="tooltip"
                                data-placement="bottom" title="Eliminar"
                                onclick="onDeleteConfirm({
                                        message:'Está seguro que desea eliminar el almacén {{ item.descripcion }} ?',
                                        url:'{{ path('contabilidad_config_almacen_delete',{id: item.id}) }}'
                                        })">
                            <i class="fa fa-trash"></i>
                        </button>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function () {
            $('#almacen_descripcion').keypress(function (event) {
                $(event.target).removeClass('is-invalid')
                $('.alert').alert('close')
            })
        })
    </script>
{% endblock %}
