{% extends 'utils/modal_form.html.twig' %}

{% block modalbody %}

    {{ form_start(form,{'attr': {'class': 'text-left','id':'form_modal_target','method':'POST'}}) }}

    <div class="form-group input-group input-group-sm d-block">
        <label for="almacen_codigo" class="font-weight-bold">Código</label>
        {{ form_widget(form.codigo,{'attr': {'class': 'form-control w-100'}}) }}
    </div>
    <div class="form-group input-group input-group-sm d-block">
        <label for="almacen_descripcion" class="font-weight-bold">Descipción</label>
        {{ form_widget(form.descripcion,{'attr': {'class': 'form-control w-100'}}) }}
    </div>
    <div class="form-group input-group input-group-sm d-block">
        <label for="almacen_id_unidad" class="font-weight-bold">Unidad</label>
        {{ form_widget(form.id_unidad,{'attr': {'class': 'form-control w-100'}}) }}
    </div>
    <input type="text" id="id_alamcen" hidden>
    {{ form_end(form) }}

{% endblock %}