{% extends 'contabilidad/config/index.html.twig' %}
{% block style %}
    <style>
        label {
            display: none;
        }
    </style>
{% endblock %}
{% block content %}
    <div class="container-fluid">

        {# header #}
        <div class="d-flex align-items-center">
            <h4 class="mr-auto display-4 mb-0 mr-auto title-table text-light">
                Listado de Alamcenes
            </h4>
            <div>
                <button type="button" class="btn btn-primary btn-md" data-toggle="modal"
                        data-target="#modal__form__id" data-placement="bottom" title="Adicionar"
                        onclick="mostrarBtn()">
                    <i class="fa fa-plus"> Adicionar</i>
                </button>
            </div>
        </div>
        {# end header #}

        {# Modal de adicionar#}
        {{ include('contabilidad/config/almacen/form_modal.html.twig',{title:'add'}) }}
        {# list #}
        <table class="table-small-rows table table-hover text-light">
            <thead class="thead-dark">
            <th scope="col-2">Codigo</th>
            <th scope="col-2">Descripción</th>
            <th scope="col-3">Unidad</th>
            <th scope="col-1" width="150px">Acciones</th>
            </thead>
            <tbody>
            {% for item in almacenes %}
                <tr>
                    <td style="font-weight:400;">{{ item.codigo }}</td>
                    <td style="font-weight:400;">{{ item.descripcion }}</td>
                    <td style="font-weight:400;">{{ item.unidad }}</td>
                    <td>
                        <button type="button" class="btn btn-warning btn-sm px-1" data-toggle="tooltip"
                                data-placement="bottom" title="Eliminar"
                                onclick="onUpdate({
                                        id_unidad: '{{ item.id_unidad }}',
                                        descripcion:'{{ item.descripcion }}' ,
                                        codigo:'{{ item.codigo }}' ,
                                        id: '{{ item.id }}'
                                        })">
                            <i class="fa fa-edit"></i>
                        </button>
                        <button type="button" class="btn btn-danger btn-sm ml-1" data-toggle="tooltip"
                                data-placement="bottom" title="Eliminar"
                                onclick="onDeleteConfirm({
                                        message:'Está seguro que desea eliminar el Almacén {{ item.descripcion }} ?',
                                        url:'{{ path('contabilidad_config_alamcen_delete',{id: item.id}) }}',
                                        _token: '{{ csrf_token('delete' ~ item.id) }}'
                                        })">
                            <i class="fa fa-trash"></i>
                        </button>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {# end list #}
    </div>
{% endblock %}


{% block javascripts %}
    {{ parent() }}
    <script>

        const TEXT_SELECT = '... seleccione ...';

        function mostrarBtn() {
            $('#modal__btn__actualizar').hide()
            $('#modal__btn__aceptar').show()
        }

        const onUpdate = function (config) {
            $('#modal__btn__actualizar').show()
            $('#modal__btn__aceptar').hide()

            const {descripcion = '', id = '',codigo='', id_unidad = ''} = config

            $('#modal__form__id').modal('show')
            $('#modal__form__label__id').text("Modificar " + descripcion)


            $('#almacen_id_unidad').val(id_unidad)
            $('#almacen_descripcion').val(descripcion)
            $('#almacen_codigo').val(codigo)
            $('#id_alamcen').val(id)
        }

        $(document).ready(function () {
            // init
            $('select').prepend('<option selected = "false" value = "0" disabled>' + TEXT_SELECT + '</option>');
            $('#modal__btn__actualizar').hide()

            // validacion del formulario
            var validateForm = $('#form_modal_target').validate({
                errorClass: 'invalid-label-orange',
                errorPlacement: function (error, element) {
                    // colocar mensajes de error a la derecha de cada label para el componente
                    const error_label = element.closest("form").find(element.attr('id') + "-error")
                    if (error_label.length) {
                        error_label.removeClass('hide')
                    } else {
                        error.addClass('ml-3')
                        $(element)
                            .closest("form")
                            .find("label[for='" + element.attr("id") + "']")
                            .append(error);
                    }
                },
                rules: {
                    'almacen[descripcion]': "required",
                    'almacen[id_unidad]': "required",
                    'almacen[codigo]': "required",
                },
                messages: {
                    'almacen[descripcion]': CONTAB_MSG.REQUIRED_NOT_BLANK,
                    'almacen[id_unidad]': CONTAB_MSG.REQUIRED_NOT_BLANK,
                    'almacen[codigo]': CONTAB_MSG.REQUIRED_NOT_BLANK,
                }
            })
            $('#modal__btn__aceptar').on('click', function () {
                const formulario = $('#form_modal_target')
                formulario.attr('method', `POST`)
                formulario.attr('action', `/contabilidad/config/almacen/add`)
                formulario.submit()
                if(validateForm.errorList.length === 0) loadingModal.show()
            })

            $('#modal__btn__actualizar').on('click', function () {
                const id_alamcen = $('#id_alamcen').val()
                const formulario = $('#form_modal_target')
                formulario.attr('method', 'POST')
                formulario.attr('action', '/contabilidad/config/almacen/upd/' + id_alamcen)
                formulario.submit()
                if(validateForm.errorList.length === 0) loadingModal.show()
            })

            $('#modal__form__id').on('show.bs.modal', function (event) {
                validateForm.resetForm()
                $('#modal__form__label__id').text('Adicionar Alamcén')
            })
        })

    </script>
{% endblock %}