{% extends('contabilidad/inventario/print_base.html.twig') %}
{% block title %} Imprimir Comprobante de Anotaciones {% endblock %}
{% block body %}
    <div class="container-fluid mt-3 d-flex flex-column" style="height: 1000px;">
        <table border="0" width="960px" class="mt-1 mb-2">
            <tbody>
            <tr>
                <td colspan="7" height="70px" class="font-weight-bold text-center text-uppercase">Balance de
                    Comprobación de Saldo
                </td>
            </tr>
            <tr>
                <td colspan="7"><strong>Unidad: </strong> {{ unidad_codigo }} : {{ unidad_nombre }}</td>
            </tr>
            </tbody>
        </table>
        <table border="0" width="960px" class="text-center">
            <thead>
            <th width="70px">Cuenta</th>
            <th width="70px">Subcuenta</th>
            <th width="70px">Criterio</th>
            <th width="70px">Descripción</th>
            <th width="70px">Débito</th>
            <th width="175px">Crédito</th>
            <th width="200px">Saldo</th>
            </thead>
            <tbody>
            {% for item in datos %}

                {% if item.index == 1 %}
                    <tr style="border-top: #1b1e21 1px solid;">
                    <td style="font-weight:400; ">{{ item.codigo }}</td>
                    <td style="font-weight:400;" class="pl-0 pr-0"></td>
                    <td style="font-weight:400;" class="pl-0 pr-0"></td>
                {% elseif item.index == 2 %}
                    <tr>
                    <td style="font-weight:400;"></td>
                    <td style="font-weight:400;" class="pl-0 pr-0">{{ item.codigo }}</td>
                    <td style="font-weight:400;" class="pl-0 pr-0"></td>
                {% else %}
                    <tr>
                    <td style="font-weight:400;"></td>
                    <td style="font-weight:400;"></td>
                    <td style="font-weight:400;" class="pl-0 pr-0">{{ item.codigo }}</td>
                {% endif %}
                <td style="font-weight:400; text-align: left" class="pl-0 pr-0">{{ item.descripcion }}</td>
                <td style="font-weight:400;" class="text-right">{{ item.debito_mes }}</td>
                <td style="font-weight:400;" class="text-right">{{ item.credito_mes }}</td>
                <td style="font-weight:400;" class="text-right">{{ item.saldo }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}