{% extends 'contabilidad/config/index.html.twig' %}
{% block style %}
    <style>
        label {
            display: none;
        }
    </style>
{% endblock %}
{% block content %}
    <div class="container-fluid">

        {# header #}
        <div class="d-flex align-items-center">
            <h4 class="mr-auto display-4 mb-0 mr-auto title-table text-light">
                Impuestos
            </h4>
            <div>
                <button type="button" class="btn btn-primary btn-md" data-toggle="modal"
                        data-target="#modal__form__id" data-placement="bottom" title="Adicionar"
                        onclick="mostrarBtn()">
                    <i class="fa fa-plus"> Adicionar</i>
                </button>
            </div>
        </div>
        {# end header #}

        {{ include('contabilidad/config/impuesto/form_modal.html.twig', {title: 'Adicionar Impuesto '}) }}

        {# list #}
        <table class="table-small-rows table table-hover text-light">
            <thead class="thead-dark">
            <th scope="col-6" class="text-left">Nombre</th>
            <th width="200px" class="text-right">Valor</th>
            <th scope="col-1" width="150px" class="text-center">Acciones</th>
            </thead>
            <tbody>
            {% for item in impuestos %}
                <tr>
                    <td style="font-weight:400;" class="text-left">{{ item.nombre }}</td>
                    <td style="font-weight:400;" class="text-right">{{ item.valor }}</td>
                    <td class="text-center">
                        <button type="button" class="btn btn-warning btn-sm px-1" data-toggle="tooltip"
                                data-placement="bottom" title="Editar"
                                onclick="onUpdate({
                                        valor:'{{ item.valor }}',
                                        nombre:'{{ item.nombre }}' ,
                                        id: '{{ item.id }}'
                                        })">
                            <i class="fa fa-edit"></i>
                        </button>
                        <button type="button" class="btn btn-danger btn-sm ml-2" data-toggle="tooltip"
                                data-placement="bottom" title="Eliminar"
                                onclick="onDeleteConfirm({
                                        message:'Está seguro que desea eliminar el impuesto: {{ item.nombre }} ?',
                                        url:'{{ path('contabilidad_config_impuesto_delete',{id: item.id}) }}',
                                        _token: '{{ csrf_token('delete' ~ item.id) }}'
                                        })">
                            <i class="fa fa-trash"></i>
                        </button>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {# end list #}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        function mostrarBtn() {
            $('#modal__btn__actualizar').hide()
            $('#modal__btn__aceptar').show()
        }

        const onUpdate = function (config) {
            $('#modal__btn__actualizar').show()
            $('#modal__btn__aceptar').hide()

            const {id = '', valor = '', nombre = ''} = config

            $('#modal__form__id').modal('show')
            $('#modal__form__label__id').text("Modificar " + nombre)

            // nombre, codigo, id
            $('#impuesto_nombre').val(nombre)
            $('#impuesto_valor').val(valor)
            $('#id_impuesto').val(id)
        }

        $(document).ready(function () {
            $('#modal__btn__actualizar').hide()
            $('#impuesto_valor').prop('type','number')
            // validacion del formulario
            var validateForm = $('#form_modal_target').validate({
                errorClass: 'invalid-label-orange',
                errorPlacement: function (error, element) {
                    // colocar mensajes de error a la derecha de cada label para el componente
                    const error_label = element.closest("form").find(element.attr('id') + "-error")
                    if (error_label.length) {
                        error_label.removeClass('hide')
                    } else {
                        error.addClass('ml-3')
                        $(element)
                            .closest("form")
                            .find("label[for='" + element.attr("id") + "']")
                            .append(error);
                    }
                },
                rules: {
                    'impuesto[nombre]': "required",
                    'impuesto[valor]': "required",
                },
                messages: {
                    'impuesto[nombre]': CONTAB_MSG.REQUIRED_NOT_BLANK,
                    'impuesto[valor]': CONTAB_MSG.REQUIRED_NOT_BLANK,
                }
            })

            $('#modal__btn__aceptar').on('click', function () {
                const formulario = $('#form_modal_target')
                formulario.attr('method', `POST`)
                formulario.attr('action', `/contabilidad/config/impuesto/add`)
                formulario.submit()
                if (validateForm.errorList.length === 0) loadingModal.show()
            })

            $('#modal__btn__actualizar').on('click', function () {
                const id_impuesto = $('#id_impuesto').val()
                const formulario = $('#form_modal_target')
                formulario.attr('method', `POST`)
                formulario.attr('action', `/contabilidad/config/impuesto/${id_impuesto}`)
                formulario.submit()
                if (validateForm.errorList.length === 0) loadingModal.show()
            })

            $('#modal__form__id').on('show.bs.modal', function (event) {
                validateForm.resetForm()
                $('#modal__form__label__id').text('Adicionar Impuesto')
            })
        })
    </script>
{% endblock %}