{% extends 'base.html.twig' %}
{% block title %} Turismo | Visado {% endblock %}
{% block style %}
    <style>
        label {
            display: none;
        }
    </style>
{% endblock %}

{% block navBar %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light nabvar-navegation">
        <a style="cursor: pointer" class="navbar-brand text-white" data-toggle="modal">Paquete de Gestión Consular</a>
        <button class="navbar-toggler order-md-2" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Configuración
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a style="font-weight: 300;font-family: inherit !important;" class="dropdown-item"
                           href="{{ url ('turismo_module_visado_proveedor') }}">Proveedores</a>
                        <a style="font-weight: 300;font-family: inherit !important;" class="dropdown-item"
                           href="{{ url ('turismo_module_visado_elementos_visa') }}">Elementos de la Visa</a>
                    </div>
                </li>
                <a style="font-weight: 300;font-family: inherit !important;" class="dropdown-item"
                   href="{{ url ('turismo_module_visado_solucitud') }}">Solicitud</a>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Informes
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item"
                           href="{{ url ('turismo_module_visado_registro_solicitudes') }}">Registro de Solicitudes</a>
                    </div>
                </li>
            </ul>
        </div>
        <span class="text-light p-1 order-md-1 ml-2"
              style="cursor: pointer;border-radius: 10px; border: gray solid 2px;"><a data-toggle="modal" data-target="#">Cliente: {{ nombre }} {{ apellidos }}</a></span>
    </nav>
    <!-- Modal -->
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $('#btnAceptar__salir').on('click', function () {
            // $.ajax({
            //     url: '/contabilidad/inventario/salirAlmacen',
            //     method: "POST",
            //     data: {}
            // }).then(res => {
            //     window.location.replace('/contabilidad/inventario/selAlmacen');
            // })
        })
    </script>
{% endblock %}