{% extends 'base.html.twig' %}
{% block content %}
    {# Modal de Cuentas#}
    <div class="modal fade" id="listarMercanciasModal" tabindex="-1" role="dialog" data-backdrop="static"
         data-keyboard="false"
         aria-labelledby="listarMercanciasModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" style="max-width: 850px;" role="document">
            <div class="modal-content">
                <div class="modal-header bg-dark">
                    <h4 class="modal-title text-light" id="listarMercanciasModalLabel">Listado de mercancias</h4>
                    <button class="close text-light" type="button" data-dismiss="modal" aria-label="Cerrar">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body bg-dark-app" style="height: 600px;">
                    <div style="height: 500px; overflow-y: auto;">
                        <table class="table-small-rows table table-hover text-light">
                            <thead class="thead-dark">
                            <th style="width: 10px">Sel.</th>
                            <th style="width: 160px">Código</th>
                            <th scope="col-6">Descripción</th>
                            <th style="width: 200px">Precio Compra</th>
                            </thead>
                            <tbody id="rows_table">
                            </tbody>
                        </table>
                    </div>
                    <div class="d-flex mt-4">
                        <div class="mr-auto">
                            <button class="btn btn-outline-secondary" type="button" data-dismiss="modal"
                                    aria-label="Cerrar">
                                <span aria-hidden="true">Cancelar</span>
                            </button>
                        </div>
                        <div class="ml-2">
                            <button type="button" class="my-0 btn btn-secondary" id="btnAceptar"
                                    onclick="SeleccionarMercancia()"
                                    data-dismiss="modal">Seleccionar
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container d-flex justify-content-center">
        <div class="card mt-1" style="width: 50rem;">
            <div class="container">
                <div class="row mt-0 p-0">
                    <div class="col-8 form-group input-group input-group-sm d-block">
                        <h1 class="text-reporte text-right mr-0">Ajuste de Entrada </h1>
                    </div>
                    <div class="col-4 form-group input-group input-group-sm mt-3 ml-0 p-0 d-block">
                        <span class="h5 text-light mr-2">Nro.</span><input type="number" id="select_nros" class="w-25">
                    </div>
                </div>
            </div>
            <div class="card-body">
                {{ form_start(formulario.nro_cuenta_acreedora, {'attr':{'id':'ajuste_entrada'}}) }}
                <div class="row mt-0 p-0">
                    <div class="col-4 form-group input-group input-group-sm pa-2 d-block">
                        {{ form_label(formulario.nro_cuenta_inventario) }}
                        {{ form_widget(formulario.nro_cuenta_inventario) }}
                    </div>
                    <div class="col-4 mt-0 form-group input-group input-group-sm d-block p-0">
                        {{ form_label(formulario.nro_subcuenta_inventario) }}
                        {{ form_widget(formulario.nro_subcuenta_inventario) }}
                    </div>
                    <div class="col-4 mt-0 pl-3 pr-0 form-group input-group input-group-sm d-block">
                        {{ form_label(formulario.nro_cuenta_acreedora) }}
                        {{ form_widget(formulario.nro_cuenta_acreedora) }}
                    </div>
                    <input type="hidden" id="__token" name="_token" value="{{ csrf_token('authenticate') }}">
                </div>
                <div class="row mt-0 p-0">
                    <div class="col-8 mt-0 form-group input-group input-group-sm pl-3 pr-0 d-block">
                        {{ form_label(formulario.observacion) }}
                        {{ form_widget(formulario.observacion) }}
                    </div>
                    <div class="col-4 mt-0 form-group input-group input-group-sm pa-2 d-block">
                        {{ form_label(formulario.documento.id_moneda) }}
                        {{ form_widget(formulario.documento.id_moneda) }}
                    </div>
                </div>

                {{ form_end(formulario.nro_cuenta_acreedora) }}

                <div class="d-flex align-items-center mt-3 pl-2">
                    <h3 class="text-light mr-auto" style="font-weight: 300;">Mercancias</h3>
                    <div class="px-2" style="background: dimgray; border-radius: .3rem;">
                        <span class="pr-1">Importe Total : </span>
                        <span id="importe-total">0</span>
                    </div>
                </div>
                <hr color="dimgray" class="my-1 ml-2" size=3>

                {{ form_start(formulario.mercancia, {'attr':{'id':'form_mercancia'}}) }}
                <div class="row mt-0 p-0">
                    <div class="col-3 form-group input-group input-group-sm pa-1 d-block">
                        {{ form_label(formulario.mercancia.codigo) }}
                        <div class="row m-0 p-0">
                            <div class="col-8 p-0">
                                {{ form_widget(formulario.mercancia.codigo) }}
                            </div>
                            <div class="col-1 mt-0 p-0">
                                <button class="btn btn-secondary btn-sm" data-toggle="modal" type="button"
                                        data-target="#listarMercanciasModal" id="btnSearchMercancia"><i
                                            class="fa fa-search"></i></button>
                            </div>
                        </div>
                    </div>
                    <div class="col-7 mt-0 form-group input-group input-group-sm d-block p-0">
                        {{ form_label(formulario.mercancia.descripcion) }}
                        {{ form_widget(formulario.mercancia.descripcion) }}
                    </div>
                    <div class="col-2 mt-0 form-group input-group input-group-sm d-block pr-0">
                        {{ form_label(formulario.mercancia.id_unidad_medida) }}
                        {{ form_widget(formulario.mercancia.id_unidad_medida) }}
                    </div>
                </div>
                <div class="row mt-0 p-0">
                    <div class="col-2 mt-0 form-group input-group input-group-sm d-block">
                        {{ form_label(formulario.documento.cantidad_mercancia) }}
                        {{ form_widget(formulario.documento.cantidad_mercancia,{'type':'number'}) }}
                    </div>
                    <div class="col-2 mt-0 form-group input-group input-group-sm d-block">
                        {{ form_label(formulario.documento.importe_mercancia) }}
                        {{ form_widget(formulario.documento.importe_mercancia,{'type':'number'}) }}
                    </div>
                    <div class="col-2 mt-0 form-group input-group input-group-sm d-block p-0">
                        {{ form_label(formulario.mercancia.precio) }}
                        {{ form_widget(formulario.mercancia.precio) }}
                    </div>
                    <div class="col-2 mt-0 form-group input-group input-group-sm d-block">
                        {{ form_label(formulario.mercancia.existencia) }}
                        {{ form_widget(formulario.mercancia.existencia) }}
                    </div>
                    <div class="col-2 mt-0 form-group input-group input-group-sm d-block p-0">
                        {{ form_label(formulario.mercancia.existencia_incremento) }}
                        {{ form_widget(formulario.mercancia.existencia_incremento) }}
                    </div>
                    {{ form_end(formulario.mercancia) }}

                    <div class="col-2 pt-2 pl-1 mt-4">
                        <button class="btn btn-secondary btn-sm ml-4" type="button" id="btnAplicarMercancia">ADICIONAR
                        </button>
                    </div>
                </div>
                <div>
                    <table class="table-small-rows table table-hover text-light">
                        <thead class="thead-dark">
                        <th width="120px">Cod.</th>
                        <th width="110px">Cant.</th>
                        <th width="110px">Importe</th>
                        <th width="110px">Precio</th>
                        <th scope="col-1">Nueva Exist</th>
                        <th width="60px"><i class="fa fa-minus-circle text-danger"></i></th>
                        <th scope="col-1" hidden>UM</th>
                        <th scope="col-1" hidden>Descripcion</th>
                        </thead>
                        <tbody id="rows_mercancias">
                        </tbody>
                    </table>
                </div>
                <div class="d-flex mt-2">
                    <div class="mr-auto">
                        <a href="{{ url('inventario') }}"
                           class="btn btn-outline-secondary" id="btn_salir">Salir</a>
                    </div>
                    <div class="ml-2">
                        <button class='my-0 btn btn-secondary' id="btnCancelar">cancelar</button>
                    </div>
                    <div class="ml-2">
                        <button class='my-0 btn btn-secondary' id="btnImprimir">imprimir</button>
                    </div>
                    <div class="ml-2">
                        <button class='my-0 btn btn-secondary' id="btnSubbmitAjuste">contabilizar</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        let mercancias_seleccionada = [];
        let mercancias = [];
        let consecutivo = 0;
        let cuentas_inventarios = [];
        $('select').prepend('<option selected = "false" value = "0" disabled> -- seleccione -- </option>');
        loadingModal.show()

        $(document).ready(function () {
            /** Ajax para obtener los nros consecutivos**/
            $.ajax({
                url: '/contabilidad/inventario/ajuste-entrada/get-nros-ajustes',
                method: 'POST',
                dataType: 'json',
                success: function (result) {
                    consecutivo = result.nros
                    $('#select_nros').val(consecutivo)
                    $('#select_nros').prop('max', consecutivo)
                    $('#select_nros').prop('min', 1)
                    loadingModal.close()
                },
                error: function () {
                }
            })

            /** Evento para activar/desactivar los btn de CONTABILIZAR o IMPRIMIR**/
            $('#select_nros').on('change', function () {
                if ($('#select_nros').val() == consecutivo) {
                    $('#btnSubbmitAjuste').show()
                } else {
                    $('#btnSubbmitAjuste').hide()
                }
            })
            $('#select_nros').on('keyup', function (event) {
                if (event.which == 13) {
                    $('#ajuste_entrada').resetForm()
                    $('#form_mercancia').resetForm()

                    if ($('#select_nros').val() == consecutivo) {
                        // si es el consecutivo
                        $('#btnSubbmitAjuste').show()
                        $('#btnImprimir').show()
                    } else if ($('#select_nros').val() > consecutivo) {
                        // si es mayor
                        $('#btnSubbmitAjuste').hide()
                        $('#btnImprimir').hide()
                        alertTemplate('El mayor número permitido es ' + consecutivo, 'danger')
                    } else if ($('#select_nros').val() == '') {
                        // si no hay numero
                        $('#btnSubbmitAjuste').hide()
                        $('#btnImprimir').hide()
                        alertTemplate('Debe introducir el número del documento a vizualizar.', 'danger')
                    } else {
                        // si es un Numero valido para cargar
                        $.ajax({
                            url: '/contabilidad/inventario/ajuste-entrada/load-ajuste',
                            method: 'POST',
                            dataType: 'json',
                            success: function (result) {
                                cuentas_inventarios = result.cuentas_inventario
                                $(result.cuentas_inventario).each(function (pos, valor) {
                                    $('#ajuste_nro_cuenta_inventario').append('<option value = "' + valor.nro_cuenta + '">' + valor.nro_cuenta + '</option>');
                                })
                                $(result.cuentas_acrredoras).each(function (pos, valor) {
                                    $('#ajuste_nro_cuenta_acreedora').append('<option value = "' + valor.nro_cuenta + '">' + valor.nro_cuenta + '</option>');
                                })
                                loadingModal.close()
                            },
                            error: function () {
                            }
                        })

                        $('#btnImprimir').show()
                        $('#btnSubbmitAjuste').hide()
                    }
                }
            })


            $.ajax({
                url: '/contabilidad/inventario/ajuste-entrada/getCuentas',
                method: 'POST',
                dataType: 'json',
                success: function (result) {
                    cuentas_inventarios = result.cuentas_inventario
                    $(result.cuentas_inventario).each(function (pos, valor) {
                        $('#ajuste_nro_cuenta_inventario').append('<option value = "' + valor.nro_cuenta + '">' + valor.nro_cuenta + '</option>');
                    })
                    $(result.cuentas_acrredoras).each(function (pos, valor) {
                        $('#ajuste_nro_cuenta_acreedora').append('<option value = "' + valor.nro_cuenta + '">' + valor.nro_cuenta + '</option>');
                    })
                    loadingModal.close()
                },
                error: function () {
                }
            })

            $('#btnSearchMercancia').on('click', function () {
                $('#rows_table').find('tr').remove();
                let codigo = $('#ajuste_mercancia_codigo').val() != '' ? $('#ajuste_mercancia_codigo').val() : -1
                let cuenta = $('#ajuste_nro_cuenta_inventario').val() != '' ? $('#ajuste_nro_cuenta_inventario').val() : ''
                $.ajax({
                    url: '/contabilidad/inventario/ajuste-entrada/getMercancia/' + codigo + ',' + cuenta,
                    method: 'POST',
                    dataType: 'json',
                    success: function (result) {
                        mercancias = result.mercancias
                        $(result.mercancias).each(function (pos, valor) {
                            $('#rows_table').append('<tr>' +
                                '<td style="font-weight:400;"> ' +
                                '<input type="checkbox" style="margin-left: auto;" id="' + valor.codigo + '">' +
                                '</td>' +
                                '<td style="font-weight:400;"> ' + valor.codigo + '</td>' +
                                '<td style="font-weight:400;"> ' + valor.descripcion + '</td>' +
                                '<td style="font-weight:400;"> ' + valor.precio_compra + '</td> </tr>'
                            );
                        })
                    },
                    error: function () {
                    }
                })
            })

            $('#ajuste_mercancia_codigo').on('keyup', function (e) {
                if (e.which == 13) {
                    let codigo = $('#ajuste_mercancia_codigo').val()
                    let cuenta = $('#ajuste_nro_cuenta_inventario').val()
                    if (cuenta != '' && codigo != '') {
                        $.ajax({
                            url: '/contabilidad/inventario/ajuste-entrada/getMercancia/' + codigo + ',' + cuenta,
                            method: 'POST',
                            dataType: 'json',
                            success: function (result) {
                                mercancias = result.mercancias
                                if (mercancias.length > 0) {
                                    $('#ajuste_mercancia_descripcion').val(mercancias[0]['descripcion'])
                                    $('#ajuste_mercancia_existencia').val(mercancias[0]['existencia'])
                                    $('#ajuste_mercancia_precio').val(mercancias[0]['precio_compra'])
                                } else {
                                    alertTemplate('No existen mercancias con ese código')
                                }
                            },
                            error: function () {
                            }
                        })
                    } else {
                        alertTemplate('El campo código y cuenta no deben estar vacios.', 'danger')
                    }
                }
            })

            $('#ajuste_documento_importe_mercancia').on('keyup', function () {
                let importe = parseFloat($('#ajuste_documento_importe_mercancia').val())
                let cantidad = parseFloat($('#ajuste_documento_cantidad_mercancia').val())
                if (importe > 0) {
                    let precio_final = parseFloat(importe / cantidad).toFixed(3)
                    $('#ajuste_mercancia_precio').val(precio_final)
                } else {
                    $('#ajuste_mercancia_precio').val(0)
                }
            })

            $('#ajuste_documento_cantidad_mercancia').on('keyup', function () {
                let importe = parseFloat($('#ajuste_documento_importe_mercancia').val())
                let cantidad = parseFloat($('#ajuste_documento_cantidad_mercancia').val())
                if (importe > 0) {
                    let precio_final = parseFloat(importe / cantidad).toFixed(3)
                    $('#ajuste_mercancia_precio').val(precio_final)
                } else {
                    $('#ajuste_mercancia_precio').val(0)
                }
                let existencia_inicial = (parseFloat($('#ajuste_mercancia_existencia').val()) > 0 || $('#ajuste_mercancia_existencia').val() != '') ? parseFloat($('#ajuste_mercancia_existencia').val()) : 0
                $('#ajuste_mercancia_existencia_incremento').val(existencia_inicial + parseFloat($('#ajuste_documento_cantidad_mercancia').val()))
            })

            $('#ajuste_mercancia_codigo').on('keyup', function () {
                $('#ajuste_mercancia_descripcion').val('')
                $('#ajuste_mercancia_precio').val('')
                $('#ajuste_mercancia_existencia').val('')
            })

            $('#ajuste_nro_cuenta_inventario').on('change', function () {
                $('#ajuste_nro_subcuenta_inventario').find('option').remove()
                cuentas_inventarios.forEach(function (valor, pos) {
                    if ($('#ajuste_nro_cuenta_inventario').val() == valor.nro_cuenta) {
                        $('#ajuste_nro_subcuenta_inventario').prepend('<option selected = "false" value = "0" disabled> -- seleccione -- </option>');
                        for (var i = 0; i < valor.sub_cuenta.length; i++) {
                            $('#ajuste_nro_subcuenta_inventario').append('<option value = "' + valor.sub_cuenta[i]['nro_subcuenta'] + '">' + valor.sub_cuenta[i]['nro_subcuenta'] + '</option>');
                        }
                    }
                })
            })

            const form_ajuste_entrada = $('#ajuste_entrada')

            form_ajuste_entrada.validate({
                errorClass: 'invalid-label-orange',
                errorPlacement: function (error, element) {
                    error.attr('style', 'font-size: .8rem;')
                    error.insertAfter(element);
                },
                rules: {
                    'ajuste[observacion]': "required",
                    'ajuste[nro_cuenta_inventario]': "required",
                    'ajuste[nro_subcuenta_inventario]': "required",
                    'ajuste[nro_cuenta_acreedora]': "required",
                },
                messages: {
                    'ajuste[observacion]': CONTAB_MSG.REQUIRED_OBLIGATORIO,
                    'ajuste[nro_cuenta_inventario]': CONTAB_MSG.REQUIRED_OBLIGATORIO,
                    'ajuste[nro_subcuenta_inventario]': CONTAB_MSG.REQUIRED_OBLIGATORIO,
                    'ajuste[nro_cuenta_acreedora]': CONTAB_MSG.REQUIRED_OBLIGATORIO,
                }
            })

            const form_mercancia = $('#form_mercancia')
            form_mercancia.validate({
                errorClass: 'invalid-label-orange',
                errorPlacement: function (error, element) {
                    error.attr('style', 'font-size: .8rem;')
                    error.insertAfter(element);
                },
                rules: {
                    'ajuste[mercancia][codigo]': "required",
                    'ajuste[mercancia][descripcion]': "required",
                    'ajuste[mercancia][id_unidad_medida]': "required",
                    'ajuste[documento][cantidad_mercancia]': "required",
                    'ajuste[documento][importe_mercancia]': "required",
                },
                messages: {
                    'ajuste[mercancia][codigo]': 'Obligatorio!',
                    'ajuste[mercancia][descripcion]': CONTAB_MSG.REQUIRED_OBLIGATORIO,
                    'ajuste[mercancia][id_unidad_medida]': 'Obligatorio!',
                    'ajuste[documento][cantidad_mercancia]': 'Obligatorio!',
                    'ajuste[documento][importe_mercancia]': 'Obligatorio!',
                }
            })

            $("#btnSubbmitAjuste").click(function (e) {
                if (form_ajuste_entrada.valid()) {
                    if (list_mercancia.length) {
                        let data = form_ajuste_entrada.serializeArray()
                        loadingModal.show()
                        data.push({name: 'ajuste_entrada[list_mercancia]', value: JSON.stringify(list_mercancia)})
                        $.ajax({
                            url: '/contabilidad/inventario/ajuste-entrada/form-add',
                            method: 'POST',
                            data: data,
                            dataType: 'json',
                            success: function (result) {
                                if (result.success) {
                                    window3.location.replace('{{ path('contabilidad_inventario_ajuste_entrada') }}')
                                } else {
                                    loadingModal.close()
                                    alertTemplate(result.msg)
                                }
                            },
                            error: function () {
                            }
                        })
                    } else {
                        alertTemplate('El Ajuste de Entrada debe contener algunas mercancias', 'danger')
                    }
                }
            });

            let list_mercancia = []
            let importe_total = 0;

            $('#btnAplicarMercancia').on('click', function () {
                if (form_mercancia.valid()) {
                    let codigo = $('#ajuste_mercancia_codigo').val()
                    let cant = $('#ajuste_documento_cantidad_mercancia').val()
                    let importe = $('#ajuste_documento_importe_mercancia').val()
                    let precio = $('#ajuste_mercancia_precio').val()
                    let nueva_existencia = $('#ajuste_mercancia_existencia_incremento').val()
                    let um = $('#ajuste_mercancia_id_unidad_medida').val()
                    let descripcion = $('#ajuste_mercancia_descripcion').val()

                    //validar que el codigo no se repita
                    if (list_mercancia.some(e => e.codigo === codigo)) {
                        alertTemplate('Ya existe una mercancia con el codigo: <b>' + codigo, 'danger')
                    } else {
                        list_mercancia.push({codigo, cant, importe, precio, nueva_existencia, um, descripcion})
                        importe_total += Number.parseFloat(importe)

                        $("#importe-total").text('$' + importe_total)
                        $('#rows_mercancias').append(`<tr>
                        <td style="font-weight:400;"> ${codigo}</td>
                        <td style="font-weight:400;"> ${cant}</td>
                        <td style="font-weight:400;"> ${importe}</td>
                        <td style="font-weight:400;"> ${precio} </td>
                        <td style="font-weight:400;">${nueva_existencia}</td>
                        <td style="font-weight:400;" hidden> ${descripcion}</td>
                        <td> <button type="button"
                            class="btn btn-outline-danger btn-sm borrar" title="Eliminar" id-mercancia="${codigo}">
                            <i class="fa fa-minus-circle"></i>
                        </button>
                        </td>
                        <td style="font-weight:400;" hidden> ${um} </td> </tr>`
                        );
                        $('#ajuste_mercancia_codigo').val('')
                        $('#ajuste_mercancia_descripcion').val('')
                        $('#ajuste_mercancia_existencia').val('')
                        $('#ajuste_documento_cantidad_mercancia').val('')
                        $('#ajuste_documento_importe_mercancia').val('')
                        $('#ajuste_mercancia_precio').val('')
                        $('#ajuste_mercancia_existencia_incremento').val('')
                    }

                }
            })

            // eliminar la mercancia de la lista
            $(document).on('click', '.borrar', function (event) {
                event.preventDefault();
                const mercancia = list_mercancia.find(e => e.codigo === $(this).attr('id-mercancia'))
                importe_total -= Number.parseFloat(mercancia.importe)
                $("#importe-total").text('$' + importe_total)
                list_mercancia = list_mercancia.filter(e => e.codigo !== $(this).attr('id-mercancia'))
                $(this).closest('tr').remove()
            })
        })

        function SeleccionarMercancia() {
            for (var i = 0; i < mercancias.length; i++) {
                let id = '#' + mercancias[i]['codigo']
                if ($(id).prop('checked') == true) {
                    $('#ajuste_mercancia_codigo').val(mercancias[i]['codigo'])
                    $('#ajuste_mercancia_descripcion').val(mercancias[i]['descripcion'])
                    $('#ajuste_mercancia_precio').val(mercancias[i]['precio_compra'])
                    $('#ajuste_mercancia_existencia').val(mercancias[i]['existencia'])
                    break
                }
            }
        }


    </script>
{% endblock %}

