{% extends 'contabilidad/activo_fijo/index.html.twig' %}
{% block content %}
    <div class="container d-flex justify-content-center">
        <div class="card mt-1" style="width: 70rem;">
            <div class="container">
                <h1 class="text-reporte"> Adicionar Activo Fijo</h1>
            </div>
            <div class="card-body">
                {{ form_start(formulario, {'attr':{'id':'activo_fijo','autocomplete':"off"}}) }}
                <div class="row mt-0 p-0">
                    <div class="col-4 mt-0 pl-0 pr-0 form-group input-group input-group-sm d-block">
                        {{ form_label(formulario.nro_inventario) }}
                        {{ form_widget(formulario.nro_inventario, {'attr':{'class':'w-100'}}) }}
                    </div>
                    <div class="col-4 mt-0 pl-3 pr-0 form-group input-group input-group-sm d-block">
                        {{ form_label(formulario.fecha_alta) }}
                        {{ form_widget(formulario.fecha_alta, {'attr':{'class':'w-100'}}) }}
                    </div>
                    <div class="col-4 mt-0 pl-3 pr-0 form-group input-group input-group-sm d-block">
                        {{ form_label(formulario.id_grupo_activo) }}
                        {{ form_widget(formulario.id_grupo_activo, {'attr':{'class':'w-100'}}) }}
                    </div>
                </div>
                <div class="row mt-0 p-0">
                    <div class="col-9 mt-0 p-0 form-group input-group input-group-sm d-block w-100">
                        {{ form_label(formulario.descripcion) }}
                        {{ form_widget(formulario.descripcion, {'attr':{'class':'w-100'}}) }}
                    </div>
                    <div class="col-3 mt-0 pl-3 pr-0 form-group input-group input-group-sm d-block w-100">
                        {{ form_label(formulario.id_area_responsabilidad) }}
                        {{ form_widget(formulario.id_area_responsabilidad, {'attr':{'class':'w-100'}}) }}
                    </div>
                </div>

                <div class="row mt-0 p-0">
                    <div class="col-3 mt-0 pl-0 pr-0 form-group input-group input-group-sm d-block">
                        {{ form_label(formulario.activo_fijo_cuentas.id_cuenta_activo) }}
                        {{ form_widget(formulario.activo_fijo_cuentas.id_cuenta_activo, {'attr':{'class':'w-100'}}) }}
                    </div>
                    <div class="col-3 mt-0 pl-3 pr-0 form-group input-group input-group-sm d-block">
                        {{ form_label(formulario.activo_fijo_cuentas.id_subcuenta_activo) }}
                        {{ form_widget(formulario.activo_fijo_cuentas.id_subcuenta_activo, {'attr':{'class':'w-100'}}) }}
                    </div>
                    <div class="col-3 mt-0 pl-3 pr-0 form-group input-group input-group-sm d-block">
                        {{ form_label(formulario.activo_fijo_cuentas.id_centro_costo_activo) }}
                        {{ form_widget(formulario.activo_fijo_cuentas.id_centro_costo_activo, {'attr':{'class':'w-100'}}) }}
                    </div>
                    <div class="col-3 mt-0 pl-3 pr-0 form-group input-group input-group-sm d-block">
                        {{ form_label(formulario.activo_fijo_cuentas.id_area_responsabilidad_activo) }}
                        {{ form_widget(formulario.activo_fijo_cuentas.id_area_responsabilidad_activo, {'attr':{'class':'w-100'}}) }}
                    </div>
                </div>
                <div class="row mt-0 p-0">
                    <div class="col-6 mt-0 pl-0 pr-0 form-group input-group input-group-sm d-block">
                        {{ form_label(formulario.activo_fijo_cuentas.id_cuenta_depreciacion) }}
                        {{ form_widget(formulario.activo_fijo_cuentas.id_cuenta_depreciacion, {'attr':{'class':'w-100'}}) }}
                    </div>
                    <div class="col-6 mt-0 pl-3 pr-0 form-group input-group input-group-sm d-block">
                        {{ form_label(formulario.activo_fijo_cuentas.id_subcuenta_depreciacion) }}
                        {{ form_widget(formulario.activo_fijo_cuentas.id_subcuenta_depreciacion, {'attr':{'class':'w-100'}}) }}
                    </div>
                </div>
                <div class="row mt-0 p-0">
                    <div class="col-3 mt-0 pl-0 pr-0 form-group input-group input-group-sm d-block">
                        {{ form_label(formulario.activo_fijo_cuentas.id_cuenta_gasto) }}
                        {{ form_widget(formulario.activo_fijo_cuentas.id_cuenta_gasto, {'attr':{'class':'w-100'}}) }}
                    </div>
                    <div class="col-3 mt-0 pl-3 pr-0 form-group input-group input-group-sm d-block">
                        {{ form_label(formulario.activo_fijo_cuentas.id_subcuenta_gasto) }}
                        {{ form_widget(formulario.activo_fijo_cuentas.id_subcuenta_gasto, {'attr':{'class':'w-100'}}) }}
                    </div>
                    <div class="col-3 mt-0 pl-3 pr-0 form-group input-group input-group-sm d-block">
                        {{ form_label(formulario.activo_fijo_cuentas.id_centro_costo_gasto) }}
                        {{ form_widget(formulario.activo_fijo_cuentas.id_centro_costo_gasto, {'attr':{'class':'w-100'}}) }}
                    </div>
                    <div class="col-3 mt-0 pl-3 pr-0 form-group input-group input-group-sm d-block">
                        {{ form_label(formulario.activo_fijo_cuentas.id_elemento_gasto_gasto) }}
                        {{ form_widget(formulario.activo_fijo_cuentas.id_elemento_gasto_gasto, {'attr':{'class':'w-100'}}) }}
                    </div>
                </div>
                <div class="row mt-0 p-0">
                    <div class="col-3 mt-0 pl-0 pr-0 form-group input-group input-group-sm d-block">
                        {{ form_label(formulario.valor_inicial) }}
                        {{ form_widget(formulario.valor_inicial, {'attr':{'class':'w-100'}}) }}
                    </div>
                    <div class="col-3 mt-0 pl-3 pr-0 form-group input-group input-group-sm d-block">
                        {{ form_label(formulario.depreciacion_acumulada) }}
                        {{ form_widget(formulario.depreciacion_acumulada, {'attr':{'class':'w-100'}}) }}
                    </div>
                    <div class="col-3 mt-0 pl-3 pr-0 form-group input-group input-group-sm d-block">
                        {{ form_label(formulario.valor_real) }}
                        {{ form_widget(formulario.valor_real, {'attr':{'class':'w-100'}}) }}
                    </div>
                    <div class="col-3 mt-0 pl-3 pr-0 form-group input-group input-group-sm d-block">
                        {{ form_label(formulario.fecha_ultima_depreciacion) }}
                        {{ form_widget(formulario.fecha_ultima_depreciacion, {'attr':{'class':'w-100'}}) }}
                    </div>
                </div>
                <div class="row mt-0 p-0">
                    <div class="col-4 mt-0 pl-0 pr-0 form-group input-group input-group-sm d-block">
                        {{ form_label(formulario.annos_vida_util) }}
                        {{ form_widget(formulario.annos_vida_util, {'attr':{'class':'w-100'}}) }}
                    </div>
                    <div class="col-4 mt-0 pl-3 pr-0 form-group input-group input-group-sm d-block">
                        {{ form_label(formulario.pais) }}
                        {{ form_widget(formulario.pais, {'attr':{'class':'w-100'}}) }}
                    </div>
                    <div class="col-4 mt-0 pl-3 pr-0 form-group input-group input-group-sm d-block">
                        {{ form_label(formulario.modelo) }}
                        {{ form_widget(formulario.modelo, {'attr':{'class':'w-100'}}) }}
                    </div>
                </div>
                <div class="row mt-0 p-0">
                    <div class="col-4 mt-0 pl-0 pr-0 form-group input-group input-group-sm d-block">
                        {{ form_label(formulario.tipo) }}
                        {{ form_widget(formulario.tipo, {'attr':{'class':'w-100'}}) }}
                    </div>
                    <div class="col-4 mt-0 pl-3 pr-0 form-group input-group input-group-sm d-block">
                        {{ form_label(formulario.marca) }}
                        {{ form_widget(formulario.marca, {'attr':{'class':'w-100'}}) }}
                    </div>
                    <div class="col-4 mt-0 pl-3 pr-0 form-group input-group input-group-sm d-block">
                        {{ form_label(formulario.nro_motor) }}
                        {{ form_widget(formulario.nro_motor, {'attr':{'class':'w-100'}}) }}
                    </div>
                </div>
                <div class="row mt-0 p-0">
                    <div class="col-3 mt-0 pl-0 pr-0 form-group input-group input-group-sm d-block">
                        {{ form_label(formulario.nro_serie) }}
                        {{ form_widget(formulario.nro_serie, {'attr':{'class':'w-100'}}) }}
                    </div>
                    <div class="col-3 mt-0 pl-3 pr-0 form-group input-group input-group-sm d-block">
                        {{ form_label(formulario.nro_chapa) }}
                        {{ form_widget(formulario.nro_chapa, {'attr':{'class':'w-100'}}) }}
                    </div>
                    <div class="col-3 mt-0 pl-3 pr-0 form-group input-group input-group-sm d-block">
                        {{ form_label(formulario.nro_chasis) }}
                        {{ form_widget(formulario.nro_chasis, {'attr':{'class':'w-100'}}) }}
                    </div>
                    <div class="col-3 mt-0 pl-3 pr-0 form-group input-group input-group-sm d-block">
                        {{ form_label(formulario.combustible) }}
                        {{ form_widget(formulario.combustible, {'attr':{'class':'w-100'}}) }}
                    </div>
                </div>
                {{ form_end(formulario) }}
                <div class="d-flex mt-2">
                    <div class="mr-auto">
                        <a href="{{ url('contabilidad_activo_fijo_apertura') }}"
                           class="btn btn-outline-secondary" id="btn_cancelar">Salir</a>
                    </div>
                    <div class="ml-2">
                        <button class='my-0 btn btn-secondary' id="btnSubbmitInforme">Salvar</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        let cuentas_activo = []
        let cuentas_depreciacion = []
        let cuentas_gasto = []

        const loadingData = function () {
            loadingModal.show()
            let ids = ['activo_fijo_id_grupo_activo','activo_fijo_activo_fijo_cuentas_id_cuenta_activo','activo_fijo_activo_fijo_cuentas_id_cuenta_depreciacion',
            'activo_fijo_activo_fijo_cuentas_id_cuenta_gasto','activo_fijo_id_area_responsabilidad','activo_fijo_activo_fijo_cuentas_id_subcuenta_activo',
            'activo_fijo_activo_fijo_cuentas_id_centro_costo_activo','activo_fijo_activo_fijo_cuentas_id_area_responsabilidad_activo','activo_fijo_activo_fijo_cuentas_id_subcuenta_depreciacion',
            'activo_fijo_activo_fijo_cuentas_id_subcuenta_gasto','activo_fijo_activo_fijo_cuentas_id_centro_costo_gasto',
            'activo_fijo_activo_fijo_cuentas_id_elemento_gasto_gasto','activo_fijo_pais']
            for (let i = 0; i < ids.length; i++) {
                $('#' + ids[i]).find('option').remove()
                $('#'+ ids[i]).prepend('<option selected = "false" value = "0" disabled> -- seleccione -- </option>');
            }
            $.ajax({
                url: '/contabilidad/activo-fijo/getData',
                method: 'POST',
                dataType: 'json',
                success: function (result) {
                    cuentas_activo = result.cuenta_activo
                    cuentas_depreciacion =result.cuenta_depreciacion
                    cuentas_gasto = result.cuenta_gasto
                    $(result.cuenta_activo).each(function (pos, valor) {
                        $('#activo_fijo_activo_fijo_cuentas_id_cuenta_activo').append('<option value = "' + valor.nro_cuenta + '">' + valor.nro_cuenta + '</option>');
                    })
                    $(result.cuenta_depreciacion).each(function (pos, valor) {
                        $('#activo_fijo_activo_fijo_cuentas_id_cuenta_depreciacion').append('<option value = "' + valor.nro_cuenta + '">' + valor.nro_cuenta + '</option>');
                    })
                    $(result.cuenta_gasto).each(function (pos, valor) {
                        $('#activo_fijo_activo_fijo_cuentas_id_cuenta_gasto').append('<option value = "' + valor.nro_cuenta + '">' + valor.nro_cuenta + '</option>');
                    })
                    $(result.paises).each(function (pos, valor) {
                        $('#activo_fijo_pais').append('<option value = "' + valor + '">' + valor+ '</option>');
                    })
                    $(result.centro_costo).each(function (pos, valor) {
                        $('#activo_fijo_activo_fijo_cuentas_id_centro_costo_activo').append('<option value = "' + valor.id + '">' + valor.nombre + '</option>');
                    })
                    $(result.centro_costo).each(function (pos, valor) {
                        $('#activo_fijo_activo_fijo_cuentas_id_centro_costo_gasto').append('<option value = "' + valor.id + '">' + valor.nombre + '</option>');
                    })
                    $(result.area_responsabilidad).each(function (pos, valor) {
                        $('#activo_fijo_id_area_responsabilidad').append('<option value = "' + valor.id + '">' + valor.nombre + '</option>');
                    })
                    $(result.area_responsabilidad).each(function (pos, valor) {
                        $('#activo_fijo_activo_fijo_cuentas_id_area_responsabilidad_activo').append('<option value = "' + valor.id + '">' + valor.nombre + '</option>');
                    })
                    $(result.elemento_gasto).each(function (pos, valor) {
                        $('#activo_fijo_activo_fijo_cuentas_id_elemento_gasto_gasto').append('<option value = "' + valor.id + '">' + valor.nombre + '</option>');
                    })
                    $(result.grupo_activos).each(function (pos, valor) {
                        $('#activo_fijo_id_grupo_activo').append('<option value = "' + valor.id + '">' + valor.nombre + '</option>');
                    })
                    loadingModal.close()
                },
                error: function () {
                }
            })
        }
        loadingData()

        //----Eventos donde cargo las subcuentas de las cuentas seleccionadas
        $('#activo_fijo_activo_fijo_cuentas_id_cuenta_activo').on('change', function () {
            $('#activo_fijo_activo_fijo_cuentas_id_subcuenta_activo').find('option').remove()
            console.info(cuentas_activo)
            cuentas_activo.forEach(function (valor, pos) {
                if ($('#activo_fijo_activo_fijo_cuentas_id_cuenta_activo').val() == valor.nro_cuenta) {
                    $('#activo_fijo_activo_fijo_cuentas_id_subcuenta_activo').prepend('<option selected = "false" value = "0" disabled> -- seleccione -- </option>');
                    for (var i = 0; i < valor.sub_cuenta.length; i++) {
                        $('#activo_fijo_activo_fijo_cuentas_id_subcuenta_activo').append('<option value = "' + valor.sub_cuenta[i]['nro_subcuenta'] + '">' + valor.sub_cuenta[i]['nro_subcuenta'] + '</option>');
                    }
                }
            })
        })
        $('#activo_fijo_activo_fijo_cuentas_id_cuenta_depreciacion').on('change', function () {
            $('#activo_fijo_activo_fijo_cuentas_id_subcuenta_depreciacion').find('option').remove()
            console.info(cuentas_activo)
            cuentas_activo.forEach(function (valor, pos) {
                if ($('#activo_fijo_activo_fijo_cuentas_id_cuenta_depreciacion').val() == valor.nro_cuenta) {
                    $('#activo_fijo_activo_fijo_cuentas_id_subcuenta_depreciacion').prepend('<option selected = "false" value = "0" disabled> -- seleccione -- </option>');
                    for (var i = 0; i < valor.sub_cuenta.length; i++) {
                        $('#activo_fijo_activo_fijo_cuentas_id_subcuenta_depreciacion').append('<option value = "' + valor.sub_cuenta[i]['nro_subcuenta'] + '">' + valor.sub_cuenta[i]['nro_subcuenta'] + '</option>');
                    }
                }
            })
        })
        $('#activo_fijo_activo_fijo_cuentas_id_cuenta_gasto').on('change', function () {
            $('#activo_fijo_activo_fijo_cuentas_id_subcuenta_gasto').find('option').remove()
            console.info(cuentas_activo)
            cuentas_activo.forEach(function (valor, pos) {
                if ($('#activo_fijo_activo_fijo_cuentas_id_cuenta_gasto').val() == valor.nro_cuenta) {
                    $('#activo_fijo_activo_fijo_cuentas_id_subcuenta_gasto').prepend('<option selected = "false" value = "0" disabled> -- seleccione -- </option>');
                    for (var i = 0; i < valor.sub_cuenta.length; i++) {
                        $('#activo_fijo_activo_fijo_cuentas_id_subcuenta_gasto').append('<option value = "' + valor.sub_cuenta[i]['nro_subcuenta'] + '">' + valor.sub_cuenta[i]['nro_subcuenta'] + '</option>');
                    }
                }
            })
        })
    </script>
{% endblock %}

