{% extends 'contabilidad/activo_fijo/index.html.twig' %}
{% block style %}
    <style>
        label {
            display: none;
        }
    </style>
{% endblock %}
{% block content %}
    <div class="container-fluid">

        {# header #}
        <div class="d-flex align-items-center">
            <h4 class="mr-auto display-4 mb-0 mr-auto title-table text-light">
                Listado de activos fijos
            </h4>
{#            <div>#}
{#                <a role="button" class="btn btn-primary"#}
{#                   href="{{ url('contabilidad_inventario_informe_recepcion_gestionar') }}">#}
{#                    <i class="fa fa-plus"> Adicionar</i>#}
{#                </a>#}
{#            </div>#}
{#            <div class="ml-2">#}
{#                <a role="button" class="btn btn-danger"#}
{#                   href="{{ url('contabilidad_activo_fijo_depreciar') }}">#}
{#                    <i class="fa fa-minus"> Depreciar</i>#}
{#                </a>#}
{#            </div>#}
        </div>
        {# end header #}

        {# list#}
        <table class="table table-hover text-light">
            <thead class="thead-dark">
            <th width="150px">Grupo Activos</th>
            <th width="150px">Nro. Inv</th>
            <th scope="col-1">Descripción</th>
            <th width="150px">Importe</th>
            </thead>
            <tbody>
            {% for item in activos_fijos %}
                <tr>
                    <td style="font-weight:400;">{{ item.grupo_activos }}</td>
                    <td style="font-weight:400;">{{ item.nro_inv }}</td>
                    <td style="font-weight:400;">{{ item.descripcion }}</td>
                    <td style="font-weight:400;">{{ item.importe }}</td>
{#                    <td>#}
{#                        <button type="button" class="btn ml-1 btn-warning btn-sm" data-toggle="tooltip"#}
{#                                data-placement="bottom" title="Editar">#}
{#                            <i class="fa fa-edit"></i>#}
{#                        </button>#}
{#                        <button type="button" class="btn btn-danger btn-sm" data-toggle="tooltip"#}
{#                                data-placement="bottom" title="Cancelar"#}
{#                                onclick="onDeleteConfirm({#}
{#                                        #}{#message:'Está seguro que desea cancelar informe de recepción {{ item.concecutivo }} ?',#}
{#                                        #}{#url:'{{ path('contabilidad_inventario_informe_recepcion_delete',{id: item.id}) }}'#}
{#                                        })">#}
{#                            <i class="fa fa-trash"></i>#}
{#                        </button>#}
{#                    </td>#}
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {# end list #}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
    </script>
{% endblock %}