{% extends 'utils/modal_form.html.twig' %}

{% block modalbody %}
    {{ form_start(form,{'attr': {'class': 'text-left','id':'form_modal_target','method':'POST'}}) }}

    <div class="form-group input-group input-group-sm d-block">
        <label for="grupo_activos_porciento_deprecia_anno" class="font-weight-bold">% que deprecia al año</label>
        {{ form_widget(form.porciento_deprecia_anno,{'type':'number', 'attr': {'class': 'form-control w-100'}}) }}
    </div>
    <div class="form-group input-group input-group-sm d-block">
        <label for="grupo_activos_id_cuenta" class="font-weight-bold">Cuenta</label>
        {{ form_widget(form.id_cuenta,{'attr': {'class': 'form-control w-100'}}) }}
    </div>
    <div class="form-group input-group input-group-sm d-block">
        <label for="grupo_activos_id_subcuenta" class="font-weight-bold">Subcuenta</label>
        {{ form_widget(form.id_subcuenta,{'attr': {'class': 'form-control w-100'}}) }}
    </div>
    <div class="form-group input-group input-group-sm d-block">
        <label for="grupo_activos_descripcion" class="font-weight-bold">Descripción</label>
        {{ form_widget(form.descripcion,{'attr': {'class': 'form-control w-100'}}) }}
    </div>
    <input type="text" id="id_grupo_activos" hidden>
    {{ form_end(form) }}

{% endblock %}