{% extends 'base.html.twig' %}

{% block content %}

	<section class="section-lg-50 novi-background " id='seccion-principal'>

		<div class="card-header text-center">
		<img class="imagen-efectivo" src="{{ asset('images/iconos/money.svg') }}" >
			<h2>Pagos con efectivo DOP</h2>
		</div>
		<hr class="divider bg-mantis">
		<div class="container d-flex justify-content-center">
			<form id="form"  method="POST">
				<div class="row">
					<div class="col-6 col-md-6">
						<h3 style="color:white; text-align: center; font-weight: 100;">Desglose</h3>
						<hr class="divider-white bg-mantis-white">
						<div class="row">
							<div class="col-12 col-md-12">		

								<div class="col">
									<div class="input-group">
										<div class="input-group-prepend">
											<div class="input-group-text">$2000</div>
										</div>
										<input type="text" class="form-control" id="i-2000" name="i-2000" placeholder="Billetes">
										<button type="button" class="btn btn-dark btn-icon btn-icon-right" id="b-2000">
											<span class="novi-icon fa fa-plus-square"></span>
										</button>
									</div>

								</div>


								<div class="col">
									<div class="input-group">
										<div class="input-group-prepend">
											<div class="input-group-text">$1000</div>
										</div>
										<input type="text" class="form-control" id="i-1000" name="i-1000" placeholder="Billetes">
										<button type="button" class="btn btn-dark btn-icon btn-icon-right" id="b-1000">
											<span class="novi-icon fa fa-plus-square"></span>
										</button>
									</div>

								</div>

								<div class="col">
									<div class="input-group">
										<div class="input-group-prepend">
											<div class="input-group-text">$500</div>
										</div>
										<input type="text" class="form-control" id="i-500" name="i-500" placeholder="Billetes">
										<button type="button" class="btn btn-dark btn-icon btn-icon-right" id="b-500">
											<span class="novi-icon fa fa-plus-square"></span>
										</button>
									</div>

								</div>

								<div class="col">
									<div class="input-group">
										<div class="input-group-prepend">
											<div class="input-group-text">$200</div>
										</div>
										<input type="text" class="form-control" id="i-200" name="i-200" placeholder="Billetes">
										<button type="button" class="btn btn-dark btn-icon btn-icon-right" id="b-200">
											<span class="novi-icon fa fa-plus-square"></span>
										</button>
									</div>

								</div>	

								<div class="col">
									<div class="input-group">
										<div class="input-group-prepend">
											<div class="input-group-text">$100</div>
										</div>
										<input type="text" class="form-control" id="i-100" name="i-100" placeholder="Billetes">
										<button type="button" class="btn btn-dark btn-icon btn-icon-right" id="b-100">
											<span class="novi-icon fa fa-plus-square"></span>
										</button>
									</div>

								</div>

								<div class="col">
									<div class="input-group">
										<div class="input-group-prepend">
											<div class="input-group-text">$50</div>
										</div>
										<input id="i-50" name="i-50" type="text" class="form-control" placeholder="Billetes">
										<button id="b-50" type="button" class="btn btn-dark btn-icon btn-icon-right">
											<span class="novi-icon fa fa-plus-square"></span>
										</button>
									</div>
								</div>

								<div class="col">
									<div class="input-group">
										<div class="input-group-prepend">
											<div class="input-group-text">$25</div>
										</div>
										<input name="i-25" id="i-25" type="text" class="form-control" placeholder="Billetes">
										<button id="b-25" type="button" class="btn btn-dark btn-icon btn-icon-right">
											<span class="novi-icon fa fa-plus-square"></span>
										</button>
									</div>
								</div>

								<div class="col">
									<div class="input-group">
										<div class="input-group-prepend">
											<div class="input-group-text">$10</div>
										</div>
										<input name="i-10" id="i-10" type="text" class="form-control" placeholder="Billetes">
										<button id="b-10" type="button" class="btn btn-dark btn-icon btn-icon-right">
											<span class="novi-icon fa fa-plus-square"></span>
										</button>
									</div>
								</div>

								<div class="col">
									<div class="input-group">
										<div class="input-group-prepend">
											<div class="input-group-text">$5</div>
										</div>
										<input name="i-5" id="i-5" type="text" class="form-control" placeholder="Billetes">
										<button id="b-5" type="button" class="btn btn-dark btn-icon btn-icon-right">
											<span class="novi-icon fa fa-plus-square"></span>
										</button>
									</div>
								</div>

								<div class="col">
									<div class="input-group">
										<div class="input-group-prepend">
											<div class="input-group-text">$1</div>
										</div>
										<input name="i-1" id="i-1" type="text" class="form-control" placeholder="Billetes">
										<button id="b-1" type="button" class="btn btn-dark btn-icon btn-icon-right">
											<span class="novi-icon fa fa-plus-square"></span>
										</button>
									</div>
								</div>
							</div>

							
						</div>
					</div>

					<div class="col-6 col-md-6 clase">
						<h3 style="color:white; text-align: center; font-weight: 100;">Cambio</h3>
						<hr
						class="divider-white bg-mantis-white">
						<!-- Bootstrap Table-->
						<div id="messageBox" style="display: none;  text-align: center;" class="alert alert-danger" role="alert"></div>
						<div class="col-3 d-flex justify-content-center container">

							<table class="table table-striped tabla-reporte">
								<tbody>
									<tr>
										<th>Detalle</th>
										<th>Monto</th>
									</tr>
									<tr>
										<td>Efectivo</td>
										<td>
											$<span id='monto'>0.00</span> DOP
										</td>
									</tr>
									<tr>
										<td>Factura</td>
										<td>
											$<span id="pago">{{monto}} </span> DOP
										</td>
									</tr>

									<tr>
										<td>Cambio</td>
										<td>
											$<span id='cambio'>0.00 </span> DOP
										</td>
									</tr>
								</tbody>
							</table>
						</div>
						<div class="col d-flex justify-content-center container">
							<button id="procesar" type="button" class="btn btn-dark">Procesar</button>
						</div>

					</div>
				</div>
			</form>
		</div>
	</section>
{% endblock %}

{% block javascripts %}
	{{parent()}}

	<script>

var pago = 0;

document.getElementById("cambio").textContent = document.getElementById("monto").textContent - document.getElementById("pago").textContent;
document.getElementById("cambio").textContent = parseFloat(document.getElementById("cambio").textContent).toFixed(2);

function calcular(){

pago = 0;
pago = Number(pago) + Number($('#i-2000').val()) * 2000;
pago = Number(pago) + Number($('#i-1000').val()) * 1000;
pago = Number(pago) + Number($('#i-500').val()) * 500;
pago = Number(pago) + Number($('#i-200').val()) * 200;
pago = Number(pago) + Number($('#i-100').val()) * 100;
pago = Number(pago) + Number($('#i-50').val()) * 50;

pago = Number(pago) + Number($('#i-10').val()) * 10;
pago = Number(pago) + Number($('#i-25').val()) * 25;
pago = Number(pago) + Number($('#i-5').val()) * 5;
pago = Number(pago) + Number($('#i-1').val()) * 1;
document.getElementById("monto").textContent = Number(pago);
document.getElementById("cambio").textContent = Number(document.getElementById("monto").textContent) - Number(document.getElementById("pago").textContent);
document.getElementById("cambio").textContent =document.getElementById("cambio").textContent;

if (document.getElementById("cambio").textContent < 0) {

$("#cambio").css({"color": "red"});

} else {

$("#cambio").css({"color": "white"});
}

}

$('#i-2000').on('input', function () {
this.value = this.value.replace(/[^0-9-.]/g, '');
});

$('#i-1000').on('input', function () {
this.value = this.value.replace(/[^0-9-.]/g, '');
});

$('#i-500').on('input', function () {
this.value = this.value.replace(/[^0-9-.]/g, '');
});

$('#i-200').on('input', function () {
this.value = this.value.replace(/[^0-9-.]/g, '');
});
$('#i-100').on('input', function () {
this.value = this.value.replace(/[^0-9-.]/g, '');
});
$('#i-50').on('input', function () {
this.value = this.value.replace(/[^0-9-.]/g, '');
});
$('#i-20').on('input', function () {
this.value = this.value.replace(/[^0-9-.]/g, '');
});
$('#i-10').on('input', function () {
this.value = this.value.replace(/[^0-9-.]/g, '');
});
$('#i-25').on('input', function () {
this.value = this.value.replace(/[^0-9-.]/g, '');
});
$('#i-5').on('input', function () {
this.value = this.value.replace(/[^0-9-.]/g, '');
});
$('#i-1').on('input', function () {
this.value = this.value.replace(/[^0-9-.]/g, '');
});

if (document.getElementById("cambio").textContent < 0) {

$("#cambio").css({"color": "red"});

} else {

$("#cambio").css({"color": "white"});
}

$("#procesar").click(function () {

if (document.getElementById("cambio").textContent < 0) {
$("#messageBox").text("Cambio debe ser mayor o igual que $0.00");

$("#messageBox").css({"display": ""});
} else {
$("#messageBox").css({"display": "none"});
var url = window.location.protocol+"//"+location.hostname+":"+window.location.port+"/efectivo/save/{{monto}}/{{moneda}}/"+document.getElementById("cambio").textContent+"/"+{{id}};

 window.location.href = url;
}
});

$("#i-2000").change(function () {calcular();});
$("#b-2000").click(function () { $('#i-2000').val(Number($('#i-2000').val()) + 1); calcular();});
$("#i-1000").change(function () {calcular();});
$("#b-1000").click(function () { $('#i-1000').val(Number($('#i-1000').val()) + 1); calcular();});
$("#i-500").change(function () {calcular();});
$("#b-500").click(function () { $('#i-500').val(Number($('#i-500').val()) + 1); calcular();});
$("#i-200").change(function () {calcular();});
$("#b-200").click(function () { $('#i-200').val(Number($('#i-200').val()) + 1); calcular();});
$("#i-100").change(function () {calcular();});
$("#b-100").click(function () { $('#i-100').val(Number($('#i-100').val()) + 1); calcular();});
$("#i-50").change(function () {calcular();});
$("#b-50").click(function () { $('#i-50').val(Number($('#i-50').val()) + 1); calcular();});
$("#i-25").change(function () {calcular();});
$("#b-25").click(function () { $('#i-25').val(Number($('#i-25').val()) + 1); calcular();});
$("#i-10").change(function () {calcular();});
$("#b-10").click(function () { $('#i-10').val(Number($('#i-10').val()) + 1); calcular();});
$("#i-5").change(function () {calcular();});
$("#b-5").click(function () { $('#i-5').val(Number($('#i-5').val()) + 1); calcular();});
$("#i-1").change(function () {calcular();});
$("#b-1").click(function () { $('#i-1').val(Number($('#i-1').val()) + 1); calcular();});

	</script>
{% endblock %}