{% extends 'base.html.twig' %}

{% block content %}

{% include 'breadcrumbs.html.twig' %}
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<section class="section novi-background section-66 section-sm-bottom-110">
        <div class="container">
          <h1 class="text-reporte">Reporte bancarios </h1>
          <hr class="divider bg-mantis">
  <form id="payment-form" name='payment-form' action="{{ path('efectivo/banco/reporte') }}" method="GET" >        
  <div class="input-group input-group-sm mb-3">
   
  <div class="input-group-prepend">
    
  </div>
  <input autocomplete="off" name="from" id='from' type="text"  placeholder="Desde" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-sm">
  <input autocomplete="off" name="to" id='to'  type="text"  placeholder="Hasta" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">

 <div class="input-group-prepend">
  
  </div>
 

  <div class="input-group-prepend">
  </div>

<select class="custom-select" name='empleado' id="empleado">
  <option value=0 selected>Empleado</option>
   {% for data in user %}
        <option value="{{data.username}}">{{data.username}}</option> 
    {% endfor %}  
    
</select>

   <div class="input-group-prepend"></div>
  <input autocomplete="off" name='monto' id='monto' placeholder="Monto" type="text" class="form-control" >
  <button class="btn btn-sm btn-outline-dark" type="submit">Filtrar</button></span>
 
</div></form>
              <!-- Bootstrap Table-->
              <div class="table-responsive clearfix">
                <table class="table table-striped tabla-reporte">
                  <tbody><tr>
                  <th>Fecha</th> 
                    <th>Monto</th>
                    <th>Metodo de Pago</th>
                    <th>Banco</th>                  
                    <th>Cuenta</th>
                    <th>No. Transaccion</th>
                    <th>Empleado</th>
                    <th>Nota</th>
                  </tr>
                 {# table body #}
    
        {% for data in pagination %}
        <tr {% if loop.index is odd %}class="color"{% endif %}>
            <td>{{ data.fecha | date('d-M-y') }} </br> {{ data.fecha | date('h:i a') }}</td>
            <td > {{ data.monto }}  {{ data.moneda }}</td>     
            <td> {{ data.transaccion }}</td>       
            <td> {{ data.banco }}</td>     
            <td> {{ data.cuenta }}</td>  
            <td>{{ data.noTransaccion}}</td> 
            <td>{{ data.empleado}}</td> 
            <td>{{ data.nota}}</td> 
        </tr>
    {% endfor %}    
    
                </tbody></table> 
                {# display navigation #}
                 <div class="navigation">{{ knp_pagination_render(pagination) }}</div>
                 <div class="count contador">Transacciones: {{ pagination.getTotalItemCount }}</div>
              </div>
            </div>
          </div>
        </div>
      </section>



<style>

.input-group.input-group-sm .form-control {
    height: 31px !important;
}

input#from {
    margin-right: 10px;
}

input#to{

    margin-right: 10px;   
}
select#estado {
    margin-right: 10px; 
}
 

select#empleado {
    margin-right: 10px;   
}

input#telefono {
    margin-right: 10px;   
}

.input-group .form-control {
    height: auto;
    color: #ffffff;
    background: #2f2f2f !important;
    border: 1px solid #ffffff80 !important;
}

.custom-select{
    color: #ffffff;
    background: #2f2f2f !important;
    border: 1px solid #ffffff80 !important;
}
.input-group .form-control {
    height: auto;
    color: #ffffff !important;
    background: #ffffff;
}

</style>

{% endblock %}

 {% block javascripts %} 
{{parent()}}

  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script>

      $( function() {
    var dateFormat = "mm/dd/yy",
      from = $( "#from" )
        .datepicker({
          defaultDate: "+1w",
          changeMonth: true,
          numberOfMonths: 1
        })
        .on( "change", function() {
          to.datepicker( "option", "minDate", getDate( this ) );
        }),
      to = $( "#to" ).datepicker({
        defaultDate: "+1w",
        changeMonth: true,
        numberOfMonths: 1
      })
      .on( "change", function() {
        from.datepicker( "option", "maxDate", getDate( this ) );
      });
 
    function getDate( element ) {
      var date;
      try {
        date = $.datepicker.parseDate( dateFormat, element.value );
      } catch( error ) {
        date = null;
      }
 
      return date;
    }
  } );

  </script>
 

{% endblock %}
  