{% extends 'base.html.twig' %}
{% block content %}
    {% include 'breadcrumbs.html.twig' %}
    <div class="row">
        <div class="col-4 ">
            <button class="btn btn-outline-warning font-weight-bold" id="detalles_"><i class="fa fa-eye"
                                                                                       id="btn_detail"></i> Ver detalles
                de los Pagos
            </button>
        </div>
        <div class="col-4 mt-0"><button class="btn btn-outline-warning font-weight-bold" id="detalles_cot"><i class="fa fa-eye"
                                                                                                         id="btn_detail_cot"></i> Ver
                detalles de la Cotización
            </button>
        </div>
        <div class="col-4 mt-0">{% if  resto == 0 %}
                <button class="mr-auto btn btn-outline-primary font-weight-bold"><i class="fa fa-print"></i> Facturar
                </button>
            {% endif %}</div>


    </div>
    <!-- Shop Checkout-->
    <section class="section novi-background section-20 section-sm-20" style="color:white; display: none"
             id="detalles_cotizacion">
        <h1 class="text-confirmar" style="text-align: center; ">Detalles de la cotización</h1>
        <hr class="divider-white bg-mantis-white mb-0">
        <div class="container-fluid">
            <div class="rd-material-tabs checkout-tabs">
                <div class="rd-material-tabs__container">
                    <div>
                        <div class="row justify-content-sm-center">
                            <div class="col-md-12 col-xl-12">
                                <div class="table-responsive">
                                    <table class="table" style="color:white;">
                                        <tbody>
                                        {% for item in carrito %}
                                            <tr>
                                                <td class="row-group-conta" colspan="5">Servicio:
                                                    <i>{{ item.servicio }}</i></td>
                                                <td class="row-group-conta text-right">Subtotal:
                                                    <i>{{ item.sub_total }}</i></td>
                                            </tr>
                                            {% if item.id_servicio == 11 %}
                                                {# Cabecera y cuerpo de la tabla que muestra el contenido para los tramites migratorios #}
                                                <tr>
                                                    <td class="text-left row-group-subconta" colspan="2">Nombre</td>
                                                    <td class="text-left row-group-subconta">Primer Apellido</td>
                                                    <td class="text-left row-group-subconta">Segundo Apellido</td>
                                                    <td class="text-left row-group-subconta">Teléfono Celular</td>
                                                    <td class="text-left row-group-subconta">Teléfono Fijo</td>
                                                </tr>
                                                {% for new_item in item.data %}
                                                    <tr>
                                                        <td class="text-left" colspan="2">{{ new_item.nombre }}</td>
                                                        <td class="text-left">{{ new_item.primer_apellido }}</td>
                                                        <td class="text-left">{{ new_item.segundo_apellido }}</td>
                                                        <td class="text-left">{{ new_item.telefono_celular }}</td>
                                                        <td class="text-left">{{ new_item.telefono_fijo }}</td>
                                                    </tr>
                                                {% endfor %}
                                            {% elseif item.id_servicio == 4 %}
                                                {# Cabecera y cuerpo de la tabla que muestra el contenido para las remesas #}
                                                <tr>
                                                    <td class="text-left row-group-subconta" colspan="4">Cliente</td>
                                                    <td class="text-left row-group-subconta">Teléfono Celular</td>
                                                    <td class="text-left row-group-subconta">Monto</td>

                                                </tr>
                                                {% for new_item in item.data %}
                                                    <td class="text-left" colspan="4"><a data-toggle="collapse"
                                                                                         href="#coll{{ new_item.orden }}"
                                                                                         role="button"
                                                                                         aria-expanded="false"
                                                                                         aria-controls="coll{{ new_item.orden }}">
                                                            <span style="color:white;"> <b> {{ new_item.nombreCliente }} </b></span> </br>
                                                        </a>

                                                        <div class="collapse" id="coll{{ new_item.orden }}"
                                                             style="margin-top: 20px;">

                                                            <ul style="list-style-type:disc">
                                                                <li><b>
                                                                        Beneficiario:</b> {{ new_item.primerNombre }}  {{ new_item.primerApellido }} {{ new_item.segundoApellido }}
                                                                </li>

                                                                <li><b> Contactos:</b> {{ new_item.telefono }}
                                                                    - {{ new_item.telefonoCasa }} </li>
                                                                <li><b>
                                                                        Identificacion:</b> {{ new_item.identificacion }}
                                                                </li>
                                                                <li><b> Direccion:</b>
                                                                    No: {{ new_item.no }}
                                                                    y {{ new_item.y }},
                                                                    Edificio: {{ new_item.edificio }}
                                                                    Apto: {{ new_item.apto }},
                                                                    Reparto:{{ new_item.apto }} </li>
                                                                <li>
                                                                    Municipio: {{ new_item.municipio }},
                                                                    Provincia: {{ new_item.provincia }} </li>
                                                            </ul>

                                                        </div>
                                                    </td>
                                                    <td class="text-left">{{ new_item.idCliente }}</td>
                                                    <td class="text-left">${{ new_item.monto }}</td>
                                                    </tr>
                                                {% endfor %}
                                            {% endif %}
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section novi-background section-20 section-sm-20" style="color:white; display: none"
             id="detalles_pago">
        <h1 class="text-confirmar" style="text-align: center; ">Detalles de los pagos</h1>
        <hr class="divider-white bg-mantis-white mb-0">
        <div class="container-fluid">
            <div class="rd-material-tabs checkout-tabs">
                <div class="rd-material-tabs__container">

                    <div>
                        <div class="row justify-content-sm-center">
                            <div class="col-md-12 col-xl-12">
                                <div class="table-responsive">
                                    <table class="table" style="color:white;">
                                        <thead class="thead-dark">
                                        <th scope="col-1" class="text-left">Empleado</th>
                                        <th scope="col-1" class="text-left">Tipo de Pago</th>
                                        <th scope="col-1" class="text-left">Pagado</th>
                                        <th scope="col-1" class="text-left">Acumulado</th>
                                        <th scope="col-1" class="text-left">Resto</th>
                                        <th scope="col-1" class="text-left">Nota</th>
                                        </thead>
                                        <tbody>
                                        {% for item in detalles_pagos %}
                                            <tr>
                                                <td style="font-weight:400;">{{ item.empleado }}</td>
                                                <td style="font-weight:400;">{{ item.tipo_pago }}</td>
                                                <td style="font-weight:400;">{{ item.monto_pagado }}</td>
                                                <td style="font-weight:400;">{{ item.acumulado }}</td>
                                                <td style="font-weight:400;">{{ item.resto }}</td>
                                                <td style="font-weight:400;">{{ item.nota }}</td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <style>
        .table td, .table th {
            padding: .75rem !important;
        }
    </style>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $('#detalles_').on('click', function () {
            if ($('#detalles_pago').css('display') == 'none') {
                $('#detalles_pago').css('display', 'block')
                $('#btn_detail').removeClass('fa fa-eye')
                $('#btn_detail').addClass('fa-eye-slash')
                $('#detalles_').removeClass('btn btn-outline-warning')
                $('#detalles_').addClass('btn btn-danger')
            } else {
                $('#detalles_pago').css('display', 'none')
                $('#btn_detail').removeClass('fa-eye-slash')
                $('#btn_detail').addClass('fa fa-eye')
                $('#detalles_').removeClass('btn btn-danger')
                $('#detalles_').addClass('btn btn-outline-warning')
            }
        })

        $('#detalles_cot').on('click', function () {
            if ($('#detalles_cotizacion').css('display') == 'none') {
                $('#detalles_cotizacion').css('display', 'block')
                $('#btn_detail_cot').removeClass('fa fa-eye')
                $('#btn_detail_cot').addClass('fa-eye-slash')
                $('#detalles_cot').removeClass('btn btn-outline-warning')
                $('#detalles_cot').addClass('btn btn-danger')
            } else {
                $('#detalles_cotizacion').css('display', 'none')
                $('#btn_detail_cot').removeClass('fa-eye-slash')
                $('#btn_detail_cot').addClass('fa fa-eye')
                $('#detalles_cot').removeClass('btn btn-danger')
                $('#detalles_cot').addClass('btn btn-outline-warning')
            }
        })
    </script>
{% endblock %}