{% extends 'utils/modal_form.html.twig' %}

{% block modalbody %}
    {{ form_start(form,{'attr': {'class': 'text-left','id':'form_modal_target','method':'POST'}}) }}

    <div class="form-group input-group input-group-sm d-block">
        <label for="subcuenta_nro_subcuenta" class="font-weight-bold">Nro. Subcuenta</label>
        {{ form_widget(form.nro_subcuenta,{'attr': {'class': 'form-control w-100'}}) }}
    </div>
    <div class="form-group input-group input-group-sm d-block">
        <label for="subcuenta_descripcion" class="font-weight-bold">Descripción</label>
        {{ form_widget(form.descripcion,{'attr': {'class': 'form-control w-100'}}) }}
    </div>
    <div class="form-group input-group input-group-sm d-block">
        <label for="naturaleza_cuenta" class="font-weight-bold">Naturaleza</label>
        <select name="subcuenta[naturaleza]" id="naturaleza_cuenta" class="form-control w-100">
            <option value="1">Deudora</option>
            <option value="0">Acreedora</option>
        </select>
    </div>
    <input type="text" id="id_subcuenta" name="subcuenta[id_subcuenta]" hidden>
    <input type="text" id="id_cuenta" name="subcuenta[id_cuenta]" hidden value="{{ id_cuenta }}">

    {{ form_end(form) }}
{% endblock %}
