{% extends 'utils/modal_form.html.twig' %}

{% block modalbody %}
    {{ form_start(form,{'attr': {'class': 'text-left','id':'form_modal_target','method':'POST'}}) }}

    <div class="form-group input-group input-group-sm d-block">
        <label for="subcuenta_nro_subcuenta" class="font-weight-bold">Nro. Subcuenta</label>
        {{ form_widget(form.nro_subcuenta,{'attr': {'class': 'form-control w-100'}}) }}
    </div>
    <div class="form-group input-group input-group-sm d-block">
        <label for="subcuenta_descripcion" class="font-weight-bold">Descripción</label>
        {{ form_widget(form.descripcion,{'attr': {'class': 'form-control w-100'}}) }}
    </div>
    <div class="form-group input-group input-group-sm d-block">
        <label class="font-weight-bold">Naturaleza</label>
        {{ form_widget(form.deudora,{'attr': {'class': 'form-control w-100'}}) }}
    </div>
    <div class="form-group input-group input-group-sm d-block">
        {{ form_label(form.elemento_gasto) }}
        {{ form_widget(form.elemento_gasto) }}
    </div>
    <div class="form-group input-group input-group-sm d-block">
        <label for="id_criterio" class="font-weight-bold">Criterio de análisis</label>
        <input type="text" name="criterio_analisis[abreviatura]"
               id="id_criterio"
               input-multiselect-modal-type
               immt-title="Seleccionar los criterios de análisis"
               immt-url="/contabilidad/config/criterio-analisis/getAllActive"
               immt-key="abreviatura"
               class="form-control w-100" data-toggle="modal">
    </div>
    <input type="text" id="id_subcuenta"  hidden>
    <input type="text" id="id_cuenta" hidden value="{{ id_cuenta }}">
    <input type="text" name="page" id="page" value="{{ subcuentas.currentPageNumber }}" hidden>

    {{ form_end(form) }}
{% endblock %}
