{% extends 'contabilidad/config/index.html.twig' %}
{% block content %}
    <div class="container-fluid">
        {# header #}
        <div class="d-flex align-items-center">
            <div class="mr-auto">
                <h5 class="display-4 mb-0 mr-auto title-table pb-0 text-light">
                    Subcuentas
                </h5>
                <a href="{{ path('contabilidad_config_cuenta') }}">
                    <h6 class="mb-2 pl-2 text-left text-light">
                        <i class="ml-2 mt-1 fa fa-arrow-circle-left text-drak"></i>
                        {{ subtitle }}
                    </h6>
                </a>
            </div>
            <div>
                <button type="button" class="btn btn-primary btn-sm" data-toggle="modal"
                        data-target="#modal__form__id" data-placement="bottom" title="Adicionar"
                        onclick="mostrarBtn()">
                    <i class="fa fa-plus"> Adicionar</i>
                </button>
            </div>
        </div>
        {# end header #}
        {# Modal de adicionar#}

        {{ include('./contabilidad/config/subcuenta/form_modal.html.twig', {title:'Crear Sub Cuenta'}) }}

        {# list #}
        <table class="table-small-rows table table-hover text-light">
            <thead class="thead-dark">
            <th scope="col-2">Nro. subcuenta</th>
            <th scope="col-3">Descripción</th>
            <th scope="col-3" width="120px">Naturaleza</th>
            <th scope="col-1" width="150px">Acciones</th>
            </thead>
            <tbody>
            {% for item in subcuentas %}
                <tr>
                    <td style="font-weight:400;">{{ item.nro_subcuenta }}</td>
                    <td style="font-weight:400;">{{ item.descripcion }}</td>
                    <td style="font-weight:400;">{{ item.deudora }}</td>
                    <td>
                        <button type="button" class="btn btn-warning btn-sm px-1" data-toggle="tooltip"
                                data-placement="bottom" title="Eliminar"
                                onclick="onUpdate({
                                        nro_subcuenta: '{{ item.nro_subcuenta }}',
                                        descripcion:'{{ item.descripcion }}',
                                        deudora:'{{ item.deudora }}' ,
                                        id_subcuenta: '{{ item.id }}'
                                        })">
                            <i class="fa fa-edit"></i>
                        </button>
                        <button type="button" class="btn btn-danger btn-sm" data-toggle="tooltip"
                                data-placement="bottom" title="Eliminar"
                                onclick="onDeleteConfirm({
                                        message:'Está seguro que desea eliminar la subcuenta {{ item.nro_subcuenta }} ?',
                                        url:'{{ path('contabilidad_config_subcuenta_delete',{id: item.id, id_cuenta: id_cuenta }) }}',
                                        _token: '{{ csrf_token('delete' ~ item.id) }}'
                                        })">
                            <i class="fa fa-trash"></i>
                        </button>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {# end list #}
        <div class="navigation">
            {{ knp_pagination_render(subcuentas) }}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>

        function mostrarBtn() {
            $('#modal__btn__actualizar').hide()
            $('#modal__btn__aceptar').show()
        }

        const onUpdate = function (config) {
            $('#modal__btn__actualizar').show()
            $('#modal__btn__aceptar').hide()

            const {nro_subcuenta = '', descripcion = '', deudora = '', id_subcuenta = ''} = config

            $('#modal__form__id').modal('show')
            $('#modal__form__label__id').html("Modificar " + nro_subcuenta)

            $('#subcuenta_nro_subcuenta').val(nro_subcuenta)
            $('#subcuenta_descripcion').val(descripcion)
            $('#id_subcuenta').val(id_subcuenta)

            if (deudora == 'Deudora') $('#naturaleza_cuenta').val(1)
            else $('#naturaleza_cuenta').val(0)
        }

        $(document).ready(function () {
            $('#modal__btn__actualizar').hide()

            var validateForm = $('#form_modal_target').validate({
                errorClass: 'invalid-label-orange',
                errorPlacement: function (error, element) {
                    // colocar mensajes de error a la derecha de cada label para el componente
                    const error_label = element.closest("form").find(element.attr('id') + "-error")
                    if (error_label.length) {
                        error_label.removeClass('hide')
                    } else {
                        error.addClass('ml-3')
                        $(element)
                            .closest("form")
                            .find("label[for='" + element.attr("id") + "']")
                            .append(error);
                    }
                },
                rules: {
                    'subcuenta[nro_subcuenta]': "required",
                    'subcuenta[descripcion]': "required",
                },
                messages: {
                    'subcuenta[nro_subcuenta]': CONTAB_MSG.REQUIRED_NOT_BLANK,
                    'subcuenta[descripcion]': CONTAB_MSG.REQUIRED_NOT_BLANK,
                }
            })

            $('#modal__btn__aceptar').on('click', function () {
                const formulario = $('#form_modal_target')
                formulario.attr('method', `POST`)
                formulario.attr('action', `/contabilidad/config/subcuenta/{{ id_cuenta }}/add`)
                formulario.submit()
                if(validateForm.errorList.length === 0) loadingModal.show()
            })

            $('#modal__btn__actualizar').on('click', function () {
                const formulario = $('#form_modal_target')
                const id_subcuenta = $('#id_subcuenta').val()
                formulario.attr('method', `POST`)
                formulario.attr('action', `/contabilidad/config/subcuenta/{{ id_cuenta }}/upd/${id_subcuenta}`)
                formulario.submit()
                if(validateForm.errorList.length === 0) loadingModal.show()
            })


            $('#modal__form__id').on('show.bs.modal', function (event) {
                validateForm.resetForm()
                $('#modal__form__label__id').text('Adicionar Sub Cuenta')
            })
        })
    </script>
{% endblock %}

