{% extends 'turismo_module/index.html.twig' %}

{% block title %}Tipo de Vehiculo{% endblock %}

{% block style %}
    <style>
        label {
            display: none;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="container-fluid">

        {# header #}
        <div class="d-flex align-items-center">
            <h4 class="mr-auto display-4 mb-0 mr-auto title-table text-light">
                Tipo de Vehiculo
            </h4>
            <div>
                <button type="button" class="btn btn-primary btn-md" data-toggle="modal"
                        data-target="#gestionarTvehiculoModal" data-placement="bottom" title="Adicionar"
                        onclick="mostrarBtn()">
                    <i class="fa fa-plus"> Adicionar</i>
                </button>
            </div>
        </div>
        {# end header #}

        {# Modal de adicionar#}
        <div class="modal fade" id="gestionarTvehiculoModal" tabindex="-1" role="dialog" data-backdrop="static"
             data-keyboard="false"
             aria-labelledby="gestionarTvehiculo" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header bg-dark">
                        <h4 class="modal-title text-light" id="gestionarTvehiculo">Adicionar Vehículo</h4>
                        <button class="close text-light" type="button" data-dismiss="modal" aria-label="Cerrar">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body bg-dark-app">
                        <form name='formJpg' method="POST" enctype="multipart/form-data"
                              action="{{ path('turismo_module_traslado_tipo_vehiculo_add') }}">
                            <div class="container">
                                <div class="mt-0 form-group input-group input-group-sm pr-0">
                                    <div class="col-6">
                                        <div class="row">
                                            <label for="tipo_vehiculo_nombre" class="required">Marca</label>
                                            <input type="text" id="tipo_vehiculo_nombre" name="tipo_vehiculo[nombre]"
                                                   required="required" class="w-100 form-control">
                                        </div>
                                        <div class="row mt-1">
                                            <label for="tipo_vehiculo_cantidad_ini_persona" class="required">Cantidad
                                                Inicial de Personas</label>
                                            <input type="number" id="tipo_vehiculo_cantidad_ini_persona"
                                                   name="tipo_vehiculo[cantidad_ini_persona]" required="required"
                                                   class="w-100 form-control">
                                        </div>
                                        <div class="row mt-1">
                                            <label for="tipo_vehiculo_cantidad_fin_persona" class="required">Cantidad
                                                final de Personas</label>
                                            <input type="number" id="tipo_vehiculo_cantidad_fin_persona"
                                                   name="tipo_vehiculo[cantidad_fin_persona]" required="required"
                                                   class="w-100 form-control">
                                        </div>
                                    </div>
                                    <div class="col-6 d-block mt-0">
                                        <label for="grupo_tipo_vehiculo_cant_fin"
                                               class="font-weight-bold">Imagen</label>
                                        <div class="col-6 imgUp w-100 mt-1">
                                            <div id="1" class="imagePreview" style="width: 200px;"></div>
                                            <label class="btn btn-dark" style="width: 200px;">
                                                Subir 1<input type="file" name="1" class="uploadFile img"
                                                              value="Upload Photo"
                                                              style="width: 0px;height: 0px;overflow: hidden;">
                                            </label>
                                        </div>
                                    </div>

                                    <input type="text" id="id_tipo_vehiculo" hidden="">
                                </div>
                            </div>
                            <div class="d-flex mt-4">
                                <div class="mr-auto">
                                    <button class="btn btn-outline-secondary" type="button" data-dismiss="modal"
                                            aria-label="Cerrar">
                                        <span aria-hidden="true">Cancelar</span>
                                    </button>
                                </div>
                                <div class="ml-2">
                                    <button type="submit" class="my-0 btn btn-primary" id="btnAceptar">Aceptar</button>
                                </div>
                                <div class="ml-2">
                                    <button type="submit" class="my-0 btn btn-warning" id="btnActualizar"
                                            style="display: none;">Actualizar
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {# list #}

    <table class="table-small-rows table table-hover text-light">
        <thead class="thead-dark">
        <th scope="col-2" class="text-left">Tipo de vehículo</th>
        <th scope="col-1" class="text-left">Rango de personas</th>
        <th scope="col-1" class="text-left">Imagen</th>
        <th scope="col-1" class="text-center" width="150px">Acciones</th>
        </thead>
        <tbody>
        {% for item in vehiculos %}
            <tr>
                <td style="font-weight:400;">{{ item.nombre }}</td>
                <td style="font-weight:400; align-content: center;" width="400px">{{ item.cant_ini }}
                    - {{ item.cant_fin }}</td>
                <td style="font-weight:400; align-content: center;" width="400px">
                    <button class="btn btn-dark fa fa-search" id="btnimagen"
                            onclick="MostrarImagen('imga{{ item.id }}')"></button>
                    <div>
                        <img class="p-2" id="imga{{ item.id }}" style="width: 150px; "
                             src="{{ "/images/vehiculos/"~item.picture }}">
                    </div>
                </td>
                <td class="text-center">
                    <button type="button" class="btn btn-warning btn-sm" data-toggle="tooltip"
                            data-placement="bottom" title="Actualizar"
                            onclick="onUpdate({
                                    id: '{{ item.id }}',
                                    nombre: '{{ item.nombre }}',
                                    cant_ini: '{{ item.cant_ini }}',
                                    cant_fin: '{{ item.cant_fin }}'
                                    })">
                        <i class="fa fa-edit"></i>
                    </button>
                    <button type="button" class="btn btn-danger btn-sm" data-toggle="tooltip"
                            data-placement="bottom" title="Eliminar"
                            onclick="onDeleteConfirm({
                                    message:'Está seguro que desea eliminar el vehículo seleccionado ?',
                                    url:'{{ path('turismo_module_traslado_tipo_vehiculo_delete',{id: item.id}) }}'
                                    })">
                        <i class="fa fa-trash"></i>
                    </button>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {# end list #}
    </div>

    <div class="navigation mt-5">
        {{ knp_pagination_render(vehiculos) }}
    </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <style>
        body {
            background-color: #f5f5f5;
        }

        .imagePreview {
            width: 100%;
            height: 150px;
            background-position: center center;
            background: url('http://cliquecities.com/assets/no-image-e3699ae23f866f6cbdf8ba2443ee5c4e.jpg');
            background-color: #fff;
            background-size: cover;
            background-repeat: no-repeat;
            display: inline-block;
            box-shadow: 0 -3px 6px 2px rgba(0, 0, 0, 0.2);
        }

        .btn-dark {
            display: block;
            border-radius: 0;
            box-shadow: 0 4px 6px 2px rgba(0, 0, 0, 0.2);
            margin-top: -5px;
        }

        .imgUp {
            margin-bottom: 15px;
        }

        .del {
            position: absolute;
            top: 0;
            right: 15px;
            width: 30px;
            height: 30px;
            text-align: center;
            line-height: 30px;
            background-color: rgba(255, 255, 255, 0.6);
            cursor: pointer;
        }

        .imgAdd {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            background-color: #4bd7ef;
            color: #fff;
            box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
            text-align: center;
            line-height: 30px;
            margin-top: 0;
            cursor: pointer;
            font-size: 15px;
        }

        button#btnSubir {
            color: #fff;
            border: 1px solid;
            margin-left: 14%;
            margin-top: 40%;
        }

        button#btnSubir:hover {
            background-color: #fff;
            color: #2f2f2f;
        }
    </style>
    <script>
        $(document).ready(function () {
            $('#btnActualizar').hide()
            $('#tipo_vehiculo_cantidad_ini_persona').prop('type', 'number')
            $('#tipo_vehiculo_cantidad_fin_persona').prop('type', 'number')
            $('img').hide()
        })
        $(document).on("change", ".uploadFile", function () {
            var uploadFile = $(this);
            var files = !!this.files ? this.files : [];
            if (!files.length || !window.FileReader) return; // no file selected, or no FileReader support

            if (/^image/.test(files[0].type)) { // only image file
                var reader = new FileReader(); // instance of the FileReader
                reader.readAsDataURL(files[0]); // read the local file

                reader.onloadend = function () { // set image data as background of div
                    //alert(uploadFile.closest(".upimage").find('.imagePreview').length);
                    uploadFile.closest(".imgUp").find('.imagePreview').css("background-image", "url(" + this.result + ")");
                }
            }

        })

        const onUpdate = function (config) {
            $('#btnActualizar').show()
            $('#btnAceptar').hide()
            const {nombre = '', id = '', cant_ini = '', cant_fin = ''} = config
            $('#gestionarTvehiculoModal').modal('show')

            $('#tipo_vehiculo_nombre').val(nombre)
            $('#tipo_vehiculo_cantidad_ini_persona').val(cant_ini)
            $('#tipo_vehiculo_cantidad_fin_persona').val(cant_fin)
            $('#id_tipo_vehiculo').val(id)
            $('#gestionarTvehiculo').html("Modificar " + nombre)
        }
        {#$('#btnAceptar').on('click', function () {#}
        {#    const archivo = $('#image');#}
        {#    let params = {#}
        {#        nombre: $('#tipo_vehiculo_nombre').val(),#}
        {#        cantidad_ini_persona: $('#tipo_vehiculo_cantidad_ini_persona').val(),#}
        {#        cantidad_fin_persona: $('#tipo_vehiculo_cantidad_fin_persona').val(),#}
        {#        picture:archivo.files,#}
        {#        id_cliente: {{ id_cliente }}#}
        {#    }#}
        {#    //console.log(archivo);#}
        {#    $.ajax({#}
        {#        url: '/configuracion-turismo/traslado/tipo-vehiculo/add',#}
        {#        method: "POST",#}
        {#        data: params#}
        {#    }).then(res => {#}
        {#        window.location.replace('/configuracion-turismo/traslado/tipo-vehiculo');#}
        {#    })#}
        {#})#}

        $('#btnActualizar').on('click', function () {

            {#let params = {#}
            {#    nombre: $('#tipo_vehiculo_nombre').val(),#}
            {#    cantidad_ini_persona: $('#tipo_vehiculo_cantidad_ini_persona').val(),#}
            {#    cantidad_fin_persona: $('#tipo_vehiculo_cantidad_fin_persona').val(),#}
            {#    id_TipoVehiculo: $('#id_tipo_vehiculo').val(),#}
            {#    id_cliente: {{ id_cliente }}#}
            {#}#}
            {#$.ajax({#}
            {#    url: '/configuracion-turismo/traslado/tipo-vehiculo/upd',#}
            {#    method: "POST",#}
            {#    data: params#}
            {#}).then(res => {#}
            {#    window.location.replace('/configuracion-turismo/traslado/tipo-vehiculo');#}
            {#})#}
        })

        function MostrarImagen(imagen) {

            //elemnto = document.getElementById(imagen);
            //console.log("'#"+imagen+"'");
            $("#" + imagen).fadeToggle("slow", "linear");
            /*$("#"+imagen).toggle(function (){
                $("#"+imagen).show()
            },function (){
                $("#"+imagen).hide()
            });*/
        }


        $('#gestionarTvehiculoModal').on('show.bs.modal', function (event) {
            var modal = $(this)
            modal.find('.modal-title').text('Adicionar vehículo')
        })

        function mostrarBtn() {
            $('#btnActualizar').hide()
            $('#btnAceptar').show()

            $('#tipo_vehiculo_nombre').val('')
            $('#tipo_vehiculo_cantidad_ini_persona').val('')
            $('#tipo_vehiculo_cantidad_fin_persona').val('')
        }
    </script>
{% endblock %}
