{% extends('contabilidad/inventario/print_base.html.twig') %}
{% block title %} Imprimir Transferencia de Salida {% endblock %}
{% block body %}
    <div class="container-fluid mt-3 d-flex flex-column" style="height: 1000px;">
        <table border="1" width="960px" class="mt-1">
            <tbody>
            <tr>
                <td colspan="7" height="70px" class="font-weight-bold text-center">TRANSFERENCIA DE SALIDA</td>
            </tr>
            <tr>
                <td colspan="6"><strong>Unidad:</strong> {{ datos.unidad }}</td>
                <td colspan="1" width="200px" class="text-center">
                    <strong>Fecha: </strong>{{ datos.fecha_transferencia }}
                </td>
            </tr>
            <tr>
                <td colspan="7"><strong>Almacén: </strong>{{ datos.almacen }}</td>
            </tr>
            </tbody>
        </table>
        <table border="1" width="960px">
            <tbody>
            {% if datos.unidad_origen == '' %}
                <tr>
                    <td colspan="7" class="text-center"><strong>Almacén de Origen </strong></td>
                </tr>
                <tr>
                    <td colspan="7">{{ datos.almacen_origen }}</td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="7" class="text-center"><strong>Unidad de Origen</strong></td>
                </tr>
                <tr>
                    <td colspan="7">{{ datos.unidad_origen }}</td>
                </tr>
            {% endif %}
            </tbody>
        </table>
        <table border="0" width="960px">
            <thead>
            <th style="border: solid black 1px; width:80px;" class="text-center"><strong>Código</strong></th>
            <th style="border: solid black 1px; width:100px;" class="text-center"><strong>Descripción</strong></th>
            <th style="border: solid black 1px; width:100px;" class="text-center"><strong>Centro Costo</strong></th>
            <th style="border: solid black 1px; width:100px;" class="text-center"><strong>Elemento Gasto</strong></th>
            <th style="border: solid black 1px; width:70px;" class="text-center"><strong>Cantidad</strong></th>
            <th style="border: solid black 1px; width:70px;" class="text-center"><strong>Precio</strong></th>
            <th style="border: solid black 1px; width:70px;" class="text-center"><strong>Importe</strong></th>
            <th style="border: solid black 1px; width:70px;" class="text-center"><strong>Existencia</strong></th>
            </thead>
            <tbody>
            {% for item in mercancias %}
                <tr>
                    <td>{{ item.codigo }}</td>
                    <td>{{ item.descripcion }}</td>
                    <td>{{ item.centro_costo }}</td>
                    <td>{{ item.elemento_gasto }}</td>
                    <td class="text-right">{{ item.cantidad }}</td>
                    <td class="text-right">{{ item.precio }}</td>
                    <td class="text-right">{{ item.importe }}</td>
                    <td class="text-right">{{ item.existencia }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <table border="0px" class="mt-5" width="960px" height="70px">
            <tbody>
            <tr>
                <td class="font-weight-bold text-center" colspan="5">IMPORTE TOTAL</td>
                <td width="100" class="font-weight-bold text-right">{{ datos.importe_total }}</td>
                <td width="100" class="font-weight-bold text-center"></td>
            </tr>
            <tr class="p-3">
                <td style="border: 0px !important;" colspan="7" height="30px;"></td>
            </tr>
            </tbody>
        </table>
        <table border="1px" width="960px" id="footer">
            <tbody>
            <tr class="mt-1">
                <td valign="TOP" width="155" height="75px;" class="text-capitalize"><strong>Jefe de Almacén</strong>
                </td>
                <td valign="TOP" width="230"><strong>Transportador</strong></td>
                <td valign="TOP" width="155"><strong>Recepciona</strong></td>
                <td valign="TOP" width="155"><strong>Contabiliza</strong></td>
                <td valign="TOP" width="165"><strong>Submayor</strong></td>
                <td valign="TOP" width="100" class="text-center"><strong> TS-{{ datos.nro_solicitud }}</strong></td>
            </tr>
            </tbody>
        </table>
    </div>
{% endblock %}