{% extends 'contabilidad/inventario/index.html.twig' %}
{% block style %}
    <style>
        label {
            display: none;
        }
    </style>
{% endblock %}
{% block content %}
    <div class="container-fluid">

        {# header #}
        <div class="d-flex align-items-center">
            <h4 class="mr-auto display-4 mb-0 mr-auto title-table text-light">
                Listado de existencia en almacén
            </h4>
        </div>
        {# end header #}

        {# list#}
        <table class="table table-hover text-light table-small-rows">
            <thead class="thead-dark">
            <th width="130px">Códico</th>
            <th scope="col-1">Descripción</th>
            <th width="50px">UM</th>
            <th width="120px">Existencia</th>
            <th width="80px">Precio</th>
            <th width="80px">Importe</th>
            </thead>
            <tbody>
            {% for datos in mercancias %}
                <tr>
                    <td class="row-group-conta" colspan="5">{{ datos.cuenta }}</td>
                    <td class="row-group-conta text-right">{{ datos.total }}</td>
                </tr>
                {% for item in datos.existencia %}
                    <tr>
                        <td class="row-group-conta" colspan="5">{{ item.cuenta }}</td>
                        <td class="row-group-conta text-right">{{ item.total }}</td>
                    </tr>
                    {% for new_item in item.existencia %}
                        <tr>
                            <td style="font-weight:400;">{{ new_item.codigo }}</td>
                            <td style="font-weight:400;">{{ new_item.descripcion }}</td>
                            <td style="font-weight:400;">{{ new_item.unidad_medida }}</td>
                            <td style="font-weight:400;" class="text-right">{{ new_item.existencia }}</td>
                            <td style="font-weight:400;" class="text-right">{{ new_item.precio }}</td>
                            <td style="font-weight:400;" class="text-right">{{ new_item.importe }}</td>
                        </tr>
                    {% endfor %}
                {% endfor %}
            {% endfor %}
            </tbody>
        </table>
        {# end list #}
    </div>
{% endblock %}