{% extends 'contabilidad/inventario/index.html.twig' %}
{% block style %}
    <style>
        label {
            display: none;
        }
    </style>
{% endblock %}
{% block content %}
    <div class="container-fluid">

        {# header #}
        <div class="d-flex justify-content-between align-items-center">
            <h4 class="mr-auto display-4 mb-0 mr-auto title-table text-light">
                Listado de existencia en almacén
            </h4>
            <div style="width: 350px" class="mt-0 pl-3 pr-0 form-group input-group input-group-sm d-block p-0">
                {{ form_start(form, {'method':'post', 'attr': {'id': 'mercancia_formulario_id'}}) }}
                <label for="" class="text-white">Seleccione la cuenta:</label>
                {{ form_widget(form.cuentas) }}
                {{ form_end(form) }}
            </div>
            <div>
                <i class="btn fa-print btn-warning ml-3" title="Imprimir listado de existencia"
                   onclick="Print('{{ path('contabilidad_inventario_mercancia_print') }}')"></i>
            </div>
        </div>
        {# end header #}

        {# list#}
        {% if mercancias|length > 0 %}
        <table class="table table-hover text-light table-small-rows">
            <thead class="thead-dark">
            <th width="130px">Códico</th>
            <th scope="col-1">Descripción</th>
            <th width="100px">UM</th>
            <th width="160px">Existencia</th>
            <th width="150px">Precio</th>
            <th width="150px">Importe</th>
            </thead>
            <tbody>
            <tr>
                <td class="row-group-conta" colspan="5">{{ mercancias.cuenta }}</td>
                <td class="row-group-conta text-right">{{ mercancias.total }}</td>
            </tr>
            {% for item in mercancias.existencia %}
                <tr>
                    <td class="row-group-subconta" colspan="5">{{ item.cuenta }}</td>
                    <td class="row-group-subconta text-right">{{ item.total }}</td>
                </tr>
                {% for new_item in item.existencia %}
                    <tr>
                        <td style="font-weight:400;">{{ new_item.codigo }}</td>
                        <td style="font-weight:400;">{{ new_item.descripcion }}</td>
                        <td style="font-weight:400;">{{ new_item.unidad_medida }}</td>
                        <td style="font-weight:400;" class="text-center">{{ new_item.existencia }}</td>
                        <td style="font-weight:400;" class="text-right">{{ new_item.precio }}</td>
                        <td style="font-weight:400;" class="text-right">{{ new_item.importe }}</td>
                    </tr>
                {% endfor %}
            {% endfor %}
            </tbody>
        </table>
        {# end list #}
        {% else %}
            <h3 class="text-light text-center">No se exixte mercancia registrada en el almacén!!!</h3>
        {% endif %}
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function () {
            $('#form_cuentas').on('change', function (event) {
                loadingModal.show()
                const cuenta = $(this).val()
                $('#mercancia_formulario_id').attr('action', `/contabilidad/inventario/existencia-almacen/${cuenta}`)
                $('#mercancia_formulario_id').submit()
            })
        })
        function Print(url) {
            console.info(url)
            window.open(url, 'blank_')
        }
    </script>
{% endblock %}