{% extends 'contabilidad/general/index.html.twig' %}
{% block style %}
    <style>
        label {
            display: none;
        }
    </style>
{% endblock %}
{% block content %}
    <div class="container-fluid">

        {# header #}
        <div class="d-flex align-items-center">
            <h4 class="mr-auto display-4 mb-0 mr-auto title-table text-light">
                Registro de comprobantes
            </h4>
            <button type="button" class="btn btn-warning btn-sm" data-placement="bottom" title="Imprimir Registro de Comprobantes"
                    onclick="Print('{{ path('contabilidad_general_registro_comprobantes_print') }}')">
                <i class="fa fa-print"></i>
            </button>
        </div>
        {# end header #}


        {# list #}
        <table class="table-small-rows table table-hover text-light">
            <thead class="thead-dark">
            <th width="100px">#</th>
            <th width="350px" class="pr-0 pl-0">Almacén</th>
            <th width="100px" class="pl-0 text-center pr-0">Fecha</th>
            <th scope="col-1" class="pl-2 text-center">Usuario</th>
            <th scope="col-1">Descripción</th>
            <th width="100px">Imprimir</th>
            </thead>
            <tbody>
            {% for item in registro %}
                <tr>
                    <td style="font-weight:400;">{{ item.abreviatura_comprobante }}-{{ item.nro }}</td>
                    <td style="font-weight:400;" class="pl-0 pr-0">{{ item.almacen }}</td>
                    <td style="font-weight:400;" class="pl-0 pr-0">{{ item.fecha }}</td>
                    <td style="font-weight:400;" class="text-center">{{ item.usuario }}</td>
                    <td style="font-weight:400;">{{ item.descripcion }}</td>
                    <td style="font-weight:400;" class="text-center"><i class="fa-print btn-sm btn-warning" title="Imprimir Comprobante" onclick="Print_Comprobante({{ item.id }})"></i></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {# end list #}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        function Print(url) {
            window.open(url, 'blank_')
        }
        function Print_Comprobante(id) {
            let url = '/contabilidad/general/registro-comprobantes/detalles/' + id
            window.open(url, 'blank_')
        }
    </script>
{% endblock %}