{% extends 'contabilidad/config/index.html.twig' %}
{% block style %}
    <style>
        label {
            display: none;
        }
    </style>
{% endblock %}
{% block content %}
    <div class="container-fluid">

        {# header #}
        <div class="d-flex align-items-center">
            <h4 class="mr-auto display-4 mb-0 mr-auto title-table text-light">
                Registro de comprobantes
            </h4>
        </div>
        {# end header #}


        {# list #}
        <table class="table-small-rows table table-hover text-light">
            <thead class="thead-dark">
            <th width="10px">#</th>
            <th scope="col-1">Tipo de comprobante</th>
            <th scope="col-1">Almacén</th>
            <th scope="col-1">Fecha</th>
            <th scope="col-1">Usuario</th>
            <th scope="col-1">Descripcion</th>
            </thead>
            <tbody>
            {% for item in registro %}
                <tr>
                    <td style="font-weight:400;"><a href="imprimir/{{ item.id }}" class="text-white" title="VISUALIZAR {{ item.tipo_comprobante }}">{{ item.nro }}</a></td>
                    <td style="font-weight:400;">{{ item.tipo_comprobante }}</td>
                    <td style="font-weight:400;">{{ item.almacen }}</td>
                    <td style="font-weight:400;">{{ item.fecha }}</td>
                    <td style="font-weight:400;">{{ item.usuario }}</td>
                    <td style="font-weight:400;">{{ item.descripcion }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {# end list #}
    </div>
{% endblock %}