{% extends 'base.html.twig' %}
{% block content %}

    {# Formulario de gesti贸n de las configuraciones iniciales del sistema #}
    <div class="container d-flex justify-content-center">
        <div class="card mt-5" style="width: 50rem;">
            <div class="container">
                <h1 class="text-reporte"> Adicionar Configuraci贸n</h1>
            </div>
            <div class="card-body">
                {{ form_start(formulario, {'attr':{'id':'form_add_configinicial'}}) }}
                <div class="row">
                    <div class="col-4 form-group input-group input-group-sm pa-2 d-block">
                        <label for="id_modulo" class="font-weight-bold">M贸dulo</label>
                        {{ form_widget(formulario.id_modulo, {'attr': {'class': 'form-control w-100','id': 'id_modulo','name':'id_modulo'}}) }}
                        <span class="input-group-append"></span>
                    </div>
                    <div class="col-4 mt-0 form-group input-group input-group-sm d-block">
                        <label for="id_tipo_documento" class="font-weight-bold">Tipo de documento</label>
                        {{ form_widget(formulario.id_tipo_documento, {'attr': {'class': 'form-control w-100','id': 'id_tipo_documento'}}) }}
                        <span class="input-group-append"></span>
                    </div>
                    <div class="col-4 mt-0 form-group input-group input-group-sm d-block">
                        <label for="naturaleza_cuenta" class="font-weight-bold">Naturaleza</label>
                        <select name="naturaleza" id="naturaleza_cuenta" class="form-control w-100">
                            <option value="1">Deudora</option>
                            <option value="0">Acreedora</option>
                        </select>
                    </div>
                </div>

                <div class="form-group input-group input-group-sm d-block">
                    <label for="id_cuenta" class="font-weight-bold">Cuenta</label>
                    {{ form_widget(formulario.id_cuenta, {'attr': {'class': 'form-control w-100','id': 'id_cuenta'}}) }}
                </div>
                <div class="form-group input-group input-group-sm d-block">
                    <label for="id_subcuenta" class="font-weight-bold" id="test">Subcuenta</label>
                    <select name="subcuenta_id" id="subcuenta_id" class="form-control w-100">
                    </select>
                </div>
                <div class="form-group">
                    <div id="lista" class="input-group input-group-sm"></div>
                </div>
                <div class="d-flex">
                    <div class="mr-auto">
                        <a href="{{ url('contabilidad_config_conf_inicial') }}"
                           class="btn btn-outline-secondary" id="btn_cancelar">Cancelar</a>
                    </div>
                    <div>
                        {{ form_row(formulario.aplicar) }}
                    </div>
                    <div class="ml-2">
                        {{ form_row(formulario.aceptar) }}
                    </div>
                </div>
                {{ form_end(formulario) }}
            </div>

        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}

    <script>
        $(document).ready(function () {
            resetField()
            var subcuenta = $('#subcuenta_id');
            subcuenta.prop('disabled', true);
            $('#configuracion_inicial_id_cuenta').change(function (evernt) {
                subcuenta.find('option').remove();
                if (typeof ($(this).val()) != 'object') {
                    getValues($(this).val(), subcuenta)
                } else {
                    subcuenta.prop('disabled', true);
                }
            })

            // validacion del formulario
            /*$.validator.methods.selectChoice = function (value, element) {
                console.log(value, element)
                return value
            }*/
            $('#form_add_configinicial').validate({
                //focusCleanup: true,
                errorClass: 'invalid-label',
                success: function (label) {
                    label.removeClass('invalid-label').text("")
                },
                rules: {
                    'configuracion_inicial[id_modulo]': "required",
                    'configuracion_inicial[id_tipo_documento]': "required",
                    'naturaleza': "required",
                    'subcuenta_id': "required",
                    'configuracion_inicial[id_cuenta]': "required",
                },
                messages: {
                    'configuracion_inicial[id_modulo]': CONTAB_MSG.REQUIRED_MODULO,
                    'configuracion_inicial[id_tipo_documento]': CONTAB_MSG.REQUIRED_TIPO_DOC,
                    'naturaleza': CONTAB_MSG.REQUIRED_NATURALEZA,
                    'subcuenta_id': CONTAB_MSG.REQUIRED_SUBCUENTA,
                    'configuracion_inicial[id_cuenta]': CONTAB_MSG.REQUIRED_CUENTA,
                }
            })

        })

        function getValues(id, subcuenta) {
            $.ajax({
                url: '/contabilidad/config/conf-inicial/form-getsubcuenta/' + id,
                method: 'POST',
                dataType: 'json',
                success: function (result) {
                    subcuenta.find('option').remove();
                    subcuenta.append('<option selected = "true" value = "0"> Seleccione la subcuenta</option>');
                    $(result.subcuentas).each(function (pos, valor) {
                        subcuenta.append('<option value="' + valor.id + '">' + valor.nro_subcuenta + '</option>');
                    })
                    if (result.subcuentas.length > 0)
                        subcuenta.prop('disabled', false);
                    else
                        subcuenta.prop('disabled', true);
                },
                error: function () {
                    alert('Ha ocurrido un error en el servidor');
                    subcuenta.prop('disabled', true);
                }
            })
        }

        function resetField() {
            const cuenta = $('#configuracion_inicial_id_cuenta');
            const tipo_doc = $('#configuracion_inicial_id_tipo_documento');
            const modulo = $('#configuracion_inicial_id_modulo');

            cuenta.prepend('<option selected = "true" value = "0" disabled>Seleccione la cuenta</option>');
            tipo_doc.prepend('<option selected = "true" value = "0" disabled>Seleccione el tipo de documento</option>');
            modulo.prepend('<option selected = "true" value = "0" disabled>Seleccione el m贸dulo</option>')

            $('#select2-configuracion_inicial_id_tipo_documento-container')[0].textContent = ''
            $('#select2-configuracion_inicial_id_cuenta-container')[0].textContent = ''
            $('#select2-configuracion_inicial_id_modulo-container')[0].textContent = ''
        }
    </script>
{% endblock %}

