{% extends 'contabilidad/config/index.html.twig' %}
{% block style %}
    <style>
        label {
            display: none;
        }
    </style>
{% endblock %}
{% block content %}
    <div class="container-fluid">
        {# header #}

        <div class="d-flex align-items-center">
            <h4 class="mr-auto display-4 mb-0 mr-auto title-table">
            Configuraci칩n inicial del sistema
            </h4>
            <div>
                <a role="button" class="btn btn-primary" href="{{ url('contabilidad_config_conf_inicial_form') }}">
                    <i class="fa fa-plus"> Adicionar</i>
                </a>
            </div>
        </div>
        {# end header #}

        {# list #}
        <table class="table table-hover">
            <thead class="thead-dark">
            <th scope="col-2">M칩dulo</th>
            <th scope="col-3">Tipo de Documento</th>
            <th scope="col-2">Cuenta</th>
            <th scope="col-2">Subcuenta</th>
            <th scope="col-2">Naturaleza</th>
{#            <th scope="col-1" width="150px">Acciones</th>#}
            <th scope="col-1" width="150px">Eliminar</th>
            </thead>
            <tbody>
            {% for item in configuraciones %}

                <tr>
                    <td style="font-weight:400;">{{ item['nombre_modulo'] }}</td>
                    <td style="font-weight:400;">{{ item['nombre_tipo_docuemtno'] }}</td>
                    <td style="font-weight:400;">{{ item['nro_cuenta'] }}</td>
                    <td style="font-weight:400;">{{ item['nro_subcuenta'] }}</td>
                    <td style="font-weight:400;">{{ item['naturaleza'] }}</td>
                    <td>
{#                        -----Esta asccion esta implementada pero no se publicara pues no deben cambiarse ---- #}
{#                        -----los origenesteniendo acciones asociadas, eso desvirtua los reportes necesarion --#}

{#                        <a href="{{ path('contabilidad_config_conf_inicial_form_edit',{id: item.id}) }}" type="button"#}
{#                           class="btn btn-outline-dark btn-sm" data-toggle="tooltip"#}
{#                           data-placement="bottom" title="Editar">#}
{#                            <i class="fa fa-edit"></i>#}
{#                        </a>#}
                        <button type="button" class="btn btn-outline-danger btn-sm" data-toggle="tooltip"
                                data-placement="bottom" title="Eliminar"
                                onclick="onDeleteConfirm({
                                        message:'Est치 seguro que desea eliminar la configuraci칩n seleccionada ?',
                                        url:'{{ path('contabilidad_config_conf_inicial_delete',{id: item.id}) }}',
                                        _token: '{{ csrf_token('delete' ~ item.id) }}'
                                        })">
                            <i class="fa fa-trash"></i>
                        </button>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {# end list #}
    </div>
{% endblock %}