{% extends 'utils/modal_form.html.twig' %}

{% block modalbody %}
    {{ form_start(form,{'attr': {'class': 'text-left','id':'form_modal_target','method':'POST'}}) }}

    <div class="form-group input-group input-group-sm d-block">
        <label for="cuenta_nro_cuenta" class="font-weight-bold">No. Cuenta</label>
        {{ form_widget(form.nro_cuenta,{'attr': {'class': 'form-control w-100'}}) }}
    </div>
    <div class="form-group input-group input-group-sm d-block">
        <label for="cuenta_descripcion" class="font-weight-bold">Descripción</label>
        {{ form_widget(form.descripcion,{'attr': {'class': 'form-control w-100'}}) }}
    </div>
    <div class="form-group input-group input-group-sm d-block">
        <label for="naturaleza_cuenta" class="font-weight-bold">Naturaleza</label>
        {{ form_widget(form.deudora,{'attr': {'class': 'form-control w-100'}}) }}
    </div>
    <div>
        <div class="form-check form-check-inline">
            {{ form_widget(form.produccion,{'attr': {'class': 'form-check-input'}}) }}
        </div>
        <div class="form-check form-check-inline">
            {{ form_widget(form.patrimonio,{'attr': {'class': 'form-check-input'}}) }}
        </div>
        <div class="form-check form-check-inline ml-4">
            {{ form_widget(form.elemento_gasto,{'attr': {'class': 'form-check-input'}}) }}
        </div>
    </div>
    <input type="text" id="id_cuenta" hidden>

    {{ form_end(form) }}
{% endblock %}
