{% extends 'contabilidad/config/index.html.twig' %}
{% block style %}
    <style>
        label {
            display: none;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        {# header #}
        <div class="d-flex align-items-center">
            <h5 class="mr-auto display-4 mb-0 mr-auto title-table text-light">
                Plan de cuentas
            </h5>
            <div>
                <button type="button" class="btn btn-primary btn-sm" data-toggle="modal"
                        data-target="#modal__form__id" data-placement="bottom" title="Adicionar"
                        onclick="mostrarBtn()">
                    <i class="fa fa-plus"> Adicionar</i>
                </button>
                <button type="button" class="btn btn-warning btn-sm" data-placement="bottom" title="Imprimir"
                        onclick="Print('{{ path('contabilidad_config_cuenta_print') }}')">
                    <i class="fa fa-print"></i>
                </button>
            </div>
        </div>
        {# end header #}

        {# Modal de adicionar#}

        {{ include('./contabilidad/config/cuenta/form_modal.html.twig', {title:'Crear Cuenta'}) }}

        {# list #}
        <table class="table-small-rows table table-hover text-light">
            <thead class="thead-dark">
            <th scope="row" style="width: 160px" class="text-left">Nro. cuenta</th>
            <th scope="row" class="text-left">Nombre</th>
            <th scope="row" style="width: 100px" class="text-left">Naturaleza</th>
            <th scope="row" style="width: 100px" class="text-left">Obligación Aceedora</th>
            <th scope="row" style="width: 100px" class="text-left">Obligación Deudora</th>
            <th scope="row" style="width: 130px" class="text-left">Tipo de cuenta</th>
            <th scope="row" style="width: 130px" class="text-left">Criterios de análisis</th>
            <th scope="row" style="width: 200px" class="text-left">Acciones</th>
            </thead>
            <tbody>
            {% for item in cuentas %}
                <tr>
                    <td style="font-weight:400;">{{ item.nro_cuenta }}</td>
                    <td style="font-weight:400;">{{ item.nombre }}</td>
                    <td style="font-weight:400;">{{ item.deudora }}</td>
                    <td style="font-weight:400;">{{ item.obligacion_aceedora }}</td>
                    <td style="font-weight:400;">{{ item.obligacion_deudora }}</td>
                    <td style="font-weight:400;">{{ item.nombre_tipo_cuenta }}</td>
                    <td style="font-weight:400;">{{ item.criterios }}</td>
                    <td>
                        <div style="width: max-content;">
                            <a type="button" class="btn btn-info btn-sm" data-toggle="tooltip"
                               data-placement="bottom" title="Ver subcuentas"
                               href="{{ path('contabilidad_config_subcuenta',{id_cuenta:item.id}) }}">
                                <i class="fa fa-eye"></i>
                            </a>
                            <button type="button" class="btn btn-warning btn-sm px-1" data-toggle="tooltip"
                                    data-placement="bottom" title="Modificar"
                                    onclick="onUpdate({
                                            nro_cuenta: '{{ item.nro_cuenta }}',
                                            nombre:'{{ item.nombre }}',
                                            obligacion_acreedora:'{{ item.obligacion_aceedora }}' ,
                                            obligacion_deudora:'{{ item.obligacion_deudora }}' ,
                                            deudora:'{{ item.deudora }}' ,
                                            nombre_tipo_cuenta:'{{ item.nombre_tipo_cuenta }}' ,
                                            criterios:'{{ item.criterios }}' ,
                                            id: '{{ item.id }}',
                                            id_criterio_uno: '{{ item.id_criterio_uno }}',
                                            id_criterio_dos: '{{ item.id_criterio_dos }}',
                                            id_criterio_tres: '{{ item.id_criterio_tres }}',
                                            id_criterio_cuatro: '{{ item.id_criterio_cuatro }}',
                                            id_tipo_cuenta: '{{ item.id_tipo_cuenta }}',
                                            cuenta_produccion: '{{ item.produccion }}',
                                            })">
                                <i class="fa fa-edit"></i>
                            </button>
                            <button type="button" class="btn btn-danger btn-sm" data-toggle="tooltip"
                                    data-placement="bottom" title="Eliminar"
                                    onclick="onDeleteConfirm({
                                            message:'Está seguro que desea eliminar la cuenta {{ item.nro_cuenta }} ?',
                                            url:'{{ path('contabilidad_config_cuenta_delete',{id: item.id}) }}',
                                            _token: '{{ csrf_token('delete' ~ item.id) }}',
                                            page: '{{ cuentas.currentPageNumber }}',
                                            })">
                                <i class="fa fa-trash"></i>
                            </button>
                        </div>

                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {# end list #}
        <div class="navigation">
            {{ knp_pagination_render(cuentas) }}
        </div>
    </div>
{% endblock %}


{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function () {
            $('#modal__btn__actualizar').hide()
            let ids = ['id_criterio_uno', 'id_criterio_dos', 'id_criterio_tres', 'id_criterio_cuatro','id_tipo_cuenta']
            for (let i = 0; i < ids.length; i++) {
                $("#cuenta_" + ids[i]).prepend('<option selected = "false" value = "0"> -- seleccione -- </option>');
            }
            // validacion del formulario
            var validateForm = $('#form_modal_target').validate({
                errorClass: 'invalid-label-orange',
                errorPlacement: function (error, element) {
                    // colocar mensajes de error a la derecha de cada label para el componente
                    const error_label = element.closest("form").find(element.attr('id') + "-error")
                    if (error_label.length) {
                        error_label.removeClass('hide')
                    } else {
                        error.addClass('ml-3')
                        error.css('position','fixed')
                        $(element)
                            .closest("form")
                            .find("label[for='" + element.attr("id") + "']")
                            .append(error);
                    }
                },
                rules: {
                    'cuenta[nro_cuenta]': {required: true, 'num-letter': true},
                    'cuenta[nombre]': "required",
                    // 'criterio_analisis[abreviatura]': "required",
                },
                messages: {
                    'cuenta[nro_cuenta]': {
                        required: CONTAB_MSG.REQUIRED_NOT_BLANK,
                        'num-letter': CONTAB_MSG.FORMAT_NO_CUENTA
                    },
                    'cuenta[nombre]': CONTAB_MSG.REQUIRED_NOT_BLANK,
                    // 'criterio_analisis[abreviatura]': CONTAB_MSG.REQUIRED_NOT_BLANK,
                }
            })

            $('#modal__btn__aceptar').on('click', function () {
                const formulario = $('#form_modal_target')
                formulario.attr('method', `POST`)
                formulario.attr('action', `/contabilidad/config/cuenta/add`)
                formulario.submit()
                if (validateForm.errorList.length === 0) loadingModal.show()
            })
            $('#modal__btn__actualizar').on('click', function () {
                const formulario = $('#form_modal_target')
                const id_cuenta = $('#id_cuenta').val()
                formulario.attr('method', `POST`)
                formulario.attr('action', `/contabilidad/config/cuenta/upd/` + id_cuenta)
                formulario.submit()
                if (validateForm.errorList.length === 0) loadingModal.show()
            })

            $('#modal__form__id').on('show.bs.modal', function (event) {
                validateForm.resetForm()
                $('#modal__form__label__id').text('Adicionar cuenta')
            })

            /**
             * Eventos para validar que no seleccione los dos tipos de cuentas(patrimonio y producción) a la vez
             */
            $('#cuenta_obligacion_acreedora').on('change', function () {
                if ($('#cuenta_obligacion_acreedora').is(':checked'))
                    $('#cuenta_obligacion_deudora').prop('checked', false)
            })
            $('#cuenta_obligacion_deudora').on('change', function () {
                if ($('#cuenta_obligacion_deudora').is(':checked'))
                    $('#cuenta_obligacion_acreedora').prop('checked', false)
            })

        })
        function Print(url) {
            window.open(url, 'blank_')
        }
        function mostrarBtn() {
            $('#modal__btn__actualizar').hide()
            $('#modal__btn__aceptar').show()
        }

        function onViewSuncuentas(id) {
            window.location.replace('/contabilidad/config/subcuenta/' + id);
        }

        const onUpdate = function (config) {
            $('#modal__btn__actualizar').show()
            $('#modal__btn__aceptar').hide()

            const {
                nro_cuenta = '', id = '', deudora = '', nombre = '',
                obligacion_deudora = '', obligacion_acreedora = '', criterios = '',id_criterio_uno = '',id_criterio_dos = '',
                id_criterio_tres = '',id_criterio_cuatro = '',id_tipo_cuenta = '',cuenta_produccion = '',
            } = config

            $('#modal__form__id').modal('show')
            $('#modal__form__label__id').html("Modificar " + nro_cuenta)

            $('#id_cuenta').val(id)
            $('#cuenta_nro_cuenta').val(nro_cuenta)
            $('#cuenta_nombre').val(nombre)
            $('#id_criterio').val(criterios)
            if (cuenta_produccion == 'SI')
                $('#cuenta_produccion').prop('checked', true)
            if (obligacion_deudora == 'SI')
                $('#cuenta_obligacion_deudora').prop('checked', true)
            if (obligacion_acreedora == 'SI')
                $('#cuenta_obligacion_acreedora').prop('checked', true)
            setValue(id_criterio_uno,id_criterio_dos,id_criterio_tres,id_criterio_cuatro,id_tipo_cuenta,deudora)
        }
        function setValue(id_criterio_uno,id_criterio_dos,id_criterio_tres,id_criterio_cuatro,id_tipo_cuenta,deudora) {
            loadingModal.show()
            console.info(deudora)
            $('#cuenta_id_criterio_uno').val(parseInt(id_criterio_uno))
            $('#cuenta_id_criterio_dos').val(id_criterio_dos)
            $('#cuenta_id_criterio_tres').val(id_criterio_tres)
            $('#cuenta_id_criterio_cuatro').val(id_criterio_cuatro)
            $('#cuenta_id_tipo_cuenta').val(id_tipo_cuenta)
            if(deudora == 'Acreedora')
            $('#cuenta_deudora').val(0)
            if(deudora == 'Deudora')
            $('#cuenta_deudora').val(1)
            if(deudora == 'Mixta')
            $('#cuenta_deudora').val(2)
            loadingModal.close()
        }
    </script>
{% endblock %}

