{% extends 'contabilidad/config/index.html.twig' %}
{% block style %}
    <style>
        label {
            display: none;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        {# header #}
        <div class="d-flex align-items-center">
            <h5 class="mr-auto display-4 mb-0 mr-auto title-table">
                Cuentas
            </h5>
            <div>
                <button type="button" class="btn btn-primary btn-sm" data-toggle="modal"
                        data-target="#gestionarCuentaModal" data-placement="bottom" title="Adicionar"
                        onclick="mostrarBtn()">
                    <i class="fa fa-plus"> Adicionar</i>
                </button>
                <button type="button" class="btn btn-outline-secondary btn-sm" data-placement="bottom" title="Imprimir">
                    <i class="fa fa-print"></i>
                </button>
            </div>
        </div>
        {# end header #}
        {# Modal de adicionar#}
        <div class="modal fade" id="gestionarCuentaModal" tabindex="-1" role="dialog" data-backdrop="static"
             data-keyboard="false"
             aria-labelledby="gestionarUnidadModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header bg-dark">
                        <h4 class="modal-title text-light" id="gestionarUnidadModalLabel">Adicionar unidad</h4>
                        <button class="close text-light" type="button" data-dismiss="modal" aria-label="Cerrar">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        {{ form_start(form) }}
                        <div class="form-group input-group input-group-sm">
                            <label for="nombre_field" class="font-weight-bold">Nro.Cuenta</label>
                            <div class="container-fluid p-0">
                                {{ form_widget(form.nro_cuenta,{'attr': {'class': 'form-control','id':'nombre_field'}}) }}

                            </div>
                        </div>
                        <div class="form-group input-group input-group-sm">
                            <label for="id_padre_field" class="font-weight-bold">Descripción</label>
                            <div class="container-fluid p-0">
                                {{ form_widget(form.descripcion,{'attr': {'class': 'form-control','id':'id_padre_field'}}) }}
                            </div>
                        </div>
                        <div class="form-group input-group input-group-sm">
                            <label for="naturaleza_cuenta" class="font-weight-bold">Naturaleza</label>
                            <select name="naturaleza" id="naturaleza_cuenta" class="form-control">
                                <option value="1">Deudora</option>
                                <option value="0">Acreedora</option>
                            </select>
                        </div>
                        <div class="form-check form-check-inline mr-auto">
                            <input class="form-check-input" type="checkbox" id="produccion_check"
                                   name="produccion_check">
                            <label for="produccion_check" class="form-check-label">Producción</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="patrimonio_check"
                                   name="patrimonio_check">
                            <label for="patrimonio_check" class="form-check-label">Patrimonio</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="elemento_gasto_check">
                            <label for="elemento_gasto_check" class="form-check-label">Elemento Gasto</label>
                        </div>
                        <input type="text" id="id_cuenta" hidden>
                    </div>
                    {{ form_end(form) }}
                    <div class="modal-footer d-flex">
                        <div class="mr-auto">
                            <button class="btn btn-outline-secondary" type="button" data-dismiss="modal"
                                    aria-label="Cerrar">
                                <span aria-hidden="true">Cancelar</span>
                            </button>
                        </div>
                        <div class="ml-2">
                            <button type="button" class="my-0 btn btn-primary" id="btnAceptar">Aceptar</button>
                        </div>
                        <div class="ml-2">
                            <button type="button" class="my-0 btn btn-warning" id="btnActualizar">Actualizar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {# list #}
        <table class="table table-hover">
            <thead class="thead-dark">
            <th scope="col-1" width="112px">Nro. cuenta</th>
            <th scope="col-6">Descripción</th>
            <th scope="col-6" width="90px">Naturaleza</th>
            <th scope="col-1" width="90px">Producción</th>
            <th scope="col-1" width="85px">Patrimonio</th>
            <th scope="col-1" width="130px">E. Gasto</th>
            <th scope="col-1" width="175px">Acciones</th>
            </thead>
            <tbody>
            {% for item in cuentas %}
                <tr>
                    <td style="font-weight:400;">{{ item.nro_cuenta }}</td>
                    <td style="font-weight:400;">{{ item.descripcion }}</td>
                    <td style="font-weight:400;">{{ item.deudora }}</td>
                    <td style="font-weight:400;">{{ item.produccion }}</td>
                    <td style="font-weight:400;">{{ item.patrimonio }}</td>
                    <td style="font-weight:400;">{{ item.elemento_gasto }}</td>
                    <td>
                        <a type="button" class="btn btn-outline-info btn-sm" data-toggle="tooltip"
                           data-placement="bottom" title="Ver subcuentas"
                           href="{{ path('contabilidad_config_subcuenta',{id:item.id}) }}">
                            <i class="fa fa-eye"></i>
                        </a>
                        <button type="button" class="btn btn-outline-secondary btn-sm" data-toggle="tooltip"
                                data-placement="bottom" title="Modificar"
                                onclick="onUpdate({
                                        nro_cuenta: '{{ item.nro_cuenta }}',
                                        descripcion:'{{ item.descripcion }}',
                                        deudora:'{{ item.deudora }}' ,
                                        patrimonio:'{{ item.patrimonio }}' ,
                                        produccion:'{{ item.produccion }}' ,
                                        elemento_gasto:'{{ item.elemento_gasto }}' ,
                                        id: '{{ item.id }}'
                                        })">
                            <i class="fa fa-edit"></i>
                        </button>
                        <button type="button" class="btn btn-outline-danger btn-sm" data-toggle="tooltip"
                                data-placement="bottom" title="Eliminar"
                                onclick="onDeleteConfirm({
                                        message:'Está seguro que desea eliminar la cuenta {{ item.nro_cuenta }} ?',
                                        url:'{{ path('contabilidad_config_cuenta_delete',{id: item.id}) }}'
                                        })">
                            <i class="fa fa-trash"></i>
                        </button>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {# end list #}
    </div>
{% endblock %}


{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function () {
            $('#btnActualizar').hide()
        })

        const onUpdate = function (config) {
            $('#btnActualizar').show()
            $('#btnAceptar').hide()

            const {nro_cuenta = '', id = '',deudora ='', descripcion = '', produccion = '', patrimonio = '', elemento_gasto = ''} = config
            $('#gestionarCuentaModal').modal('show')
            $('#gestionarUnidadModalLabel').html("Modificar " + nro_cuenta)

            $('#id_cuenta').val(id)
            $('#cuenta_nro_cuenta').val(nro_cuenta)
            $('#cuenta_descripcion').val(descripcion)
            if (produccion == 'SI')
                $('#produccion_check').prop('checked', true)
            else
                $('#produccion_check').prop('checked', false)
            if (patrimonio == 'SI')
                $('#patrimonio_check').prop('checked', true)
            else
                $('#patrimonio_check').prop('checked', false)
            if (elemento_gasto == 'SI')
                $('#elemento_gasto_check').prop('checked', true)
            else
                $('#elemento_gasto_check').prop('checked', false)

            //tengo q hacer lo del select
            if(deudora == 'Deudora'){
                $('#select2-naturaleza_cuenta-container')[0].textContent = 'Deudora'
                $('#select2-naturaleza_cuenta-container').val(1)
                $('#naturaleza_cuenta').val(1)
            }
            else{
                $('#select2-naturaleza_cuenta-container')[0].textContent = 'Acreedora'
                $('#select2-naturaleza_cuenta-container').val(0)
                $('#naturaleza_cuenta').val(0)
            }
        }

        $('#btnAceptar').on('click', function () {
            let params = {
                patrimonio: $('#patrimonio_check').prop('checked') == true ? 1 : 0,
                produccion: $('#produccion_check').prop('checked') == true ? 1 : 0,
                elemento_gasto: $('#elemento_gasto_check').prop('checked') == true ? 1 : 0,
                deudora: $('#naturaleza_cuenta').val(),
                nro_cuenta: $('#cuenta_nro_cuenta').val(),
                descripcion: $('#cuenta_descripcion').val()
            }
            $.ajax({
                url: '/contabilidad/config/cuenta-add',
                method: "POST",
                data: params
            }).then(res => {
                window.location.replace('/contabilidad/config/cuenta');
            })
        })
        $('#btnActualizar').on('click', function () {
            let params = {
                patrimonio: $('#patrimonio_check').prop('checked') == true ? 1 : 0,
                produccion: $('#produccion_check').prop('checked') == true ? 1 : 0,
                elemento_gasto: $('#elemento_gasto_check').prop('checked') == true ? 1 : 0,
                deudora: $('#naturaleza_cuenta').val(),
                nro_cuenta: $('#cuenta_nro_cuenta').val(),
                descripcion: $('#cuenta_descripcion').val(),
                id_cuenta: $('#id_cuenta').val()
            }
            $.ajax({
                url: '/contabilidad/config/cuenta-upd',
                method: "POST",
                data: params
            }).then(res => {
                window.location.replace('/contabilidad/config/cuenta');
            })
        })

        $('#gestionarCuentaModal').on('show.bs.modal', function (event) {
            var modal = $(this)
            modal.find('.modal-title').text('Adicionar cuenta')
        })

        /****-Eventos para validar que no seleccione los dos tipos de cuentas(patrimonio y producción) a la vez-*****/
        $('#patrimonio_check').on('change', function () {
            if ($('#patrimonio_check').is(':checked'))
                $('#produccion_check').prop('checked', false)
        })
        $('#produccion_check').on('change', function () {
            if ($('#produccion_check').is(':checked'))
                $('#patrimonio_check').prop('checked', false)
        })

        function mostrarBtn() {
            $('#btnActualizar').hide()
            $('#btnAceptar').show()

            $('#id_cuenta').val('')
            $('#cuenta_nro_cuenta').val('')
            $('#cuenta_descripcion').val('')
            $('#produccion_check').prop('checked', false)
            $('#patrimonio_check').prop('checked', false)
            $('#elemento_gasto_check').prop('checked', false)

        }

        function onViewSuncuentas(id) {
            window.location.replace('/contabilidad/config/subcuenta/' + id);
        }
    </script>
{% endblock %}

