<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    {#Style#}
    <link href="{{ asset('css/bootstrap.min.css') }}" type="text/css" rel="stylesheet"/>
    <link rel="stylesheet" href="{{ asset('css/contabilidad_styles.css') }}">
    <style>
        @media print {
            #footer {
                position: fixed;
                display: block;
                bottom: 0;
            }
        }
    </style>

    <title>Imprimir Informe</title>
</head>
<body>
<div class="container-fluid mt-3 d-flex flex-column align-items-center" style="height: 1000px;">
    <h3>Plan de cuentas</h3>
    <table border="1" width="1000px" class="mt-1 text-center">
        <tbody>
        <tr>
            <td width="90" class="text-left"><strong>Cuenta</strong></td>
            <td width="180" class="text-left"><strong>Nombre</strong></td>
            <td width="40"><strong>Nat.</strong></td>
            {% for i in range(1,maximo_criterios) %}
                <td width="75"><strong>Análisis {{ i }}</strong></td>
            {% endfor %}
            <td width="50" class="text-center"><strong>Obligación</strong></td>
        </tr>
        </tbody>
    </table>
    <table width="1000px" class="text-center">
        {% for item in cuentas %}
            <tr>
                <td width="90" class="text-left">{{ item.nro_cuenta }}</td>
                <td width="180" class="text-left">{{ item.nombre }}</td>
                <td width="40">{{ item.naturaleza }}</td>
                {% for criterio in item.abreviaturas %}
                    <td width="75">{{ criterio.abreviatura }}</td>
                {% endfor %}
                <td width="50" class="text-center">{{ item.obligacion }}</td>
            </tr>
            {% for subcuenta in item.subcuentas %}
                <tr>
                    <td width="90" class="text-left">{{ item.nro_cuenta }}/{{ subcuenta.nro_subcuenta }}</td>
                    <td width="180" class="text-left">{{ subcuenta.nombre }}</td>
                    <td width="40">{{ subcuenta.naturaleza }}</td>
                </tr>
            {% endfor %}
        {% endfor %}
    </table>

</div>

{#JavaScript#}
<script src="{{ asset('js/core.min.js') }}" type="text/javascript"></script>
<script src="{{ asset('js/script.js') }}" type="text/javascript"></script>
<script src="{{ asset('js/contabilidad.js') }}" type="text/javascript"></script>

</body>
</html>