{% extends('contabilidad/inventario/print_base.html.twig') %}
{% block title %} Plan de Cuentas {% endblock %}
{% block style %}
    <style>
        @page
        {
            size: auto;
            margin: 15mm 8mm 13.5mm 5mm;
        }
        body
        {
            margin: 0;
            padding: 0;
        }

      table { page-break-inside:auto } tr { page-break-inside:avoid; page-break-after:auto } thead { display:table-header-group } tfoot { display:table-footer-group }
    </style>
{% endblock %}

{% block body %}
    <div class="container-fluid mt-3 d-flex flex-column align-items-center" style="height: 1000px;">
        <h3>Plan de cuentas</h3>
        <table border="0" width="1000px" class="mt-1 mx-5  text-center">
            <thead>

            <th width="90" class="text-left"><strong>Cuenta</strong></th>
            <th width="180" class="text-left"><strong>Nombre</strong></th>
            <th width="40"><strong>Nat.</strong></th>
            {% for i in range(1,maximo_criterios) %}
                <th width="75"><strong>Análisis {{ i }}</strong></th>
            {% endfor %}
            <th width="50" class="text-center"><strong>Obligación</strong></th>

            </thead>
            <tbody>
            {% for item in cuentas %}
                <tr>
                    <td width="90" class="text-left">{{ item.nro_cuenta }}</td>
                    <td width="180" class="text-left">{{ item.nombre }}</td>
                    <td width="40">{{ item.naturaleza }}</td>
                    {% for i in range(0,maximo_criterios-1) %}
                        {% if item.abreviaturas|length > 0  and i < item.abreviaturas|length%}
                            <td width="75">{{ item.abreviaturas[i]['abreviatura'] }}</td>
                        {% else %}
                            <td width="75"></td>
                        {% endif %}
                    {% endfor %}
                    <td width="50" class="text-center">{{ item.obligacion }}</td>
                </tr>
                {% for subcuenta in item.subcuentas %}
                    <tr>
                        <td width="90" class="text-left">{{ item.nro_cuenta }}/{{ subcuenta.nro_subcuenta }}</td>
                        <td width="180" class="text-left">{{ subcuenta.nombre }}</td>
                        <td width="40">{{ subcuenta.naturaleza }}</td>
                    </tr>
                {% endfor %}
            {% endfor %}
            </tbody>
        </table>

    </div>
{% endblock %}