{% extends 'contabilidad/inventario/index.html.twig' %}
{% block style %}
    <style>
        label {
            display: none;
        }
    </style>
{% endblock %}
{% block content %}
    <div class="container-fluid">

        {# header #}
        <div class="d-flex align-items-center">
            <h4 class="mr-auto display-4 mb-0 mr-auto title-table text-light">
                Vales de salida
            </h4>
            <div>
                <a role="button" class="btn btn-primary"
                   href="{{ url('contabilidad_inventario_vale_salida_gestionar') }}">
                    <i class="fa fa-plus"> Adicionar</i>
                </a>
            </div>
        </div>
        {# end header #}

        {# list#}
        <table class="table-small-rows table table-hover text-light">
            <thead class="thead-dark">
            <th width="70px">#</th>
            <th width="70px">Importe</th>
            <th width="175px">Fecha</th>
            <th width="120px">Cuenta-Subcuenta(Débito)</th>
            <th scope="col-1" width="150px">Acciones</th>
            </thead>
            <tbody>
            {% for item in vales %}
                <tr>
                    <td style="font-weight:400;">{{ item.concecutivo }}</td>
                    <td style="font-weight:400;">{{ item.importe }}</td>
                    <td style="font-weight:400;">{{ item.fecha }}</td>
                    <td style="font-weight:400;">{{ item.inventario }}</td>
                    <td>
                        <button type="button" class="btn btn-danger btn-sm" data-toggle="tooltip"
                                data-placement="bottom" title="Cancelar"
                                onclick="onDeleteConfirm({
                                        message:'Está seguro que desea cancelar el vale de salida {{ item.concecutivo }} ?',
                                        url:'{{ path('contabilidad_inventario_vale_salida_delete',{id: item.id}) }}'
                                        })">
                            <i class="fa fa-trash"></i>
                        </button>
                        <button type="button" class="btn ml-2 btn-warning btn-sm" data-toggle="tooltip"
                                data-placement="bottom" title="Imprimir">
                            <i class="fa fa-print" onclick="Print_Vale('{{ path('contabilidad_inventario_vale_salida_print',{id: item.id}) }}')"></i>
                        </button>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {# end list #}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        function Print_Vale(url) {
            window.open(url, 'blank_')
        }
    </script>
{% endblock %}