{% extends 'contabilidad/activo_fijo/index.html.twig' %}
{% block style %}
    <style>
        label {
            display: none;
        }
    </style>
{% endblock %}
{% block content %}
    <div class="container-fluid">

        {# header #}
        <div class="d-flex align-items-center">
            <h4 class="mr-auto display-4 mb-0 mr-auto title-table text-light">
                Listado de Activos Fijos por Centro de Costo y Area de Responsabilidad
            </h4>
        </div>
        {# end header #}


        {# list #}
        <table class="table-small-rows table table-hover text-light">
            <thead class="thead-dark">
            <th width="150px">Nro. Inv</th>
            <th scope="col-1">Descripci贸n</th>
            <th width="180px">Fecha de Alata</th>
            <th width="180px">Valor Inicial</th>
{#            <th width="180px">Depreciaci贸n del Mes</th>#}
            <th width="200px">Depreciaci贸n Acumulada</th>
            <th width="150px">Valor Real</th>
            <th width="200px">Grupo de Activo</th>
{#            <th width="200px">Tasa deDepreciaci贸n</th>#}
            </thead>
            <tbody>
            {% for item in datos %}
                <tr>
                    <td class="row-group-subconta" colspan="8">{{ item.area_responsabilidad }}</td>
                </tr>
                {% for new_item in item.datos %}
                    <tr>
                        <td style="font-weight:400;" class="text-left">{{ new_item.nro_inventario }}</td>
                        <td style="font-weight:400;">{{ new_item.descripcion }}</td>
                        <td style="font-weight:400;" class="text-center">{{ new_item.fecha_alta }}</td>
                        <td style="font-weight:400;" class="text-right">{{ new_item.valor_inicial }}</td>
{#                        <td style="font-weight:400;" class="text-right">{{ new_item.depreciacion_mes }}</td>#}
                        <td style="font-weight:400;" class="text-right">{{ new_item.depreciacion_acumulada }}</td>
                        <td style="font-weight:400;" class="text-right">{{ new_item.valor_real }}</td>
                        <td style="font-weight:400;" class="text-center">{{ new_item.grupo_activo }}</td>
{#                        <td style="font-weight:400;" class="text-right">{{ new_item.tasa_depreciacion }}</td>#}
                    </tr>
                {% endfor %}
            {% endfor %}
            </tbody>
        </table>
        {# end list #}
    </div>
{% endblock %}