{{ form_start(form, {'attr':{'id':'form_contrato_cliente'}}) }}
<div class="row pt-0 mt-0">
    <div class="col-3 form-group input-group input-group-sm d-block">
        <label for="contratos_cliente_nro_contrato">Nro. Contrato</label>
        {{ form_widget(form.nro_contrato,{'attr': {'class': 'form- control w-100'}}) }}
    </div>
    <div class="col-9 mt-0 form-group input-group input-group-sm d-block">
        {{ form_label(form.id_cliente) }}
        {{ form_widget(form.id_cliente,{'attr': {'class': 'form- control w-100'}}) }}
    </div>
</div>
<div class="row pt-0 mt-0">
    <div class="col-3 form-group input-group input-group-sm d-block">
        {{ form_label(form.importe) }}
        {{ form_widget(form.importe,{'attr': {'class': 'form- control w-100'}}) }}
    </div>
    <div class="col-3 mt-0 form-group input-group input-group-sm d-block">
        {{ form_label(form.id_moneda) }}
        {{ form_widget(form.id_moneda,{'attr': {'class': 'form- control w-100'}}) }}
    </div>
    <div class="col-3 mt-0 form-group input-group input-group-sm d-block">
        {{ form_label(form.fecha_aprobado) }}
        {{ form_widget(form.fecha_aprobado,{'attr': {'class': 'form- control w-100'}}) }}
    </div>
    <div class="col-3 mt-0 form-group input-group input-group-sm d-block">
        {{ form_label(form.fecha_vencimiento) }}
        {{ form_widget(form.fecha_vencimiento,{'attr': {'class': 'form- control w-100'}}) }}
    </div>
</div>
<div class="d-flex mt-3">
    <div class="mr-auto">
        <a href="{{ url('contabilidad_venta_contratos_cliente_index') }}"
           class="btn btn-outline-secondary" id="btn_cancelar">Cancelar</a>
    </div>
    {{ form_row(form.aceptar) }}
</div>
{{ form_end(form) }}
