{% extends 'contabilidad/venta/index.html.twig' %}

{% block title %}ContratosCliente index{% endblock %}

{% block content %}
    <div class="container-fluid">

        {# header #}
        <div class="d-flex align-items-center">
            <h4 class="mr-auto display-4 mb-0 mr-auto title-table text-light">
                Listado de Contratos
            </h4>
            <div>
                <a role="button" class="btn btn-primary" href="{{ url('contabilidad_venta_contratos_cliente_new') }}">
                    <i class="fa fa-plus"> Adicionar</i>
                </a>
            </div>
        </div>
        {# end header #}
        {{ include('contabilidad/venta/contratos_cliente/suplemento.html.twig') }}
        {# list #}
        <table class="table table-hover text-light">
            <thead class="thead-dark">
            <th class="text-left">Nro. Contrato</th>
            <th class="text-left">Cliente</th>
            <th class="text-left">Fecha aprobado</th>
            <th class="text-left">Fecha vencimiento</th>
            <th class="text-left">Importe</th>
            <th class="text-left">Resto</th>
            <th scope="col-1" width="200x" class="text-left">Acciones</th>
            </thead>
            <tbody>
            {% for item in contratos_clientes %}
                <tr>
                    <td style="font-weight:400;">{{ item.nroContrato }}</td>
                    <td style="font-weight:400;">{{ item.idCliente.nombre }}</td>
                    <td style="font-weight:400;">{{ item.fechaAprobado|date("d/m/Y") }}</td>
                    <td style="font-weight:400;">{{ item.fechaVencimiento|date("d/m/Y") }}</td>
                    <td style="font-weight:400;">{{ item.importe }}</td>
                    <td style="font-weight:400;">{{ item.resto }}</td>
                    <td>
                        <button type="button" class="btn btn-info btn-sm" data-toggle="tooltip"
                                data-placement="bottom" title="Suplementar"
                                onclick="onSuplementar({
                                        id: '{{ item.id }}',
                                        nro_contrato: '{{ item.nroContrato }}',
                                        cliente: '{{ item.idCliente.nombre }}',
                                        fecha_aprobado: '{{ item.fechaAprobado|date("d/m/Y") }}',
                                        fecha_vencimiento: '{{ item.fechaVencimiento|date("Y-m-d") }}',
                                        importe: '{{ item.importe }}',
                                        resto: '{{ item.resto }}',
                                        })">
                            <i class="fa fa-signal"></i>
                        </button>
                        <a role="button" class="btn btn-warning btn-sm px-1" title="Editar"
                           href="{{ path('contabilidad_venta_contratos_cliente_edit', {id: item.id}) }}">
                            <i class="fa fa-edit"></i></i>
                        </a>
                        <button type="button" class="btn btn-danger btn-sm" data-toggle="tooltip"
                                data-placement="bottom" title="Eliminar"
                                onclick="onDeleteConfirm({
                                        title:'Eliminar',
                                        message:'Está seguro que desea eliminar el cliente {{ item.nroContrato }}  ?',
                                        url:'{{ path('contabilidad_venta_contratos_cliente_delete',{id: item.id}) }}',
                                        _token: '{{ csrf_token('delete' ~ item.id) }}'
                                        })">
                            <i class="fa fa-trash"></i>
                        </button>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {# end list #}
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        function onSuplementar(contrato) {
            console.log(contrato)
            $('#supelemento_id_contrato').val(contrato.id)
            $('#data_contrato').html(`
                <div class="mb-2 text-light">
                    <span style="font-weight: 600;">Nro. Contrato: </span> ${contrato.nro_contrato}
                    <br>
                    <span style="font-weight: 600;">Fecha aprobación: </span>${contrato.fecha_aprobado}
                    <br>
                    <span style="font-weight: 600;">Cliente: </span>${contrato.cliente}
                </div>
            `)
            // $('#importe_suplemento_id').val(contrato.importe)
            $('#fecha_vencimiento_suplemento_id').attr('min', contrato.fecha_vencimiento)
            modal.modal('show')

            $('#suplemento__btn__aceptar').click(function () {
                const idcontrato = $('#supelemento_id_contrato').val()
                form_suplemento.attr('method', `POST`)
                form_suplemento.attr('action', '/contabilidad/venta/contratos-cliente/suplemento/' + idcontrato)
                form_suplemento.submit()
            })
        }

        const modal = $('#modal_suplemento_id')
        const form_suplemento = $('#form_suplemento_id')
        form_suplemento.validate({
            errorClass: 'invalid-label-orange',
            errorPlacement: function (error, element) {
                error.attr('style', 'font-size: .8rem;')
                error.insertAfter(element);
            },
            rules: {
                'suplemento[importe]': "required",
                'suplemento[fecha_vencimiento]': "required",
            },
            messages: {
                'suplemento[importe]': CONTAB_MSG.REQUIRED_OBLIGATORIO,
                'suplemento[fecha_vencimiento]': CONTAB_MSG.REQUIRED_OBLIGATORIO,
            }
        })
    </script>
{% endblock %}
