{% extends 'base.html.twig' %}
{% block style %}
    <style>
        label {
            display: none;
        }
    </style>
{% endblock %}
{% block content %}
    <div class="container d-flex justify-content-center">
        <div class="card mt-1" style="width: 50rem;">
            <div class="container">
                <div class="row mt-0 p-0">
                    <div class="col-8 form-group input-group input-group-sm d-block">
                        <h1 class="text-reporte text-right mr-0">Traslado Internos</h1>
                    </div>
                    <div class="col-4 form-group input-group input-group-sm mt-3 ml-0 p-0 d-block">
                        <span class="h5 text-light mr-2">Nro.</span><input type="number" id="select_nros" class="w-25">
                    </div>
                </div>
            </div>
            <div class="card-body">
                {{ form_start(formulario, {'attr':{'id':'movimiento_activo_fijo_salida','autocomplete':"off"}}) }}
                <div class="row mt-0 p-0">
                    <input type="hidden" id="__token" name="_token" value="{{ csrf_token('authenticate') }}">
                    <div class="row mt-0 ml-0 p-0">
                        <div class="col-4 mt-0 pl-3 pr-0 form-group input-group input-group-sm d-block">
                            {{ form_label(formulario.nro_inventatio) }}
                            {{ form_widget(formulario.nro_inventatio) }}
                        </div>
                        <div class="col-8 mt-0 form-group input-group input-group-sm pa-2 d-block">
                            {{ form_label(formulario.descripcion) }}
                            {{ form_widget(formulario.descripcion,{'attr':{'readonly':'true'}}) }}
                        </div>
                    </div>
                    <div class="col-4 mt-0 pl-3 pr-0 form-group input-group input-group-sm d-block">
                        {{ form_label(formulario.id_cuenta) }}
                        {{ form_widget(formulario.id_cuenta) }}
                    </div>
                    <div class="col-4 mt-0 pl-3 pr-0 form-group input-group input-group-sm d-block">
                        {{ form_label(formulario.id_subcuenta) }}
                        {{ form_widget(formulario.id_subcuenta) }}
                    </div>
                    <div class="col-4 mt-0 pl-3 pr-2 form-group input-group input-group-sm d-block">
                        {{ form_label(formulario.fecha) }}
                        {{ form_widget(formulario.fecha,{'attr':{'class':'w-100'}}) }}
                    </div>

                    <div class="col-6 mt-0 pl-3 pr-0 form-group input-group input-group-sm d-block">
                        <label class="" for="movimiento_activo_fijo_salida_salida_centro_costo">Centro de Costo</label>
                        <select id="movimiento_activo_fijo_salida_salida_centro_costo"
                                name="movimiento_activo_fijo_salida_salida[centro_costo]"
                                class="w-100 form-control">
                            <option value=""></option>
                        </select>
                    </div>

                    <div class="col-6 mt-0 pl-3 pr-2 form-group input-group input-group-sm d-block">
                        <label class="" for="movimiento_activo_fijo_salida_salida_area_responsabilidad">Area de
                            Responsabilidad</label>
                        <select id="movimiento_activo_fijo_salida_salida_area_responsabilidad"
                                name="movimiento_activo_fijo_salida_salida[area_responsabilidad]"
                                class="w-100 form-control">
                            <option value=""></option>
                        </select>
                    </div>

                </div>
                <div class="mt-0 form-group input-group input-group-sm pa-2 d-block">
                    {{ form_label(formulario.fundamentacion) }}
                    {{ form_widget(formulario.fundamentacion) }}
                </div>
                {{ form_widget(formulario.id_movimiento) }}
                {{ form_widget(formulario.id_activo) }}
                {{ form_end(formulario) }}
                <div class="d-flex mt-2">
                    <div class="mr-auto">
                        <a href="{{ url('activo_fijo') }}"
                           class="btn btn-outline-secondary" id="btn_salir">Salir</a>
                    </div>
                    <div class="ml-2">
                        <button class='my-0 btn btn-secondary' id="btnCancelar">cancelar</button>
                    </div>
                    <div class="ml-2">
                        <button class='my-0 btn btn-secondary' id="btnImprimir" onclick="printTraslado()">imprimir
                        </button>
                    </div>
                    <div class="ml-2">
                        <button class='my-0 btn btn-secondary' id="btnSubbmitTraslado">aceptar</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $('#btnCancelar').hide()
        let cuentas = [];
        let consecutivo = '';

        $.ajax({
            url: '/contabilidad/activo-fijo/traslados-internos/getCCtandAR',
            method: 'POST',
            dataType: 'json',
            success: function (result) {
                $(result.centro_costos).each(function (pos, valor) {
                    $('#movimiento_activo_fijo_salida_salida_centro_costo').append('<option value = "' + valor.id + '">' + valor.descripcion + '</option>');
                })
                $(result.area_responsbilidad).each(function (pos, valor) {
                    $('#movimiento_activo_fijo_salida_salida_area_responsabilidad').append('<option value = "' + valor.id + '">' + valor.descripcion + '</option>');
                })
            },
            error: function () {
            }
        })


        const loadingData = function () {
            loadingModal.show()
            $.ajax({
                url: '/contabilidad/activo-fijo/traslados-internos/getNroConsecutivo',
                method: 'POST',
                dataType: 'json',
                success: function (result) {
                    consecutivo = result.nros
                    $('#select_nros').val(consecutivo)
                    $('#select_nros').prop('max', consecutivo)
                    $('#select_nros').prop('min', 1)
                    loadingModal.close()
                },
                error: function () {
                }
            })
        }
        loadingData()

        $('#movimiento_activo_fijo_salida_nro_inventatio').on('keyup', function (e) {
            if (e.which == 13) {
                let codigo = $('#movimiento_activo_fijo_salida_nro_inventatio').val()
                if (codigo !== '') {
                    getData(codigo)
                } else {
                    alertTemplate('El campo código es obligatorio.', 'danger')
                }
            } else {
                $('#movimiento_activo_fijo_salida_descripcion').val('')
            }
        })

        function getData(codigo) {
            loadingModal.show("Cargando activo fijo...")
            $.ajax({
                url: '/contabilidad/activo-fijo/traslados-internos/getNroInv/' + codigo,
                method: 'POST',
                dataType: 'json',
                success: function (result) {
                    $('#movimiento_activo_fijo_salida_descripcion').val(result.descripcion)
                    $('#movimiento_activo_fijo_salida_id_cuenta').val(result.cuenta)
                    $('#movimiento_activo_fijo_salida_id_subcuenta').val(result.subcuenta)
                    $('#movimiento_activo_fijo_salida_fecha').val(result.fecha)

                    $('#movimiento_activo_fijo_salida_salida_centro_costo').val(result.centor_costo)
                    $('#movimiento_activo_fijo_salida_salida_area_responsabilidad').val(result.area_responsabilidad)
                    loadingModal.close()
                },
                error: function (response) {
                    loadingModal.close()
                    alertTemplate(response.responseJSON.detail, 'danger')
                    $('#movimiento_activo_fijo_salida_descripcion').val('')
                    $('#movimiento_activo_fijo_salida_id_cuenta').val('')
                    $('#movimiento_activo_fijo_salida_id_subcuenta').val('')
                    $('#movimiento_activo_fijo_salida_fecha').val('')

                    $('#movimiento_activo_fijo_salida_centro_costo').val('')
                    $('#movimiento_activo_fijo_salida_area_responsabilidad').val('')
                }
            })
        }


        $(document).ready(function () {
            let form_activo_fijo = $('#movimiento_activo_fijo_salida')
            form_activo_fijo.validate({
                errorClass: 'invalid-label-orange',
                errorPlacement: function (error, element) {
                    error.attr('style', 'font-size: .8rem;')
                    error.insertAfter(element);
                },
                rules: {
                    'movimiento_activo_fijo_salida[id_cuenta]': "required",
                    'movimiento_activo_fijo_salida[id_subcuenta]': "required",
                    'movimiento_activo_fijo_salida[fecha]': "required",
                    'movimiento_activo_fijo_salida[nro_inventatio]': "required",
                    'movimiento_activo_fijo_salida[descripcion]': "required",
                    'movimiento_activo_fijo_salida[fundamentacion]': "required",
                },
                messages: {
                    'movimiento_activo_fijo_salida[id_cuenta]': CONTAB_MSG.REQUIRED_OBLIGATORIO,
                    'movimiento_activo_fijo_salida[id_subcuenta]': CONTAB_MSG.REQUIRED_OBLIGATORIO,
                    'movimiento_activo_fijo_salida[fecha]': CONTAB_MSG.REQUIRED_OBLIGATORIO,
                    'movimiento_activo_fijo_salida[nro_inventatio]': CONTAB_MSG.REQUIRED_OBLIGATORIO,
                    'movimiento_activo_fijo_salida[descripcion]': CONTAB_MSG.REQUIRED_OBLIGATORIO,
                    'movimiento_activo_fijo_salida[fundamentacion]': CONTAB_MSG.REQUIRED_OBLIGATORIO,
                }
            })
        })

        $("#btnSubbmitTraslado").click(function (e) {
            if ($('#movimiento_activo_fijo_salida').valid()) {
                $('#movimiento_activo_fijo_salida').attr('method', `POST`)
                $('#movimiento_activo_fijo_salida').attr('action', `/contabilidad/activo-fijo/traslados-internos/`)
                $('#movimiento_activo_fijo_salida').submit()
                if (validateForm.errorList.length === 0) loadingModal.show()
            }
        });

        $('#select_nros').on('keyup', function (e) {
            if (e.which == 13) {
                if ($('#select_nros').val() != '') {
                    if ($('#select_nros').val() == consecutivo) {
                        $('#btnSubbmitTraslado').show()
                        $('#btnImprimir').show()
                        $('#btnCancelar').hide()
                        resetFormulario()
                    } else if ($('#select_nros').val() > consecutivo) {
                        $('#btnSubbmitTraslado').hide()
                        $('#btnImprimir').hide()
                        $('#btnCancelar').hide()
                        resetFormulario()
                        alertTemplate('El mayor número permitido es ' + consecutivo, 'danger')
                    } else {
                        $('#btnImprimir').show()
                        $('#btnSubbmitTraslado').hide()
                        $('#btnCancelar').show()
                        llenarFormulario($('#select_nros').val())
                    }
                } else {
                    $('#btnImprimir').hide()
                    $('#btnSubbmitTraslado').hide()
                    $('#btnCancelar').hide()
                    alertTemplate('Tiene que introducir el número del traslado', 'danger')
                }
            }
        })

        function resetFormulario() {
            $('#btnCancelar').hide()
            $('#btnImprimir').show()
            $('#btnSubbmitTraslado').show()
            $('#movimiento_activo_fijo_salida_fecha').attr('type', 'date')
            $('#movimiento_activo_fijo_salida')[0].reset()
            loadingData()
        }

        function llenarFormulario(nro) {
            if (nro < 1) {
                alertTemplate('El menor número permitido es 1', 'danger')
                resetFormulario()
            } else {
                loadingModal.show()
                $.ajax({
                    url: '/contabilidad/activo-fijo/traslados-internos/getTraslado/' + nro,
                    method: 'POST',
                    dataType: 'json',
                    success: function (result) {
                        if (result.success == true) {
                            let traslado = result.traslado;
                            $('#movimiento_activo_fijo_salida_nro_inventatio').val(traslado.nro_inv);
                            $('#movimiento_activo_fijo_salida_descripcion').val(traslado.desc);
                            $('#movimiento_activo_fijo_salida_id_cuenta').val(traslado.nro_cuenta);
                            $('#movimiento_activo_fijo_salida_id_subcuenta').val(traslado.nro_subcuenta);
                            $('#movimiento_activo_fijo_salida_centro_costo').val(traslado.centro_costo);
                            $('#movimiento_activo_fijo_salida_area_responsabilidad').val(traslado.area_responsabilidad);
                            $('#movimiento_activo_fijo_salida_fecha').attr('type', 'text');
                            $('#movimiento_activo_fijo_salida_fecha').val(traslado.fecha);
                            $('#movimiento_activo_fijo_salida_id_movimiento').val(traslado.id);
                            $('#movimiento_activo_fijo_salida_id_activo').val(traslado.id_activo);
                            $('#movimiento_activo_fijo_salida_fundamentacion').val(traslado.fundamentacion);
                            loadingModal.close()
                        }
                        if (result.success == false) {
                            loadingModal.close()
                            alertTemplate(result.message, 'danger')
                        }
                    },
                    error: function (result) {
                    }
                })
            }
        }

        function printTraslado() {
            if ($('#movimiento_activo_fijo_salida_id_movimiento').val() != '') {
                window.open('/contabilidad/activo-fijo/print-movimiento/' + $('#movimiento_activo_fijo_salida_id_movimiento').val(), '_blank');
            } else {
                const fundamentacion = $("#movimiento_activo_fijo_salida_fundamentacion").val()
                const id_activo = $("#movimiento_activo_fijo_salida_id_activo").val()
                const tipo_movimiento = 2
                const consecutivo = $("#select_nros").val()
                $('body').append(`
                    <form action='/contabilidad/activo-fijo/print-movimiento/print_current/'
                         method="post" id='form_print_current' target='_blank'>
                        <input type='text' hidden name='fundamentacion' value='${fundamentacion}'/>
                        <input type='text' hidden name='id_activo' value='${id_activo}'/>
                        <input type='text' hidden name='tipo_movimiento' value='${tipo_movimiento}'/>
                        <input type='text' hidden name='nro' value="${consecutivo}" />
                    </form>`)
                const fomrulario = $('#form_print_current')
                fomrulario.submit()
                fomrulario.remove()
            }
        }
    </script>
{% endblock %}

