{% extends 'base.html.twig' %}

{% block title %}Solicitud de Remesas{% endblock %}

{% block content %}

    {{ include('remesas_module/solicitud/confirmChange.html.twig') }}
    {{ include('remesas_module/solicitud/notificacion_solicitud_remesa.html.twig') }}
    {{ include('remesas_module/solicitud/notificacion_submit_solicitudes.html.twig') }}

    <div class="container d-flex justify-content-center">
        <div class="card mt-1" style="width: 50rem;">
            <div class="container">
                <h2 class="text-reporte text-center mr-0 text-white mt-2" id="normal_div">
                    Solicitud de Remesas
                </h2>
            </div>
            <div class="card-body">
                <hr color="dimgray" class="my-1 ml-2" size=3>
                {{ form_start(formulario, {'attr':{'id':'form_solicitud','autocomplete':"off"}}) }}
                <div class="row mt-0 p-0">
                    <div id="nuevo_beneficiario_div" class="col-4" style="display: none">
                        <div class="row m-0 p-0 pr-3">
                            <div class="col-11 form-group input-group input-group-sm pa-2 pl-0 pr-0 mr-0 mt-0">
                                {{ form_label(formulario.nuevo_beneficiario) }}
                                {{ form_widget(formulario.nuevo_beneficiario) }}
                            </div>
                            <div class="col-1 mt-4 pt-2 form-group input-group input-group-sm ml-0 pl-0">
                                <button type="button" class='my-0 btn btn-outline-secondary' style="height: 40px"
                                        onclick="changeStatus(-1,true)"><i class="fa fa-trash-o text-danger fa-2x"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div id="id_beneficiario_div" class="col-4 mt-0 p-0">
                        <div class="row m-0 p-0">
                            <div class="col-12 form-group input-group input-group-sm pa-2 d-block mt-0 pr-0">
                                {{ form_label(formulario.primer_nombre) }}
                                {{ form_widget(formulario.primer_nombre) }}
                            </div>
                        </div>
                    </div>
                    <div class="col-4 mt-0 form-group input-group input-group-sm pa-2 d-block">
                        {{ form_label(formulario.primer_apellido) }}
                        {{ form_widget(formulario.primer_apellido) }}
                    </div>
                    <div class="col-4 mt-0 form-group input-group input-group-sm d-block p-0">
                        {{ form_label(formulario.segundo_apellido) }}
                        {{ form_widget(formulario.segundo_apellido) }}
                    </div>
                </div>
                <div class="row mt-0 p-0">
                    <div class="col-4 form-group input-group input-group-sm pa-2 d-block">
                        {{ form_label(formulario.nombre_alternativo) }}
                        {{ form_widget(formulario.nombre_alternativo) }}
                    </div>
                    <div class="col-4 mt-0 form-group input-group input-group-sm pa-2 d-block pl-0">
                        {{ form_label(formulario.primer_apellido_alternativo) }}
                        {{ form_widget(formulario.primer_apellido_alternativo) }}
                    </div>
                    <div class="col-4 mt-0 form-group input-group input-group-sm d-block p-0">
                        {{ form_label(formulario.segundo_apellido_alternativo) }}
                        {{ form_widget(formulario.segundo_apellido_alternativo) }}
                    </div>
                </div>
                <div class="row mt-0 p-0">
                    <div class="col-4 form-group input-group input-group-sm pa-2 d-block">
                        {{ form_label(formulario.primer_telefono) }}
                        {{ form_widget(formulario.primer_telefono) }}
                    </div>
                    <div class="col-4 mt-0 form-group input-group input-group-sm pa-2 d-block pl-0">
                        {{ form_label(formulario.segundo_telefono) }}
                        {{ form_widget(formulario.segundo_telefono) }}
                    </div>
                    <div class="col-4 mt-0 form-group input-group input-group-sm d-block p-0">
                        {{ form_label(formulario.identificacion) }}
                        {{ form_widget(formulario.identificacion) }}
                    </div>
                </div>
                <div class="row mt-0 p-0">
                    <div class="col-3 form-group input-group input-group-sm pa-2 d-block">
                        {{ form_label(formulario.calle) }}
                        {{ form_widget(formulario.calle) }}
                    </div>
                    <div class="col-3 mt-0 form-group input-group input-group-sm pa-2 d-block pl-0">
                        {{ form_label(formulario.entre) }}
                        {{ form_widget(formulario.entre) }}
                    </div>
                    <div class="col-3 mt-0 form-group input-group input-group-sm d-block p-0">
                        {{ form_label(formulario.y) }}
                        {{ form_widget(formulario.y) }}
                    </div>
                    <div class="col-3 mt-0 form-group input-group input-group-sm pl-3 pr-0 d-block">
                        {{ form_label(formulario.nro_casa) }}
                        {{ form_widget(formulario.nro_casa) }}
                    </div>
                </div>
                <div class="row mt-0 p-0">
                    <div class="col-2 form-group input-group input-group-sm pa-2 d-block">
                        {{ form_label(formulario.edificio) }}
                        {{ form_widget(formulario.edificio) }}
                    </div>
                    <div class="col-2 mt-0 form-group input-group input-group-sm d-block pa-0 pl-0">
                        {{ form_label(formulario.apto) }}
                        {{ form_widget(formulario.apto) }}
                    </div>
                    <div class="col-3 mt-0 form-group input-group input-group-sm d-block p-0">
                        {{ form_label(formulario.reparto) }}
                        {{ form_widget(formulario.reparto) }}
                    </div>
                    <div class="col-3 mt-0 form-group input-group input-group-sm pl-2 pr-0 pl-2 d-block">
                        {{ form_label(formulario.id_pais) }}
                        {{ form_widget(formulario.id_pais) }}
                    </div>
                    <div class="pr-0 col-2 mt-0 form-group input-group input-group-sm pa-2 pl-2 d-block">
                        {{ form_label(formulario.id_moneda) }}
                        {{ form_widget(formulario.id_moneda) }}
                    </div>
                </div>
                <div class="row mt-0 p-0">
                    <div class="col-3 mt-0 form-group input-group input-group-sm pa-2 d-block">
                        {{ form_label(formulario.id_provincia) }}
                        {{ form_widget(formulario.id_provincia) }}
                    </div>
                    <div class="col-3 mt-0 form-group input-group input-group-sm pa-2 pl-0 d-block">
                        {{ form_label(formulario.id_municipios) }}
                        {{ form_widget(formulario.id_municipios) }}
                    </div>
                    <div class="col-2 mt-0 form-group input-group input-group-sm d-block pa-0 pl-0">
                        {{ form_label(formulario.monto_entregar) }}
                        {{ form_widget(formulario.monto_entregar,{'type':'number'}) }}
                    </div>
                    <div class="col-2 mt-0 form-group input-group input-group-sm d-block pa-2 pl-0">
                        {{ form_label(formulario.monto_recibir) }}
                        {{ form_widget(formulario.monto_recibir,{'type':'number'}) }}
                    </div>
                    <div class="col-2 pt-2 pl-1 mt-4">
                        <button class="btn btn-secondary btn-sm ml-0 fa fa-plus" type="button" id="btnAplicarMercancia">
                            Adicionar
                        </button>
                    </div>
                </div>
                {{ form_end(formulario) }}
            </div>
            <div>
                <table class="table-small-rows table table-hover text-light">
                    <thead class="thead-dark">
                    <th width="120px" class="text-left">Nombre</th>
                    <th width="120px" class="text-left">País</th>
                    <th width="140px" class="text-right">Monto a Pagar</th>
                    <th width="140px" class="text-right">Monto a Recibir</th>
                    <th width="60px" class="text-center"><i class="fa fa-minus-circle text-danger"></i></th>
                    </thead>
                    <tbody id="rows_solicitudes_remesas">
                    </tbody>
                </table>
            </div>
            <div class="d-flex mt-2">
                <div class="mr-auto">
                    <a class="btn btn-outline-secondary" id="salir">Salir</a>
                </div>
                <div class="ml-2">
                    <button class='mb-4 btn btn-secondary' id="btnSubbmitInforme" data-toggle="modal"
                            data-target="#ModalConfirmSubmit" data-placement="bottom">Aceptar
                    </button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        let beneficiarios_array = []
        let data_baneficiarios = []
        let list_provincias = []
        let str_beneficiario = ''
        let list_table = []
        let new_beneficiario
        let form_solicitud = $('#form_solicitud')
        let id_banaficiario_
        let nombre_
        let id_pais_
        let pais_
        let id_moneda_
        let id_provincia_
        let id_municipio_
        let primer_apellido_
        let segundo_apellido_
        let nombre_alternativo_
        let primer_apellido_alternativo_
        let segundo_apellido_alternativo_
        let primer_telefono_
        let segundo_telefono_
        let identificacion_
        let calle_
        let entre_
        let y_
        let nro_casa_
        let edificio_
        let apto_
        let reparto_
        let monto_entregar_
        let monto_recibir_
        let id_moneda_select_
        let nombre_moneda_recibir
        let actua
        $('select').prepend('<option value = "0" selected disabled>...seleccione...</option>')

        function eliminarElementoMisterioso() {
            var combo = document.getElementById('beneficiarios_clientes_primer_nombre')
            for (var i = 0; i < combo.length; i++) {
                if (combo.options[i].value == '') {
                    combo.remove(i)
                    break
                }
            }
        }

        eliminarElementoMisterioso()

        function resetFormSolicitud() {
            // $('#beneficiarios_clientes_primer_nombre').val(0)
            $('#beneficiarios_clientes_id_pais').val(0)
            $('#beneficiarios_clientes_id_moneda').val(0)
            $('#beneficiarios_clientes_id_provincia').val(0)
            $('#beneficiarios_clientes_id_municipios').val(0)
            $('#beneficiarios_clientes_primer_apellido').val('')
            $('#beneficiarios_clientes_segundo_apellido').val('')
            $('#beneficiarios_clientes_nombre_alternativo').val('')
            $('#beneficiarios_clientes_primer_apellido_alternativo').val('')
            $('#beneficiarios_clientes_segundo_apellido_alternativo').val('')
            $('#beneficiarios_clientes_primer_telefono').val('')
            $('#beneficiarios_clientes_segundo_telefono').val('')
            $('#beneficiarios_clientes_identificacion').val('')
            $('#beneficiarios_clientes_calle').val('')
            $('#beneficiarios_clientes_entre').val('')
            $('#beneficiarios_clientes_y').val('')
            $('#beneficiarios_clientes_nro_casa').val('')
            $('#beneficiarios_clientes_edificio').val('')
            $('#beneficiarios_clientes_apto').val('')
            $('#beneficiarios_clientes_reparto').val('')
            $('#beneficiarios_clientes_monto_entregar').val('')
            $('#beneficiarios_clientes_monto_recibir').val('')
            $('#beneficiarios_clientes_nuevo_beneficiario').val('')
        }

        function estadoCampos(estado) {
            $('#beneficiarios_clientes_id_pais').prop('disabled', estado)
            $('#beneficiarios_clientes_id_moneda').prop('disabled', estado)
            $('#beneficiarios_clientes_id_provincia').prop('disabled', estado)
            $('#beneficiarios_clientes_id_municipios').prop('disabled', estado)
            $('#beneficiarios_clientes_primer_apellido').prop('disabled', estado)
            $('#beneficiarios_clientes_segundo_apellido').prop('disabled', estado)
            $('#beneficiarios_clientes_nombre_alternativo').prop('disabled', estado)
            $('#beneficiarios_clientes_primer_apellido_alternativo').prop('disabled', estado)
            $('#beneficiarios_clientes_segundo_apellido_alternativo').prop('disabled', estado)
            $('#beneficiarios_clientes_primer_telefono').prop('disabled', estado)
            $('#beneficiarios_clientes_segundo_telefono').prop('disabled', estado)
            $('#beneficiarios_clientes_identificacion').prop('disabled', estado)
            $('#beneficiarios_clientes_calle').prop('disabled', estado)
            $('#beneficiarios_clientes_entre').prop('disabled', estado)
            $('#beneficiarios_clientes_y').prop('disabled', estado)
            $('#beneficiarios_clientes_nro_casa').prop('disabled', estado)
            $('#beneficiarios_clientes_edificio').prop('disabled', estado)
            $('#beneficiarios_clientes_apto').prop('disabled', estado)
            $('#beneficiarios_clientes_reparto').prop('disabled', estado)
            $('#beneficiarios_clientes_monto_entregar').prop('disabled', estado)
            $('#beneficiarios_clientes_monto_recibir').prop('disabled', estado)
        }

        estadoCampos(true)

        $('#salir').on('click', function () {
            window.location.href = "/categorias/" +{{ telefono }};
        })

        $(document).on('ready', function (event) {
            const beneficiarios = JSON.parse('{{ beneficiarios|json_encode()|raw }}')
            const data = JSON.parse('{{ data_baneficiarios|json_encode()|raw }}')
            beneficiarios_array = beneficiarios
            data_baneficiarios = data
            beneficiarios.forEach(function (valor) {
                    $('#beneficiarios_clientes_primer_nombre').append('<option value = "' + valor.index + '">' + valor.nombre + '</option>')
                }
            )

            $('#beneficiarios_clientes_id_pais').on('change', e => loadData())

            $('#beneficiarios_clientes_primer_nombre').append('<option value = "-1">--Nuevo Beneficiario--</option>')

            $('#beneficiarios_clientes_primer_nombre').on('change', function () {
                loadingModal.show()
                resetFormSolicitud()
                estadoCampos(false)
                $('#beneficiarios_clientes_nuevo_beneficiario').val('')
                let value_sel = $('#beneficiarios_clientes_primer_nombre').val()
                if (value_sel == '-1') {
                    new_beneficiario = true
                    changeStatus(1)
                    $('#beneficiarios_clientes_id_moneda').find('option').remove()
                    $('#beneficiarios_clientes_id_moneda').prepend('<option value = "0" selected disabled>...seleccione...</option>')
                    $('#beneficiarios_clientes_id_moneda').find('option').remove()
                    $('#beneficiarios_clientes_id_moneda').prepend('<option value = "0" selected disabled>...seleccione...</option>')
                    $('#beneficiarios_clientes_id_provincia').find('option').remove()
                    $('#beneficiarios_clientes_id_provincia').prepend('<option value = "0" selected disabled>...seleccione...</option>')
                    $('#beneficiarios_clientes_id_municipios').find('option').remove()
                    $('#beneficiarios_clientes_id_municipios').prepend('<option value = "0" selected disabled>...seleccione...</option>')

                } else {
                    changeStatus(-1)
                    new_beneficiario = false
                    $('#beneficiarios_clientes_id_pais').val(data_baneficiarios[(parseFloat(value_sel) - 1)]['id_pais'])
                    loadData(data_baneficiarios[(parseFloat(value_sel) - 1)]['id_provincia'], data_baneficiarios[(parseFloat(value_sel) - 1)]['id_municipio'])
                    $('#beneficiarios_clientes_id_provincia').val(data_baneficiarios[(parseFloat(value_sel) - 1)]['id_provincia'])
                    $('#beneficiarios_clientes_primer_apellido').val(data_baneficiarios[(parseFloat(value_sel) - 1)]['primer_apellido'])
                    $('#beneficiarios_clientes_segundo_apellido').val(data_baneficiarios[(parseFloat(value_sel) - 1)]['segundo_apellido'])
                    $('#beneficiarios_clientes_nombre_alternativo').val(data_baneficiarios[(parseFloat(value_sel) - 1)]['nombre_alternativo'])
                    $('#beneficiarios_clientes_primer_apellido_alternativo').val(data_baneficiarios[(parseFloat(value_sel) - 1)]['primer_apellido_alternativo'])
                    $('#beneficiarios_clientes_segundo_apellido_alternativo').val(data_baneficiarios[(parseFloat(value_sel) - 1)]['segundo_apellido_alternativo'])
                    $('#beneficiarios_clientes_primer_telefono').val(data_baneficiarios[(parseFloat(value_sel) - 1)]['primer_telefono'])
                    $('#beneficiarios_clientes_segundo_telefono').val(data_baneficiarios[(parseFloat(value_sel) - 1)]['segundo_telefono'])
                    $('#beneficiarios_clientes_identificacion').val(data_baneficiarios[(parseFloat(value_sel) - 1)]['identificacion'])
                    $('#beneficiarios_clientes_calle').val(data_baneficiarios[(parseFloat(value_sel) - 1)]['calle'])
                    $('#beneficiarios_clientes_entre').val(data_baneficiarios[(parseFloat(value_sel) - 1)]['entre'])
                    $('#beneficiarios_clientes_y').val(data_baneficiarios[(parseFloat(value_sel) - 1)]['y'])
                    $('#beneficiarios_clientes_nro_casa').val(data_baneficiarios[(parseFloat(value_sel) - 1)]['nro_casa'])
                    $('#beneficiarios_clientes_edificio').val(data_baneficiarios[(parseFloat(value_sel) - 1)]['edificio'])
                    $('#beneficiarios_clientes_apto').val(data_baneficiarios[(parseFloat(value_sel) - 1)]['apto'])
                    $('#beneficiarios_clientes_reparto').val(data_baneficiarios[(parseFloat(value_sel) - 1)]['reparto'])
                    $('#beneficiarios_clientes_monto_entregar').val('')
                    $('#beneficiarios_clientes_monto_recibir').val('')
                    str_beneficiario =
                        data_baneficiarios[(parseFloat(value_sel) - 1)]['primer_apellido'] + '-' +
                        data_baneficiarios[(parseFloat(value_sel) - 1)]['segundo_apellido'] + '-' +
                        data_baneficiarios[(parseFloat(value_sel) - 1)]['nombre_alternativo'] + '-' +
                        data_baneficiarios[(parseFloat(value_sel) - 1)]['primer_apellido_alternativo'] + '-' +
                        data_baneficiarios[(parseFloat(value_sel) - 1)]['segundo_apellido_alternativo'] + '-' +
                        data_baneficiarios[(parseFloat(value_sel) - 1)]['primer_telefono'] + '-' +
                        data_baneficiarios[(parseFloat(value_sel) - 1)]['segundo_telefono'] + '-' +
                        data_baneficiarios[(parseFloat(value_sel) - 1)]['identificacion'] + '-' +
                        data_baneficiarios[(parseFloat(value_sel) - 1)]['calle'] + '-' +
                        data_baneficiarios[(parseFloat(value_sel) - 1)]['entre'] + '-' +
                        data_baneficiarios[(parseFloat(value_sel) - 1)]['y'] + '-' +
                        data_baneficiarios[(parseFloat(value_sel) - 1)]['nro_casa'] + '-' +
                        data_baneficiarios[(parseFloat(value_sel) - 1)]['edificio'] + '-' +
                        data_baneficiarios[(parseFloat(value_sel) - 1)]['apto'] + '-' +
                        data_baneficiarios[(parseFloat(value_sel) - 1)]['reparto'] + '-' +
                        data_baneficiarios[(parseFloat(value_sel) - 1)]['id_pais'] + '-' +
                        data_baneficiarios[(parseFloat(value_sel) - 1)]['id_provincia'] + '-' +
                        data_baneficiarios[(parseFloat(value_sel) - 1)]['id_municipio']
                }
                loadingModal.close()
            })
        })

        $('#beneficiarios_clientes_monto_recibir').on('keyup', function (e) {
            $('#beneficiarios_clientes_monto_entregar').val('')
            if (e.which == 13) {
                if ($('#beneficiarios_clientes_id_moneda').val() > 0) {

                    let id_pais = $('#beneficiarios_clientes_id_pais').val()
                    let id_moneda_pais = $('#beneficiarios_clientes_id_moneda').val()
                    let monto = $('#beneficiarios_clientes_monto_recibir').val()
                    let currency = $('#currency').val()
                    loadingModal.show()
                    $.ajax({
                        url: '/servicios/remesas/solicitud/getMontoPagar',
                        method: 'POST',
                        data: {id_pais: id_pais, id_moneda_pais: id_moneda_pais, monto: monto, currency: currency},
                        dataType: 'json',
                        success: function (result) {
                            if (result.a_pagar == 0) {
                                alertTemplate('No existen reglas configuradas para la cantidad especificada', 'danger')
                                $('#beneficiarios_clientes_monto_recibir').val('')
                                $('#beneficiarios_clientes_monto_entregar').val('')
                            } else
                                $('#beneficiarios_clientes_monto_entregar').val(result.a_pagar)
                            loadingModal.close()
                        },
                        error: function (error) {
                            alertTemplate('Error interno', 'danger')
                            loadingModal.close()
                        }
                    })
                } else {
                    alertTemplate('Tiene que seleccionar la moneda en que se entregará en el país del beneficiario.', 'danger')
                }
            }
        })

        $('#beneficiarios_clientes_monto_entregar').on('keyup', function (e) {
            $('#beneficiarios_clientes_monto_recibir').val('')
            if (e.which == 13) {
                if ($('#beneficiarios_clientes_id_moneda').val() > 0) {
                    let id_pais = $('#beneficiarios_clientes_id_pais').val()
                    let id_moneda_pais = $('#beneficiarios_clientes_id_moneda').val()
                    let monto = $('#beneficiarios_clientes_monto_entregar').val()
                    let currency = $('#currency').val()
                    loadingModal.show()
                    $.ajax({
                        url: '/servicios/remesas/solicitud/getMontoRecibir',
                        method: 'POST',
                        data: {id_pais: id_pais, id_moneda_pais: id_moneda_pais, monto: monto, currency: currency},
                        dataType: 'json',
                        success: function (result) {
                            if (result.a_recibir == 0) {
                                alertTemplate('No existen reglas configuradas para la cantidad especificada', 'danger')
                                $('#beneficiarios_clientes_monto_recibir').val('')
                                $('#beneficiarios_clientes_monto_entregar').val('')
                            } else
                                $('#beneficiarios_clientes_monto_recibir').val(result.a_recibir)
                            loadingModal.close()
                        },
                        error: function (error) {
                            alertTemplate('Error interno', 'danger')
                            loadingModal.close()
                        }
                    })
                } else {
                    alertTemplate('Tiene que seleccionar la moneda en que se entregará en el país del beneficiario.', 'danger')
                }
            }
        })

        function loadData(id_provincia = null, id_municipio = null) {
            let id_pais = $('#beneficiarios_clientes_id_pais').val()
            $('#beneficiarios_clientes_id_moneda').find('option').remove()
            $('#beneficiarios_clientes_id_moneda').prepend('<option value = "0" selected disabled>...seleccione...</option>')
            $('#beneficiarios_clientes_id_provincia').find('option').remove()
            $('#beneficiarios_clientes_id_provincia').prepend('<option value = "0" selected disabled>...seleccione...</option>')
            $('#beneficiarios_clientes_id_municipios').find('option').remove()
            $('#beneficiarios_clientes_id_municipios').prepend('<option value = "0" selected disabled>...seleccione...</option>')
            $.ajax({
                url: '/servicios/remesas/solicitud/getMonedas',
                method: 'POST',
                data: {id_pais: id_pais},
                dataType: 'json',
                success: function (result) {
                    list_provincias = result.provincias
                    $(result.monedas).each(function (pos, valor) {
                        $('#beneficiarios_clientes_id_moneda').append('<option value = "' + valor.id_moneda_pais + '">' + valor.moneda + '</option>');
                    })
                    $(result.provincias).each(function (pos, valor) {
                        $('#beneficiarios_clientes_id_provincia').append('<option value = "' + valor.id_provincia + '">' + valor.nombre + '</option>');
                    })

                    if (id_provincia != null) {
                        $('#beneficiarios_clientes_id_municipios').find('option').remove()
                        $('#beneficiarios_clientes_id_municipios').prepend('<option value = "0" selected disabled>...seleccione...</option>')
                        list_provincias.forEach(function (valor, pos) {
                            if ($('#beneficiarios_clientes_id_provincia').val() == valor.id_provincia) {
                                for (var i = 0; i < valor.municipios.length; i++) {
                                    $('#beneficiarios_clientes_id_municipios').append('<option value = "' + valor.municipios[i]['id'] + '">' + valor.municipios[i]['nombre'] + '</option>');
                                }
                            }
                        })
                        if (id_municipio != null)
                            $('#beneficiarios_clientes_id_municipios').val(id_municipio)
                    }
                },
                error: function (error) {
                    alertTemplate('Error interno', 'danger')
                }

            })
            loadingModal.close()
        }

        $('#beneficiarios_clientes_id_provincia').on('change', function () {
            $('#beneficiarios_clientes_id_municipios').find('option').remove()
            $('#beneficiarios_clientes_id_municipios').prepend('<option value = "0" selected disabled>...seleccione...</option>')
            list_provincias.forEach(function (valor, pos) {
                if ($('#beneficiarios_clientes_id_provincia').val() == valor.id_provincia) {
                    for (var i = 0; i < valor.municipios.length; i++) {
                        $('#beneficiarios_clientes_id_municipios').append('<option value = "' + valor.municipios[i]['id'] + '">' + valor.municipios[i]['nombre'] + '</option>');
                    }
                }
            })
        })

        function changeStatus(val, value) {
            resetFormSolicitud()
            if (val == -1) {
                $('#nuevo_beneficiario_div').css('display', 'none')
                $('#id_beneficiario_div').css('display', 'block')
            } else {
                $('#nuevo_beneficiario_div').css('display', 'flex')
                $('#id_beneficiario_div').css('display', 'none')
                $('#beneficiarios_clientes_primer_nombre').val('')
            }
            if (value == true)
                $('#beneficiarios_clientes_primer_nombre').val(0)
        }

        $('#btnAplicarMercancia').on('click', function () {
            if (form_solicitud.valid()) {
                id_banaficiario_ = $('#beneficiarios_clientes_nuevo_beneficiario').val() ? null : $('#beneficiarios_clientes_primer_nombre').val()
                nombre_ = $('#beneficiarios_clientes_nuevo_beneficiario').val() ? $('#beneficiarios_clientes_nuevo_beneficiario').val() : $('#beneficiarios_clientes_primer_nombre option:selected').text()
                id_pais_ = $('#beneficiarios_clientes_id_pais').val()
                pais_ = $('#beneficiarios_clientes_id_pais option:selected').text()
                id_moneda_ = $('#beneficiarios_clientes_id_moneda').val()
                nombre_moneda_recibir = $('#beneficiarios_clientes_id_moneda option:selected').text()
                id_provincia_ = $('#beneficiarios_clientes_id_provincia').val()
                id_municipio_ = $('#beneficiarios_clientes_id_municipios').val()
                primer_apellido_ = $('#beneficiarios_clientes_primer_apellido').val()
                segundo_apellido_ = $('#beneficiarios_clientes_segundo_apellido').val()
                nombre_alternativo_ = $('#beneficiarios_clientes_nombre_alternativo').val()
                primer_apellido_alternativo_ = $('#beneficiarios_clientes_primer_apellido_alternativo').val()
                segundo_apellido_alternativo_ = $('#beneficiarios_clientes_segundo_apellido_alternativo').val()
                primer_telefono_ = $('#beneficiarios_clientes_primer_telefono').val()
                segundo_telefono_ = $('#beneficiarios_clientes_segundo_telefono').val()
                identificacion_ = $('#beneficiarios_clientes_identificacion').val()
                calle_ = $('#beneficiarios_clientes_calle').val()
                entre_ = $('#beneficiarios_clientes_entre').val()
                y_ = $('#beneficiarios_clientes_y').val()
                nro_casa_ = $('#beneficiarios_clientes_nro_casa').val()
                edificio_ = $('#beneficiarios_clientes_edificio').val()
                apto_ = $('#beneficiarios_clientes_apto').val()
                reparto_ = $('#beneficiarios_clientes_reparto').val()
                monto_entregar_ = $('#beneficiarios_clientes_monto_entregar').val()
                monto_recibir_ = $('#beneficiarios_clientes_monto_recibir').val()
                id_moneda_select_ = $('#currency').val()

                if (id_banaficiario_ == null && new_beneficiario == true) {
                    saveBeneficiario()
                }
                const str_to_compare = primer_apellido_ + '-' + segundo_apellido_ + '-' + nombre_alternativo_ + '-' + primer_apellido_alternativo_ + '-' + segundo_apellido_alternativo_ + '-' +
                    primer_telefono_ + '-' + segundo_telefono_ + '-' + identificacion_ + '-' + calle_ + '-' + entre_ + '-' + y_ + '-' + nro_casa_ + '-' + edificio_ + '-' + apto_ + '-' +
                    reparto_ + '-' + id_pais_ + '-' + id_provincia_ + '-' +
                    id_municipio_

                if (str_to_compare === str_beneficiario || new_beneficiario == true) {
                    LlenarTabla(false, id_banaficiario_, nombre_, id_pais_, id_moneda_, id_provincia_, id_municipio_, primer_apellido_, segundo_apellido_,
                        nombre_alternativo_, primer_apellido_alternativo_, segundo_apellido_alternativo_, primer_telefono_, segundo_telefono_, identificacion_,
                        calle_, entre_, y_, nro_casa_, edificio_, apto_, reparto_, monto_entregar_, monto_recibir_, id_moneda_select_, nombre_moneda_recibir)
                } else {
                    $('#ModalConfirm').modal('show')
                }
            }
        })

        form_solicitud.validate({
            errorClass: 'invalid-label-orange',
            errorPlacement: function (error, element) {
                // colocar mensajes de error a la derecha de cada label para el componente
                const error_label = element.closest("form").find(element.attr('id') + "-error")
                if (error_label.length) {
                    error_label.removeClass('hide')
                } else {
                    error.addClass('ml-3 mt-3')
                    $(element)
                        .closest("form")
                        .find("label[for='" + element.attr("id") + "']")
                        .append(error);
                }
            },
            rules: {
                'beneficiarios_clientes[primer_nombre]': "required",
                'beneficiarios_clientes[monto_entregar]': "required",
                'beneficiarios_clientes[monto_recibir]': "required",
                'beneficiarios_clientes[nuevo_beneficiario]': "required",
                'beneficiarios_clientes[id_pais]': "required",
                'beneficiarios_clientes[id_provincia]': "required",
                'beneficiarios_clientes[id_municipios]': "required",
            },
            messages: {
                'beneficiarios_clientes[primer_nombre]': '!Obligatorio',
                'beneficiarios_clientes[monto_entregar]': '!Obligatorio',
                'beneficiarios_clientes[monto_recibir]': '!Obligatorio',
                'beneficiarios_clientes[id_pais]': '!Obligatorio',
                'beneficiarios_clientes[id_provincia]': '!Obligatorio',
                'beneficiarios_clientes[id_municipios]': '!Obligatorio',
            }
        })

        $('#btn_aceptar').on('click', function () {
            saveBeneficiario()
            LlenarTabla(true, id_banaficiario_, nombre_, id_pais_, id_moneda_, id_provincia_, id_municipio_, primer_apellido_, segundo_apellido_,
                nombre_alternativo_, primer_apellido_alternativo_, segundo_apellido_alternativo_, primer_telefono_, segundo_telefono_, identificacion_,
                calle_, entre_, y_, nro_casa_, edificio_, apto_, reparto_, monto_entregar_, monto_recibir_, id_moneda_select_, nombre_moneda_recibir)
        })

        $('#btn_no').on('click', function () {
            LlenarTabla(false, id_banaficiario_, nombre_, id_pais_, id_moneda_, id_provincia_, id_municipio_, primer_apellido_, segundo_apellido_,
                nombre_alternativo_, primer_apellido_alternativo_, segundo_apellido_alternativo_, primer_telefono_, segundo_telefono_, identificacion_,
                calle_, entre_, y_, nro_casa_, edificio_, apto_, reparto_, monto_entregar_, monto_recibir_, id_moneda_select_, nombre_moneda_recibir)
        })

        $('#btnSubbmitInforme').on('click', function (event) {
            let total_pagar = 0;
            let total_recibir = 0;
            if (list_table.length > 0) {
                let monedas_listado = []
                let flag = false
                for (let i = 0; i < list_table.length; i++) {
                    flag = false
                    for (let j = 0; j < monedas_listado.length; j++) {
                        if (list_table[i]['nombre_moneda_recibir'] == monedas_listado[j])
                            flag = true
                    }
                    if (flag == false)
                        monedas_listado.push(list_table[i]['nombre_moneda_recibir'])
                    total_pagar += parseFloat(list_table[i]['monto_entregar_']);
                }
                cl(monedas_listado)

                let total_por_moneda = 0;
                let str_recibir = ''
                for (let j = 0; j < monedas_listado.length; j++) {
                    total_por_moneda = 0;
                    for (let i = 0; i < list_table.length; i++) {
                        if (list_table[i]['nombre_moneda_recibir'] == monedas_listado[j])
                            total_por_moneda += parseFloat(list_table[i]['monto_recibir_'])
                    }
                    cl(total_por_moneda)
                    str_recibir += (total_por_moneda.toFixed(2)+' '+monedas_listado[j]+', ')
                }


                $('#parragraph_sumbit').text('Usted ha configurado un total de ' + list_table.length + ' remesas, el precio total a' +
                    ' pagar es de ' + total_pagar.toFixed(2) + ' ' + $('#currency option:selected').text() + ', y se entregará a los beneficiarios un total ' +
                    'de ' + str_recibir + '. ¿Está seguro que desea continuar?.')
            } else {
                $('#parragraph_sumbit').text('Usted no tiene remesas configuradas, debe configurar al menos una remesa para agregarla al carrito.')

            }
        })

        $('#btn_aceptar_sumbit').on('click', function (event) {
            event.preventDefault()
            if (list_table.length) {
                const listado = JSON.stringify(list_table)
                $('body').append(`
                    <form action='/servicios/remesas/solicitud/add-carrito'
                         method="post" id='form_add_carrito'>
                        <input type='hidden' name='solicitudes' value='${listado}'/>
                    </form>`)
                const fomrulario = $('#form_add_carrito')
                fomrulario.submit()
                fomrulario.remove()
            } else alertTemplate('Debe existir alguna remesa para facturar', 'danger')
        })

        $(document).on('click', '.borrar', function (event) {
            event.preventDefault();
            list_table = list_table.filter(e => e.nombre_ !== $(this).attr('nombre'))
            $(this).closest('tr').remove()
        })

        function LlenarTabla(actualizar, id_banaficiario_, nombre_, id_pais_, id_moneda_, id_provincia_, id_municipio_, primer_apellido_, segundo_apellido_,
                             nombre_alternativo_, primer_apellido_alternativo_, segundo_apellido_alternativo_, primer_telefono_, segundo_telefono_, identificacion_,
                             calle_, entre_, y_, nro_casa_, edificio_, apto_, reparto_, monto_entregar_, monto_recibir_, id_moneda_select_, nombre_moneda_recibir) {
            list_table.push({
                actualizar,
                id_banaficiario_,
                nombre_,
                id_pais_,
                id_moneda_,
                id_provincia_,
                id_municipio_,
                primer_apellido_,
                segundo_apellido_,
                nombre_alternativo_,
                primer_apellido_alternativo_,
                segundo_apellido_alternativo_,
                primer_telefono_,
                segundo_telefono_,
                identificacion_,
                calle_,
                entre_,
                y_,
                nro_casa_,
                edificio_,
                apto_,
                reparto_,
                monto_entregar_,
                monto_recibir_,
                id_moneda_select_,
                nombre_moneda_recibir
            })
            cl(list_table)
            let valor_entregar = parseFloat(monto_entregar_).toFixed(2)
            let valor_recibir = parseFloat(monto_recibir_).toFixed(2)
            $('#rows_solicitudes_remesas').append(`<tr>
                        <td class="text-left"> ${nombre_}</td>
                        <td class="text-left"> ${pais_} </td>
                        <td class="text-right"> ${valor_entregar} </td>
                        <td class="text-right"> ${valor_recibir} </td>
                        <td style="width: 45px;" class="text-center"> <button type="button"
                            class="btn btn-outline-danger btn-sm borrar" title="Eliminar" nombre="${nombre_}">
                            <i class="fa fa-minus-circle"></i>
                        </button>
                        </td
                       ></tr>`
            );
            $('#beneficiarios_clientes_primer_nombre').val(0)
            resetFormSolicitud()
        }

        function saveBeneficiario() {
            loadingModal.show()
            let data = {
                id_banaficiario_: id_banaficiario_,
                nombre_: nombre_,
                id_pais_: id_pais_,
                id_moneda_: id_moneda_,
                id_provincia_: id_provincia_,
                id_municipio_: id_municipio_,
                primer_apellido_: primer_apellido_,
                segundo_apellido_: segundo_apellido_,
                nombre_alternativo_: nombre_alternativo_,
                primer_apellido_alternativo_: primer_apellido_alternativo_,
                segundo_apellido_alternativo_: segundo_apellido_alternativo_,
                primer_telefono_: primer_telefono_,
                segundo_telefono_: segundo_telefono_,
                identificacion_: identificacion_,
                calle_: calle_,
                entre_: entre_,
                y_: y_,
                nro_casa_: nro_casa_,
                edificio_: edificio_,
                apto_: apto_,
                reparto_: reparto_,
            }
            $.ajax({
                url: '/servicios/remesas/solicitud/saveBeneficiario',
                method: 'POST',
                data: data,
                dataType: 'json',
                success: function (result) {
                    $('#beneficiarios_clientes_primer_nombre').find('option').remove()
                    $('#beneficiarios_clientes_primer_nombre').prepend('<option value = "0" selected disabled>...seleccione...</option>')
                    beneficiarios_array = result.beneficiarios
                    data_baneficiarios = result.data_baneficiarios
                    result.beneficiarios.forEach(function (valor) {
                            $('#beneficiarios_clientes_primer_nombre').append('<option value = "' + valor.index + '">' + valor.nombre + '</option>')
                        }
                    )
                    $('#beneficiarios_clientes_primer_nombre').append('<option value = "-1">--Nuevo Beneficiario--</option>')
                    changeStatus(-1, true)
                    loadingModal.close()
                },
                error: function (error) {
                    alertTemplate('Error interno', 'danger')
                    loadingModal.close()
                }
            })
        }
    </script>
{% endblock %}
