{% extends('contabilidad/inventario/print_base.html.twig') %}
{% block title %} Imprimir CUADRE DIARIO {% endblock %}
{% block body %}
    <div class="container-fluid mt-3 d-flex flex-column align-items-center" style="height: 1000px;">
        <table border="0" width="960px" class="mt-1">
            <tbody>
            <tr>
                <td colspan="7" height="70px" class="font-weight-bold text-center text-uppercase">CUADRE
                    DIARIO {{ fecha }}
                </td>
            </tr>
            <tr>
                <td style="width:90px" class="text-left"><strong>Unidad</strong></td>
                <td colspan="5" class="text-left">{{ unidad }}</td>
            </tr>
            <tr>
                <td style="width:90px" class="text-left"><strong>Almacén</strong></td>
                <td colspan="5" class="text-left">{{ almacen }}</td>
            </tr>
            </tbody>
        </table>
        {% for item in datos %}
            <table border="0" width="960px" class="mt-3">
                <tr class="font-weight-bold border">
                    <td style="width: 60px !important;" class="text-left">Cuenta</td>
                    <td style="width: 100px" class="text-left">Subcuenta</td>
                    <td style="width: 300px" class="text-left">Análisis 1 - Análisis 2 - Análisis 3</td>
                    <td class="text-center">Descripción</td>
                </tr>
                <tbody>
                <tr>
                    <td style="width: 100px" class="text-left">{{ item.cuenta }}</td>
                    <td style="width: 100px" class="text-left">{{ item.subcuenta }}</td>
                    <td style="width: 100px" class="text-left">{{ item.analisis }}</td>
                    <td class="text-center">{{ item.descripcion }}</td>
                </tr>
                <table class="align-content-center ml-5 mt-2" border="0" width="800px">
                    <tr class="border font-weight-bold">
                        <td class="text-left">Fecha</td>
                        <td class="text-center">Saldo Inicial</td>
                        <td class="text-center">Entradas</td>
                        <td class="text-center">Salidas</td>
                        <td class="text-center">Saldo Final</td>
                    </tr>
                    <tr class="border-top">
                        <td class="text-left">{{ fecha }}</td>
                        <td class="text-right">{{ item.desglose.saldo_inicial }}</td>
                        <td class="text-right">{{ item.desglose.entrada }}</td>
                        <td class="text-right">{{ item.desglose.salida }}</td>
                        <td class="text-right">{{ item.desglose.saldo_final }}</td>
                    </tr>
                    <tr>
                        <td class="text-left"></td>
                        <td class="text-right"><strong>Total:</strong></td>
                        <td class="text-right border-top">{{ item.desglose.entrada }}</td>
                        <td class="text-right border-top">{{ item.desglose.salida }}</td>
                        <td class="text-right"></td>
                    </tr>
                    </tbody>
                </table>
            </table>
        {% endfor %}
        <table class="align-content-center ml-5 mt-4" border="0" width="800px">
            <tr class="font-weight-bold border-top">
                <td class="text-left" width="171px"></td>
                <td class="text-right" width="191px">Total General</td>
                <td class="text-right" width="142px">{{ total_entrada }}</td>
                <td class="text-right" width="117px">{{ total_salida }}</td>
                <td class="text-center"></td>
            </tr>

        </table>
        <div class="d-flex" style="width: 960px">
            <div class="">
                <a type="button" name="btn_generar" href="{{ url('inventario') }}"
                   class="btn btn-secondary text-uppercase mt-2 font-weight-bold">
                    Atras
                </a>
            </div>

        </div>
    </div>
{% endblock %}