{% extends 'contabilidad/inventario/index.html.twig' %}
{% block style %}
    <style>
        label {
            display: none;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="modal fade" id="cerrarDia" tabindex="-1" role="dialog" data-backdrop="static"
         data-keyboard="false"
         aria-labelledby="cerrarDiaLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header bg-dark">
                    <h5 class="modal-title text-light" id="confirm_title">
                        <i class="fa fa-warning text-warning"></i> Cerrar dia</h5>
                    <button type="button" class="close text-light" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form id="form_confirm_modal" method="post"
                      action="{{ path('contabilidad_inventario_cerrar_dia_cerrar') }}">
                    <div class="modal-body" id="confirm_body">
                        {{ message }}
                        {% if error %}
                        <input type="date" name="fecha_cierre" min="{{ fecha_minima }}" max="{{ fecha_maxima }}"
                               value="{{ fecha_minima }}">
                        {% endif %}
                    </div>
                    <input type="hidden" name="_method" value="DELETE">
                    <input id="_token_confirm_modal" type="hidden" name="_token" value="123...">
                    <div class="modal-footer">
                        <button type="button" class="my-0 mr-auto btn btn-outline-secondary" data-dismiss="modal">
                            Cancelar
                        </button>
                        <button type="submit" class="my-0 btn btn-danger" id="confirm_btn_ok">Aceptar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function () {
            $('#cerrarDia').modal('show')
        })
    </script>
{% endblock %}