{% extends 'base.html.twig' %}
{% block title %} Contabilidad | Configuración {% endblock %}
{% block style %}
    <style>
        label {
            display: none;
        }
    </style>
{% endblock %}

{% block navBar %}
    <nav class="navbar navbar-expand-lg navbar-light nabvar-navegation">
        <a class="navbar-brand text-white" href="{{ url ('config') }}">Configuración</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown ">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Nomencladores
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        {#                        <a class="dropdown-item" href="{{ url ('contabilidad_config_conf_inicial') }}">Configuración#}
                        {#                            inicial</a>#}
                        <a class="dropdown-item" href="{{ url ('contabilidad_config_unidad') }}">Unidad</a>
                        <a class="dropdown-item" href="{{ url ('contabilidad_config_instrumento_cobro') }}">Instrumento
                            de cobro</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{{ url ('contabilidad_config_criterio_analisis') }}">Criterio de
                            análisis</a>
                        <a class="dropdown-item" href="{{ url ('contabilidad_config_tipo_cuenta') }}">Tipo de cuenta</a>
                        <a class="dropdown-item" href="{{ url ('contabilidad_config_cuenta') }}">Plan de cuentas</a>
                        <a class="dropdown-item" href="{{ url ('contabilidad_config_elemento_gasto') }}">Elemento de
                            gasto</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{{ url ('contabilidad_config_moneda') }}">Moneda</a>
                        <a class="dropdown-item" href="{{ url ('contabilidad_config_tasa_cambio') }}">Tasa de cambio</a>
                        {#                        <a class="dropdown-item" href="{{ url ('contabilidad_config_modulos') }}">Módulos</a>#}
                        {#                        <a class="dropdown-item" href="{{ url ('contabilidad_config_tipo_documento') }}">Tipo de#}
                        {#                            documento</a>#}
                        <a class="dropdown-item" href="{{ url ('contabilidad_config_unidad_medida') }}">Unidad de
                            medida</a>
                        <a class="dropdown-item" href="{{ url ('contabilidad_config_centro_costo') }}">Centro de
                            costo</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Inventario
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{{ url ('contabilidad_config_almacen') }}">Almacén</a>
                        <a class="dropdown-item" href="{{ url ('contabilidad_config_tipo_documento') }}">Tipo de
                            Documento</a>
                        <a class="dropdown-item" href="{{ url ('contabilidad_config_tipo_comprobante') }}">Tipo de
                            Comprobante</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Activo Fijo
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{{ url ('contabilidad_config_area_responsabilidad') }}">Area de
                            responsabilidad</a>
                        <a class="dropdown-item" href="{{ url ('contabilidad_config_grupo_activos') }}">Grupo de
                            activos</a>
                        <a class="dropdown-item" href="{{ url ('contabilidad_config_tipo_movimiento') }}">Tipo de
                            movimiento</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
{% endblock %}