<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
        <link href="{{ asset('images/favicon.ico') }}" type="text/css" rel="icon"/>
        <link href="{{ asset('css/carousel.css') }}" type="text/css" rel="stylesheet"/>
        <link href="{{ asset('css/style.css') }}" type="text/css" rel="stylesheet"/>
        <link href="{{ asset('css/style-sunset.css') }}" type="text/css" rel="stylesheet"/>
        <link href="{{ asset('css/bootstrap.min.css') }}" type="text/css" rel="stylesheet"/>
        <link href="{{ asset('//fonts.googleapis.com/css?family=Montserrat:400,700%7CLato:300,300italic,400,700,900%7CYesteryear') }}"
              type="text/css" rel="stylesheet"/>
        <link rel="stylesheet" href="{{ asset('css/contabilidad_styles.css') }}">
    {% endblock %}


</head>
<body class="overflow-hidden-x-content">

{# ............ Toasts success ............#}
{{ include('utils/toasts.html.twig') }}

{# ............... Modal Confirm ............. #}
{{ include('utils/modal_confirm.html.twig') }}

{# ................... Site Structure .................. #}

{% include 'layout/header.html.twig' %}

<div class="height-content">
    {% block navBar %}
        <!--NavBar para realizar la navegacion desde los modulos, que lo requieran-->
    {% endblock %}

    {% block content %}
        <!--Contenido del body dinamico-->
    {% endblock %}
</div>

{% include 'layout/footer.html' %}


{% block javascripts %}
    <script src="{{ asset('js/core.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('js/script.js') }}" type="text/javascript"></script>
    <script src="{{ asset('js/revolution.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('js/carousel.js') }}" type="text/javascript"></script>
    <script src="{{ asset('js/jquery.validate.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('js/contabilidad.js') }}" type="text/javascript"></script>
{% endblock %}

</body>
</html>