{% extends 'base.html.twig' %}
{% block content %}
{% include 'breadcrumbs.html.twig' %}

<h1 class="text-confirmar" style="text-align: center; ">Checkout</h1>
<hr class="divider-white bg-mantis-white">

<!-- Shop Checkout-->
<section class="section novi-background section-20 section-sm-20" style="color:white;">
	<div class="container">
		<div class="rd-material-tabs checkout-tabs">
			<div class="rd-material-tabs__container">
				<div>
					<div class="row justify-content-sm-center">
						<div class="col-md-12 col-xl-12">
							<div class="table-responsive">
								<table class="table" style="color:white;" >
									<thead>
										<tr>
											<th></th>
											<th>Producto</th>
											<th>Cantidad</th>
											<th>Precio</th>
                                            <th>Acciones</th>
										</tr>
									</thead>
									<tbody>					
                                         {% for iten in carrito %}
                                        <tr>
											<th>
												<img  src="{{ asset('images/servicios/inpospak.png') }}" width="150" height="130" alt="">
											</th>
											<td class="big text-middle">
												<h5 class="text-regular" style="color:white;"> </h5>
												    Inposdom Courier   </br></br>                                      
	<a  data-toggle="collapse" href="#coll{{iten.id}}" role="button" aria-expanded="false" aria-controls="coll{{iten.id}}"> 
		<span style="color:white;"> <b> {{iten.json.sh |upper}}   </b><span> </br>
	</a>
	


												
											</td>
											<td class="text-middle">1</td>
											<td class="text-middle">{{iten.json.json.monto}} {{moneda}}</td>
                                            <td class="text-middle">
                                            
			
<a  onClick="eliminarIten('{{ iten.id }}');" > 
<svg width="1em" height="1em" viewbox="0 0 16 16" class=" box bi bi-trash" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
	<path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
	<path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
</svg>
</a>                           
                                            </td>
										</tr>
                                                 {% endfor %}			
									</tbody>
								</table>
							</div>
							<div class="offset-top-10 text-right">
								<p class="font-weight-bold inset-right-0 inset-xl-right-50">Subtotal: &nbsp; &nbsp; &nbsp; ${{total}} {{moneda}}</p>
                                <p class="font-weight-bold inset-right-0 inset-xl-right-50">Impuesto: &nbsp; &nbsp; &nbsp; $0.00 {{moneda}}</p>
                                <p class="font-weight-bold inset-right-0 inset-xl-right-50">Total: &nbsp; &nbsp; &nbsp; ${{total}} {{moneda}}</p>
								
                                
                                     <a  onclick="cobrar()" class="btn btn-dark btn-icon btn-icon-right offset-top-41 checkout-step-btn" data-index-to="1" href="#">
									<span class="novi-icon icon mdi mdi-chevron-double-right"></span>Cobrar</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>


<div class="modal fade" id="confirm__modal_cotizacion" data-backdrop="static" data-keyboard="false"
     tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header bg-dark">
                <h5 class="modal-title text-light" id="confirm__modal__title"><i class="novi-icon icon icon-xxs mdi mdi-clock text-carrot"></i>
                    Cotizacion</h5>
                <button type="button" class="close text-light" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="confirm__modal__body">
               Seguro que decea hacer una cotizacion?
            </div>
            <form id="form__confirm__modal" method="post">
                <input type="hidden" name="_method" value="DELETE">
                <input id="_token__confirm__modal" type="hidden" name="_token" value="123...">
            </form>
            <div class="modal-footer">
                <button type="button" class="my-0 mr-auto btn btn-outline-secondary" data-dismiss="modal">Cancelar
                </button>
                <button type="button" class="my-0 btn btn-dark" id="confirm__modal__btn_contizacion">Aceptar
                </button>
            </div>
        </div>
    </div>
</div>

{% endblock %}


{% block javascripts %} 
{{parent()}}

<script>

function editarIten(id) {
 window.location.href = "/remesas.json.editar/"+id;
  }; 

function sleep(ms) {
  return new Promise(resolve => setTimeout(resolve, ms));
}

   function eliminarIten(id) {

        $('#confirm__modal').modal('show');

  $( "#confirm__modal__btn_ok" ).click(function() {

 $.ajax({
            type: 'POST',
            data: {'code' : '200'},
            url: window.location.protocol+"//"+location.hostname+":"+window.location.port+"/remesas.json.borrar/"+id,
            dataType: 'html',
            success: async function (data) {

                $('#confirm__modal').modal('hide');   
                $('#alert-good').html('<div class=" text-center alert alert-success alert-dismissible fade show" role="alert"> Remesa Borrada Del Carrito<button type="button" class="close" data-dismiss="alert" aria-label="Close"> <span aria-hidden="true">×</span> </button></div>');
                $('.alert').alert();

             //await sleep(1000);

             window.location.href = "/checkout";

            }}); 

              });
  }; 

     function cotizacion() {
    $('#confirm__modal_cotizacion').modal('show');


    $( "#confirm__modal__btn_contizacion" ).click(function() {

        window.location.href = "/factura/cotizacion";

      });
                     }

          function cobrar() {

        window.location.href = "mia_cargo/procesar/";

                     }             

 </script>

{% endblock %}
