{% extends 'base.html.twig' %}
{% block content %}
    {% include 'breadcrumbs.html.twig' %}

    <h1 class="text-confirmar" style="text-align: center; ">Checkout</h1>
    <hr class="divider-white bg-mantis-white mb-0">

    <!-- Shop Checkout-->
    <section class="section novi-background section-20 section-sm-20" style="color:white;">
        <div class="container-fluid">
            <div class="rd-material-tabs checkout-tabs">
                <div class="rd-material-tabs__container">
                    <div>
                        <div class="row justify-content-sm-center">
                            <div class="col-md-12 col-xl-12">
                                <div class="table-responsive">
                                    <table class="table" style="color:white;">
                                        <tbody>
                                        {% for item in carrito %}
                                            <tr>
                                                <td style="border-top: 4px solid;" class="row-group-conta" colspan="2">
                                                    Servicio:
                                                    <i>{{ item.servicio }}</i></td>
                                                <td style="border-top: 4px solid;" class="row-group-conta text-right">
                                                    Subtotal:
                                                    <br><i>{{ item.sub_total }}</i></td>
                                                <td style="border-top: 4px solid;" width="260px"
                                                    class="row-group-conta text-right">
                                                    <form name="unidad" method="post" class="text-left"
                                                          id="form_modal_target" autocomplete="off"
                                                          novalidate="novalidate">
                                                        <div class="form-group input-group input-group-sm d-block">
                                                            Descuento en % (fijo <input
                                                                    type="checkbox"
                                                                    name="check-{{ item.id_servicio }}"
                                                                    id="check-{{ item.id_servicio }}"
                                                                    onclick="changeDescuento({{ item.id_servicio }},{{ item.sub_total_value }})">
                                                            )
                                                            <input type="number" id="input-{{ item.id_servicio }}"
                                                                   placeholder="Porciento a Descontar"
                                                                   onkeyup="changeDescuento({{ item.id_servicio }},{{ item.sub_total_value }})"
                                                                   class="form-control w-100 modal-body bg-dark-app form-group input-group input-group-sm d-block"
                                                            >
                                                        </div>
                                                    </form>
                                                </td>
                                                <td style="border-top: 4px solid;" class="row-group-conta text-right">
                                                    <div class="btn-group open">
                                                        <button type="button"
                                                                class="multiselect dropdown-toggle btn btn-sm btn-outline-warning"
                                                                data-toggle="dropdown"
                                                                title="Impuesto" aria-expanded="true"><span
                                                                    class="multiselect-selected-text">Impuestos</span>
                                                            <b class="caret"></b></button>
                                                        <ul class="multiselect-container dropdown-menu"
                                                            style="width: 210px !important;">
                                                            {% for item_impuesto in impuestos %}
                                                                <li>
                                                                    <a tabindex="0">
                                                                        <label class="checkbox">
                                                                            <input type="checkbox"
                                                                                   onclick="seleccionarImpuesto({{ item_impuesto.id }},{{ item.id_servicio }},{{ item.sub_total_value }},{{ item_impuesto.valor }})"
                                                                                   id="{{ item_impuesto.id }}-{{ item.id_servicio }}"
                                                                                   value="{{ item_impuesto.valor }}">
                                                                            {{ item_impuesto.nombre }}
                                                                        </label>
                                                                    </a>
                                                                </li>
                                                            {% endfor %}
                                                        </ul>
                                                    </div>
                                                    <br><i id="{{ item.id_servicio }}-impuesto">0.00</i></td>
                                                <td style="border-top: 4px solid;" class="row-group-conta text-right">
                                                    Total:
                                                    <br><i id="{{ item.id_servicio }}-total">{{ item.sub_total }}</i>
                                                </td>
                                            </tr>
                                            {% if item.id_servicio == 11 %}
                                                {# Cabecera y cuerpo de la tabla que muestra el contenido para los tramites migratorios #}
                                                <tr>
                                                    <td class="text-left row-group-subconta">Nombre</td>
                                                    <td class="text-left row-group-subconta">Primer Apellido</td>
                                                    <td class="text-left row-group-subconta">Segundo Apellido</td>
                                                    <td class="text-left row-group-subconta">Teléfono Celular</td>
                                                    <td class="text-left row-group-subconta">Teléfono Fijo</td>
                                                    <td class="text-right row-group-subconta">Eliminar</td>
                                                </tr>
                                                {% for new_item in item.data %}
                                                    <tr>
                                                        <td class="text-left">{{ new_item.nombre }}</td>
                                                        <td class="text-left">{{ new_item.primer_apellido }}</td>
                                                        <td class="text-left">{{ new_item.segundo_apellido }}</td>
                                                        <td class="text-left">{{ new_item.telefono_celular }}</td>
                                                        <td class="text-left">{{ new_item.telefono_fijo }}</td>
                                                        <td class="text-right">
                                                            <button type="button" class="btn btn-danger btn-sm ml-1"
                                                                    data-toggle="tooltip"
                                                                    data-placement="bottom" title="Eliminar"
                                                                    onclick='deleteElementCarrito({{ new_item.idCarrito }},{{ item.id_servicio }})'>
                                                                <i class="fa fa-trash"></i>
                                                            </button>
                                                        </td>
                                                    </tr>
                                                {% endfor %}
                                            {% elseif item.id_servicio == 4 %}
                                                {# Cabecera y cuerpo de la tabla que muestra el contenido para las remesas #}
                                                <tr>
                                                    <td class="text-left row-group-subconta">Beneficiario</td>
                                                    <td class="text-left row-group-subconta">Datos Contactos</td>
                                                    <td class="text-left row-group-subconta" colspan="2">Dirección
                                                    </td>
                                                    <td class="text-right row-group-subconta">Monto a Recibir</td>
                                                    <td class="text-right row-group-subconta">Eliminar</td>
                                                </tr>
                                                {% for new_item in item.data %}
                                                    <tr>
                                                        <td class="text-left">{{ new_item.nombre_ }} {{ new_item.primer_apellido_ }} {{ new_item.segundo_apellido_ }}</td>
                                                        <td class="text-left">{{ new_item.primer_telefono_ }} {{ new_item.segundo_telefono_ }}</td>
                                                        <td class="text-left" colspan="2">{{ new_item.calle_ }}
                                                            {% if  new_item.entre_ != '' %}
                                                                e/ {{ new_item.entre_ }}
                                                            {% endif %}
                                                            {% if  new_item.y_ != '' %}
                                                                & {{ new_item.y_ }}
                                                            {% endif %}
                                                            {% if  new_item.nro_casa_ != '' %}
                                                                # {{ new_item.nro_casa_ }}
                                                            {% endif %}
                                                            {% if  new_item.edificio_ != '' %}
                                                                Edif: {{ new_item.efificio_ }}
                                                            {% endif %}
                                                            {% if  new_item.apto_ != '' %}
                                                                Apto: {{ new_item.apto_ }}
                                                            {% endif %}
                                                            {% if  new_item.reparto_ != '' %}
                                                                Reparto: {{ new_item.reparto_ }}
                                                            {% endif %}
                                                        </td>
                                                        <td class="text-right">
                                                            {{ new_item.monto_recibir_ }} {{ new_item.nombre_moneda_recibir }}
                                                        </td>
                                                        <td class="text-right">
                                                            <button type="button" class="btn btn-danger btn-sm ml-1"
                                                                    data-toggle="tooltip"
                                                                    data-placement="bottom" title="Eliminar"
                                                                    onclick='deleteElementCarrito({{ new_item.idCarrito }},{{ item.id_servicio }})'>
                                                                <i class="fa fa-trash"></i>
                                                            </button>
                                                        </td>
                                                    </tr>
                                                {% endfor %}
                                            {% endif %}
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                                <div class="offset-top-10 text-right">
                                    <table class="w-100 text-right">
                                        <tbody>
                                        <tr>
                                            <td class="text-right font-weight-bold">
                                                Subtotal:
                                            </td>
                                            <td width="100px" class="font-weight-bold text-right">
                                                <p id="subtotal_column">{{ total }}</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="text-right font-weight-bold">
                                                Descuentos:
                                            </td>
                                            <td width="100px" class="font-weight-bold text-right">
                                                <p id="descuentos_paragraph">0.00</p>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <table class="w-100 text-right">
                                        <tbody id="impuestos_rows">
                                        <tr>
                                            <td class="text-right font-weight-bold">
                                                Impuestos:
                                            </td>
                                            <td width="100px" class="font-weight-bold text-right">
                                                0.00
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <table class="w-100 text-right">
                                        <tbody>
                                        <tr>
                                            <td class="text-right font-weight-bold">
                                                Total:
                                            </td>
                                            <td width="100px" class="font-weight-bold text-right">
                                                &nbsp; <span id="total_tabla">{{ total }}</span>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>

                                </div>
                                {# ------------ componente de los plazos de pago ------------------- #}
                                {% include 'checkout/plazos_pagos_cotizacion.html.twig' %}
                                {# ------------ componente de los plazos de pago ------------------- #}

                                <div class="offset-top-10 text-right">
                                    <a onclick="cotizacion()"
                                       class="btn btn-dark btn-icon btn-icon-right offset-top-41 checkout-step-btn"
                                       data-index-to="1" href="#">
                                        <span class="novi-icon icon icon-xxs mdi mdi-clock text-carrot"></span>Cotizacion</a>

                                    <a onclick="cobrar()"
                                       class="btn btn-dark btn-icon btn-icon-right offset-top-41 checkout-step-btn"
                                       data-index-to="1" href="#">
                                        <span class="novi-icon icon mdi mdi-chevron-double-right"></span>Cobrar</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="modal fade" id="confirm__modal_cotizacion" data-backdrop="static" data-keyboard="false"
         tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header bg-dark">
                    <h5 class="modal-title text-light" id="confirm__modal__title"><i
                                class="novi-icon icon icon-xxs mdi mdi-clock text-carrot"></i>
                        Cotizacion</h5>
                    <button type="button" class="close text-light" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="confirm__modal__body">
                    <p class="m-0 p-0" id="mssage__confirm">Seguro que decea hacer una cotización?</p>
                </div>
                <form id="form__confirm__modal" method="post">
                    <input type="hidden" name="_method" value="DELETE">
                    <input id="_token__confirm__modal" type="hidden" name="_token" value="123...">
                </form>
                <div class="modal-footer">
                    <button type="button" class="my-0 mr-auto btn btn-outline-secondary" data-dismiss="modal">Cancelar
                    </button>
                    <button type="button" class="my-0 btn btn-dark" id="confirm__modal__btn_contizacion">Aceptar
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="confirm__modal_pago" data-backdrop="static" data-keyboard="false"
         tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header bg-dark">
                    <h5 class="modal-title text-light" id="confirm__modal__title"><i
                                class="novi-icon icon icon-xxs mdi mdi-clock text-carrot"></i>
                        Pago</h5>
                    <button type="button" class="close text-light" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="confirm__modal__body">
                    Seguro que decea procesar el pago?
                </div>
                <form id="form__confirm__modal" method="post">
                    <input type="hidden" name="_method" value="DELETE">
                    <input id="_token__confirm__modal" type="hidden" name="_token" value="123...">
                </form>
                <div class="modal-footer">
                    <button type="button" class="my-0 mr-auto btn btn-outline-secondary" data-dismiss="modal">Cancelar
                    </button>
                    <button type="button" class="my-0 btn btn-dark" id="confirm__modal__btn_pago">Aceptar
                    </button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        let list_pagos = []
        let valor = 0
        let impuestos_array = []
        let impuesto_total = 0
        const impuestos_json = JSON.parse('{{ impuestos|json_encode()|raw }}')
        let descuentos_array = []
        let descuentos_total = 0

        function changeDescuento(id_servicio, subtotal) {
            let campo = $('#input-' + id_servicio)
            let check = $('#check-' + id_servicio)
            let total_txt = $('#' + id_servicio + '-total')
            let descuento_subtotal = 0

            if (check.is(':checked')) {
                campo.prop('placeholder', 'Valor Fijo a Descontar')
                if (campo.val() != '') {
                    updateDescuento(id_servicio, (parseFloat(campo.val())))
                    descuento_subtotal = parseFloat(subtotal) - parseFloat(campo.val())
                }
            } else {
                campo.prop('placeholder', 'Porciento a Descontar')
                if (campo.val() != '') {
                    updateDescuento(id_servicio, (parseFloat(subtotal) * parseFloat(campo.val()) / 100))
                    descuento_subtotal = parseFloat(subtotal) - (parseFloat(subtotal) * parseFloat(campo.val()) / 100)
                }
            }
            if (campo.val() == '') {
                descuento_subtotal = subtotal
                updateDescuento(id_servicio, 0)
            }
            updateImpuestos(id_servicio, descuento_subtotal)
            let porciento_impuesto = getImpuestos(id_servicio)
            total_txt.text((descuento_subtotal + (descuento_subtotal * porciento_impuesto / 100)).toFixed(2))
            updateTotalCheckout()
        }

        function updateDescuento(id_servicio, descuento) {
            let nuevo = true
            for (let i = 0; i < descuentos_array.length; i++) {
                if (descuentos_array[i]['id_servicio'] == id_servicio) {
                    nuevo = false
                    descuentos_array[i]['descuento'] = parseFloat(descuento)
                }
            }
            if (nuevo) {
                descuentos_array.push({
                    'id_servicio': id_servicio,
                    'descuento': parseFloat(descuento)
                })
            }

            let total = 0
            for (let i = 0; i < descuentos_array.length; i++) {
                total += parseFloat(descuentos_array[i]['descuento'])
            }
            if (total > 0)
                $('#descuentos_paragraph').text(total.toFixed(2))
            else
                $('#descuentos_paragraph').text('0.00')
        }

        function updateTotalCheckout() {
            let total = 0
            for (let i = 0; i < descuentos_array.length; i++) {
                total -= parseFloat(descuentos_array[i]['descuento'])
            }
            let subtotal_template = $('#subtotal_column').text()
            total += parseFloat(subtotal_template)
            for (let i = 0; i < impuestos_array.length; i++)
                total += parseFloat(impuestos_array[i]['monto'])

            $('#total_tabla').text(total.toFixed(2))
        }

        function seleccionarImpuesto(impuesto, servicio, subtotal, valor) {
            let checkbox = $('#' + impuesto + '-' + servicio)
            let txt_impuesto = $('#' + servicio + '-impuesto')
            let txt_total = $('#' + servicio + '-total')

            let campo = $('#input-' + servicio)
            let check = $('#check-' + servicio)
            let total_txt = $('#' + servicio + '-total')

            let descuento_subtotal = parseFloat(subtotal)
            if (campo.val() != '') {
                if (check.is(':checked')) {
                    campo.prop('placeholder', 'Valor Fijo a Descontar')
                    descuento_subtotal = parseFloat(subtotal) - parseFloat(campo.val())
                } else {
                    campo.prop('placeholder', 'Porciento a Descontar')
                    descuento_subtotal = parseFloat(subtotal) - (parseFloat(subtotal) * parseFloat(campo.val()) / 100)
                }
            }

            let monto = descuento_subtotal * valor / 100
            let impuesto_acumulado = parseFloat(txt_impuesto.text())
            let result = 0
            if (checkbox.is(':checked')) {
                result = impuesto_acumulado + monto
            } else {
                result = impuesto_acumulado - monto
            }

            let impuesto_contenido = false
            if (impuestos_array.length > 0)
                for (let i = 0; i < impuestos_array.length; i++) {
                    if (impuestos_array[i]['id'] == impuesto) {
                        impuesto_contenido = true
                        if (checkbox.is(':checked')) {
                            impuestos_array[i]['monto'] = (parseFloat(impuestos_array[i]['monto']) + monto).toFixed(2)
                        } else
                            impuestos_array[i]['monto'] = (parseFloat(impuestos_array[i]['monto']) - monto).toFixed(2)
                    }

                }
            if (!impuesto_contenido) {
                impuestos_array.push({
                    'id': impuesto,
                    'monto': monto.toFixed(2)
                })
            }

            txt_impuesto.text(result.toFixed(2))
            txt_total.text((subtotal + result).toFixed(2))
            let nombre = ''
            $('#impuestos_rows').find('tr').remove()
            for (let i = 0; i < impuestos_array.length; i++) {
                if (parseFloat(impuestos_array[i]['monto']) > 0) {
                    nombre = getNombreImpuesto(impuestos_array[i]['id'])
                    $('#impuestos_rows').append(`<tr>
                        <td class="font-weight-bold text-right"> ${nombre}</td>
                        <td width="100px" class="font-weight-bold text-right"> ${impuestos_array[i]['monto']} </td>
                        </tr>`
                    );
                }
            }
            updateTotalCheckout()
        }

        function updateImpuestos(id_servicio, subtotal) {
            let element_menu = '';
            let porciento = 0;
            impuestos_json.forEach(function (valor) {
                    element_menu = $('#' + valor.id + '-' + id_servicio)
                    if (element_menu.is(':checked'))
                        porciento += parseFloat(valor.valor)
                }
            )
            $('#' + id_servicio + '-impuesto').text((subtotal * porciento / 100).toFixed(2));
        }

        function getImpuestos(id_servicio) {
            let element_menu = '';
            let porciento = 0;
            impuestos_json.forEach(function (valor) {
                    element_menu = $('#' + valor.id + '-' + id_servicio)
                    if (element_menu.is(':checked'))
                        porciento += parseFloat(valor.valor)
                }
            )
            return porciento;
        }

        function getNombreImpuesto(id_impuesto) {
            let nombre_impuesto = ''
            impuestos_json.forEach(function (valor) {
                    if (valor.id == id_impuesto)
                        nombre_impuesto = valor.nombre
                }
            )
            return nombre_impuesto
        }

        function deleteElementCarrito(idCarrito, id_servicio) {
            $('#confirm__modal').modal('show')
            $('#confirm__modal__body').text('Está seguro que desea eliminar el servicio?')
            $('#_token__confirm__modal').val($('#__token').val())
            $("#confirm__modal__btn_ok").click(function () {
                const path = window.location.pathname
                $('body').append(`
                    <form action='/turismo/gestion-consular/solucitud/delete-carrito'
                         method="post" id='form_delet_element_servicio_carrito'>
                        <input type='hidden' name='idCarrito' value='${idCarrito}'/>
                        <input type='hidden' name='id_servicio' value='${id_servicio}'/>
                        <input type='hidden' name='path' value='${path}'/>
                    </form>`)
                const fomrulario = $('#form_delet_element_servicio_carrito')
                fomrulario.submit()
                fomrulario.remove()
            });
        }

        function editarIten(id) {
            window.location.href = "/remesas.json.editar/" + id;
        };

        function sleep(ms) {
            return new Promise(resolve => setTimeout(resolve, ms));
        }

        function eliminarIten(id) {

            $('#confirm__modal').modal('show');

            $("#confirm__modal__btn_ok").click(function () {

                $.ajax({
                    type: 'POST',
                    data: {'code': '200'},
                    url: window.location.protocol + "//" + location.hostname + ":" + window.location.port + "/remesas.json.borrar/" + id,
                    dataType: 'html',
                    success: async function (data) {

                        $('#confirm__modal').modal('hide');
                        $('#alert-good').html('<div class=" text-center alert alert-success alert-dismissible fade show" role="alert"> Remesa Borrada Del Carrito<button type="button" class="close" data-dismiss="alert" aria-label="Close"> <span aria-hidden="true">×</span> </button></div>');
                        $('.alert').alert();

                        //await sleep(1000);

                        window.location.href = "/checkout";

                    }
                });

            });
        };

        function cotizacion() {
            let msg = '¿Está seguro que desa hacer la cotización?';
            if (list_pagos.length == 0) {
                msg = 'Usted no ha definido los plazos de pago, la cotización se cancelará automaticamente a los 7 día de eleborada, si aún no ha definido los pagos. ¿Está seguro que desa hacer la cotización?'
            }
            $('#mssage__confirm').text(msg)
            $('#confirm__modal_cotizacion').modal('show');
            $("#confirm__modal__btn_contizacion").on('click', function () {
                let fecha_maxima = $('#planificacion_pagos_fecha_maxima_pago').val()
                let palzos = $('#planificacion_pagos_plazos').val()
                const listado = JSON.stringify(list_pagos)
                $('body').append(`
                    <form action='/checkout-services/cotizacion'
                         method="post" id='form_cotizacion' target='_self'>
                        <input type='text' hidden name='fecha_maxima' value='${fecha_maxima}'/>
                        <input type='text' hidden name='palzos' value='${palzos}'/>
                        <input type='hidden' hidden name='list_json' value='${listado}' />
                    </form>`)
                const fomrulario = $('#form_cotizacion')
                fomrulario.submit()
                fomrulario.remove()
            });
        }

        function cobrar() {
            $('#confirm__modal_pago').modal('show');
            $("#confirm__modal__btn_pago").click(function () {
                // window.location.href = "/cotizacion/pago/";
            });
        }

        //    --------- javascript de los plazos de pago
        $('#planificacion_pagos_fecha_maxima_pago').on('change', function () {
            $('#body-table-plazos').find('tr').remove()
        })
        $('#planificacion_pagos_plazos').on('change', function () {
            $('#body-table-plazos').find('tr').remove()
        })

        $('#planificacion_pagos_calcular').on('click', function () {
            list_pagos = []
            let fecha = $('#planificacion_pagos_fecha_maxima_pago').val()
            let tipo = $('#planificacion_pagos_plazos').val()
            let today = moment(new Date()).subtract(1, 'days')
            var fecha1 = moment(fecha);

            let cantidad_tiempo = 0
            let tiempo_sumar = 0;
            let clasificador = '';
            if (tipo == 1) {
                cantidad_tiempo = fecha1.diff(today, 'days')
                clasificador = 'days';
                tiempo_sumar = 1;
            }
            if (tipo == 2) {
                cantidad_tiempo = fecha1.diff(today, 'weeks')
                clasificador = 'days';
                tiempo_sumar = 7;
            }
            if (tipo == 3) {
                cantidad_tiempo = fecha1.diff(today, 'weeks') / 2
                clasificador = 'days';
                tiempo_sumar = 15;
            }
            if (tipo == 4) {
                cantidad_tiempo = fecha1.diff(today, 'months')
                clasificador = 'months';
                tiempo_sumar = 1;
            }
            if (cantidad_tiempo == 0 && tipo == 4) {
                alertTemplate('El tiempo para el plazo no supera el mes, por lo tanto no puede seleccionar ese plazo de pago.', 'danger')
            } else {
                let total = parseFloat($('#total_tabla').text());
                let minimo = {{ minimo_pagar }};

                let cuota = (total / (cantidad_tiempo - 1)).toFixed(2)
                if (cuota < minimo)
                    cuota = ((total - minimo) / (cantidad_tiempo - 1)).toFixed(2)

                let fecha_pago = moment().subtract(1, 'days')
                $('#body-table-plazos').find('tr').remove()
                let cuota_asignada = 0;

                if (cantidad_tiempo == 1) {
                    // fecha_pago = fecha_pago.add(tiempo_sumar, clasificador);
                    fecha_pago = fecha_pago.add(tiempo_sumar, clasificador);
                    valor = total
                    list_pagos.push({
                        fecha_pago,
                        valor
                    })
                    $('#body-table-plazos').append(`<tr>
                            <td class="text-center"> ${fecha_pago.format('DD/MM/YYYY')}</td>
                            <td class="text-right"> ${total} </td>
                        </tr>`
                    );
                } else
                    for (let i = 0; i < cantidad_tiempo; i++) {
                        if (i == 0)
                            fecha_pago = moment();
                        else
                            fecha_pago = fecha_pago.add(tiempo_sumar, clasificador);

                        if (i == cantidad_tiempo - 1) {
                            cuota = (parseFloat(total) - parseFloat(cuota_asignada)).toFixed(2)
                        } else if (i > 0) {
                            cuota_asignada += parseFloat(cuota)
                        }
                        if (i == 0 && cuota < minimo) {
                            valor = minimo
                            list_pagos.push({fecha_pago, valor})
                            cuota_asignada += parseFloat(minimo)
                            $('#body-table-plazos').append(`<tr>
                            <td class="text-center"> ${fecha_pago.format('DD/MM/YYYY')}</td>
                            <td class="text-right"> ${minimo.toFixed(2)} </td>
                        </tr>`
                            );
                        } else {
                            valor = cuota
                            list_pagos.push({fecha_pago, valor})
                            $('#body-table-plazos').append(`<tr>
                            <td class="text-center"> ${fecha_pago.format('DD/MM/YYYY')}</td>
                            <td class="text-right"> ${cuota} </td>
                        </tr>`
                            );
                        }
                    }
            }
        })
    </script>

{% endblock %}
