{% extends 'base.html.twig' %}
{% block content %}
    {% include 'breadcrumbs.html.twig' %}

    <h1 class="text-confirmar" style="text-align: center; ">Checkout</h1>
    <hr class="divider-white bg-mantis-white mb-0">

    <!-- Shop Checkout-->
    <section class="section novi-background section-20 section-sm-20" style="color:white;">
        <div class="container-fluid">
            <div class="rd-material-tabs checkout-tabs">
                <div class="rd-material-tabs__container">
                    <div>
                        <div class="row justify-content-sm-center">
                            <div class="col-md-12 col-xl-12">
                                <div class="table-responsive">
                                    <table class="table" style="color:white;">
                                        <tbody>
                                        {% for item in carrito %}
                                            <tr>
                                                <td class="row-group-conta" colspan="5">Servicio:
                                                    <i>{{ item.servicio }}</i></td>
                                                <td class="row-group-conta text-right">Subtotal:
                                                    <i>{{ item.sub_total }}</i></td>
                                            </tr>
                                            {% if item.id_servicio == 11 %}
                                                {# Cabecera y cuerpo de la tabla que muestra el contenido para los tramites migratorios #}
                                                <tr>
                                                    <td class="text-left row-group-subconta">Nombre</td>
                                                    <td class="text-left row-group-subconta">Primer Apellido</td>
                                                    <td class="text-left row-group-subconta">Segundo Apellido</td>
                                                    <td class="text-left row-group-subconta">Teléfono Celular</td>
                                                    <td class="text-left row-group-subconta">Teléfono Fijo</td>
                                                    <td class="text-right row-group-subconta">Eliminar</td>
                                                </tr>
                                                {% for new_item in item.data %}
                                                    <tr>
                                                        <td class="text-left">{{ new_item.nombre }}</td>
                                                        <td class="text-left">{{ new_item.primer_apellido }}</td>
                                                        <td class="text-left">{{ new_item.segundo_apellido }}</td>
                                                        <td class="text-left">{{ new_item.telefono_celular }}</td>
                                                        <td class="text-left">{{ new_item.telefono_fijo }}</td>
                                                        <td class="text-right">
                                                            <button type="button" class="btn btn-danger btn-sm ml-1"
                                                                    data-toggle="tooltip"
                                                                    data-placement="bottom" title="Eliminar"
                                                                    onclick='deleteElementCarrito({{ new_item.idCarrito }},{{ item.id_servicio }})'>
                                                                <i class="fa fa-trash"></i>
                                                            </button>
                                                        </td>
                                                    </tr>
                                                {% endfor %}
                                            {% elseif item.id_servicio == 4 %}
                                                {# Cabecera y cuerpo de la tabla que muestra el contenido para las remesas #}
                                                <tr>
                                                    <td class="text-left row-group-subconta">Beneficiario</td>
                                                    <td class="text-left row-group-subconta">Datos Contactos</td>
                                                    <td class="text-left row-group-subconta" colspan="2">Dirección</td>
                                                    <td class="text-right row-group-subconta">Monto a Recibir</td>
                                                    <td class="text-right row-group-subconta">Eliminar</td>
                                                </tr>
                                                {% for new_item in item.data %}
                                                    <tr>
                                                        <td class="text-left">{{ new_item.nombre_ }} {{ new_item.primer_apellido_ }} {{ new_item.segundo_apellido_ }}</td>
                                                        <td class="text-left">{{ new_item.primer_telefono_ }} {{ new_item.segundo_telefono_ }}</td>
                                                        <td class="text-left" colspan="2">{{ new_item.calle_ }}
                                                            {% if  new_item.entre_ != '' %}
                                                                e/ {{ new_item.entre_ }}
                                                            {% endif %}
                                                            {% if  new_item.y_ != '' %}
                                                                & {{ new_item.y_ }}
                                                            {% endif %}
                                                            {% if  new_item.nro_casa_ != '' %}
                                                                # {{ new_item.nro_casa_ }}
                                                            {% endif %}
                                                            {% if  new_item.edificio_ != '' %}
                                                                Edif: {{ new_item.efificio_ }}
                                                            {% endif %}
                                                            {% if  new_item.apto_ != '' %}
                                                                Apto: {{ new_item.apto_ }}
                                                            {% endif %}
                                                            {% if  new_item.reparto_ != '' %}
                                                                Reparto: {{ new_item.reparto_ }}
                                                            {% endif %}
                                                        </td>
                                                        <td class="text-right">
                                                            {{ new_item.monto_recibir_ }} {{ new_item.nombre_moneda_recibir }}
                                                        </td>
                                                        <td class="text-right">
                                                            <button type="button" class="btn btn-danger btn-sm ml-1"
                                                                    data-toggle="tooltip"
                                                                    data-placement="bottom" title="Eliminar"
                                                                    onclick='deleteElementCarrito({{ new_item.idCarrito }},{{ item.id_servicio }})'>
                                                                <i class="fa fa-trash"></i>
                                                            </button>
                                                        </td>
                                                    </tr>
                                                {% endfor %}
                                            {% endif %}
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                                <div class="offset-top-10 text-right">
                                    <p class="font-weight-bold inset-right-0 inset-xl-right-50">Subtotal: &nbsp; &nbsp;
                                        &nbsp; ${{ total }}</p>
                                    <p class="font-weight-bold inset-right-0 inset-xl-right-50">Impuesto: &nbsp; &nbsp;
                                        &nbsp; $0.00 </p>
                                    <p class="font-weight-bold inset-right-0 inset-xl-right-50">Total: &nbsp; &nbsp;
                                        &nbsp; ${{ total }}</p>


                                </div>
                                {# ------------ componente de los plazos de pago ------------------- #}
                                {% include 'checkout/plazos_pagos_cotizacion.html.twig' %}
                                {# ------------ componente de los plazos de pago ------------------- #}

                                <div class="offset-top-10 text-right">
                                    <a onclick="cotizacion()"
                                       class="btn btn-dark btn-icon btn-icon-right offset-top-41 checkout-step-btn"
                                       data-index-to="1" href="#">
                                        <span class="novi-icon icon icon-xxs mdi mdi-clock text-carrot"></span>Cotizacion</a>

                                    <a onclick="cobrar()"
                                       class="btn btn-dark btn-icon btn-icon-right offset-top-41 checkout-step-btn"
                                       data-index-to="1" href="#">
                                        <span class="novi-icon icon mdi mdi-chevron-double-right"></span>Cobrar</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>



    <div class="modal fade" id="confirm__modal_cotizacion" data-backdrop="static" data-keyboard="false"
         tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header bg-dark">
                    <h5 class="modal-title text-light" id="confirm__modal__title"><i
                                class="novi-icon icon icon-xxs mdi mdi-clock text-carrot"></i>
                        Cotizacion</h5>
                    <button type="button" class="close text-light" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="confirm__modal__body">
                    <p class="m-0 p-0" id="mssage__confirm">Seguro que decea hacer una cotizacion?</p>
                </div>
                <form id="form__confirm__modal" method="post">
                    <input type="hidden" name="_method" value="DELETE">
                    <input id="_token__confirm__modal" type="hidden" name="_token" value="123...">
                </form>
                <div class="modal-footer">
                    <button type="button" class="my-0 mr-auto btn btn-outline-secondary" data-dismiss="modal">Cancelar
                    </button>
                    <button type="button" class="my-0 btn btn-dark" id="confirm__modal__btn_contizacion">Aceptar
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="confirm__modal_pago" data-backdrop="static" data-keyboard="false"
         tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header bg-dark">
                    <h5 class="modal-title text-light" id="confirm__modal__title"><i
                                class="novi-icon icon icon-xxs mdi mdi-clock text-carrot"></i>
                        Pago</h5>
                    <button type="button" class="close text-light" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="confirm__modal__body">
                    Seguro que decea procesar el pago?
                </div>
                <form id="form__confirm__modal" method="post">
                    <input type="hidden" name="_method" value="DELETE">
                    <input id="_token__confirm__modal" type="hidden" name="_token" value="123...">
                </form>
                <div class="modal-footer">
                    <button type="button" class="my-0 mr-auto btn btn-outline-secondary" data-dismiss="modal">Cancelar
                    </button>
                    <button type="button" class="my-0 btn btn-dark" id="confirm__modal__btn_pago">Aceptar
                    </button>
                </div>
            </div>
        </div>
    </div>


    <style>

        .table td, .table th {
            padding: .75rem !important;
        }
    </style>

{% endblock %}


{% block javascripts %}
    {{ parent() }}
    <script>
        let list_pagos = []

        function deleteElementCarrito(idCarrito, id_servicio) {
            $('#confirm__modal').modal('show')
            $('#confirm__modal__body').text('Está seguro que desea eliminar el servicio?')
            $('#_token__confirm__modal').val($('#__token').val())
            $("#confirm__modal__btn_ok").click(function () {
                const path = window.location.pathname
                $('body').append(`
                    <form action='/turismo/gestion-consular/solucitud/delete-carrito'
                         method="post" id='form_delet_element_servicio_carrito'>
                        <input type='hidden' name='idCarrito' value='${idCarrito}'/>
                        <input type='hidden' name='id_servicio' value='${id_servicio}'/>
                        <input type='hidden' name='path' value='${path}'/>
                    </form>`)
                const fomrulario = $('#form_delet_element_servicio_carrito')
                fomrulario.submit()
                fomrulario.remove()
            });
        }


        function editarIten(id) {
            window.location.href = "/remesas.json.editar/" + id;
        };

        function sleep(ms) {
            return new Promise(resolve => setTimeout(resolve, ms));
        }

        function eliminarIten(id) {

            $('#confirm__modal').modal('show');

            $("#confirm__modal__btn_ok").click(function () {

                $.ajax({
                    type: 'POST',
                    data: {'code': '200'},
                    url: window.location.protocol + "//" + location.hostname + ":" + window.location.port + "/remesas.json.borrar/" + id,
                    dataType: 'html',
                    success: async function (data) {

                        $('#confirm__modal').modal('hide');
                        $('#alert-good').html('<div class=" text-center alert alert-success alert-dismissible fade show" role="alert"> Remesa Borrada Del Carrito<button type="button" class="close" data-dismiss="alert" aria-label="Close"> <span aria-hidden="true">×</span> </button></div>');
                        $('.alert').alert();

                        //await sleep(1000);

                        window.location.href = "/checkout";

                    }
                });

            });
        };

        function cotizacion() {
            if(list_pagos.length>0){
                $('#confirm__modal_cotizacion').modal('show');
                $("#confirm__modal__btn_contizacion").on('click',function () {
                    let fecha_maxima = $('#planificacion_pagos_fecha_maxima_pago').val()
                    let palzos = $('#planificacion_pagos_plazos').val()
                    const list_json = JSON.stringify(list_pagos)
                    cl(list_pagos)
                    cl(list_json)
                    $('body').append(`
                    <form action='/checkout-services/cotizacion'
                         method="post" id='form_cotizacion' target='_self'>
                        <input type='text' hidden name='fecha_maxima' value='${fecha_maxima}'/>
                        <input type='text' hidden name='palzos' value='${palzos}'/>
                        <input type='hidden' hidden name='list_pagos' value="${list_pagos}" />
                        <input type='hidden' hidden name='list_json' value="${list_json}" />
                    </form>`)
                    const fomrulario = $('#form_cotizacion')
                    // fomrulario.submit()
                    // fomrulario.remove()
                });
            }
            else
                alertTemplate('Debe seleccionar los plazoz de pago, si va  apagar en el momento de click en COBRAR.','danger')
        }

        function cobrar() {
            $('#confirm__modal_pago').modal('show');
            $("#confirm__modal__btn_pago").click(function () {
                // window.location.href = "/cotizacion/pago/";
            });
        }

        //    --------- javascript de los plazos de pago
        $('#planificacion_pagos_fecha_maxima_pago').on('change', function () {
            $('#body-table-plazos').find('tr').remove()
        })
        $('#planificacion_pagos_plazos').on('change', function () {
            $('#body-table-plazos').find('tr').remove()
        })

        $('#planificacion_pagos_aceptar').on('click', function () {
            list_pagos = []
            let fecha = $('#planificacion_pagos_fecha_maxima_pago').val()
            let tipo = $('#planificacion_pagos_plazos').val()
            let today = moment(new Date())
            var fecha1 = moment(fecha);

            let cantidad_tiempo = 0
            let tiempo_sumar = 0;
            let clasificador = '';
            if (tipo == 1) {
                cantidad_tiempo = fecha1.diff(today, 'days')
                clasificador = 'days';
                tiempo_sumar = 1;
            }
            if (tipo == 2) {
                cantidad_tiempo = fecha1.diff(today, 'weeks')
                clasificador = 'days';
                tiempo_sumar = 7;
            }
            if (tipo == 3) {
                cantidad_tiempo = fecha1.diff(today, 'weeks') / 2
                clasificador = 'days';
                tiempo_sumar = 15;
            }
            if (tipo == 4) {
                cantidad_tiempo = fecha1.diff(today, 'months')
                clasificador = 'months';
                tiempo_sumar = 1;
            }
            if (cantidad_tiempo == 0 && tipo == 4) {
                alertTemplate('El tiempo para el plazo no supera el mes, por lo tanto no puede seleccionar ese plazo de pago.', 'danger')
            }
            else {
                let total = {{ total }};
                let minimo = {{ minimo_pagar }};
                let cuota = ((total - minimo) / (cantidad_tiempo - 1)).toFixed(2)
                let fecha_pago = moment()
                $('#body-table-plazos').find('tr').remove()
                let cuota_asignada = 0;

                if (cantidad_tiempo == 1) {
                    fecha_pago = fecha_pago.add(tiempo_sumar, clasificador);
                    list_pagos.push({
                        fecha_pago,
                        total
                    })
                    $('#body-table-plazos').append(`<tr>
                            <td class="text-center"> ${fecha_pago.format('DD/MM/YYYY')}</td>
                            <td class="text-right"> ${total} </td>
                        </tr>`
                    );
                } else
                    for (let i = 0; i < cantidad_tiempo; i++) {
                        fecha_pago = fecha_pago.add(tiempo_sumar, clasificador);
                        if (i == cantidad_tiempo - 1) {
                            cuota = (parseFloat(total) - parseFloat(cuota_asignada)).toFixed(2)
                        } else if (i > 0) {
                            cuota_asignada += parseFloat(cuota)
                        }
                        if (i == 0 && minimo > 0) {
                            list_pagos.push({fecha_pago, minimo})
                            cuota_asignada += parseFloat(minimo)
                            $('#body-table-plazos').append(`<tr>
                            <td class="text-center"> ${fecha_pago.format('DD/MM/YYYY')}</td>
                            <td class="text-right"> ${minimo.toFixed(2)} </td>
                        </tr>`
                            );
                        } else {
                            list_pagos.push({fecha_pago,cuota})
                            $('#body-table-plazos').append(`<tr>
                            <td class="text-center"> ${fecha_pago.format('DD/MM/YYYY')}</td>
                            <td class="text-right"> ${cuota} </td>
                        </tr>`
                            );
                        }
                    }
            }
        })

    </script>

{% endblock %}
