<h1 class="text-confirmar" style="text-align: center; ">Plazos de Pago</h1>
<hr class="divider-white bg-mantis-white mb-0">

{{ form_start(form,{'attr': {'class': 'text-left mt-2 text-center container','id':'form_modal_target','method':'POST','autocomplete':"off"}}) }}
<div class="row">
    <div class="col-3 form-group input-group input-group-sm d-block">
        {{ form_label(form.fecha_maxima_pago) }}
        {{ form_widget(form.fecha_maxima_pago,{'attr': {'class': 'form-control w-100'}}) }}
    </div>
    <div class="col-4 p-0 m-0 form-group input-group input-group-sm d-block">
        {{ form_label(form.plazos) }}
        {{ form_widget(form.plazos,{'attr': {'class': 'form-control w-100'}}) }}
    </div>
    <div class="col-2 form-group input-group input-group-sm d-block">
        {{ form_widget(form.calcular,{'attr': {'class': 'btn btn-secondary w-100'}}) }}
    </div>
    <div class="col-2 form-group input-group input-group-sm d-block">
        {{ form_widget(form.imprimir,{'attr': {'class': 'btn btn-warning w-100'}}) }}
    </div>
</div>
<div id="table-plazos" class="container">
    <table class="table-small-rows table table-hover text-light">
        <thead class="thead-dark">
        <th>Fecha</th>
        <th class="text-right">Cuota</th>
        </thead>
        <tbody id="body-table-plazos">
        </tbody>
    </table>
</div>
{{ form_end(form) }}