{% extends 'contabilidad/config/index.html.twig' %}
{% block style %}
    <style>
        label {
            display: none;
        }
    </style>
{% endblock %}
{% block content %}
    <div class="container-fluid">

        {# header #}
        <div class="d-flex align-items-center">
            <h4 class="mr-auto display-4 mb-0 mr-auto title-table text-light">
                Tasa de cambio
            </h4>
            <div>
                <button type="button" class="btn btn-primary btn-md" data-toggle="modal"
                        data-target="#modal__form__id" data-placement="bottom" title="Adicionar"
                        onclick="mostrarBtn()">
                    <i class="fa fa-plus"> Adicionar</i>
                </button>
            </div>
        </div>
        {# end header #}

        {# Modal de adicionar#}
        {{ include('contabilidad/config/tasa_cambio/form_modal.html.twig',{ title: 'add' }) }}
        {# list #}
        <table class="table-small-rows table table-hover text-light">
            <thead class="thead-dark">
            <th scope="col-2" class="text-left">Año</th>
            <th scope="col-1" class="text-left">Mes</th>
            <th scope="col-3" class="text-left">Moneda Origen</th>
            <th scope="col-3" class="text-left">Moneda Destino</th>
            <th scope="col-2" class="text-left">Valor</th>
            <th scope="col-1" width="150px" class="text-left">Acciones</th>
            </thead>
            <tbody>
            {% for item in tasa_cambio %}
                <tr>
                    <td style="font-weight:400;">{{ item.anno }}</td>
                    <td style="font-weight:400;">{{ item.nombre_mes }}</td>
                    <td style="font-weight:400;">{{ item.nombre_moneda_origen }}</td>
                    <td style="font-weight:400;">{{ item.nombre_moneda_destino }}</td>
                    <td style="font-weight:400;">{{ item.valor }}</td>
                    <td>
                        <button type="button" class="btn btn-warning btn-sm px-1" data-toggle="tooltip"
                                data-placement="bottom" title="Eliminar"
                                onclick="onUpdate({
                                        id: '{{ item.id }}',
                                        anno: '{{ item.anno }}',
                                        mes: '{{ item.mes }}',
                                        valor: '{{ item.valor }}',
                                        id_moneda_origen: '{{ item.id_moneda_origen }}',
                                        id_moneda_destino: '{{ item.id_moneda_destino }}',
                                        })">
                            <i class="fa fa-edit"></i>
                        </button>
                        <button type="button" class="btn btn-danger btn-sm" data-toggle="tooltip"
                                data-placement="bottom" title="Eliminar"
                                onclick="onDeleteConfirm({
                                        message:'Está seguro que desea eliminar la tasa de cambio seleccionada ?',
                                        url:'{{ path('contabilidad_config_tasa_cambio_delete',{id: item.id}) }}',
                                        _token: '{{ csrf_token('delete' ~ item.id) }}'
                                        })">
                            <i class="fa fa-trash"></i>
                        </button>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {# end list #}
    </div>
{% endblock %}


{% block javascripts %}
    {{ parent() }}
    <script>
        const TEXT_SELECT = '... seleccione ...';

        function mostrarBtn() {
            $('#modal__btn__actualizar').hide()
            $('#modal__btn__aceptar').show()
        }

        const onUpdate = function (config) {
            $('#modal__btn__actualizar').show()
            $('#modal__btn__aceptar').hide()

            const {anno = '', id = '', mes = '', valor = '', id_moneda_origen = '', id_moneda_destino = ''} = config

            $('#modal__form__id').modal('show')
            $('#modal__form__label__id').text("Modificar Tasa de cambio")

            $('#tasa_cambio_id_moneda_origen').val(id_moneda_origen)
            $('#tasa_cambio_id_moneda_destino').val(id_moneda_destino)
            $('#tasa_cambio_mes').val(mes)
            $('#tasa_cambio_anno').val(anno)
            $('#tasa_cambio_valor').val(valor)
            $('#id_tasa_cambio').val(id)
        }

        $(document).ready(function () {
            // init
            $('select').prepend('<option selected = "false" value = "0" disabled>' + TEXT_SELECT + '</option>');
            $('#modal__btn__actualizar').hide()


            // validacion del formulario
            var validateForm = $('#form_modal_target').validate({
                errorClass: 'invalid-label-orange',
                errorPlacement: function (error, element) {
                    // colocar mensajes de error a la derecha de cada label para el componente
                    const error_label = element.closest("form").find(element.attr('id') + "-error")
                    if (error_label.length) {
                        error_label.removeClass('hide')
                    } else {
                        error.addClass('ml-3')
                        $(element)
                            .closest("form")
                            .find("label[for='" + element.attr("id") + "']")
                            .append(error);
                    }
                },
                rules: {
                    'tasa_cambio[anno]': "required",
                    'tasa_cambio[mes]': "required",
                    'tasa_cambio[valor]': "required",
                    'tasa_cambio[id_moneda_origen]': "required",
                    'tasa_cambio[id_moneda_destino]': "required",
                },
                messages: {
                    'tasa_cambio[anno]': CONTAB_MSG.REQUIRED_NOT_BLANK,
                    'tasa_cambio[mes]': CONTAB_MSG.REQUIRED_NOT_BLANK,
                    'tasa_cambio[valor]': CONTAB_MSG.REQUIRED_NOT_BLANK,
                    'tasa_cambio[id_moneda_origen]': CONTAB_MSG.REQUIRED_NOT_BLANK,
                    'tasa_cambio[id_moneda_destino]': CONTAB_MSG.REQUIRED_NOT_BLANK,
                }
            })
            $('#modal__btn__aceptar').on('click', function () {
                const formulario = $('#form_modal_target')
                formulario.attr('method', `POST`)
                formulario.attr('action', `/contabilidad/config/tasa-cambio/add`)
                formulario.submit()
                if(validateForm.errorList.length === 0) loadingModal.show()
            })

            $('#modal__btn__actualizar').on('click', function () {
                const id_taza_cambio = $('#id_tasa_cambio').val()
                const formulario = $('#form_modal_target')
                formulario.attr('method', `POST`)
                formulario.attr('action', `/contabilidad/config/tasa-cambio/upd/${id_taza_cambio}`)
                formulario.submit()
                if(validateForm.errorList.length === 0) loadingModal.show()
            })

            $('#modal__form__id').on('show.bs.modal', function (event) {
                validateForm.resetForm()
                $('#modal__form__label__id').text('Adicionar Tasa de Cambio')
            })
        })

    </script>
{% endblock %}

