{% extends 'base.html.twig' %}
{% block content %}
    {# Modal de Cuentas#}
    <div class="modal fade" id="listarMercanciasModal" tabindex="-1" role="dialog" data-backdrop="static"
         data-keyboard="false"
         aria-labelledby="listarMercanciasModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" style="max-width: 850px;" role="document">
            <div class="modal-content">
                <div class="modal-header bg-dark">
                    <h4 class="modal-title text-light" id="listarMercanciasModalLabel">Listado de productos</h4>
                    <button class="close text-light" type="button" data-dismiss="modal" aria-label="Cerrar">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body bg-dark-app" style="height: 600px;">
                    <div style="height: 500px; overflow-y: auto;">
                        <table class="table-small-rows table table-hover text-light">
                            <thead class="thead-dark">
                            <th style="width: 10px">Sel.</th>
                            <th style="width: 160px">Código</th>
                            <th scope="col-6">Descripción</th>
                            <th style="width: 200px">Precio Compra</th>
                            </thead>
                            <tbody id="rows_table">
                            </tbody>
                        </table>
                    </div>
                    <div class="d-flex mt-4">
                        <div class="mr-auto">
                            <button class="btn btn-outline-secondary" type="button" data-dismiss="modal"
                                    aria-label="Cerrar">
                                <span aria-hidden="true">Cancelar</span>
                            </button>
                        </div>
                        <div class="ml-2">
                            <button type="button" class="my-0 btn btn-secondary" id="btnAceptar"
                                    onclick="SeleccionarMercancia()"
                                    data-dismiss="modal">Aceptar
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container d-flex justify-content-center">
        <div class="card mt-1" style="width: 50rem;">
            <div class="container">
                <div class="row mt-0 p-0">
                    <div class="col-8 form-group input-group input-group-sm d-block">
                        <h3 class="text-reporte text-right mr-0 text-white">Informe de Recepción de Productos</h3>
                    </div>
                    <div class="col-4 form-group input-group input-group-sm  mt-2 ml-0 p-0 d-block">
                        <span class="h5 text-light mr-2">Nro.</span><input type="number" id="select_nros" class="w-25">
                    </div>
                </div>
            </div>
            <div class="card-body">
                {{ form_start(formulario.nro_cuenta_acreedora, {'attr':{'id':'informe_recepcion'}}) }}
                <div class="row mt-0 p-0">
                    <div class="col-5 form-group input-group input-group-sm pa-2 d-block">
                        {{ form_label(formulario.nro_cuenta_inventario) }}
                        {{ form_widget(formulario.nro_cuenta_inventario) }}
                    </div>
                    <div class="col-5 mt-0 form-group input-group input-group-sm d-block p-0">
                        {{ form_label(formulario.nro_subcuenta_inventario) }}
                        {{ form_widget(formulario.nro_subcuenta_inventario) }}
                    </div>
                    <div class="col-2 mt-0 form-group input-group input-group-sm pr-0 d-block">
                        {{ form_label(formulario.documento.id_moneda) }}
                        {{ form_widget(formulario.documento.id_moneda) }}
                    </div>
                    <input type="hidden" id="__token" name="_token" value="{{ csrf_token('authenticate') }}">
                </div>
                <div class="row mt-0 p-0">
                    <div class="col-6 form-group input-group input-group-sm pa-2 d-block">
                        {{ form_label(formulario.nro_cuenta_acreedora) }}
                        {{ form_widget(formulario.nro_cuenta_acreedora) }}
                    </div>
                    <div class="col-6 mt-0 form-group input-group input-group-sm d-block p-0">
                        {{ form_label(formulario.nro_subcuenta_acreedora) }}
                        {{ form_widget(formulario.nro_subcuenta_acreedora) }}
                    </div>
                </div>
                {{ form_end(formulario.nro_cuenta_acreedora) }}
                <div class="d-flex align-items-center mt-3 pl-2">
                    <h3 class="text-light mr-auto" style="font-weight: 300;">Productos</h3>
                    <div class="px-2" style="background: dimgray; border-radius: .3rem;">
                        <span class="pr-1">Importe Total : </span>
                        <span id="importe-total">0</span>
                    </div>
                </div>
                <hr color="dimgray" class="my-1 ml-2" size=3>

                {{ form_start(formulario.mercancia, {'attr':{'id':'form_mercancia'}}) }}
                <div class="row mt-0 p-0">
                    <div class="col-3 form-group input-group input-group-sm pa-1 d-block">
                        {{ form_label(formulario.mercancia.codigo) }}
                        <div class="row m-0 p-0">
                            <div class="col-8 p-0">
                                {{ form_widget(formulario.mercancia.codigo) }}
                            </div>
                            <div class="col-1 mt-0 p-0">
                                <button class="btn btn-secondary btn-sm" data-toggle="modal" type="button"
                                        data-target="#listarMercanciasModal" id="btnSearchMercancia"><i
                                            class="fa fa-search"></i></button>
                            </div>
                        </div>
                    </div>
                    <div class="col-7 mt-0 form-group input-group input-group-sm d-block p-0">
                        {{ form_label(formulario.mercancia.descripcion) }}
                        {{ form_widget(formulario.mercancia.descripcion) }}
                    </div>
                    <div class="col-2 mt-0 form-group input-group input-group-sm d-block pr-0">
                        {{ form_label(formulario.mercancia.id_unidad_medida) }}
                        {{ form_widget(formulario.mercancia.id_unidad_medida) }}
                    </div>
                </div>
                <div class="row mt-0 p-0">
                    <div class="col-2 mt-0 form-group input-group input-group-sm d-block">
                        {{ form_label(formulario.documento.cantidad_mercancia) }}
                        {{ form_widget(formulario.documento.cantidad_mercancia,{'type':'number'}) }}
                    </div>
                    <div class="col-2 mt-0 form-group input-group input-group-sm d-block">
                        {{ form_label(formulario.mercancia.precio) }}
                        {{ form_widget(formulario.mercancia.precio) }}
                    </div>
                    <div class="col-2 mt-0 form-group input-group input-group-sm d-block p-0">
                        {{ form_label(formulario.documento.importe_mercancia) }}
                        {{ form_widget(formulario.documento.importe_mercancia,{'type':'number'}) }}
                    </div>
                    <div class="col-2 mt-0 form-group input-group input-group-sm d-block">
                        {{ form_label(formulario.mercancia.existencia) }}
                        {{ form_widget(formulario.mercancia.existencia) }}
                    </div>
                    <div class="col-2 mt-0 form-group input-group input-group-sm d-block p-0">
                        {{ form_label(formulario.mercancia.existencia_incremento) }}
                        {{ form_widget(formulario.mercancia.existencia_incremento) }}
                    </div>
                    {{ form_end(formulario.mercancia) }}

                    <div class="col-2 pt-2 pl-1 mt-4">
                        <button class="btn btn-secondary btn-sm ml-4" type="button" id="btnAplicarMercancia">ADICIONAR
                        </button>
                    </div>
                </div>
                <div>
                    <table class="table-small-rows table table-hover text-light" id="pp">
                        <thead class="thead-dark">
                        <th width="120px">Cod.</th>
                        <th width="110px">Cant.</th>
                        <th width="110px">Importe</th>
                        <th width="110px">Precio</th>
                        <th scope="col-1">Nueva Exist</th>
                        <th width="60px"><i class="fa fa-minus-circle text-danger"></i></th>
                        <th scope="col-1" hidden>UM</th>
                        <th scope="col-1" hidden>Descripcion</th>
                        </thead>
                        <tbody id="rows_mercancias">
                        </tbody>
                    </table>
                </div>
                <div class="d-flex mt-2">
                    <div class="mr-auto">
                        <a href="{{ url('inventario') }}"
                           class="btn btn-outline-secondary">Salir</a>
                    </div>
                    <div class="ml-2">
                        <button class='my-0 btn btn-secondary' id="btnCancelar" onclick="myOnDeleteConfirm()">
                            cancelar
                        </button>
                    </div>
                    <div class="ml-2">
                        <button class='my-0 btn btn-secondary' id="btnImprimir" onclick="Print_Informe_Productos()">
                            imprimir
                        </button>
                    </div>
                    <div class="ml-2">
                        <button class='my-0 btn btn-secondary' id="btnSubbmitInforme">contabilizar</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        let mercancias_seleccionada = [];
        let mercancias = [];
        let eliminados = [];
        let consecutivo = 0;
        let cuentas_inventarios = [];
        $('select').prepend('<option selected = "false" value = "0" disabled> -- seleccione -- </option>');
        loadingModal.show()

        $(document).ready(function () {
            cargarDatosIniciales()

            $('#select_nros').on('keyup', function (e) {
                if (e.which == 13) {
                    if (eliminados.includes($('#select_nros').val())) {
                        $('#btnSubbmitInforme').hide()
                        $('#btnImprimir').hide()
                        $('#btnCancelar').hide()
                        resetFormulario()
                        alertTemplate('El informe solicitado se encuentra cancelado', 'danger')
                    } else {
                        if ($('#select_nros').val() == consecutivo) {
                            $('#btnSubbmitInforme').show()
                            $('#btnImprimir').show()
                            $('#btnCancelar').hide()
                            resetFormulario()
                        } else if ($('#select_nros').val() > consecutivo) {
                            $('#btnSubbmitInforme').hide()
                            $('#btnImprimir').hide()
                            $('#btnCancelar').hide()
                            resetFormulario()
                            alertTemplate('El mayor número permitido es ' + consecutivo, 'danger')
                        } else if ($('#select_nros').val() == '') {
                            $('#btnSubbmitInforme').hide()
                            $('#btnImprimir').hide()
                            $('#btnCancelar').hide()
                            resetFormulario()
                            alertTemplate('Debe introducir el número del documento a vizualizar.', 'danger')
                        } else {
                            $('#btnImprimir').show()
                            $('#btnSubbmitInforme').hide()
                            $('#form_mercancia').css('display', 'none')
                            $('#btnCancelar').show()
                            llenarFormulario($('#select_nros').val())
                        }
                    }
                }
            })

            $('#btnSearchMercancia').on('click', function () {
                $('#rows_table').find('tr').remove();
                let codigo = $('#informe_recepcion_producto_mercancia_codigo').val() != '' ? $('#informe_recepcion_producto_mercancia_codigo').val() : -1
                let cuenta = $('#informe_recepcion_producto_nro_cuenta_inventario').val() != '' ? $('#informe_recepcion_producto_nro_cuenta_inventario').val() : ''
                $.ajax({
                    url: '/contabilidad/inventario/informe-recepcion-productos/getProductos/' + codigo + ',' + cuenta,
                    method: 'POST',
                    dataType: 'json',
                    success: function (result) {
                        productos = result.productos
                        $(result.productos).each(function (pos, valor) {
                            $('#rows_table').append('<tr>' +
                                '<td style="font-weight:400;"> ' +
                                '<input type="checkbox" style="margin-left: auto;" id="' + valor.codigo + '">' +
                                '</td>' +
                                '<td style="font-weight:400;"> ' + valor.codigo + '</td>' +
                                '<td style="font-weight:400;"> ' + valor.descripcion + '</td>' +
                                '<td style="font-weight:400;"> ' + valor.precio_compra + '</td> </tr>'
                            );
                        })
                    },
                    error: function () {
                    }
                })
            })

            $('#informe_recepcion_producto_mercancia_codigo').on('keyup', function (e) {
                if (e.which == 13) {
                    let codigo = $('#informe_recepcion_producto_mercancia_codigo').val()
                    let cuenta = $('#informe_recepcion_producto_nro_cuenta_inventario').val()
                    if (cuenta != null && codigo != '') {
                        let nro = cuenta.split(' - ')[0];
                        $.ajax({
                            url: '/contabilidad/inventario/informe-recepcion-productos/getProductos/' + codigo + ',' + nro,
                            method: 'POST',
                            dataType: 'json',
                            success: function (result) {
                                if (result.success == true) {
                                    productos = result.productos
                                    if (productos.length > 0) {
                                        $('#informe_recepcion_producto_mercancia_descripcion').val(productos[0]['descripcion'])
                                        $('#informe_recepcion_producto_mercancia_existencia').val(productos[0]['existencia'])
                                        $('#informe_recepcion_producto_mercancia_precio').val(productos[0]['precio_compra'])
                                    } else {
                                        alertTemplate('No existen productos con ese código')
                                    }
                                } else {
                                    alertTemplate('Debe seleccionar la cuenta de inventario.', 'danger')
                                }
                            },
                            error: function (e) {
                                alertTemplate(e.message, 'danger')
                            }
                        })
                    } else {
                        alertTemplate('El campo código y cuenta no deben estar vacios.', 'danger')
                    }
                }
            })

            $('#informe_recepcion_producto_documento_importe_mercancia').on('keyup', function () {
                let importe = parseFloat($('#informe_recepcion_producto_documento_importe_mercancia').val())
                let cantidad = parseFloat($('#informe_recepcion_producto_documento_cantidad_mercancia').val())
                if (importe > 0) {
                    let precio_final = parseFloat(importe / cantidad).toFixed(2)
                    $('#informe_recepcion_producto_mercancia_precio').val(precio_final)
                } else {
                    $('#informe_recepcion_producto_mercancia_precio').val(0)
                }
            })

            $('#informe_recepcion_producto_documento_cantidad_mercancia').on('keyup', function () {
                let importe = parseFloat($('#informe_recepcion_producto_documento_importe_mercancia').val())
                let cantidad = parseFloat($('#informe_recepcion_producto_documento_cantidad_mercancia').val())
                if (importe > 0) {
                    let precio_final = parseFloat(importe / cantidad).toFixed(2)
                    $('#informe_recepcion_producto_mercancia_precio').val(precio_final)
                } else {
                    $('#informe_recepcion_producto_mercancia_precio').val(0)
                }
                let existencia_inicial = (parseFloat($('#informe_recepcion_producto_mercancia_existencia').val()) > 0 || $('#informe_recepcion_producto_mercancia_existencia').val() != '') ? parseFloat($('#informe_recepcion_producto_mercancia_existencia').val()) : 0
                $('#informe_recepcion_producto_mercancia_existencia_incremento').val(existencia_inicial + parseFloat($('#informe_recepcion_producto_documento_cantidad_mercancia').val()))
            })

            $('#informe_recepcion_producto_mercancia_codigo').on('keyup', function () {
                $('#informe_recepcion_producto_mercancia_descripcion').val('')
                $('#informe_recepcion_producto_mercancia_precio').val('')
                $('#informe_recepcion_producto_mercancia_existencia').val('')
            })

            $('#informe_recepcion_producto_nro_cuenta_inventario').on('change', function () {
                $('#informe_recepcion_producto_nro_subcuenta_inventario').find('option').remove()
                cuentas_inventarios.forEach(function (valor, pos) {
                    if ($('#informe_recepcion_producto_nro_cuenta_inventario').val() == valor.nro_cuenta) {
                        for (var i = 0; i < valor.sub_cuenta.length; i++) {
                            $('#informe_recepcion_producto_nro_subcuenta_inventario').append('<option value = "' + valor.sub_cuenta[i]['nro_subcuenta'] + '">' + valor.sub_cuenta[i]['nro_subcuenta'] + '</option>');
                        }
                    }
                })
            })

            $('#informe_recepcion_producto_nro_cuenta_acreedora').on('change', function () {
                $('#informe_recepcion_producto_nro_subcuenta_acreedora').find('option').remove()
                cuentas_inventarios.forEach(function (valor, pos) {
                    if ($('#informe_recepcion_producto_nro_cuenta_acreedora').val() == valor.nro_cuenta) {
                        for (var i = 0; i < valor.sub_cuenta.length; i++) {
                            $('#informe_recepcion_producto_nro_subcuenta_acreedora').append('<option value = "' + valor.sub_cuenta[i]['nro_subcuenta'] + '">' + valor.sub_cuenta[i]['nro_subcuenta'] + '</option>');
                        }
                    }
                })
            })

            const form_informe_recepcion = $('#informe_recepcion')

            form_informe_recepcion.validate({
                errorClass: 'invalid-label-orange',
                errorPlacement: function (error, element) {
                    error.attr('style', 'font-size: .8rem;')
                    error.insertAfter(element);
                },
                rules: {
                    'informe_recepcion_producto[nro_cuenta_inventario]': "required",
                    'informe_recepcion_producto[nro_subcuenta_inventario]': "required",
                    'informe_recepcion_producto[nro_cuenta_acreedora]': "required",
                    'informe_recepcion_producto[nro_subcuenta_acreedora]': "required",
                    'informe_recepcion_producto[documento][id_moneda]': "required",
                },
                messages: {
                    'informe_recepcion_producto[nro_cuenta_inventario]': CONTAB_MSG.REQUIRED_OBLIGATORIO,
                    'informe_recepcion_producto[nro_subcuenta_inventario]': CONTAB_MSG.REQUIRED_OBLIGATORIO,
                    'informe_recepcion_producto[nro_cuenta_acreedora]': CONTAB_MSG.REQUIRED_OBLIGATORIO,
                    'informe_recepcion_producto[nro_subcuenta_acreedora]': CONTAB_MSG.REQUIRED_OBLIGATORIO,
                    'informe_recepcion_producto[documento][id_moneda]': CONTAB_MSG.REQUIRED_OBLIGATORIO,
                }
            })

            const form_mercancia = $('#form_mercancia')
            form_mercancia.validate({
                errorClass: 'invalid-label-orange',
                errorPlacement: function (error, element) {
                    error.attr('style', 'font-size: .8rem;')
                    error.insertAfter(element);
                },
                rules: {
                    'informe_recepcion_producto[mercancia][codigo]': "required",
                    'informe_recepcion_producto[mercancia][descripcion]': "required",
                    'informe_recepcion_producto[mercancia][id_unidad_medida]': "required",
                    'informe_recepcion_producto[documento][cantidad_mercancia]': "required",
                    'informe_recepcion_producto[documento][importe_mercancia]': "required",
                },
                messages: {
                    'informe_recepcion_producto[mercancia][codigo]': CONTAB_MSG.REQUIRED_OBLIGATORIO,
                    'informe_recepcion_producto[mercancia][descripcion]': CONTAB_MSG.REQUIRED_OBLIGATORIO,
                    'informe_recepcion_producto[mercancia][id_unidad_medida]': CONTAB_MSG.REQUIRED_OBLIGATORIO,
                    'informe_recepcion_producto[documento][cantidad_mercancia]': CONTAB_MSG.REQUIRED_OBLIGATORIO,
                    'informe_recepcion_producto[documento][importe_mercancia]': CONTAB_MSG.REQUIRED_OBLIGATORIO,
                }
            })

            $("#btnSubbmitInforme").click(function (e) {
                if (form_informe_recepcion.valid()) {
                    if (list_mercancia.length) {
                        let data = form_informe_recepcion.serializeArray()
                        loadingModal.show()
                        data.push({name: 'informe_recepcion[list_mercancia]', value: JSON.stringify(list_mercancia)})
                        $.ajax({
                            url: '/contabilidad/inventario/informe-recepcion-productos/form-add',
                            method: 'POST',
                            data: data,
                            dataType: 'json',
                            success: function (result) {
                                if (result.success) {
                                    window.location.replace('{{ path('contabilidad_inventario_informe_recepcion_producto_gestionar') }}')
                                } else {
                                    loadingModal.close()
                                    alertTemplate(result.msg)
                                }
                            },
                            error: function () {
                            }
                        })
                    } else {
                        alertTemplate('El informe de recepción debe contener al menos 1 producto.', 'danger')
                    }
                }
            });

            let list_mercancia = []
            let importe_total = 0;

            $('#btnAplicarMercancia').on('click', function () {
                if (form_mercancia.valid()) {
                    let codigo = $('#informe_recepcion_producto_mercancia_codigo').val()
                    let cant = $('#informe_recepcion_producto_documento_cantidad_mercancia').val()
                    let importe = $('#informe_recepcion_producto_documento_importe_mercancia').val()
                    let precio = $('#informe_recepcion_producto_mercancia_precio').val()
                    let nueva_existencia = $('#informe_recepcion_producto_mercancia_existencia_incremento').val()
                    let um = $('#informe_recepcion_producto_mercancia_id_unidad_medida').val()
                    let descripcion = $('#informe_recepcion_producto_mercancia_descripcion').val()

                    //validar que el codigo no se repita
                    if (list_mercancia.some(e => e.codigo === codigo)) {
                        alertTemplate('Ya existe una mercancia con el codigo: <b>' + codigo, 'danger')
                    } else {
                        list_mercancia.push({codigo, cant, importe, precio, nueva_existencia, um, descripcion})
                        importe_total += Number.parseFloat(importe)

                        $("#importe-total").text('$' + importe_total.toFixed(2))
                        $('#rows_mercancias').append(`<tr>
                        <td style="font-weight:400;"> ${codigo}</td>
                        <td style="font-weight:400;"> ${cant}</td>
                        <td style="font-weight:400;"> ${importe}</td>
                        <td style="font-weight:400;"> ${precio} </td>
                        <td style="font-weight:400;">${nueva_existencia}</td>
                        <td style="font-weight:400;" hidden> ${descripcion}</td>
                        <td> <button type="button"
                            class="btn btn-outline-danger btn-sm borrar" title="Eliminar" id-mercancia="${codigo}">
                            <i class="fa fa-minus-circle"></i>
                        </button>
                        </td>
                        <td style="font-weight:400;" hidden> ${um} </td> </tr>`
                        );
                        $('#informe_recepcion_producto_mercancia_codigo').val('')
                        $('#informe_recepcion_producto_mercancia_descripcion').val('')
                        $('#informe_recepcion_producto_mercancia_existencia').val('')
                        $('#informe_recepcion_producto_documento_cantidad_mercancia').val('')
                        $('#informe_recepcion_producto_documento_importe_mercancia').val('')
                        $('#informe_recepcion_producto_mercancia_precio').val('')
                        $('#informe_recepcion_producto_mercancia_existencia_incremento').val('')
                    }

                }
            })

            // eliminar la mercancia de la lista
            $(document).on('click', '.borrar', function (event) {
                event.preventDefault();
                const mercancia = list_mercancia.find(e => e.codigo === $(this).attr('id-mercancia'))
                importe_total -= Number.parseFloat(mercancia.importe)
                $("#importe-total").text('$' + importe_total.toFixed(2))
                list_mercancia = list_mercancia.filter(e => e.codigo !== $(this).attr('id-mercancia'))
                $(this).closest('tr').remove()
                console.log($(this))
            })
        })

        function SeleccionarMercancia() {
            for (var i = 0; i < mercancias.length; i++) {
                let id = '#' + mercancias[i]['codigo']
                if ($(id).prop('checked') == true) {
                    $('#informe_recepcion_producto_mercancia_codigo').val(mercancias[i]['codigo'])
                    $('#informe_recepcion_producto_mercancia_descripcion').val(mercancias[i]['descripcion'])
                    $('#informe_recepcion_producto_mercancia_precio').val(mercancias[i]['precio_compra'])
                    $('#informe_recepcion_producto_mercancia_existencia').val(mercancias[i]['existencia'])
                    break
                }
            }
        }

        function resetFormulario() {
            $('#btnCancelar').hide()
            $('#form_mercancia').css('display', 'block')
            $('#informe_recepcion')[0].reset()
            $('#form_mercancia')[0].reset()
            let ids = ['_nro_cuenta_inventario', '_nro_subcuenta_inventario', '_nro_cuenta_acreedora', '_nro_subcuenta_acreedora', '_documento_id_moneda']
            for (let i = 0; i < ids.length; i++) {
                $("#informe_recepcion_producto" + ids[i]).find('option').remove()
                $("#informe_recepcion_producto" + ids[i]).prepend('<option selected = "false" value = "0" disabled> -- seleccione -- </option>');
            }

            $("#importe-total").text('$ 0.00')
            $('#rows_mercancias').find('tr').remove()
            cargarDatosIniciales()
        }

        function llenarFormulario(nro_informe) {
            if(nro_informe<1){
                alertTemplate('El menor número permitido es 1', 'danger')
                resetFormulario()
            }
            else{
                $.ajax({
                    url: '/contabilidad/inventario/informe-recepcion-productos/getInforme/' + nro_informe,
                    method: 'POST',
                    dataType: 'json',
                    success: function (result) {
                        if (result[0].success) {
                            let informe = result[0].informe;
                            let ids = ['_nro_cuenta_inventario', '_nro_subcuenta_inventario', '_nro_cuenta_acreedora', '_nro_subcuenta_acreedora', '_documento_id_moneda']
                            for (let i = 0; i < ids.length; i++) {
                                $("#informe_recepcion_producto" + ids[i]).find('option').remove()
                            }
                            $('#rows_mercancias').find('tr').remove();
                            $('#informe_recepcion_producto_nro_cuenta_inventario').prepend('<option selected value = ' + informe.nro_cuenta_inventario + '>' + informe.nro_cuenta_inventario + '</option>');
                            $('#informe_recepcion_producto_nro_subcuenta_inventario').prepend('<option selected value = ' + informe.nro_subcuenta_inventario + '>' + informe.nro_subcuenta_inventario + '</option>');
                            $('#informe_recepcion_producto_nro_cuenta_acreedora').prepend('<option selected value = ' + informe.nro_cuenta_acreedora + '>' + informe.nro_cuenta_acreedora + '</option>');
                            $('#informe_recepcion_producto_nro_subcuenta_acreedora').prepend('<option selected value = ' + informe.nro_subcuenta_acreedora + '>' + informe.nro_subcuenta_acreedora + '</option>');
                            $('#informe_recepcion_producto_documento_id_moneda').prepend('<option selected value = ' + informe.moneda + '>' + informe.moneda + '</option>');

                            let productos = informe.productos
                            $("#importe-total").text('$' + parseFloat(informe.importe_total).toFixed(2))
                            for (var i = 0; i < productos.length; i++) {
                                $('#rows_mercancias').append(`<tr>
                                    <td style="font-weight:400;"> ${productos[i]['codigo']} </td>
                                    <td style="font-weight:400;"> ${productos[i]['cantidad']}</td>
                                    <td style="font-weight:400;"> ${productos[i]['importe']}</td>
                                    <td style="font-weight:400;"> ${productos[i]['precio']} </td>
                                    <td style="font-weight:400;">${productos[i]['existencia']}</td>
                                    <td></td>
                                   </tr>`
                                );
                            }
                            loadingModal.close()
                        } else {
                            loadingModal.close()
                            alertTemplate(result.msg, 'danger')
                        }
                    },
                    error: function (result) {
                        console.info('asasas')
                    }
                })
            }
        }

        function cargarDatosIniciales() {
            $('#btnCancelar').hide()
            $.ajax({
                url: '/contabilidad/inventario/informe-recepcion-productos/getCuentas',
                method: 'POST',
                dataType: 'json',
                success: function (result) {
                    cuentas_inventarios = result.cuentas_inventario
                    $(result.cuentas_inventario).each(function (pos, valor) {
                        $('#informe_recepcion_producto_nro_cuenta_inventario').append('<option value = "' + valor.nro_cuenta + '">' + valor.nro_cuenta + '</option>');
                    })
                    $(result.cuentas_acrredoras).each(function (pos, valor) {
                        $('#informe_recepcion_producto_nro_cuenta_acreedora').append('<option value = "' + valor.nro_cuenta + '">' + valor.nro_cuenta + '</option>');
                    })
                    $(result.monedas).each(function (pos, valor) {
                        $('#informe_recepcion_producto_documento_id_moneda').append('<option value = "' + valor.id + '">' + valor.nombre + '</option>');
                    })
                    loadingModal.close()
                },
                error: function () {
                }
            })
            $.ajax({
                url: '/contabilidad/inventario/informe-recepcion-productos/get-nros-informes',
                method: 'POST',
                dataType: 'json',
                success: function (result) {
                    consecutivo = result.nros
                    eliminados = result.eliminados
                    $('#select_nros').val(consecutivo)
                    $('#select_nros').prop('max', consecutivo)
                    $('#select_nros').prop('min', 1)
                    loadingModal.close()
                },
                error: function () {
                }
            })
        }

        function Print_Informe_Productos() {
            let url = '/contabilidad/inventario/informe-recepcion-productos/print-report/' + $('#select_nros').val()
            window.open(url, 'blank_')
        }

        const myOnDeleteConfirm = function () {
            $('#confirm__modal').modal('show')
            $('#confirm__modal__title').html('Cancelar')
            $('#confirm__modal__body').text('Está seguro que desea cancelar el informe de recepción Nro.' + $('#select_nros').val() + '?')

            $('#_token__confirm__modal').val($('#__token').val())

            $('#confirm__modal__btn_ok').click(function () {
                const form = $('#form__confirm__modal')
                $('#confirm__modal').modal('hide')
                loadingModal.show('Cancelando...')
                let url = '/contabilidad/inventario/informe-recepcion-productos/delete/' + $('#select_nros').val()
                form.attr('action', url)
                form.submit()
            })
        }
    </script>
{% endblock %}

