{% extends 'base.html.twig' %}
{% block style %}
    <style>
        label {
            display: none;
        }
    </style>
{% endblock %}
{% block content %}

    <div class="modal fade" id="modal_form_id" tabindex="-1" role="dialog"
         data-backdrop="static"
         data-keyboard="false"
         aria-labelledby="modal_form_label_id" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header bg-dark">
                    <h4 class="modal-title text-light" id="modal_form_label_id">Dar Baja a Empleado</h4>
                    <button class="close text-light" type="button" data-dismiss="modal" aria-label="Cerrar">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body bg-dark-app">
                    <div class="d-flex mt-4">
                        <button class="btn btn-outline-secondary mr-auto" type="button" data-dismiss="modal"
                                aria-hidden="true">Cancelar
                        </button>
                        <button type="button" class="my-0 btn btn-outline-danger" id="btn_aceptar">Dar Baja</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container d-flex justify-content-center">
        <div class="card mt-1" style="width: 50rem;">
            <div class="container">
                <div class="row mt-0 p-0">
                    <div class="col-8 form-group input-group input-group-sm d-block">
                        <h1 class="text-reporte text-right mr-0" id="normal_div">Adicionar Empleado</h1>
                    </div>
                </div>
            </div>
            <div class="card-body">
                {{ form_start(form,{'attr': {'class': 'text-left','id':'form_modal_target','method':'POST','autocomplete':"off"}}) }}
                <div class="row mt-0 p-0">
                    <div class="col-12 form-group input-group input-group-sm pa-2 d-block">
                        {{ form_label(form.nombre) }}
                        {{ form_widget(form.nombre,{'attr': {'class': 'form-control w-100'}}) }}
                    </div>
                </div>
                <div class="row mt-0 p-0">
                    <div class="col-5 form-group input-group input-group-sm pa-2 d-block">
                        {{ form_label(form.correo) }}
                        {{ form_widget(form.correo,{'attr': {'class': 'form-control w-100','placeholder':'usuario@dominio.com'}}) }}
                    </div>
                    <div class="col-7 form-group input-group input-group-sm mt-0 pt-0 d-block">
                        {{ form_label(form.telefono) }}
                        {{ form_widget(form.telefono,{'attr': {'class': 'form-control w-100','placeholder':'+## ########'}}) }}
                    </div>
                </div>
                <div class="row mt-0 p-0">
                    <div class="col-4 form-group input-group input-group-sm pa-2 d-block">
                        {{ form_label(form.fecha_alta) }}
                        {{ form_widget(form.fecha_alta, {'attr': {'class': 'w-100'}}) }}
                    </div>
                    <div class="col-3 form-group input-group input-group-sm mt-0 pt-0 d-block">
                        {{ form_label(form.identificacion) }}
                        {{ form_widget(form.identificacion,{'attr': {'class': 'form-control w-100'}}) }}
                    </div>
                    <div class="mt-0 col-5 form-group input-group input-group-sm d-block">
                        {{ form_label(form.id_cargo) }}
                        {{ form_widget(form.id_cargo, {'attr': {'class': 'w-100'}}) }}
                    </div>
                </div>
                <div class="form-group input-group input-group-sm d-block">
                    {{ form_label(form.direccion_particular) }}
                    {{ form_widget(form.direccion_particular, {'attr': {'class': 'w-100'}}) }}
                </div>
                <label for="is-user" class="form-check-label ">Es usuario del
                    sistema</label>
                <input type="checkbox" class="form-check-input ml-2" id="is-user" name="is_usuario">
                <div class="container-fluid ml-0 p-0 pt-2 form-group input-group input-group-sm" id="div_rol">
                    {{ form_label(form.rol) }}
                    {{ form_widget(form.rol, {'attr': {'class': 'w-100'}}) }}
                </div>


                <input type="text" id="id_empleado" hidden>
                {{ form_end(form) }}
                <div class="d-flex mt-2">
                    <div class="mr-auto">
                        <a href="{{ url('capital_humano') }}"
                           class="btn btn-outline-secondary" id="btn_salir">Salir</a>
                    </div>
                    <div class="ml-2">
                        <button class='my-0 btn btn-danger' id="btnCancelar" data-toggle="modal"
                                data-target="#modal_form_id" data-placement="bottom">Dar baja
                        </button>
                    </div>
                    <div class="ml-2">
                        <button class='my-0 btn btn-secondary' id="btnAdd">aceptar</button>
                    </div>
                    <div class="ml-2">
                        <button class='my-0 btn btn-warning' id="btnUpdate">actualizar</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}


{% block javascripts %}
    {{ parent() }}
    <script>
        $('#btnCancelar').hide()
        $('#btnUpdate').hide()
        let cuentas = [];
        let consecutivo = '';

        $('#div_rol').css("display", "none")
        $(document).ready(function () {
            // init
            $('select').prepend('<option selected = "false" value = "0" disabled>... seleccione ...</option>');
            $('#is-user').on('change', function () {
                if ($(this).is(':checked'))
                    $('#div_rol').css("display", "block")
                else
                    $('#div_rol').css("display", "none")
            })
            // validacion del formulario
            var validateForm = $('#form_modal_target').validate({
                errorClass: 'invalid-label-orange',
                errorPlacement: function (error, element) {
                    // colocar mensajes de error a la derecha de cada label para el componente
                    const error_label = element.closest("form").find(element.attr('id') + "-error")
                    if (error_label.length) {
                        error_label.removeClass('hide')
                    } else {
                        error.addClass('ml-3')
                        $(element)
                            .closest("form")
                            .find("label[for='" + element.attr("id") + "']")
                            .append(error);
                    }
                },
                rules: {
                    'empleado[id_empleado]': "required",
                    'empleado[nombre]': "required",
                    'empleado[correo]': "required",
                    'empleado[telefono]': "required",
                    'empleado[fecha_alta]': "required",
                    'empleado[identificacion]': "required",
                    'empleado[id_cargo]': "required",
                    'empleado[direccion_particular]': "required",
                    'empleado[rol]': "required",
                },
                messages: {
                    'empleado[id_empleado]': CONTAB_MSG.REQUIRED_NOT_BLANK,
                    'empleado[nombre]': CONTAB_MSG.REQUIRED_NOT_BLANK,
                    'empleado[correo]': 'obligatorio',
                    'empleado[telefono]': 'obligatorio',
                    'empleado[fecha_alta]': 'obligatorio',
                    'empleado[identificacion]': 'obligatorio',
                    'empleado[id_cargo]': CONTAB_MSG.REQUIRED_NOT_BLANK,
                    'empleado[direccion_particular]': CONTAB_MSG.REQUIRED_NOT_BLANK,
                    'empleado[rol]': CONTAB_MSG.REQUIRED_NOT_BLANK
                }
            })
            $('#btnAdd').on('click', function () {
                const formulario = $('#form_modal_target')
                formulario.attr('method', `POST`)
                formulario.attr('action', `/contabilidad/capital-humano/empleado/empleado-add`)
                formulario.submit()
                if (validateForm.errorList.length === 0) loadingModal.show()
            })
            $('#btnUpdate').on('click', function () {
                const id = $('#id_empleado').val()
                const formulario = $('#form_modal_target')
                formulario.attr('method', 'POST')
                formulario.attr('action', '/contabilidad/capital-humano/empleado/empleado-upd/' + id)
                formulario.submit()
                if (validateForm.errorList.length === 0) loadingModal.show()
            })
        })

        $('#empleado_nombre').on('keyup', function (e) {
            if (e.which == 13) {
                if ($('#empleado_nombre').val() != '') {
                    llenarFormulario($('#empleado_nombre').val())
                } else {
                    $('#btnAdd').show()
                    $('#btnUpdate').hide()
                    $('#btnCancelar').hide()
                    alertTemplate('Tiene que introducir el nombre del empleado a buscar', 'danger')
                }
            }
        })

        $('#empleado_correo').on('keyup', function (e) {
            if (e.which == 13) {
                if ($('#empleado_correo').val() != '') {
                    llenarFormularioCorreo($('#empleado_correo').val())
                } else {
                    $('#btnAdd').show()
                    $('#btnUpdate').hide()
                    $('#btnCancelar').hide()
                    alertTemplate('Tiene que introducir el identificador del empleado a buscar', 'danger')
                }
            }
        })
        $('#empleado_identificacion').on('keyup', function (e) {
            if (e.which == 13) {
                if ($('#empleado_identificacion').val() != '') {
                    llenarFormularioIdentificacion($('#empleado_identificacion').val())
                } else {
                    $('#btnAdd').show()
                    $('#btnUpdate').hide()
                    $('#btnCancelar').hide()
                    alertTemplate('Tiene que introducir el identificador del empleado a buscar', 'danger')
                }
            }
        })

        function resetFormulario() {
            $('#btnCancelar').hide()
            $('#btnUpdate').hide()
            $('#btnAdd').show()
            $('#form_modal_target')[0].reset()
        }

        function llenarFormulario(nombre) {
            if (nombre == '') {
                alertTemplate('El nombre no puede ser vacío.', 'danger')
                resetFormulario()
            } else {
                loadingModal.show()
                let url = '/contabilidad/capital-humano/empleado/getEmpleadoByNombre/' + nombre
                AjaxRequest(url)
            }
        }

        function llenarFormularioIdentificacion(identificacion) {
            if (identificacion == '') {
                alertTemplate('El nombre no puede ser vacío.', 'danger')
                resetFormulario()
            } else {
                loadingModal.show()
                let url = '/contabilidad/capital-humano/empleado/getEmpleadoByIdentificacion/' + identificacion
                AjaxRequest(url)
            }
        }

        function llenarFormularioCorreo(correo) {
            if (correo == '') {
                alertTemplate('El nombre no puede ser vacío.', 'danger')
                resetFormulario()
            } else {
                loadingModal.show()
                let url = '/contabilidad/capital-humano/empleado/getEmpleadoByCorreo/' + correo
                AjaxRequest(url)
            }
        }

        function AjaxRequest(url) {
            $.ajax({
                url: url,
                method: 'POST',
                dataType: 'json',
                success: function (result) {
                    if (result.success == true) {
                        let empleado = result
                        if (empleado.id != '') {
                            $('#id_empleado').val(empleado.id)
                            $('#empleado_nombre').val(empleado.nombre)
                            $('#empleado_correo').val(empleado.correo)
                            $('#empleado_telefono').val(empleado.telefono)
                            $('#empleado_fecha_alta').val(empleado.fecha_alta)
                            $('#empleado_identificacion').val(empleado.identificacion)
                            $('#empleado_id_cargo').val(empleado.id_cargo)
                            $('#empleado_direccion_particular').val(empleado.direccion)
                            $('#empleado_rol').val(empleado.rol)
                            if (empleado.is_user) {
                                $('#is-user').prop('checked', true)
                                $('#div_rol').css("display", "block")
                            } else {
                                $('#is-user').prop('checked', false)
                                $('#div_rol').css("display", "none")
                            }
                            $('#btnUpdate').show()
                            $('#btnAdd').hide()
                            $('#btnCancelar').show()
                        } else {
                            resetFormulario()
                            alertTemplate('El empleado no existe en la Agencia.', 'danger')
                            $('#is-user').prop('checked', false)
                            $('#div_rol').css("display", "none")
                            $('#btnUpdate').hide()
                            $('#btnAdd').show()
                            $('#btnCancelar').hide()
                        }
                        loadingModal.close()
                    }
                },
                error: function (result) {
                }
            })
        }
    </script>
{% endblock %}