{% extends 'base.html.twig' %}

{% block content %}
	{% include 'breadcrumbs.html.twig' %}
	<!-- Section Input Groups-->
	<section class="section novi-background section-20" id='seccion-principal'>
		<div class="container">

			<div class="container card">
				<img class="imagen-cliente" src="{{ asset('images/iconos/user.svg') }}">
				<div class="card-header text-center">
					<h1>Datos del Beneficiario</h1>
                    <hr class="divider-white bg-mantis-white">
				</div>
				
				<div class="row justify-content-md-center no-margin">
					<div class="col col-lg-2"></div>
					<div class="col-md-auto">
						<div id="messageBox" style="margin: 25px; display: none;" class="alert alert-danger" role="alert"></div>
					</div>
					<div class="col col-lg-2"></div>
				</div>

				{{ form_start(formulario,{'attr': { 'id': 'form_add_beneficiario'}}) }}
				
				<h4 style="color:white;">Beneficiario</h4>
				<div class="form-group">
					<div class="input-group input-group-sm">
						
					<div class="col">
					Nombre{{ form_widget(formulario.primerNombre, {'attr': {'class': 'form-control','class': 'fomulario','placeholder': ' Nombre'}}) }}
					</div>	
						
						<div class="col">
						Primer Apellido{{ form_widget(formulario.primerApellido, {'attr': {'class': 'form-control','class': 'fomulario','placeholder': 'Apellido'}}) }}
						</div>
						
						<div class="col">
						Segundo Apellido
						{{ form_widget(formulario.segundoApellido, {'attr': {'class': 'form-control','class': 'fomulario','placeholder': 'Segundo Apellido'}}) }}
						</div>
						<span class="input-group-append"></div>
					</div>
					
                    <h4 style="color:white;"> Alternativo</h4>
					<div class="form-group">
						<div class="input-group input-group-sm">
						
						<div class="col">
							Nombre{{ form_widget(formulario.alternativoNombre, {'attr': {'class': 'form-control','class': 'fomulario','placeholder': 'Nombre'}}) }}
							</div>

						<div class="col">	
							Primer Apellido{{ form_widget(formulario.alternativoApellido, {'attr': {'class': 'form-control','class': 'fomulario','placeholder': 'Primer Apellido'}}) }}
						</div>
							
							<div class="col">	
							Segundo Apellido{{ form_widget(formulario.alternativoSegundoApellido, {'attr': {'class': 'form-control','class': 'fomulario','placeholder': 'Segundo Apellido'}}) }}
							</div>
							<span class="input-group-append"></div>
						</div>

						<h5 style="color:white;">Contactos</h5>
						<div class="form-group">
							<div class="input-group input-group-sm">
								
							<div class="col">		
							Celular	{{ form_widget(formulario.telefono, {'attr': {'class': 'form-control','class': 'fomulario','placeholder': 'Celular'}}) }}
							</div>	
								
							<div class="col">		
							Telefono Adicional	{{ form_widget(formulario.telefonoCasa, {'attr': {'class': 'form-control','class': 'fomulario','placeholder': 'Telefono Adicional'}}) }}
							</div>		
							
							<div class="col">	
							Identificacion	{{ form_widget(formulario.identificacion, {'attr': {'class': 'form-control','class': 'fomulario','placeholder': 'Identificacion'}}) }}
							</div>	

								<span class="input-group-append"></div>
							</div>

						<h4 style="color:white;">Dirección</h4>
							<div class="form-group">
								<div class="input-group input-group-sm">
									
								<div class="col">		
								Calle	{{ form_widget(formulario.calle, {'attr': {'class': 'form-control','class': 'fomulario','placeholder': 'Calle'}}) }}
								</div>
								
								<div class="col">	
								Entre	{{ form_widget(formulario.entre, {'attr': {'class': 'form-control','class': 'fomulario','placeholder': 'Entre'}}) }}
								</div>
								
								<div class="col">	
									Y{{ form_widget(formulario.y, {'attr': {'class': 'form-control','class': 'fomulario','placeholder': 'Y'}}) }}
								</div>

									<span class="input-group-append"></div>
								</div>

							<div class="form-group">
						<div class="input-group input-group-sm">
						
						<div class="col">	
							No{{ form_widget(formulario.no, {'attr': {'class': 'form-control','class': 'fomulario','placeholder': 'No'}}) }}
							
						</div>
						
						<div class="col">	
						Edificio{{ form_widget(formulario.edificio, {'attr': {'class': 'form-control','class': 'fomulario','placeholder': 'Edificio'}}) }}
							
						</div>
						
						<div class="col">
						Apartamento	{{ form_widget(formulario.apto, {'attr': {'class': 'form-control','class': 'fomulario','placeholder': 'Apartamento'}}) }}
						
						</div>
							<span class="input-group-append"></div>
						</div>
	
							<div class="form-group">
						<div class="input-group input-group-sm">
						
						<div class="col">
							Reparto{{ form_widget(formulario.reparto, {'attr': {'class': 'form-control','class': 'fomulario','placeholder': 'Reparto'}}) }}
						</div>	

						<div class="col"> Provincias
							<select id="cliente_beneficiario_provincias" name="provincias" class="fomulario form-control" style="height: 40px; font-size: 15px;" >
  							
							   {% if provinciaSelect == false %}
                               <option value="0">Provincias</option>							
                                {% endif %}

							   {% for provincia in  provincias %}
							      {% if provinciaSelect == provincia.code %}
								 <option  selected value="{{provincia.code}}">{{provincia.nombre}}</option>
								  {% else %}
                               <option  value="{{provincia.code}}">{{provincia.nombre}}</option>			
                                {% endif %}
                           
                           {% endfor %}			
							</select>

							</div>	

							<div class="col"> Municipios
							<select id="cliente_beneficiario_municipios" name="municipios" class="fomulario form-control" style="height: 40px; font-size: 15px;" >
							   {% if municipioSelect == false %}
                               <option value="0">Municipios</option>					
                                 {% else %}
								<option selected value="{{municipioSelect}}">Municipios</option>
							    {% endif %}
							 		
							</select>
							</div>	
							<span class="input-group-append"></div>
						</div>
			</div>
                              <div class=" row justify-content-md-center group offset-top-34 row-continuar"><button class="btn btn-sm btn-outline-dark" type="submit">Procesar</button> </div>
							{{ form_end(formulario) }}
							<div></section>
<style>

.fomulario{

margin-right: 25px;

}

.no-margin{margin: 0px;}

form#form_add_beneficiario {
    padding-right: 15%;
    padding-left: 15%;
}

</style>
						{% endblock %}

{% block javascripts %} 
{{parent()}}

<script>

$( document ).ready(function() {
   let code = $('#cliente_beneficiario_provincias').find('option:selected').val() 
   let municipio = $('#cliente_beneficiario_municipios').find('option:selected').val() 
$.ajax({
            type: 'POST',
            data: {'code' : code},
            url: window.location.protocol+"//"+location.hostname+":"+window.location.port+"/remesas.municipios",
            dataType: 'html',
            success: function (data) {

			
     $('#cliente_beneficiario_municipios')
    .find('option')
    .remove()
    .end()
    .append('<option value="0">Municipios</option>')
    .val('0');

				data = JSON.parse(data);
					
			for(let i = 0; i < data.length; i++) {

				if(municipio != data[i].code){

					 $('#cliente_beneficiario_municipios').append("<option value="+ "'" +data[i].code+"'"+">"+data[i].nombre+"</option>");
			
				}else{
						 $('#cliente_beneficiario_municipios').append("<option selected value="+ "'" +data[i].code+"'"+">"+data[i].nombre+"</option>");
				}
          
                         }          
            }
        });

});


$( "#cliente_beneficiario_provincias" ).change(function() {

let code = $('#cliente_beneficiario_provincias').find('option:selected').val() 

$.ajax({
            type: 'POST',
            data: {'code' : code},
            url: window.location.protocol+"//"+location.hostname+":"+window.location.port+"/remesas.municipios",
            dataType: 'html',
            success: function (data) {

			
     $('#cliente_beneficiario_municipios')
    .find('option')
    .remove()
    .end()
    .append('<option value="0">Municipios</option>')
    .val('0');

				data = JSON.parse(data);
							
			for(let i = 0; i < data.length; i++) {
           $('#cliente_beneficiario_municipios').append("<option value="+ "'" +data[i].code+"'"+">"+data[i].nombre+"</option>");
                         }          
            }
        });

});

$.validator.addMethod("valueNotEquals", function(value, element, arg){
  return arg !== value;
 }, "");

$("#form_add_beneficiario").validate({
   errorLabelContainer: "#messageBox",
    wrapper: "li",
    rules: {
      'cliente_beneficiario[primerNombre]': {
      required: true, minlength: 3},
	   'cliente_beneficiario[primerApellido]': {
      required: true, minlength: 3},
	  'cliente_beneficiario[telefono]': {
      required: true, minlength: 8},

	  'cliente_beneficiario[calle]': {
      required: true, minlength: 3},

	   'cliente_beneficiario[no]': {
      required: true, minlength: 1},

	  'provincias': {valueNotEquals: "0"},	
	  'municipios': {valueNotEquals: "0"},	

    },
    messages: { 
      'cliente_beneficiario[primerNombre]': {required: "Primer Nombre Requerido", minlength: "Primer Nombre Minimo 3 Caracteres" },
	  'cliente_beneficiario[primerApellido]': {required: "Primer Apellido Requerido", minlength: "Primer Apellido Minimo 3 Caracteres" },
	  'cliente_beneficiario[telefono]': {required: "Telefono Requerido", minlength: "Telefono Minimo 8 Caracteres" },
	  'cliente_beneficiario[calle]': {required: "Calle Requerida", minlength: "Calle Minimo 3 Caracteres" },
	  'cliente_beneficiario[no]': {required: "No. Requerido", minlength: "No Minimo 1 Caracteres" },
	  'provincias': {valueNotEquals: "Elije una Provincia."},
	  'municipios': {valueNotEquals: "Elije una Municipio."}
	  },
 
 });

 $('#cliente_beneficiario_no').on('input', function () { 
    this.value = this.value.replace(/[^0-9]/g,'');
});  

 $('#cliente_beneficiario_telefono').on('input', function () { 
    this.value = this.value.replace(/[^0-9]/g,'');
});  

 $('#cliente_beneficiario_telefonoCasa').on('input', function () { 
    this.value = this.value.replace(/[^0-9]/g,'');
});  
 </script>

{% endblock %}

