
{% extends 'base.html.twig' %}

{% block content %}
{% include 'breadcrumbs.html.twig' %}
          <!-- Section Input Groups-->
      <section class="section novi-background section-20" id='seccion-principal'>
        <div class="container card">
             <div class="card-header text-center">	<h1 class="text-reporte">Reglas {{moneda}} {{pais}}</h1></div>
          <div class="row justify-content-md-center text-left">
            <div class="col-md-7 col-lg-4">
           <div id="messageBox" style="display: none;  text-align: center;" class="alert alert-danger" role="alert"></div>

            {{ form_start(formulario,{'attr': { 'id': 'form_reglas'}}) }}
       
                <div class="form-group">
                  <div class="input-group input-group-sm"><span class="input-group-prepend"><span class="input-group-text input-group-icon"><span class="novi-icon fa fa-money"></span></span></span>
                
                  {{ form_widget(formulario.desde, {'attr': {'class': 'form-control','placeholder': 'Desde'}}) }}
 
                    <span class="input-group-append">
                      
                  </div>
                </div>

             <div class="form-group">
                  <div class="input-group input-group-sm"><span class="input-group-prepend"><span class="input-group-text input-group-icon"><span class="novi-icon fa fa-money"></span></span></span>
                 
                 {{ form_widget(formulario.hasta, {'attr': {'class': 'form-control','placeholder': 'Hasta'}}) }}

                <span class="input-group-append">                    
                 
                  </div>
             </div>

             <div class="form-group">
                  <div class="input-group input-group-sm"><span class="input-group-prepend"><span class="input-group-text input-group-icon"><span class="novi-icon fa fa-percent"></span></span></span>
                  
                   {{ form_widget(formulario.tarifa, {'attr': {'class': 'form-control','placeholder': 'Tarifa'}}) }}
                 
                  <span class="input-group-append">                    
                
                  </div>
             </div>

             <div class="form-group">
                  <div class="input-group input-group-sm"><span class="input-group-prepend"><span class="input-group-text input-group-icon"><span class="novi-icon fa fa-dollar"></span></span></span>
                 
                 {{ form_widget(formulario.valor, {'attr': { 'class': 'form-control','placeholder': 'valor'}}) }}
                    
                  <span class="input-group-append">                    
                 
                  </div>
             </div>

             <div class="form-group">
                  <div class="input-group input-group-sm"><span class="input-group-prepend"><span class="input-group-text input-group-icon"><span class="novi-icon mdi mdi-settings"></span></span></span>
                 
                   {{ form_widget(formulario.estado, {'attr': {'class': 'form-control','placeholder': 'estado'}}) }}
         
                  <span class="input-group-append">                    
                 
                  </div>
             </div>

                <div class="form-output" id="components-form-subscribe-footer"></div>

                <div class=" row justify-content-md-center group offset-top-34">
                 {{ form_row(formulario.Guardar) }}
                 
          </div>

              {{ form_end(formulario) }}


            </div>
          </div>
        </div>
      </section>

  </body>
</html>

{% endblock %}

{% block javascripts %} 
{{parent()}}

<script>

$.validator.addMethod("valueNotEquals", function(value, element, arg){
  return arg !== value;
 }, "");

$.validator.addMethod("greaterThan",

function (value, element, param) {
     var $min = $(param);
     if (this.settings.onfocusout) {
       $min.off(".validate-greaterThan").on("blur.validate-greaterThan", function () {
         $(element).valid();
       });
     }
     return parseInt(value) > parseInt($min.val());
}, "Hasta Debe Ser Mayor Que Desde");

$("#form_reglas").validate({
   errorLabelContainer: "#messageBox",
    wrapper: "li",
    rules: {
      'reglas_remesas[desde]':   {required: true},
      'reglas_remesas[hasta]':  {required: true, greaterThan: '#reglas_remesas_desde'},
      'reglas_remesas[tarifa]': {valueNotEquals: "2"},
      'reglas_remesas[estado]': {valueNotEquals: "2"},
      'reglas_remesas[valor]':  {required: true}
      
    },

    messages: {
      'reglas_remesas[desde]': {required: "Desde Reqerido" },
      'reglas_remesas[hasta]': {required: "hasta Reqerido" },
      'reglas_remesas[tarifa]': {valueNotEquals: "Selecciona Metodo De Cobro" },
      'reglas_remesas[estado]': {valueNotEquals: "Seleccione Estado" },
      'reglas_remesas[valor]': {required: "Valor Requerido" }},
  });
     
 $('#reglas_remesas_desde').on('input', function () { 
    this.value = this.value.replace(/[^0-9]/g,'');
});    

 $('#reglas_remesas_hasta').on('input', function () { 
    this.value = this.value.replace(/[^0-9]/g,'');
}); 

 $('#reglas_remesas_valor').on('input', function () { 
    this.value = this.value.replace(/[^0-9]/g,'');
}); 


 </script>

{% endblock %}