{% extends 'utils/modal_form.html.twig' %}
{% block modalbody %}
    {{ form_start(form,{'attr': {'class': 'text-left','id':'form_modal_target','method':'POST'}}) }}
    <div class="row pt-0 mt-0">
        <div class="col-12 form-group input-group input-group-sm d-block">
            {{ form_label(form.codigo) }}
            {{ form_widget(form.codigo,{'attr': {'class': 'form- control w-100'}}) }}
        </div>
        <div class="col-12 mt-0 form-group input-group input-group-sm d-block">
            {{ form_label(form.nombre) }}
            {{ form_widget(form.nombre,{'attr': {'class': 'form- control w-100'}}) }}

        </div>
    </div>
    <div class="row pt-0 mt-0">
        <div class="col-6 form-group input-group input-group-sm d-block">
            {{ form_label(form.fax) }}
            {{ form_widget(form.fax,{'attr': {'class': 'form- control w-100'}}) }}
        </div>
        <div class="col-6 mt-0 form-group input-group input-group-sm d-block">
            {{ form_label(form.telefonos) }}
            {{ form_widget(form.telefonos,{'attr': {'class': 'form- control w-100'}}) }}
        </div>
    </div>
    <div class="form-group input-group input-group-sm d-block">
        {{ form_label(form.correos) }}
        {{ form_widget(form.correos, {'attr': {'class': 'form- control w-100'}}) }}
    </div>
    <div class="form-group input-group input-group-sm d-block">
        {{ form_label(form.id_categoria_cliente) }}
        {{ form_widget(form.id_categoria_cliente, {'attr': {'class': 'form- control w-100'}}) }}
    </div>
    <div class="form-group input-group input-group-sm d-block">
        {{ form_label(form.direccion) }}
        {{ form_widget(form.direccion, {'attr': {'class': 'form- control w-100'}}) }}
    </div>
    <input type="text" id="id_cliente_contabilidad" hidden>
    {{ form_end(form) }}
{% endblock %}