{% extends 'contabilidad/venta/index.html.twig' %}
{% block style %}
    <style>
        label {
            display: none;
        }
    </style>
{% endblock %}
{% block content %}
    <div class="container-fluid">

        {# header #}
        <div class="d-flex align-items-center">
            <h4 class="mr-auto display-4 mb-0 mr-auto title-table text-light">
                Listado de Clientes
            </h4>
            <div>
                <button type="button" class="btn btn-primary btn-md" data-toggle="modal"
                        data-target="#modal__form__id" data-placement="bottom" title="Adicionar"
                        onclick="mostrarBtn()">
                    <i class="fa fa-plus"> Adicionar</i>
                </button>
            </div>
        </div>
        {# end header #}

        {{ include('contabilidad/venta/cliente_contabilidad/form_modal.html.twig', {title: 'Adicionar Cliente'}) }}
        {{ include('contabilidad/venta/cliente_contabilidad/form_cuentas_modal.html.twig', {title: 'Cuentas bancarias'}) }}


        {# list #}
        <table class="table table-hover text-light">
            <thead class="thead-dark">
            <th scope="col-2">Codigo</th>
            <th scope="col-1">Nombre</th>
            <th scope="col-1">Fax</th>
            <th scope="col-1">Teléfonos</th>
            <th scope="col-1">Correos</th>
            <th scope="col-1">Dirección</th>
            <th scope="col-1" width="200x">Acciones</th>
            </thead>
            <tbody>
            {% for item in clientes %}
                <tr>
                    <td style="font-weight:400;">{{ item.codigo }}</td>
                    <td style="font-weight:400;">{{ item.nombre }}</td>
                    <td style="font-weight:400;">{{ item.fax }}</td>
                    <td style="font-weight:400;">{{ item.telefonos }}</td>
                    <td style="font-weight:400;">{{ item.correos }}</td>
                    <td style="font-weight:400;">{{ item.direccion }}</td>
                    <td>
                        <button type="button" class="btn btn-info btn-sm" data-toggle="tooltip"
                                data-placement="bottom" title="Asociar Cuentas"
                                onclick="onCuentas({
                                        id: '{{ item.id }}'
                                        })">
                            <i class="fa fa-bank"></i>
                        </button>
                        <button type="button" class="btn btn-warning btn-sm" data-toggle="tooltip"
                                data-placement="bottom" title="Actualizar"
                                onclick="onUpdate({
                                        id: '{{ item.id }}',
                                        codigo: '{{ item.codigo }}',
                                        nombre: '{{ item.nombre }}',
                                        fax: '{{ item.fax }}',
                                        telefonos: '{{ item.telefonos }}',
                                        correos: '{{ item.correos }}',
                                        direccion: '{{ item.direccion }}',
                                        })">
                            <i class="fa fa-edit"></i>
                        </button>
                        <button type="button" class="btn btn-danger btn-sm" data-toggle="tooltip"
                                data-placement="bottom" title="Eliminar"
                                onclick="onDeleteConfirm({
                                        title:'Eliminar',
                                        message:'Está seguro que desea eliminar el cliente {{ item.nombre }}  ?',
                                        url:'{{ path('contabilidad_venta_cliente_contabilidad_delete',{id: item.id}) }}',
                                        _token: '{{ csrf_token('delete' ~ item.id) }}'
                                        })">
                            <i class="fa fa-trash"></i>
                        </button>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {# end list #}
    </div>
{% endblock %}


{% block javascripts %}
    {{ parent() }}
    <script>
        let list_cuentas_cliente = []
        let id_cliente = null;
        function mostrarBtn() {
            $('#modal__btn__actualizar').hide()
            $('#modal__btn__aceptar').show()
        }

        const onUpdate = function (config) {
            $('#modal__btn__actualizar').show()
            $('#modal__btn__aceptar').hide()
            const {id = '', codigo = '', nombre = '', fax = '', telefonos = '', correos = '', direccion = ''} = config
            $('#modal__form__id').modal('show')
            $('#modal__form__label__id').text("Modificar " + nombre)
            // nombre, codigo, id
            $('#cliente_contabilidad_nombre').val(nombre)
            $('#cliente_contabilidad_codigo').val(codigo)
            $('#cliente_contabilidad_fax').val(fax)
            $('#cliente_contabilidad_telefonos').val(telefonos)
            $('#cliente_contabilidad_correos').val(correos)
            $('#cliente_contabilidad_direccion').val(direccion)
            $('#id_cliente_contabilidad').val(id)
        }

        const onCuentas = function (config) {
            const {id = ''} = config
            $('#rows_cuentas').find('tr').remove();
            $('#modal__form__cuentas__id').modal('show')
            $('#modal__form__cuentas__label__id').text("Cuentas bancarias")
            $('#id_cliente_contabilidad').val(id)
            loadingModal.show()
            $.ajax({
                url: '/contabilidad/venta/cliente-contabilidad/getCuentasBancarias/' + id,
                method: 'POST',
                dataType: 'json',
                success: function (result) {
                    if (result.success == true) {
                        id_cliente = id;
                        list_cuentas_cliente = result.cuentas
                        for (var i = 0; i < list_cuentas_cliente.length; i++) {
                            $('#rows_cuentas').append(`<tr>
                                    <td style="font-weight:400;"> ${list_cuentas_cliente[i]['nro_cuenta']} </td>
                                    <td style="font-weight:400;"> ${list_cuentas_cliente[i]['nombre_moneda']}</td>
                                    <td><button type="button"
                            class="btn btn-outline-danger btn-sm borrar" title="Eliminar" id-cuenta-cliente="${list_cuentas_cliente[i]['nro_cuenta']}">
                            <i class="fa fa-minus-circle"></i>
                        </button></td>
                                   </tr>`
                            );
                        }
                        loadingModal.close()
                    }
                    if (result.success == false) {
                        loadingModal.close()
                        alertTemplate(result.msg, 'danger')
                    }
                },
                error: function (result) {
                }
            })
        }
        const form_cuentas = $('#form_modal_target_cuentas')
        form_cuentas.validate({
            errorClass: 'invalid-label-orange',
            errorPlacement: function (error, element) {
                error.attr('style', 'font-size: .8rem;')
                error.insertAfter(element);
            },
            rules: {
                'cuentas_cliente[nro_cuenta]': "required",
                'cuentas_cliente[id_moneda]': "required"
            },
            messages: {
                'cuentas_cliente[nro_cuenta]': 'Obligatorio!',
                'cuentas_cliente[id_moneda]': 'Obligatorio!',
            }
        })
        $('#btnAplicarCuenta').on('click', function () {
            if (form_cuentas.valid()) {
                let nro_cuenta = $('#cuentas_cliente_nro_cuenta').val()
                let moneda = $('#cuentas_cliente_id_moneda').val()
                let nombre_moneda = $('#cuentas_cliente_id_moneda option:selected').text()
                //validar que el codigo no se repita
                // console.info(list_cuentas_cliente)
                // if (list_cuentas_cliente.some(e => e.moneda === moneda)) {
                //     alertTemplate('Ya existe una cuenta para la moneda: <b>' + nombre_moneda, 'danger')
                // } else {
                list_cuentas_cliente.push({moneda, nro_cuenta})
                $('#rows_cuentas').append(`<tr>
                    <td style="font-weight:400;"> ${nro_cuenta}</td>
                    <td style="font-weight:400;"> ${nombre_moneda}</td>
                    <td> <button type="button"
                        class="btn btn-outline-danger btn-sm borrar" title="Eliminar" id-cuenta-cliente="${nro_cuenta}">
                        <i class="fa fa-minus-circle"></i>
                    </button>
                    </td></tr>`
                );
                $('#cuentas_cliente_nro_cuenta').val('')
                // }
            }
        })
        $('#modal__btn__cuenta__aceptar').on('click',function(){
            if(list_cuentas_cliente.length>0){
                loadingModal.show()
                $.ajax({
                    url: '/contabilidad/venta/cliente-contabilidad/add-cuentas',
                    method: 'POST',
                    data: {'id_cliente':id_cliente,'lista':list_cuentas_cliente},
                    dataType: 'json',
                    success: function (result) {
                        if (result.success == true) {

                            loadingModal.close()
                        }
                        if (result.success == false) {
                            loadingModal.close()
                            alertTemplate(result.msg, 'danger')
                        }
                    },
                    error: function (result) {
                    }
                })
                // const formulario_cuentas = $('#form_modal_target_cuentas')
                // formulario_cuentas.attr('method', `POST`)
                // formulario_cuentas.attr('params', {'list':list_cuentas_cliente})
                // formulario_cuentas.attr('action', `/contabilidad/venta/cliente-contabilidad/add-cuentas`)
                // formulario_cuentas.submit()
            }
            else{
                alertTemplate('Debe introducir al menos una cuenta bancaria','danger')
            }
        })

        $(document).ready(function () {
            $('#modal__btn__actualizar').hide()
            // validacion del formulario
            var validateForm = $('#form_modal_target').validate({
                errorClass: 'invalid-label-orange',
                errorPlacement: function (error, element) {
                    // colocar mensajes de error a la derecha de cada label para el componente
                    const error_label = element.closest("form").find(element.attr('id') + "-error")
                    if (error_label.length) {
                        error_label.removeClass('hide')
                    } else {
                        error.addClass('ml-3')
                        $(element)
                            .closest("form")
                            .find("label[for='" + element.attr("id") + "']")
                            .append(error);
                    }
                },
                rules: {
                    'cliente_contabilidad[nombre]': "required",
                    'cliente_contabilidad[codigo]': "required",
                    'cliente_contabilidad[telefonos]': "required",
                    'cliente_contabilidad[correos]': "required",
                    'cliente_contabilidad[direccion]': "required"
                },
                messages: {
                    'cliente_contabilidad[nombre]': 'Obligratorio',
                    'cliente_contabilidad[codigo]': 'Obligratorio',
                    'cliente_contabilidad[telefonos]': 'Obligratorio',
                    'cliente_contabilidad[correos]': 'Obligratorio',
                    'cliente_contabilidad[direccion]': 'Obligratorio',
                }
            })
            $('#modal__btn__aceptar').on('click', function () {
                const formulario = $('#form_modal_target')
                formulario.attr('method', `POST`)
                formulario.attr('action', `/contabilidad/venta/cliente-contabilidad/add`)
                formulario.submit()
                if (validateForm.errorList.length === 0) loadingModal.show()
            })
            $('#modal__btn__actualizar').on('click', function () {
                const id_cliente_contabilidad = $('#id_cliente_contabilidad').val()
                const formulario = $('#form_modal_target')
                formulario.attr('method', `POST`)
                formulario.attr('action', `/contabilidad/venta/cliente-contabilidad/${id_cliente_contabilidad}`)
                formulario.submit()
                if (validateForm.errorList.length === 0) loadingModal.show()
            })
            $('#modal__form__id').on('show.bs.modal', function (event) {
                validateForm.resetForm()
                $('#modal__form__label__id').text('Adicionar Cliente')
            })
            $(document).on('click', '.borrar', function (event) {
                event.preventDefault();
                list_cuentas_cliente.find(e => e.nro_cuenta === $(this).attr('id-cuenta-cliente'))
                list_cuentas_cliente = list_cuentas_cliente.filter(e => e.nro_cuenta !== $(this).attr('id-cuenta-cliente'))
                $(this).closest('tr').remove()
            })
        })
    </script>
{% endblock %}
