{% extends 'base.html.twig' %}

{% block content %}
   
<div class="select-tarjetas" style='margin: auto; padding: 10px; margin-top: 50px; margin-bottom: 50px;'>
<img class="imagen-tarjetas-guardadas" src="{{ asset('images/iconos/wallet.svg') }}" >    
<h1 class="tarjetas-guardadas">Tarjetas guardadas</h1>
<hr class="divider bg-mantis">

     {% for tarjetas in tarjeta %}
      <a style="text-decoration: none;" href="{{ path('api.form', {'tel': tel, 'monto': monto,'last4': tarjetas.last4}) }}">
       <div  id='credit' class="credit-card {{tarjetas.brand}} selectable">
        <div class="credit-card-last4">
           {{tarjetas.last4}}
        </div>
        <div class="credit-card-expiry">
            {{tarjetas.exp_month}}/{{tarjetas.exp_year}}
            
        </div>
    </div> </a>
    {% endfor %}

   <a class='boton-agregar-tarjeta' style="text-decoration: none;" href="{{ path('api.get-user', {'tel': tel, 'monto': monto}) }}">
        Agregar Tarjeta
    </a>
  
{% endblock %}