
<li id="reportes">

	<a href="#" >
		<span>Reportes</span>
	</a>
	<ul class="rd-navbar-dropdown">

		<li id="id-reportes">
			<a >
				<a href="{{ url ('paymentreport') }}">
					<span>Tarjetas</span>
				</a>

			</a>
		</li>
		<li>
			<a>
				<a href="{{ url ('paymentreport.buscar') }}">
					<span>Facturas Stripe</span>
				</a>

			</a>
		</li>
		<li>
			<a>
				<a href="{{ url ('factura/reporte') }}">
					<span>Facturas</span>
				</a>

			</a>
		</li>

		<li>
			<a>
				<a href="{{ url ('efectivo/banco/reporte') }}">
					<span>Bancos</span>
				</a>

			</a>
		</li>

		<li>
			<a>
				<a href="{{ url ('factura/reporte/cotizacion') }}">
					<span>Cotizaciones</span>
				</a>

			</a>
		</li>

	<li>
			<a>
				<a href="{{ url ('turismo/reporte/solicitud/') }}">
					<span>Turismo</span>
				</a>

			</a>
		</li>
		
	</ul>


</li>


<li id="servicios">
	<a href="#">
		<span> Configuración</span>
	</a>
	<ul class="rd-navbar-dropdown">

		<li>
			<a >
				<a href="{{ url ('home/pais') }}">
					<span>Remesas</span>
				</a>

			</a>
		</li>

		<li>
			<a >
				<a href="{{ url ('turismo/configuracion/') }}">
					<span>Turismo</span>
				</a>

			</a>
		</li>

			<li>
			<a >
				<a href="{{ url ('home/moneda/tasa') }}">
					<span>Tasa De Cambio</span>
				</a>

			</a>
		</li>
		

	</ul>

</li>

<li id="admin">
	<a href="#">
		<span> Administracion</span>
	</a>
	<ul class="rd-navbar-dropdown">

		<li>
			<a >
				<a href="{{ url ('empresas/reporte') }}">
					<span>Empresas</span> 
				</a>

			</a>
		</li>		

	</ul>

</li>



