
<li id="reportes">
	<a href="#" >
		<span>Reportes</span>
	</a>
	<ul class="rd-navbar-dropdown">
		<li id="id-reportes">
{#			<a >#}
				<a href="{{ url ('paymentreport') }}">
					<span class="text-middle">► Tarjetas</span>
				</a>
{#			</a>#}
		</li>
		<li>
{#			<a>#}
				<a href="{{ url ('paymentreport.buscar') }}">
					<span class="text-middle">► Facturas Stripe</span>
				</a>
{#			</a>#}
		</li>
		<li>
{#			<a>#}
				<a href="{{ url ('factura/reporte') }}">
					<span class="text-middle">► Facturas</span>
{#				</a>#}
			</a>
		</li>
		<li>
{#			<a>#}
				<a href="{{ url ('efectivo/banco/reporte') }}">
					<span class="text-middle">► Bancos</span>
				</a>
{#			</a>#}
		</li>
		<li>
{#			<a>#}
				<a href="{{ url ('cotizacion') }}">
					<span class="text-middle">► Cotizaciones</span>
				</a>
{#			</a>#}
		</li>
	<li>
{#			<a>#}
				<a href="{{ url ('turismo/reporte/solicitud/') }}">
					<span class="text-middle">► Turismo</span>
				</a>
{#			</a>#}
		</li>
	</ul>
</li>


<li id="servicios">
	<a href="#">
		<span> Configuración</span>
	</a>
	<ul class="rd-navbar-dropdown">

		<li>
{#			<a >#}
				<a href="{{ url ('home/pais') }}">
					<span class="text-middle">► Remesas</span>
				</a>

{#			</a>#}
		</li>

		<li>
{#			<a >#}
				<a href="{{ url ('turismo/configuracion/') }}">
					<span class="text-middle">► Turismo</span>
				</a>

{#			</a>#}
		</li>

			<li>
{#			<a >#}
				<a href="{{ url ('home/moneda/tasa') }}">
					<span class="text-middle">► Tasa De Cambio</span>
				</a>

{#			</a>#}
		</li>
		
	</ul>

</li>

<li id="admin">
	<a href="#">
		<span> Publicidad</span>
	</a>
	<ul class="rd-navbar-dropdown">

		<li>
{#			<a>#}
				<a href="{{ url ('publicidad') }}">
					<span class="text-middle">► Home</span>
				</a>
{#			</a>#}

{#			<a >#}
				<a href="{{ url ('publicidad/img/agencias') }}">
					<span class="text-middle">► IMG AGENCIAS</span>
				</a>

{#			</a>#}
		</li>		

	</ul>

</li>





