<li>

	<a href="#">
		<span>Reportes</span>
	</a>
	<ul class="rd-navbar-dropdown">

		<li>
			<a >
				<a href="{{ url ('paymentreport') }}">
					<span>Tarjetas</span>
				</a>

			</a>
		</li>
		<li>
			<a>
				<a href="{{ url ('paymentreport.buscar') }}">
					<span>Facturas Stripe</span>
				</a>

			</a>
		</li>
		<li>
			<a>
				<a href="{{ url ('factura/reporte') }}">
					<span>Facturas</span>
				</a>

			</a>
		</li>

		<li>
			<a>
				<a href="{{ url ('efectivo/banco/reporte') }}">
					<span>Bancos</span>
				</a>

			</a>
		</li>

		<li>
			<a>
				<a href="{{ url ('factura/reporte/cotizacion') }}">
					<span>Cotizaciones</span>
				</a>

			</a>
		</li>

		
	</ul>


</li>


<li>
	<a href="#">
		<span>Servicios</span>
	</a>
	<ul class="rd-navbar-dropdown">

		<li>
			<a >
				<a href="{{ url ('home/pais') }}">
					<span>Remesas</span>
				</a>

			</a>
		</li>
		

	</ul>

</li>


<li>
		<a href="#">
		<span>Configuracion</span>
	</a>
	<ul class="rd-navbar-dropdown">

		<li>
			<a >
				<a href="{{ url ('home/moneda') }}">
					<span>Moneda</span>
				</a>

			</a>
		</li>

		<li>
			<a >
				<a href="{{ url ('home/moneda/tasa') }}">
					<span>Tasa De Cambio</span>
				</a>

			</a>
		</li>


	</ul>

</li>
