{% extends 'base.html.twig' %}
{% block style %}
    <style>
        label {
            display: none;
        }
    </style>
{% endblock %}
{% block content %}
    <div class="container d-flex justify-content-center">
        <div class="card mt-1" style="width: 50rem;">
            <div class="container">
                <div class="row mt-0 p-0">
                    <div class="col-8 form-group input-group input-group-sm d-block">
                        <h1 class="text-reporte text-right mr-0" id="normal_div">Traslado Recibido</h1>
                    </div>
                    <div class="col-4 form-group input-group input-group-sm mt-3 ml-0 p-0 d-block">
                        <span class="h5 text-light mr-2">Nro.</span><input type="number" id="select_nros" class="w-25">
                    </div>
                </div>
            </div>
            <div class="card-body">
                {{ form_start(formulario, {'attr':{'id':'movimiento_activo_fijo','autocomplete':"off"}}) }}
                <div class="row mt-0 p-0">
                    <input type="hidden" id="__token" name="_token" value="{{ csrf_token('authenticate') }}">
                    <div class="row mt-0 ml-0 p-0">
                        <div class="col-4 mt-0 pl-3 pr-0 form-group input-group input-group-sm d-block">
                            {{ form_label(formulario.nro_inventatio) }}
                            {{ form_widget(formulario.nro_inventatio) }}
                        </div>
                        <div class="col-8 mt-0 form-group input-group input-group-sm pa-2 d-block">
                            {{ form_label(formulario.descripcion) }}
                            {{ form_widget(formulario.descripcion,{'attr':{'readonly':'true'}}) }}
                        </div>
                    </div>
                    <div class="col-4 mt-0 pl-3 pr-0 form-group input-group input-group-sm d-block">
                        {{ form_label(formulario.id_cuenta) }}
                        {{ form_widget(formulario.id_cuenta) }}
                    </div>
                    <div class="col-4 mt-0 pl-3 pr-0 form-group input-group input-group-sm d-block">
                        {{ form_label(formulario.id_subcuenta) }}
                        {{ form_widget(formulario.id_subcuenta) }}
                    </div>
                    <div class="col-4 mt-0 pl-3 pr-2 form-group input-group input-group-sm d-block">
                        {{ form_label(formulario.fecha) }}
                        {{ form_widget(formulario.fecha,{'attr':{'class':'w-100'}}) }}
                    </div>
                    <div class="col-6 mt-0 pl-3 pr-0 form-group input-group input-group-sm d-block">
                        {{ form_label(formulario.centro_costo) }}
                        {{ form_widget(formulario.centro_costo) }}
                    </div>
                    <div class="col-6 mt-0 pl-3 pr-2 form-group input-group input-group-sm d-block">
                        {{ form_label(formulario.area_responsabilidad) }}
                        {{ form_widget(formulario.area_responsabilidad,{'attr':{'class':'w-100'}}) }}
                    </div>
                </div>
                <div class="mt-0 form-group input-group input-group-sm pa-2 d-block">
                    <label for="id_proveedor">Unidad de Origen</label>
                    <select name="movimiento_activo_fijo[id_unidad]" class="w-100 form-control" id="id_unidad"> </select>
                </div>
                <div class="mt-0 form-group input-group input-group-sm pa-2 d-block">
                    {{ form_label(formulario.fundamentacion) }}
                    {{ form_widget(formulario.fundamentacion) }}
                </div>
                {{ form_widget(formulario.id_movimiento) }}
                {{ form_widget(formulario.id_activo) }}
                {{ form_end(formulario) }}
                <div class="d-flex mt-2">
                    <div class="mr-auto">
                        <a href="{{ url('activo_fijo') }}"
                           class="btn btn-outline-secondary" id="btn_salir">Salir</a>
                    </div>
                    <div class="ml-2">
                        <button class='my-0 btn btn-secondary' id="btnCancelar">cancelar</button>
                    </div>
                    <div class="ml-2">
                        <button class='my-0 btn btn-secondary' id="btnImprimir" onclick="printTraslado()">imprimir
                        </button>
                    </div>
                    <div class="ml-2">
                        <button class='my-0 btn btn-secondary' id="btnSubbmitTraslado">aceptar</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $('#btnCancelar').hide()
        let cuentas = [];
        let consecutivo = '';

        const loadingData = function () {
            loadingModal.show()
            $('#id_unidad').find('option').remove();
            $('#id_unidad').prepend('<option selected = "true" value = "0" disabled> -- Seleccione -- </option>');
            $.ajax({
                url: '/contabilidad/activo-fijo/traslados-recibidos/getCuentas',
                method: 'POST',
                dataType: 'json',
                success: function (result) {
                    consecutivo = result.nros
                    $('#select_nros').val(consecutivo)
                    $('#select_nros').prop('max', consecutivo)
                    $('#select_nros').prop('min', 1)
                    cuentas = result.cuentas;
                    result.unidades.forEach(
                        el => $('#id_unidad').append(`<option value = "${el.id}">${el.nombre} </option>`)
                    )
                    loadingModal.close()
                },
                error: function () {
                }
            })
        }
        loadingData()

        $('#movimiento_activo_fijo_nro_inventatio').on('keyup', function (e) {
            $('#btnSubbmitTraslado').hide();
            if (e.which == 13) {
                let codigo = $('#movimiento_activo_fijo_nro_inventatio').val()
                if (codigo !== '') {
                    getData(codigo)
                } else {
                    alertTemplate('El campo código es obligatorio.', 'danger')
                }
            } else {
                $('#movimiento_activo_fijo_descripcion').val('')
                $('#movimiento_activo_fijo_id_cuenta').val('')
                $('#movimiento_activo_fijo_id_subcuenta').val('')
                $('#movimiento_activo_fijo_fecha').val('')
                $('#movimiento_activo_fijo_centro_costo').val('')
                $('#movimiento_activo_fijo_area_responsabilidad').val('')
            }
        })

        function getData(codigo) {
            loadingModal.show("Cargando activo fijo...")
            $.ajax({
                url: '/contabilidad/activo-fijo/traslados-recibidos/getNroInv/' + codigo,
                method: 'POST',
                dataType: 'json',
                success: function (result) {
                    if (result.descripcion != '') {
                        $('#movimiento_activo_fijo_descripcion').val(result.descripcion)
                        $('#movimiento_activo_fijo_id_cuenta').val(result.cuenta)
                        $('#movimiento_activo_fijo_id_subcuenta').val(result.subcuenta)
                        $('#movimiento_activo_fijo_fecha').val(result.fecha)
                        $('#movimiento_activo_fijo_centro_costo').val(result.centro_costo)
                        $('#movimiento_activo_fijo_area_responsabilidad').val(result.area_responsabilidad)
                        $('#btnSubbmitTraslado').hide();
                        loadingModal.close()
                    } else {
                        $('#btnSubbmitTraslado').show();
                        window.open('/contabilidad/activo-fijo/gestionar/' + codigo+'&type=5', '_self');
                        alertTemplate('En la unidad no existen activos fijos con ese código', 'danger')
                    }
                },
                error: function () {
                }
            })
        }

        $(document).ready(function () {
            let form_activo_fijo = $('#movimiento_activo_fijo')
            form_activo_fijo.validate({
                errorClass: 'invalid-label-orange',
                errorPlacement: function (error, element) {
                    error.attr('style', 'font-size: .8rem;')
                    error.insertAfter(element);
                },
                rules: {
                    'movimiento_activo_fijo[id_cuenta]': "required",
                    'movimiento_activo_fijo[id_subcuenta]': "required",
                    'movimiento_activo_fijo[fecha]': "required",
                    'movimiento_activo_fijo[nro_inventatio]': "required",
                    'movimiento_activo_fijo[descripcion]': "required",
                    'movimiento_activo_fijo[fundamentacion]': "required",
                    'movimiento_activo_fijo[id_unidad]': "required",
                },
                messages: {
                    'movimiento_activo_fijo[id_cuenta]': CONTAB_MSG.REQUIRED_OBLIGATORIO,
                    'movimiento_activo_fijo[id_subcuenta]': CONTAB_MSG.REQUIRED_OBLIGATORIO,
                    'movimiento_activo_fijo[fecha]': CONTAB_MSG.REQUIRED_OBLIGATORIO,
                    'movimiento_activo_fijo[nro_inventatio]': CONTAB_MSG.REQUIRED_OBLIGATORIO,
                    'movimiento_activo_fijo[descripcion]': CONTAB_MSG.REQUIRED_OBLIGATORIO,
                    'movimiento_activo_fijo[fundamentacion]': CONTAB_MSG.REQUIRED_OBLIGATORIO,
                    'movimiento_activo_fijo[id_unidad]': CONTAB_MSG.REQUIRED_OBLIGATORIO,
                }
            })
        })

        $("#btnSubbmitTraslado").click(function (e) {
            if ($('#movimiento_activo_fijo').valid()) {
                $('#movimiento_activo_fijo').attr('method', `POST`)
                $('#movimiento_activo_fijo').attr('action', `/contabilidad/activo-fijo/traslados-recibidos/`)
                $('#movimiento_activo_fijo').submit()
                if (validateForm.errorList.length === 0) loadingModal.show()
            }
        });

        $('#select_nros').on('keyup', function (e) {
            if (e.which == 13) {
                if ($('#select_nros').val() != '') {
                    if ($('#select_nros').val() == consecutivo) {
                        $('#btnSubbmitTraslado').show()
                        $('#btnImprimir').show()
                        $('#btnCancelar').hide()
                        resetFormulario()
                    } else if ($('#select_nros').val() > consecutivo) {
                        $('#btnSubbmitTraslado').hide()
                        $('#btnImprimir').hide()
                        $('#btnCancelar').hide()
                        resetFormulario()
                        alertTemplate('El mayor número permitido es ' + consecutivo, 'danger')
                    } else {
                        $('#btnImprimir').show()
                        $('#btnSubbmitTraslado').hide()
                        $('#btnCancelar').show()
                        llenarFormulario($('#select_nros').val())
                    }
                } else {
                    $('#btnImprimir').hide()
                    $('#btnSubbmitTraslado').hide()
                    $('#btnCancelar').hide()
                    alertTemplate('Tiene que introducir el número del traslado', 'danger')
                }
            }
        })

        function resetFormulario() {
            $('#btnCancelar').hide()
            $('#btnImprimir').show()
            $('#btnSubbmitTraslado').show()
            $('#movimiento_activo_fijo_fecha').attr('type', 'date')
            $('#movimiento_activo_fijo')[0].reset()
            $('#movimiento_activo_fijo_id_cuenta').val('')
            $('#movimiento_activo_fijo_id_subcuenta').val('')
            loadingData()
        }

        function llenarFormulario(nro) {
            if (nro < 1) {
                alertTemplate('El menor número permitido es 1', 'danger')
                resetFormulario()
            } else {
                loadingModal.show()
                $.ajax({
                    url: '/contabilidad/activo-fijo/traslados-recibidos/getTraslado/' + nro,
                    method: 'POST',
                    dataType: 'json',
                    success: function (result) {
                        if (result.success == true) {
                            let traslado = result.traslado;

                            if(traslado.cancelado == true || traslado.cancelado == 'true'){
                                ActiveDesactive(false)
                            }
                            else{
                                ActiveDesactive(true)
                            }
                            $('#movimiento_activo_fijo_nro_inventatio').val(traslado.nro_inv);
                            $('#movimiento_activo_fijo_descripcion').val(traslado.desc);
                            $('#movimiento_activo_fijo_id_cuenta').val(traslado.nro_cuenta);
                            $('#movimiento_activo_fijo_id_subcuenta').val(traslado.nro_subcuenta);
                            $('#movimiento_activo_fijo_centro_costo').val(traslado.centro_costo);
                            $('#movimiento_activo_fijo_area_responsabilidad').val(traslado.area_responsabilidad);
                            $('#movimiento_activo_fijo_fecha').attr('type', 'text');
                            $('#movimiento_activo_fijo_fecha').val(traslado.fecha);
                            $('#movimiento_activo_fijo_id_movimiento').val(traslado.id);
                            $('#movimiento_activo_fijo_id_activo').val(traslado.id_activo);
                            $('#movimiento_activo_fijo_fundamentacion').val(traslado.fundamentacion);
                            $('#id_unidad').val(traslado.id_unidad);

                            loadingModal.close()
                        }
                        if (result.success == false) {
                            loadingModal.close()
                            alertTemplate(result.message, 'danger')
                        }
                    },
                    error: function (result) {
                    }
                })
            }
        }

        $("#btnCancelar").click(function (e) {
            let nro = $('#select_nros').val()
            if (nro != '') {
                $('body').append(`
                    <form action='/contabilidad/activo-fijo/traslados-recibidos/cancelTraslado'
                         method="post" id='form_cancel'>
                            <input type='text' hidden name='nro' value='${nro}'/>
                    </form>`)
                const fomrulario = $('#form_cancel')
                fomrulario.submit()
                fomrulario.remove()
            }
        });

        function printTraslado() {
            if ($('#movimiento_activo_fijo_id_movimiento').val() != '') {
                window.open('/contabilidad/activo-fijo/print-movimiento/' + $('#movimiento_activo_fijo_id_movimiento').val(), '_blank');
            } else {
                const fundamentacion = $("#movimiento_activo_fijo_fundamentacion").val()
                const id_activo = $("#movimiento_activo_fijo_id_activo").val()
                const tipo_movimiento = 2
                const consecutivo = $("#select_nros").val()
                $('body').append(`
                    <form action='/contabilidad/activo-fijo/print-movimiento/print_current/'
                         method="post" id='form_print_current' target='_blank'>
                        <input type='text' hidden name='fundamentacion' value='${fundamentacion}'/>
                        <input type='text' hidden name='id_activo' value='${id_activo}'/>
                        <input type='text' hidden name='tipo_movimiento' value='${tipo_movimiento}'/>
                        <input type='text' hidden name='nro' value="${consecutivo}" />
                    </form>`)
                const fomrulario = $('#form_print_current')
                fomrulario.submit()
                fomrulario.remove()
            }
        }

        function ActiveDesactive(active) {
            if(active){
                $('#normal_div').text('Traslado Recibido')
                $('#normal_div').attr('class','text-reporte text-right mr-0 text-white mt-2')
                $('#btnCancelar').show()
            }
            else{
                $('#normal_div').text('Traslado Cancelado')
                $('#normal_div').attr('class','text-reporte text-right mr-0 mt-2 text-danger text-uppercase')
                $('#btnCancelar').hide()
            }
        }
    </script>
{% endblock %}
