{% extends 'contabilidad/config/index.html.twig' %}
{% block style %}
    <style>
        label {
            display: none;
        }
    </style>
{% endblock %}
{% block content %}
    <div class="container-fluid">

        {# header #}
        <div class="d-flex align-items-center">
            <h4 class="mr-auto display-4 mb-0 mr-auto title-table text-light">
                Centro de Costo
            </h4>
            <div>
                <button type="button" class="btn btn-primary btn-md" data-toggle="modal"
                        data-target="#gestionarCentro_costoModal" data-placement="bottom" title="Adicionar"
                        onclick="mostrarBtn()">
                    <i class="fa fa-plus"> Adicionar</i>
                </button>
            </div>
        </div>
        {# end header #}

        {{ include('contabilidad/config/centro_costo/form_add_modal.html.twig') }}

        {# list #}
        <table class="table table-hover text-light">
            <thead class="thead-dark">
            <th scope="col-6">Descripción</th>
            <th scope="col-1">Código</th>
            <th scope="col-2">Cuenta</th>
            <th scope="col-2">Sub Cuenta</th>
            <th scope="col-1" width="150px">Acciones</th>
            </thead>
            <tbody>
            {% for item in centro_costo %}
                <tr>
                    <td style="font-weight:400;">{{ item.nombre }}</td>
                    <td style="font-weight:400;">{{ item.codigo }}</td>
                    <td style="font-weight:400;">{{ item.cuenta }}</td>
                    <td style="font-weight:400;">{{ item.sub_cuenta }}</td>
                    <td>
                        <button type="button" class="btn btn-warning btn-sm" data-toggle="tooltip"
                                data-placement="bottom" title="Editar"
                                onclick="onUpdate({
                                        id_cuenta: '{{ item.id_cuenta }}',
                                        id_sub_cuenta: '{{ item.id_sub_cuenta }}',
                                        cuenta:'{{ item.cuenta }}' ,
                                        sub_cuenta:'{{ item.sub_cuenta }}' ,
                                        codigo:'{{ item.codigo }}',
                                        nombre:'{{ item.nombre }}' ,
                                        id: '{{ item.id }}'
                                        })">
                            <i class="fa fa-edit"></i>
                        </button>
                        <button type="button" class="btn btn-danger btn-sm" data-toggle="tooltip"
                                data-placement="bottom" title="Eliminar"
                                onclick="onDeleteConfirm({
                                        message:'Está seguro que desea eliminar el Centro de costo: {{ item.nombre }} ?',
                                        url:'{{ path('contabilidad_config_centro_costo_delete',{id: item.id}) }}',
                                        _token: '{{ csrf_token('delete' ~ item.id) }}'
                                        })">
                            <i class="fa fa-trash"></i>
                        </button>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {# end list #}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        const TEXT_SELECT = '... seleccione ...';

        function mostrarBtn() {
            $('#btnActualizar').hide()
            $('#btnAceptar').show()
        }

        const onUpdate = function (config) {
            $('#btnActualizar').show()
            $('#btnAceptar').hide()

            const {
                id = '',
                codigo = '',
                nombre = '',
                id_cuenta = '',
                id_sub_cuenta = '',
                cuenta = '',
                sub_cuenta = ''
            } = config
            $('#gestionarCentro_costoModal').modal('show')

            // cuenta
            $('#select2-centro_costo_id_cuenta-container').text(cuenta)
            $('#centro_costo_id_cuenta').val(id_cuenta)

            //sub cuenta
            const subcuenta = $('#subcuenta_id')
            subcuenta.removeAttr('disabled')
            getValues(id_cuenta, subcuenta, id_sub_cuenta)
            $('#select2-subcuenta_id-container').text(sub_cuenta)


            // nombre, codigo, id
            $('.modal-title').text("Modificar " + nombre)
            $('#centro_costo_nombre').val(nombre)
            $('#centro_costo_codigo').val(codigo)
            $('#id_centro_costo').val(id)
        }

        $(document).ready(function () {

            // init
            $('select').prepend('<option selected = "false" value = "0" disabled>' + TEXT_SELECT + '</option>');
            $('#btnActualizar').hide()

            // cargar subcuenta por la cuenta seleccionada
            var subcuenta = $('#subcuenta_id');
            subcuenta.prop('disabled', true);
            $('#centro_costo_id_cuenta').change(function (evernt) {
                subcuenta.find('option').remove();
                $("#select2-subcuenta_id-container").text('')
                if (typeof ($(this).val()) != 'object') {
                    getValues($(this).val(), subcuenta)
                } else {
                    subcuenta.prop('disabled', true);
                }
            })

            // validacion del formulario
            const validateForm = $('#form_centro_costo').validate({
                errorClass: 'invalid-label',
                errorPlacement: function (error, element) {
                    const error_label = element.closest("form").find(element.attr('id') + "-error")
                    if (error_label.length) {
                        error_label.removeClass('hide')
                    } else {
                        $(element)
                            .closest("form")
                            .find("label[for='" + element.attr("id") + "']")
                            .append(error);
                    }
                },
                rules: {
                    'centro_costo[nombre]': "required",
                    'centro_costo[codigo]': "required",
                    'centro_costo[id_cuenta]': "required",
                    'centro_costo[id_sub_cuenta]': "required",
                },
                messages: {
                    'centro_costo[nombre]': CONTAB_MSG.REQUIRED_NOT_BLANK,
                    'centro_costo[codigo]': CONTAB_MSG.REQUIRED_NOT_BLANK,
                    'centro_costo[id_cuenta]': CONTAB_MSG.REQUIRED_CUENTA,
                    'centro_costo[id_sub_cuenta]': CONTAB_MSG.REQUIRED_SUBCUENTA,
                }
            })

            $('#btnAceptar').on('click', function () {
                const formulario = $('#form_centro_costo')
                formulario.attr('method', `POST`)
                formulario.attr('action', `/contabilidad/config/centro-costo/add`)
                formulario.submit()
            })

            $('#btnActualizar').on('click', function () {
                const id_centro_costo = $('#id_centro_costo').val()
                const formulario = $('#form_centro_costo')
                formulario.attr('method', `POST`)
                formulario.attr('action', `/contabilidad/config/centro-costo/${id_centro_costo}`)
                formulario.submit()
            })


            $('#gestionarCentro_costoModal').on('show.bs.modal', function (event) {
                validateForm.resetForm()
                subcuenta.find('option').remove();
                // reiniciar los -- <select> --
                $("[class='select2-selection__rendered']").val(0)
                $("[class='select2-selection__rendered']").text('')
                $('.modal-title').text('Adicionar Centro de Costo')
            })
        })

        // load sincrono de las subcuentas de la BD
        function getValues(id, subcuenta, select = 0) {
            $.ajax({
                url: '/contabilidad/config/conf-inicial/form-getsubcuenta/' + id,
                method: 'POST',
                dataType: 'json',
                success: function (result) {
                    subcuenta.find('option').remove();
                    subcuenta.append('<option selected = "false" value = "0" disabled> Seleccione la subcuenta</option>');
                    $(result.subcuentas).each(function (pos, valor) {
                        subcuenta.append('<option value="' + valor.id + '">' + valor.subcuenta + '</option>');
                    })
                    subcuenta.prop('disabled', false);
                    subcuenta.val(select)
                },
                error: function () {
                    alert('Ha ocurrido un error en el servidor');
                    subcuenta.prop('disabled', true);
                }
            })
        }

    </script>
{% endblock %}


