{% extends 'base.html.twig' %}
{% block style %}
    <style>
        label {
            display: none;
        }
    </style>
{% endblock %}
{% block content %}
    <div class="container d-flex justify-content-center">
        <div class="card mt-1" style="width: 50rem;">
            <div class="container">
                <div class="row mt-0 p-0">
                    <div class="col-8 form-group input-group input-group-sm d-block">
                        <h1 class="text-reporte text-right mr-0">Apertura de Activo Fijo </h1>
                    </div>
                    <div class="col-4 form-group input-group input-group-sm mt-3 ml-0 p-0 d-block">
                        <span class="h5 text-light mr-2">Nro.</span><input type="number" id="select_nros" class="w-25">
                    </div>
                </div>
            </div>
            <div class="card-body">
                {{ form_start(formulario, {'attr':{'id':'movimiento_activo_fijo','autocomplete':"off"}}) }}
                <div class="row mt-0 p-0">
                    <input type="hidden" id="__token" name="_token" value="{{ csrf_token('authenticate') }}">
                    <div class="row mt-0 ml-0 p-0">
                        <div class="col-4 mt-0 pl-3 pr-0 form-group input-group input-group-sm d-block">
                            {{ form_label(formulario.nro_inventatio) }}
                            {{ form_widget(formulario.nro_inventatio) }}
                        </div>
                        <div class="col-8 mt-0 form-group input-group input-group-sm pa-2 d-block">
                            {{ form_label(formulario.descripcion) }}
                            {{ form_widget(formulario.descripcion,{'attr':{'readonly':'true'}}) }}
                        </div>
                    </div>
                    <div class="col-4 mt-0 pl-3 pr-0 form-group input-group input-group-sm d-block">
                        {{ form_label(formulario.id_cuenta) }}
                        {{ form_widget(formulario.id_cuenta) }}
                    </div>
                    <div class="col-4 mt-0 pl-3 pr-0 form-group input-group input-group-sm d-block">
                        {{ form_label(formulario.id_subcuenta) }}
                        {{ form_widget(formulario.id_subcuenta) }}
                    </div>
                    <div class="col-4 mt-0 pl-3 pr-2 form-group input-group input-group-sm d-block">
                        {{ form_label(formulario.fecha) }}
                        {{ form_widget(formulario.fecha,{'attr':{'class':'w-100'}}) }}
                    </div>
                </div>
                <div class="mt-0 form-group input-group input-group-sm pa-2 d-block">
                    {{ form_label(formulario.fundamentacion) }}
                    {{ form_widget(formulario.fundamentacion) }}
                </div>
                {{ form_end(formulario) }}
                <div class="d-flex mt-2">
                    <div class="mr-auto">
                        <a href="{{ url('activo_fijo') }}"
                           class="btn btn-outline-secondary" id="btn_salir">Salir</a>
                    </div>
                    <div class="ml-2">
                        <button class='my-0 btn btn-secondary' id="btnCancelar">cancelar</button>
                    </div>
                    <div class="ml-2">
                        <button class='my-0 btn btn-secondary' id="btnImprimir">imprimir
                        </button>
                    </div>
                    <div class="ml-2">
                        <button class='my-0 btn btn-secondary' id="btnSubbmitApertura">aceptar</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        let cuentas = [];
        const loadingData = function () {
            loadingModal.show()
            $('#movimiento_activo_fijo_id_cuenta').find('option').remove()
            $('#movimiento_activo_fijo_id_cuenta').prepend('<option selected = "false" value = "0" disabled> -- seleccione -- </option>');

            $('#movimiento_activo_fijo_id_subcuenta').find('option').remove()
            $('#movimiento_activo_fijo_id_subcuenta').prepend('<option selected = "false" value = "0" disabled> -- seleccione -- </option>');

            $.ajax({
                url: '/contabilidad/activo-fijo/apertura/getCuentas',
                method: 'POST',
                dataType: 'json',
                success: function (result) {
                    cuentas = result.cuentas;
                    $(result.cuentas).each(function (pos, valor) {
                        $('#movimiento_activo_fijo_id_cuenta').append('<option value = "' + valor.id + '">' + valor.nro_cuenta + '</option>');
                    })
                    loadingModal.close()
                },
                error: function () {
                }
            })
        }
        loadingData()

        $('#movimiento_activo_fijo_id_cuenta').on('change', function () {
            $('#movimiento_activo_fijo_id_subcuenta').find('option').remove()
            $('#movimiento_activo_fijo_id_subcuenta').prepend('<option selected = "false" value = "0" disabled> -- seleccione -- </option>');
            cuentas.forEach(function (valor, pos) {
                if ($('#movimiento_activo_fijo_id_cuenta').val() == valor.id) {
                    for (var i = 0; i < valor.sub_cuenta.length; i++) {
                        $('#movimiento_activo_fijo_id_subcuenta').append('<option value = "' + valor.sub_cuenta[i]['id'] + '">' + valor.sub_cuenta[i]['nro_subcuenta'] + '</option>');
                    }
                }
            })
        })

        $('#movimiento_activo_fijo_nro_inventatio').on('keyup', function (e) {
            if (e.which == 13) {
                let codigo = $('#movimiento_activo_fijo_nro_inventatio').val()
                if (codigo !== '') {
                    getData(codigo)
                } else {
                    alertTemplate('El campo código es obligatorio.', 'danger')
                }
            } else {
                $('#movimiento_activo_fijo_descripcion').val('')
            }
        })

        function getData(codigo) {
            loadingModal.show("Cargando activo fijo...")
            $.ajax({
                url: '/contabilidad/activo-fijo/apertura/getNroInv/' + codigo,
                method: 'POST',
                dataType: 'json',
                success: function (result) {
                    if (result.descripcion != '') {
                        $('#movimiento_activo_fijo_descripcion').val(result.descripcion)
                        loadingModal.close()
                    } else {
                        window.open('/contabilidad/activo-fijo/gestionar', '_self');
                        alertTemplate('En la unidad no existen activos fijos con ese código', 'danger')
                    }
                },
                error: function () {
                }
            })
        }

        $(document).ready(function () {
            let form_activo_fijo = $('#movimiento_activo_fijo')
            form_activo_fijo.validate({
                errorClass: 'invalid-label-orange',
                errorPlacement: function (error, element) {
                    error.attr('style', 'font-size: .8rem;')
                    error.insertAfter(element);
                },
                rules: {
                    'movimiento_activo_fijo[id_cuenta]': "required",
                    'movimiento_activo_fijo[id_subcuenta]': "required",
                    'movimiento_activo_fijo[fecha]': "required",
                    'movimiento_activo_fijo[nro_inventatio]': "required",
                    'movimiento_activo_fijo[descripcion]': "required",
                    'movimiento_activo_fijo[fundamentacion]': "required",
                },
                messages: {
                    'movimiento_activo_fijo[id_cuenta]': CONTAB_MSG.REQUIRED_OBLIGATORIO,
                    'movimiento_activo_fijo[id_subcuenta]': CONTAB_MSG.REQUIRED_OBLIGATORIO,
                    'movimiento_activo_fijo[fecha]': CONTAB_MSG.REQUIRED_OBLIGATORIO,
                    'movimiento_activo_fijo[nro_inventatio]': CONTAB_MSG.REQUIRED_OBLIGATORIO,
                    'movimiento_activo_fijo[descripcion]': CONTAB_MSG.REQUIRED_OBLIGATORIO,
                    'movimiento_activo_fijo[fundamentacion]': CONTAB_MSG.REQUIRED_OBLIGATORIO,
                }
            })
        })

        $("#btnSubbmitApertura").click(function (e) {
            if ($('#movimiento_activo_fijo').valid()) {
                $('#movimiento_activo_fijo').attr('method', `POST`)
                $('#movimiento_activo_fijo').attr('action', `/contabilidad/activo-fijo/apertura/`)
                $('#movimiento_activo_fijo').submit()
                if (validateForm.errorList.length === 0) loadingModal.show()
            }
        });
    </script>
{% endblock %}